<script>
    const __CONFIRM_DIALOG__ = {
        delete: {
            header: "{{ 'confirmDialog.delete.header'|trans|raw }}",
            message: "{{ 'confirmDialog.delete.message'|trans|raw }}"
        }
    }
</script>