<script>
    const __DATA_TABLES__ = {
        federalStates: {
            headline: "{{ 'dataTables.federalStates.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.federalStates.columns.id'|trans|raw }}",
                abbreviation: "{{ 'dataTables.federalStates.columns.abbreviation'|trans|raw }}",
                description: "{{ 'dataTables.federalStates.columns.description'|trans|raw }}",
                isVisibility: "{{ 'dataTables.federalStates.columns.isVisibility'|trans|raw }}",
                comment: "{{ 'dataTables.federalStates.columns.comment'|trans|raw }}",
                departments: "{{ 'dataTables.federalStates.columns.departments'|trans|raw }}",
                users: "{{ 'dataTables.federalStates.columns.users'|trans|raw }}",
                vehicles: "{{ 'dataTables.federalStates.columns.vehicles'|trans|raw }}",
                alertAddresses: "{{ 'dataTables.federalStates.columns.alertAddresses'|trans|raw }}",
                members: "{{ 'dataTables.federalStates.columns.members'|trans|raw }}",
                incomingAlerts: "{{ 'dataTables.federalStates.columns.incomingAlerts'|trans|raw }}",
                operationReports: "{{ 'dataTables.federalStates.columns.operationReports'|trans|raw }}",
                createdAt: "{{ 'dataTables.federalStates.columns.createdAt'|trans|raw }}",
                createdFrom: "{{ 'dataTables.federalStates.columns.createdFrom'|trans|raw }}",
                updatedAt: "{{ 'dataTables.federalStates.columns.updatedAt'|trans|raw }}",
                updatedFrom: "{{ 'dataTables.federalStates.columns.updatedFrom'|trans|raw }}"
            }
        },
        departments: {
            headline: "{{ 'dataTables.departments.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.departments.columns.id'|trans|raw }}",
                abbreviation: "{{ 'dataTables.departments.columns.abbreviation'|trans|raw }}",
                description: "{{ 'dataTables.departments.columns.description'|trans|raw }}",
                federalState: "{{ 'dataTables.departments.columns.federalState'|trans|raw }}",
                zipCode: "{{ 'dataTables.departments.columns.zipCode'|trans|raw }}",
                placeName: "{{ 'dataTables.departments.columns.placeName'|trans|raw }}",
                street: "{{ 'dataTables.departments.columns.street'|trans|raw }}",
                isVisibility: "{{ 'dataTables.departments.columns.isVisibility'|trans|raw }}",
                comment: "{{ 'dataTables.departments.columns.comment'|trans|raw }}",
                users: "{{ 'dataTables.departments.columns.users'|trans|raw }}",
                vehicles: "{{ 'dataTables.departments.columns.vehicles'|trans|raw }}",
                toolCategories: "{{ 'dataTables.departments.columns.toolCategories'|trans|raw }}",
                alertAddresses: "{{ 'dataTables.departments.columns.alertAddresses'|trans|raw }}",
                members: "{{ 'dataTables.departments.columns.members'|trans|raw }}",
                incomingAlerts: "{{ 'dataTables.departments.columns.incomingAlerts'|trans|raw }}",
                operationReports: "{{ 'dataTables.departments.columns.operationReports'|trans|raw }}",
                createdAt: "{{ 'dataTables.departments.columns.createdAt'|trans|raw }}",
                createdFrom: "{{ 'dataTables.departments.columns.createdFrom'|trans|raw }}",
                updatedAt: "{{ 'dataTables.departments.columns.updatedAt'|trans|raw }}",
                updatedFrom: "{{ 'dataTables.departments.columns.updatedFrom'|trans|raw }}"
            }
        },
        versions: {
            headline: "{{ 'dataTables.versions.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.versions.columns.id'|trans|raw }}",
                number: "{{ 'dataTables.versions.columns.number'|trans|raw }}",
                buildNumber: "{{ 'dataTables.versions.columns.buildNumber'|trans|raw }}",
                description: "{{ 'dataTables.versions.columns.description'|trans|raw }}",
                isVisibility: "{{ 'dataTables.versions.columns.isVisibility'|trans|raw }}",
                comment: "{{ 'dataTables.versions.columns.comment'|trans|raw }}",
                createdAt: "{{ 'dataTables.versions.columns.createdAt'|trans|raw }}",
                createdFrom: "{{ 'dataTables.versions.columns.createdFrom'|trans|raw }}",
                updatedAt: "{{ 'dataTables.versions.columns.updatedAt'|trans|raw }}",
                updatedFrom: "{{ 'dataTables.versions.columns.updatedFrom'|trans|raw }}"
            }
        },
        userRoles: {
            headline: "{{ 'dataTables.userRoles.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.userRoles.columns.id'|trans|raw }}",
                displayName: "{{ 'dataTables.userRoles.columns.displayName'|trans|raw }}",
                roleName: "{{ 'dataTables.userRoles.columns.roleName'|trans|raw }}",
                description: "{{ 'dataTables.userRoles.columns.description'|trans|raw }}",
                sorting: "{{ 'dataTables.userRoles.columns.sorting'|trans|raw }}",
                isVisibility: "{{ 'dataTables.userRoles.columns.isVisibility'|trans|raw }}",
                comment: "{{ 'dataTables.userRoles.columns.comment'|trans|raw }}",
                createdAt: "{{ 'dataTables.userRoles.columns.createdAt'|trans|raw }}",
                createdFrom: "{{ 'dataTables.userRoles.columns.createdFrom'|trans|raw }}",
                updatedAt: "{{ 'dataTables.userRoles.columns.updatedAt'|trans|raw }}",
                updatedFrom: "{{ 'dataTables.userRoles.columns.updatedFrom'|trans|raw }}"
            }
        },
        memberFunctions: {
            headline: "{{ 'dataTables.memberFunctions.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.memberFunctions.columns.id'|trans|raw }}",
                department: "{{ 'dataTables.operationTypeCategories.columns.department'|trans|raw }}",
                abbreviation: "{{ 'dataTables.memberFunctions.columns.abbreviation'|trans|raw }}",
                description: "{{ 'dataTables.memberFunctions.columns.description'|trans|raw }}",
                sorting: "{{ 'dataTables.memberFunctions.columns.sorting'|trans|raw }}",
                isVisibility: "{{ 'dataTables.memberFunctions.columns.isVisibility'|trans|raw }}",
                isVisibilityOperationReport: "{{ 'dataTables.memberFunctions.columns.isVisibilityOperationReport'|trans|raw }}",
                comment: "{{ 'dataTables.memberFunctions.columns.comment'|trans|raw }}",
                members: "{{ 'dataTables.memberFunctions.columns.members'|trans|raw }}",
                createdAt: "{{ 'dataTables.memberFunctions.columns.createdAt'|trans|raw }}",
                createdFrom: "{{ 'dataTables.memberFunctions.columns.createdFrom'|trans|raw }}",
                updatedAt: "{{ 'dataTables.memberFunctions.columns.updatedAt'|trans|raw }}",
                updatedFrom: "{{ 'dataTables.memberFunctions.columns.updatedFrom'|trans|raw }}"
            }
        },
        operationTypeCategories: {
            headline: "{{ 'dataTables.operationTypeCategories.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.operationTypeCategories.columns.id'|trans|raw }}",
                department: "{{ 'dataTables.operationTypeCategories.columns.department'|trans|raw }}",
                abbreviation: "{{ 'dataTables.operationTypeCategories.columns.abbreviation'|trans|raw }}",
                description: "{{ 'dataTables.operationTypeCategories.columns.description'|trans|raw }}",
                sorting: "{{ 'dataTables.operationTypeCategories.columns.sorting'|trans|raw }}",
                isVisibility: "{{ 'dataTables.operationTypeCategories.columns.isVisibility'|trans|raw }}",
                comment: "{{ 'dataTables.operationTypeCategories.columns.comment'|trans|raw }}",
                createdAt: "{{ 'dataTables.operationTypeCategories.columns.createdAt'|trans|raw }}",
                createdFrom: "{{ 'dataTables.operationTypeCategories.columns.createdFrom'|trans|raw }}",
                updatedAt: "{{ 'dataTables.operationTypeCategories.columns.updatedAt'|trans|raw }}",
                updatedFrom: "{{ 'dataTables.operationTypeCategories.columns.updatedFrom'|trans|raw }}"
            }
        },
        operationTypes: {
            headline: "{{ 'dataTables.operationTypes.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.operationTypes.columns.id'|trans|raw }}",
                department: "{{ 'dataTables.operationTypes.columns.department'|trans|raw }}",
                operationTypeCategory: "{{ 'dataTables.operationTypes.columns.operationTypeCategory'|trans|raw }}",
                operationTypeCategorySorting: "{{ 'dataTables.operationTypes.columns.operationTypeCategorySorting'|trans|raw }}",
                abbreviation: "{{ 'dataTables.operationTypes.columns.abbreviation'|trans|raw }}",
                description: "{{ 'dataTables.operationTypes.columns.description'|trans|raw }}",
                sorting: "{{ 'dataTables.operationTypes.columns.sorting'|trans|raw }}",
                isVisibility: "{{ 'dataTables.operationTypes.columns.isVisibility'|trans|raw }}",
                comment: "{{ 'dataTables.operationTypes.columns.comment'|trans|raw }}",
                createdAt: "{{ 'dataTables.operationTypes.columns.createdAt'|trans|raw }}",
                createdFrom: "{{ 'dataTables.operationTypes.columns.createdFrom'|trans|raw }}",
                updatedAt: "{{ 'dataTables.operationTypes.columns.updatedAt'|trans|raw }}",
                updatedFrom: "{{ 'dataTables.operationTypes.columns.updatedFrom'|trans|raw }}"
            }
        },
        vehicles: {
            headline: "{{ 'dataTables.vehicles.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.vehicles.columns.id'|trans|raw }}",
                federalState: "{{ 'dataTables.vehicles.columns.federalState'|trans|raw }}",
                department: "{{ 'dataTables.vehicles.columns.department'|trans|raw }}",
                abbreviation: "{{ 'dataTables.vehicles.columns.abbreviation'|trans|raw }}",
                description: "{{ 'dataTables.vehicles.columns.description'|trans|raw }}",
                maxSeats: "{{ 'dataTables.vehicles.columns.maxSeats'|trans|raw }}",
                numberplate: "{{ 'dataTables.vehicles.columns.numberplate'|trans|raw }}",
                cost: "{{ 'dataTables.vehicles.columns.cost'|trans|raw }}",
                furtherInformation: "{{ 'dataTables.vehicles.columns.furtherInformation'|trans|raw }}",
                isVisibilityOperationReport: "{{ 'dataTables.vehicles.columns.isVisibilityOperationReport'|trans|raw }}",
                isVisibility: "{{ 'dataTables.vehicles.columns.isVisibility'|trans|raw }}",
                comment: "{{ 'dataTables.vehicles.columns.comment'|trans|raw }}",
                createdAt: "{{ 'dataTables.vehicles.columns.createdAt'|trans|raw }}",
                createdFrom: "{{ 'dataTables.vehicles.columns.createdFrom'|trans|raw }}",
                updatedAt: "{{ 'dataTables.vehicles.columns.updatedAt'|trans|raw }}",
                updatedFrom: "{{ 'dataTables.vehicles.columns.updatedFrom'|trans|raw }}"
            }
        },
        toolCategories: {
            headline: "{{ 'dataTables.toolCategories.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.toolCategories.columns.id'|trans|raw }}",
                department: "{{ 'dataTables.toolCategories.columns.department'|trans|raw }}",
                abbreviation: "{{ 'dataTables.toolCategories.columns.abbreviation'|trans|raw }}",
                description: "{{ 'dataTables.toolCategories.columns.description'|trans|raw }}",
                sorting: "{{ 'dataTables.toolCategories.columns.sorting'|trans|raw }}",
                isVisibilityOperationReport: "{{ 'dataTables.toolCategories.columns.isVisibilityOperationReport'|trans|raw }}",
                isVisibility: "{{ 'dataTables.toolCategories.columns.isVisibility'|trans|raw }}",
                comment: "{{ 'dataTables.toolCategories.columns.comment'|trans|raw }}",
                tools: "{{ 'dataTables.toolCategories.columns.tools'|trans|raw }}",
                createdAt: "{{ 'dataTables.toolCategories.columns.createdAt'|trans|raw }}",
                createdFrom: "{{ 'dataTables.toolCategories.columns.createdFrom'|trans|raw }}",
                updatedAt: "{{ 'dataTables.toolCategories.columns.updatedAt'|trans|raw }}",
                updatedFrom: "{{ 'dataTables.toolCategories.columns.updatedFrom'|trans|raw }}"
            }
        },
        tools: {
            headline: "{{ 'dataTables.tools.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.tools.columns.id'|trans|raw }}",
                department: "{{ 'dataTables.tools.columns.department'|trans|raw }}",
                toolCategory: "{{ 'dataTables.tools.columns.toolCategory'|trans|raw }}",
                toolCategorySorting: "{{ 'dataTables.tools.columns.toolCategorySorting'|trans|raw }}",
                abbreviation: "{{ 'dataTables.tools.columns.abbreviation'|trans|raw }}",
                description: "{{ 'dataTables.tools.columns.description'|trans|raw }}",
                isVisibilityOperationReport: "{{ 'dataTables.tools.columns.isVisibilityOperationReport'|trans|raw }}",
                isVisibility: "{{ 'dataTables.tools.columns.isVisibility'|trans|raw }}",
                comment: "{{ 'dataTables.tools.columns.comment'|trans|raw }}",
                createdAt: "{{ 'dataTables.tools.columns.createdAt'|trans|raw }}",
                createdFrom: "{{ 'dataTables.tools.columns.createdFrom'|trans|raw }}",
                updatedAt: "{{ 'dataTables.tools.columns.updatedAt'|trans|raw }}",
                updatedFrom: "{{ 'dataTables.tools.columns.updatedFrom'|trans|raw }}"
            }
        },
        alertAddresses: {
            headline: "{{ 'dataTables.alertAddresses.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.alertAddresses.columns.id'|trans|raw }}",
                federalState: "{{ 'dataTables.alertAddresses.columns.federalState'|trans|raw }}",
                department: "{{ 'dataTables.alertAddresses.columns.department'|trans|raw }}",
                address: "{{ 'dataTables.alertAddresses.columns.address'|trans|raw }}",
                description: "{{ 'dataTables.alertAddresses.columns.description'|trans|raw }}",
                isVisibility: "{{ 'dataTables.alertAddresses.columns.isVisibility'|trans|raw }}",
                comment: "{{ 'dataTables.alertAddresses.columns.comment'|trans|raw }}",
                incomingAlerts: "{{ 'dataTables.alertAddresses.columns.incomingAlerts'|trans|raw }}",
                createdAt: "{{ 'dataTables.alertAddresses.columns.createdAt'|trans|raw }}",
                createdFrom: "{{ 'dataTables.alertAddresses.columns.createdFrom'|trans|raw }}",
                updatedAt: "{{ 'dataTables.alertAddresses.columns.updatedAt'|trans|raw }}",
                updatedFrom: "{{ 'dataTables.alertAddresses.columns.updatedFrom'|trans|raw }}"
            }
        },
        members: {
            headline: "{{ 'dataTables.members.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.members.columns.id'|trans|raw }}",
                federalState: "{{ 'dataTables.members.columns.federalState'|trans|raw }}",
                department: "{{ 'dataTables.members.columns.department'|trans|raw }}",
                surname: "{{ 'dataTables.members.columns.surname'|trans|raw }}",
                firstname: "{{ 'dataTables.members.columns.firstname'|trans|raw }}",
                defaultMemberFunction: "{{ 'dataTables.members.columns.defaultMemberFunction'|trans|raw }}",
                isVisibilityOperationReport: "{{ 'dataTables.members.columns.isVisibilityOperationReport'|trans|raw }}",
                isVisibility: "{{ 'dataTables.members.columns.isVisibility'|trans|raw }}",
                comment: "{{ 'dataTables.members.columns.comment'|trans|raw }}",
                createdAt: "{{ 'dataTables.members.columns.createdAt'|trans|raw }}",
                createdFrom: "{{ 'dataTables.members.columns.createdFrom'|trans|raw }}",
                updatedAt: "{{ 'dataTables.members.columns.updatedAt'|trans|raw }}",
                updatedFrom: "{{ 'dataTables.members.columns.updatedFrom'|trans|raw }}"
            }
        },
        users: {
            headline: "{{ 'dataTables.users.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.users.columns.id'|trans|raw }}",
                federalState: "{{ 'dataTables.users.columns.federalState'|trans|raw }}",
                department: "{{ 'dataTables.users.columns.department'|trans|raw }}",
                surname: "{{ 'dataTables.users.columns.surname'|trans|raw }}",
                firstname: "{{ 'dataTables.users.columns.firstname'|trans|raw }}",
                email: "{{ 'dataTables.users.columns.email'|trans|raw }}",
                roles: "{{ 'dataTables.users.columns.roles'|trans|raw }}",
                myAlertAddresses: "{{ 'dataTables.users.columns.myAlertAddresses'|trans|raw }}",
                lastLogin: "{{ 'dataTables.users.columns.lastLogin'|trans|raw }}",
                isVisibility: "{{ 'dataTables.users.columns.isVisibility'|trans|raw }}",
                comment: "{{ 'dataTables.users.columns.comment'|trans|raw }}",
                createdAt: "{{ 'dataTables.users.columns.createdAt'|trans|raw }}",
                createdFrom: "{{ 'dataTables.users.columns.createdFrom'|trans|raw }}",
                updatedAt: "{{ 'dataTables.users.columns.updatedAt'|trans|raw }}",
                updatedFrom: "{{ 'dataTables.users.columns.updatedFrom'|trans|raw }}"
            }
        },
        incomingAlerts: {
            headline: "{{ 'dataTables.incomingAlerts.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.incomingAlerts.columns.id'|trans|raw }}",
                federalState: "{{ 'dataTables.incomingAlerts.columns.federalState'|trans|raw }}",
                department: "{{ 'dataTables.incomingAlerts.columns.department'|trans|raw }}",
                address: "{{ 'dataTables.incomingAlerts.columns.address'|trans|raw }}",
                numberControlCenter: "{{ 'dataTables.incomingAlerts.columns.numberControlCenter'|trans|raw }}",
                keywordShort: "{{ 'dataTables.incomingAlerts.columns.keywordShort'|trans|raw }}",
                keywordLong: "{{ 'dataTables.incomingAlerts.columns.keywordLong'|trans|raw }}",
                location: "{{ 'dataTables.incomingAlerts.columns.location'|trans|raw }}",
                otherAddressInformation: "{{ 'dataTables.incomingAlerts.columns.otherAddressInformation'|trans|raw }}",
                personPatient: "{{ 'dataTables.incomingAlerts.columns.personPatient'|trans|raw }}",
                text: "{{ 'dataTables.incomingAlerts.columns.text'|trans|raw }}",
                incomingDateTime: "{{ 'dataTables.incomingAlerts.columns.incomingDateTime'|trans|raw }}",
                messageComplete: "{{ 'dataTables.incomingAlerts.columns.messageComplete'|trans|raw }}",
                isVisibilityOperationReport: "{{ 'dataTables.incomingAlerts.columns.isVisibilityOperationReport'|trans|raw }}",
                isVisibility: "{{ 'dataTables.incomingAlerts.columns.isVisibility'|trans|raw }}",
                comment: "{{ 'dataTables.incomingAlerts.columns.comment'|trans|raw }}",
                createdAt: "{{ 'dataTables.incomingAlerts.columns.createdAt'|trans|raw }}",
                createdFrom: "{{ 'dataTables.incomingAlerts.columns.createdFrom'|trans|raw }}",
                updatedAt: "{{ 'dataTables.incomingAlerts.columns.updatedAt'|trans|raw }}",
                updatedFrom: "{{ 'dataTables.incomingAlerts.columns.updatedFrom'|trans|raw }}"
            }
        },
        myIncomingAlerts: {
            headline: "{{ 'dataTables.myIncomingAlerts.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.myIncomingAlerts.columns.id'|trans|raw }}",
                federalState: "{{ 'dataTables.myIncomingAlerts.columns.federalState'|trans|raw }}",
                department: "{{ 'dataTables.myIncomingAlerts.columns.department'|trans|raw }}",
                address: "{{ 'dataTables.myIncomingAlerts.columns.address'|trans|raw }}",
                numberControlCenter: "{{ 'dataTables.myIncomingAlerts.columns.numberControlCenter'|trans|raw }}",
                keywordShort: "{{ 'dataTables.myIncomingAlerts.columns.keywordShort'|trans|raw }}",
                keywordLong: "{{ 'dataTables.myIncomingAlerts.columns.keywordLong'|trans|raw }}",
                location: "{{ 'dataTables.myIncomingAlerts.columns.location'|trans|raw }}",
                otherAddressInformation: "{{ 'dataTables.myIncomingAlerts.columns.otherAddressInformation'|trans|raw }}",
                personPatient: "{{ 'dataTables.myIncomingAlerts.columns.personPatient'|trans|raw }}",
                text: "{{ 'dataTables.myIncomingAlerts.columns.text'|trans|raw }}",
                incomingDateTime: "{{ 'dataTables.myIncomingAlerts.columns.incomingDateTime'|trans|raw }}",
                messageComplete: "{{ 'dataTables.myIncomingAlerts.columns.messageComplete'|trans|raw }}",
                isVisibilityOperationReport: "{{ 'dataTables.myIncomingAlerts.columns.isVisibilityOperationReport'|trans|raw }}",
                isVisibility: "{{ 'dataTables.myIncomingAlerts.columns.isVisibility'|trans|raw }}",
                comment: "{{ 'dataTables.myIncomingAlerts.columns.comment'|trans|raw }}",
                createdAt: "{{ 'dataTables.myIncomingAlerts.columns.createdAt'|trans|raw }}",
                createdFrom: "{{ 'dataTables.myIncomingAlerts.columns.createdFrom'|trans|raw }}",
                updatedAt: "{{ 'dataTables.myIncomingAlerts.columns.updatedAt'|trans|raw }}",
                updatedFrom: "{{ 'dataTables.myIncomingAlerts.columns.updatedFrom'|trans|raw }}"
            }
        },
        operationReports: {
            headline: "{{ 'dataTables.operationReports.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.operationReports.columns.id'|trans|raw }}",
                federalState: "{{ 'dataTables.operationReports.columns.federalState'|trans|raw }}",
                department: "{{ 'dataTables.operationReports.columns.department'|trans|raw }}",
                incomingDateTime: "{{ 'dataTables.operationReports.columns.incomingDateTime'|trans|raw }}",
                operationType: "{{ 'dataTables.operationReports.columns.operationType'|trans|raw }}",
                startetAt: "{{ 'dataTables.operationReports.columns.startetAt'|trans|raw }}",
                endetAt: "{{ 'dataTables.operationReports.columns.endetAt'|trans|raw }}",
                numberControlCenter: "{{ 'dataTables.operationReports.columns.numberControlCenter'|trans|raw }}",
                keywordShort: "{{ 'dataTables.operationReports.columns.keywordShort'|trans|raw }}",
                keywordLong: "{{ 'dataTables.operationReports.columns.keywordLong'|trans|raw }}",
                postalCode: "{{ 'dataTables.operationReports.columns.postalCode'|trans|raw }}",
                place: "{{ 'dataTables.operationReports.columns.place'|trans|raw }}",
                streetWithNumber: "{{ 'dataTables.operationReports.columns.streetWithNumber'|trans|raw }}",
                location: "{{ 'dataTables.operationReports.columns.location'|trans|raw }}",
                otherAddressInformation: "{{ 'dataTables.operationReports.columns.otherAddressInformation'|trans|raw }}",
                personPatient: "{{ 'dataTables.operationReports.columns.personPatient'|trans|raw }}",
                numberFireDepartment: "{{ 'dataTables.operationReports.columns.numberFireDepartment'|trans|raw }}",
                numberPolice: "{{ 'dataTables.operationReports.columns.numberPolice'|trans|raw }}",
                messageComplete: "{{ 'dataTables.operationReports.columns.messageComplete'|trans|raw }}",
                ownForces: "{{ 'dataTables.operationReports.columns.ownForces'|trans|raw }}",
                otherTaskForces: "{{ 'dataTables.operationReports.columns.otherTaskForces'|trans|raw }}",
                tools: "{{ 'dataTables.operationReports.columns.tools'|trans|raw }}",
                isVisibility: "{{ 'dataTables.operationReports.columns.isVisibility'|trans|raw }}",
                commentPrint: "{{ 'dataTables.operationReports.columns.commentPrint'|trans|raw }}",
                comment: "{{ 'dataTables.operationReports.columns.comment'|trans|raw }}",
                createdAt: "{{ 'dataTables.operationReports.columns.createdAt'|trans|raw }}",
                createdFrom: "{{ 'dataTables.operationReports.columns.createdFrom'|trans|raw }}",
                updatedAt: "{{ 'dataTables.operationReports.columns.updatedAt'|trans|raw }}",
                updatedFrom: "{{ 'dataTables.operationReports.columns.updatedFrom'|trans|raw }}"
            }
        },
        evaluationOperationReports: {
            headline: "{{ 'dataTables.evaluationOperationReports.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.evaluationOperationReports.columns.id'|trans|raw }}",
                federalState: "{{ 'dataTables.evaluationOperationReports.columns.federalState'|trans|raw }}",
                department: "{{ 'dataTables.evaluationOperationReports.columns.department'|trans|raw }}",
                incomingDateTimeCreatedAt: "{{ 'dataTables.evaluationOperationReports.columns.incomingDateTimeCreatedAt'|trans|raw }}",
                incomingDateTime: "{{ 'dataTables.evaluationOperationReports.columns.incomingDateTime'|trans|raw }}",
                createdAt: "{{ 'dataTables.evaluationOperationReports.columns.createdAt'|trans|raw }}",
                operationType: "{{ 'dataTables.evaluationOperationReports.columns.operationType'|trans|raw }}",
                numberControlCenter: "{{ 'dataTables.evaluationOperationReports.columns.numberControlCenter'|trans|raw }}",
                numberFireDepartment: "{{ 'dataTables.evaluationOperationReports.columns.numberFireDepartment'|trans|raw }}",
                keywordShort: "{{ 'dataTables.evaluationOperationReports.columns.keywordShort'|trans|raw }}",
                ownForces: "{{ 'dataTables.evaluationOperationReports.columns.ownForces'|trans|raw }}",
                operatingTime: "{{ 'dataTables.evaluationOperationReports.columns.operatingTime'|trans|raw }}",
                operatingTimeTotal: "{{ 'dataTables.evaluationOperationReports.columns.operatingTimeTotal'|trans|raw }}",
                startetAt: "{{ 'dataTables.evaluationOperationReports.columns.startetAt'|trans|raw }}",
                endetAt: "{{ 'dataTables.evaluationOperationReports.columns.endetAt'|trans|raw }}",
                keywordLong: "{{ 'dataTables.evaluationOperationReports.columns.keywordLong'|trans|raw }}",
                postalCode: "{{ 'dataTables.evaluationOperationReports.columns.postalCode'|trans|raw }}",
                place: "{{ 'dataTables.evaluationOperationReports.columns.place'|trans|raw }}",
                streetWithNumber: "{{ 'dataTables.evaluationOperationReports.columns.streetWithNumber'|trans|raw }}",
                location: "{{ 'dataTables.evaluationOperationReports.columns.location'|trans|raw }}",
                otherAddressInformation: "{{ 'dataTables.evaluationOperationReports.columns.otherAddressInformation'|trans|raw }}",
                personPatient: "{{ 'dataTables.evaluationOperationReports.columns.personPatient'|trans|raw }}",
                numberPolice: "{{ 'dataTables.evaluationOperationReports.columns.numberPolice'|trans|raw }}",
                messageComplete: "{{ 'dataTables.evaluationOperationReports.columns.messageComplete'|trans|raw }}",
                otherTaskForces: "{{ 'dataTables.evaluationOperationReports.columns.otherTaskForces'|trans|raw }}",
                tools: "{{ 'dataTables.evaluationOperationReports.columns.tools'|trans|raw }}",
                isVisibility: "{{ 'dataTables.evaluationOperationReports.columns.isVisibility'|trans|raw }}",
                commentPrint: "{{ 'dataTables.evaluationOperationReports.columns.commentPrint'|trans|raw }}",
                comment: "{{ 'dataTables.evaluationOperationReports.columns.comment'|trans|raw }}",
                createdAtTwo: "{{ 'dataTables.evaluationOperationReports.columns.createdAtTwo'|trans|raw }}",
                createdFrom: "{{ 'dataTables.evaluationOperationReports.columns.createdFrom'|trans|raw }}",
                updatedAt: "{{ 'dataTables.evaluationOperationReports.columns.updatedAt'|trans|raw }}",
                updatedFrom: "{{ 'dataTables.evaluationOperationReports.columns.updatedFrom'|trans|raw }}"
            }
        },
        feedbacks: {
            headline: "{{ 'dataTables.feedbacks.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.feedbacks.columns.id'|trans|raw }}",
                federalState: "{{ 'dataTables.feedbacks.columns.federalState'|trans|raw }}",
                department: "{{ 'dataTables.feedbacks.columns.department'|trans|raw }}",
                title: "{{ 'dataTables.feedbacks.columns.title'|trans|raw }}",
                message: "{{ 'dataTables.feedbacks.columns.message'|trans|raw }}",
                comment: "{{ 'dataTables.feedbacks.columns.comment'|trans|raw }}",
                createdAt: "{{ 'dataTables.feedbacks.columns.createdAt'|trans|raw }}",
                createdFrom: "{{ 'dataTables.feedbacks.columns.createdFrom'|trans|raw }}",
                updatedAt: "{{ 'dataTables.feedbacks.columns.updatedAt'|trans|raw }}",
                updatedFrom: "{{ 'dataTables.feedbacks.columns.updatedFrom'|trans|raw }}"
            }
        },

    };
</script>