<script>
    const __DIALOGS__ = {
        federalState: {
            headerTitle: "{{ 'dialogs.federalState.headerTitle'|trans|raw }}",
            fields: {
                abbreviation: {
                    label: "{{ 'dialogs.federalState.fields.abbreviation.label'|trans|raw }}",
                    help: "{{ 'dialogs.federalState.fields.abbreviation.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.federalState.fields.abbreviation.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.federalState.fields.abbreviation.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.federalState.fields.abbreviation.required'|trans|raw }}",
                },
                description: {
                    label: "{{ 'dialogs.federalState.fields.description.label'|trans|raw }}",
                    help: "{{ 'dialogs.federalState.fields.description.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.federalState.fields.description.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.federalState.fields.description.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.federalState.fields.description.required'|trans|raw }}",
                },
                isVisibility: {
                    label: "{{ 'dialogs.federalState.fields.isVisibility.label'|trans|raw }}",
                    help: "{{ 'dialogs.federalState.fields.isVisibility.help'|trans|raw }}",
                    required: "{{ 'dialogs.federalState.fields.isVisibility.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.federalState.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.federalState.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.federalState.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.federalState.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.federalState.fields.comment.required'|trans|raw }}",
                },
            }
        },
        department: {
            headerTitle: "{{ 'dialogs.department.headerTitle'|trans|raw }}",
            fields: {
                abbreviation: {
                    label: "{{ 'dialogs.department.fields.abbreviation.label'|trans|raw }}",
                    help: "{{ 'dialogs.department.fields.abbreviation.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.department.fields.abbreviation.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.department.fields.abbreviation.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.department.fields.abbreviation.required'|trans|raw }}",
                },
                description: {
                    label: "{{ 'dialogs.department.fields.description.label'|trans|raw }}",
                    help: "{{ 'dialogs.department.fields.description.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.department.fields.description.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.department.fields.description.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.department.fields.description.required'|trans|raw }}",
                },
                federalState: {
                    label: "{{ 'dialogs.department.fields.federalState.label'|trans|raw }}",
                    help: "{{ 'dialogs.department.fields.federalState.help'|trans|raw }}",
                    required: "{{ 'dialogs.department.fields.federalState.required'|trans|raw }}",
                },
                zipCode: {
                    label: "{{ 'dialogs.department.fields.zipCode.label'|trans|raw }}",
                    help: "{{ 'dialogs.department.fields.zipCode.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.department.fields.zipCode.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.department.fields.zipCode.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.department.fields.zipCode.required'|trans|raw }}",
                },
                placeName: {
                    label: "{{ 'dialogs.department.fields.placeName.label'|trans|raw }}",
                    help: "{{ 'dialogs.department.fields.placeName.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.department.fields.placeName.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.department.fields.placeName.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.department.fields.placeName.required'|trans|raw }}",
                },
                street: {
                    label: "{{ 'dialogs.department.fields.street.label'|trans|raw }}",
                    help: "{{ 'dialogs.department.fields.street.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.department.fields.street.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.department.fields.street.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.department.fields.street.required'|trans|raw }}",
                },
                isVisibility: {
                    label: "{{ 'dialogs.department.fields.isVisibility.label'|trans|raw }}",
                    help: "{{ 'dialogs.department.fields.isVisibility.help'|trans|raw }}",
                    required: "{{ 'dialogs.department.fields.isVisibility.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.department.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.department.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.department.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.department.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.department.fields.comment.required'|trans|raw }}",
                },
            }
        },
        version: {
            headerTitle: "{{ 'dialogs.version.headerTitle'|trans|raw }}",
            fields: {
                number: {
                    label: "{{ 'dialogs.version.fields.number.label'|trans|raw }}",
                    help: "{{ 'dialogs.version.fields.number.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.version.fields.number.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.version.fields.number.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.version.fields.number.required'|trans|raw }}",
                },
                buildNumber: {
                    label: "{{ 'dialogs.version.fields.buildNumber.label'|trans|raw }}",
                    help: "{{ 'dialogs.version.fields.buildNumber.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.version.fields.buildNumber.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.version.fields.buildNumber.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.version.fields.buildNumber.required'|trans|raw }}",
                },
                description: {
                    label: "{{ 'dialogs.version.fields.description.label'|trans|raw }}",
                    help: "{{ 'dialogs.version.fields.description.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.version.fields.description.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.version.fields.description.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.version.fields.description.required'|trans|raw }}",
                },
                isVisibility: {
                    label: "{{ 'dialogs.version.fields.isVisibility.label'|trans|raw }}",
                    help: "{{ 'dialogs.version.fields.isVisibility.help'|trans|raw }}",
                    required: "{{ 'dialogs.version.fields.isVisibility.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.version.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.version.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.version.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.version.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.version.fields.comment.required'|trans|raw }}",
                },
            }
        },
        userRole: {
            headerTitle: "{{ 'dialogs.userRole.headerTitle'|trans|raw }}",
            fields: {
                displayName: {
                    label: "{{ 'dialogs.userRole.fields.displayName.label'|trans|raw }}",
                    help: "{{ 'dialogs.userRole.fields.displayName.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.userRole.fields.displayName.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.userRole.fields.displayName.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.userRole.fields.displayName.required'|trans|raw }}",
                },
                roleName: {
                    label: "{{ 'dialogs.userRole.fields.roleName.label'|trans|raw }}",
                    help: "{{ 'dialogs.userRole.fields.roleName.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.userRole.fields.roleName.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.userRole.fields.roleName.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.userRole.fields.roleName.required'|trans|raw }}",
                },
                description: {
                    label: "{{ 'dialogs.userRole.fields.description.label'|trans|raw }}",
                    help: "{{ 'dialogs.userRole.fields.description.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.userRole.fields.description.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.userRole.fields.description.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.userRole.fields.description.required'|trans|raw }}",
                },
                sorting: {
                    label: "{{ 'dialogs.userRole.fields.sorting.label'|trans|raw }}",
                    help: "{{ 'dialogs.userRole.fields.sorting.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.userRole.fields.sorting.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.userRole.fields.sorting.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.userRole.fields.sorting.required'|trans|raw }}",
                },
                isVisibility: {
                    label: "{{ 'dialogs.userRole.fields.isVisibility.label'|trans|raw }}",
                    help: "{{ 'dialogs.userRole.fields.isVisibility.help'|trans|raw }}",
                    required: "{{ 'dialogs.userRole.fields.isVisibility.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.userRole.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.userRole.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.userRole.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.userRole.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.userRole.fields.comment.required'|trans|raw }}",
                },
            }
        },
        memberFunction: {
            headerTitle: "{{ 'dialogs.memberFunction.headerTitle'|trans|raw }}",
            fields: {
                department: {
                    label: "{{ 'dialogs.memberFunction.fields.department.label'|trans|raw }}",
                    help: "{{ 'dialogs.memberFunction.fields.department.help'|trans|raw }}",
                    required: "{{ 'dialogs.memberFunction.fields.department.required'|trans|raw }}",
                },
                abbreviation: {
                    label: "{{ 'dialogs.memberFunction.fields.abbreviation.label'|trans|raw }}",
                    help: "{{ 'dialogs.memberFunction.fields.abbreviation.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.memberFunction.fields.abbreviation.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.memberFunction.fields.abbreviation.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.memberFunction.fields.abbreviation.required'|trans|raw }}",
                },
                description: {
                    label: "{{ 'dialogs.memberFunction.fields.description.label'|trans|raw }}",
                    help: "{{ 'dialogs.memberFunction.fields.description.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.memberFunction.fields.description.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.memberFunction.fields.description.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.memberFunction.fields.description.required'|trans|raw }}",
                },
                sorting: {
                    label: "{{ 'dialogs.memberFunction.fields.sorting.label'|trans|raw }}",
                    help: "{{ 'dialogs.memberFunction.fields.sorting.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.memberFunction.fields.sorting.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.memberFunction.fields.sorting.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.memberFunction.fields.sorting.required'|trans|raw }}",
                },
                isVisibility: {
                    label: "{{ 'dialogs.memberFunction.fields.isVisibility.label'|trans|raw }}",
                    help: "{{ 'dialogs.memberFunction.fields.isVisibility.help'|trans|raw }}",
                    required: "{{ 'dialogs.memberFunction.fields.isVisibility.required'|trans|raw }}",
                },
                isVisibilityOperationReport: {
                    label: "{{ 'dialogs.memberFunction.fields.isVisibilityOperationReport.label'|trans|raw }}",
                    help: "{{ 'dialogs.memberFunction.fields.isVisibilityOperationReport.help'|trans|raw }}",
                    required: "{{ 'dialogs.memberFunction.fields.isVisibilityOperationReport.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.memberFunction.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.memberFunction.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.memberFunction.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.memberFunction.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.memberFunction.fields.comment.required'|trans|raw }}",
                },
            }
        },
        operationTypeCategory: {
            headerTitle: "{{ 'dialogs.operationTypeCategory.headerTitle'|trans|raw }}",
            fields: {
                department: {
                    label: "{{ 'dialogs.operationTypeCategory.fields.department.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationTypeCategory.fields.department.help'|trans|raw }}",
                    required: "{{ 'dialogs.operationTypeCategory.fields.department.required'|trans|raw }}",
                },
                abbreviation: {
                    label: "{{ 'dialogs.operationTypeCategory.fields.abbreviation.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationTypeCategory.fields.abbreviation.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationTypeCategory.fields.abbreviation.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationTypeCategory.fields.abbreviation.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationTypeCategory.fields.abbreviation.required'|trans|raw }}",
                },
                description: {
                    label: "{{ 'dialogs.operationTypeCategory.fields.description.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationTypeCategory.fields.description.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationTypeCategory.fields.description.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationTypeCategory.fields.description.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationTypeCategory.fields.description.required'|trans|raw }}",
                },
                sorting: {
                    label: "{{ 'dialogs.operationTypeCategory.fields.sorting.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationTypeCategory.fields.sorting.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationTypeCategory.fields.sorting.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationTypeCategory.fields.sorting.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationTypeCategory.fields.sorting.required'|trans|raw }}",
                },
                isVisibility: {
                    label: "{{ 'dialogs.operationTypeCategory.fields.isVisibility.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationTypeCategory.fields.isVisibility.help'|trans|raw }}",
                    required: "{{ 'dialogs.operationTypeCategory.fields.isVisibility.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.operationTypeCategory.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationTypeCategory.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationTypeCategory.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationTypeCategory.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationTypeCategory.fields.comment.required'|trans|raw }}",
                },
            }
        },
        operationType: {
            headerTitle: "{{ 'dialogs.operationType.headerTitle'|trans|raw }}",
            fields: {
                department: {
                    label: "{{ 'dialogs.operationType.fields.department.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationType.fields.department.help'|trans|raw }}",
                    required: "{{ 'dialogs.operationType.fields.department.required'|trans|raw }}",
                },
                operationTypeCategory: {
                    label: "{{ 'dialogs.operationType.fields.operationTypeCategory.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationType.fields.operationTypeCategory.help'|trans|raw }}",
                    required: "{{ 'dialogs.operationType.fields.operationTypeCategory.required'|trans|raw }}",
                },
                abbreviation: {
                    label: "{{ 'dialogs.operationType.fields.abbreviation.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationType.fields.abbreviation.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationType.fields.abbreviation.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationType.fields.abbreviation.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationType.fields.abbreviation.required'|trans|raw }}",
                },
                description: {
                    label: "{{ 'dialogs.operationType.fields.description.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationType.fields.description.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationType.fields.description.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationType.fields.description.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationType.fields.description.required'|trans|raw }}",
                },
                sorting: {
                    label: "{{ 'dialogs.operationType.fields.sorting.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationType.fields.sorting.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationType.fields.sorting.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationType.fields.sorting.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationType.fields.sorting.required'|trans|raw }}",
                },
                isVisibility: {
                    label: "{{ 'dialogs.operationType.fields.isVisibility.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationType.fields.isVisibility.help'|trans|raw }}",
                    required: "{{ 'dialogs.operationType.fields.isVisibility.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.operationType.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationType.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationType.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationType.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationType.fields.comment.required'|trans|raw }}",
                },
            }
        },
        vehicle: {
            headerTitle: "{{ 'dialogs.vehicle.headerTitle'|trans|raw }}",
            fields: {
                federalState: {
                    label: "{{ 'dialogs.vehicle.fields.federalState.label'|trans|raw }}",
                    help: "{{ 'dialogs.vehicle.fields.federalState.help'|trans|raw }}",
                    required: "{{ 'dialogs.vehicle.fields.federalState.required'|trans|raw }}",
                },
                department: {
                    label: "{{ 'dialogs.vehicle.fields.department.label'|trans|raw }}",
                    help: "{{ 'dialogs.vehicle.fields.department.help'|trans|raw }}",
                    required: "{{ 'dialogs.vehicle.fields.department.required'|trans|raw }}",
                },
                abbreviation: {
                    label: "{{ 'dialogs.vehicle.fields.abbreviation.label'|trans|raw }}",
                    help: "{{ 'dialogs.vehicle.fields.abbreviation.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.vehicle.fields.abbreviation.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.vehicle.fields.abbreviation.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.vehicle.fields.abbreviation.required'|trans|raw }}",
                },
                description: {
                    label: "{{ 'dialogs.vehicle.fields.description.label'|trans|raw }}",
                    help: "{{ 'dialogs.vehicle.fields.description.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.vehicle.fields.description.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.vehicle.fields.description.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.vehicle.fields.description.required'|trans|raw }}",
                },
                maxSeats: {
                    label: "{{ 'dialogs.vehicle.fields.maxSeats.label'|trans|raw }}",
                    help: "{{ 'dialogs.vehicle.fields.maxSeats.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.vehicle.fields.maxSeats.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.vehicle.fields.maxSeats.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.vehicle.fields.maxSeats.required'|trans|raw }}",
                },
                numberplate: {
                    label: "{{ 'dialogs.vehicle.fields.numberplate.label'|trans|raw }}",
                    help: "{{ 'dialogs.vehicle.fields.numberplate.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.vehicle.fields.numberplate.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.vehicle.fields.numberplate.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.vehicle.fields.numberplate.required'|trans|raw }}",
                },
                cost: {
                    label: "{{ 'dialogs.vehicle.fields.cost.label'|trans|raw }}",
                    help: "{{ 'dialogs.vehicle.fields.cost.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.vehicle.fields.cost.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.vehicle.fields.cost.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.vehicle.fields.cost.required'|trans|raw }}",
                },
                furtherInformation: {
                    label: "{{ 'dialogs.vehicle.fields.furtherInformation.label'|trans|raw }}",
                    help: "{{ 'dialogs.vehicle.fields.furtherInformation.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.vehicle.fields.furtherInformation.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.vehicle.fields.furtherInformation.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.vehicle.fields.furtherInformation.required'|trans|raw }}",
                },
                isVisibilityOperationReport: {
                    label: "{{ 'dialogs.vehicle.fields.isVisibilityOperationReport.label'|trans|raw }}",
                    help: "{{ 'dialogs.vehicle.fields.isVisibilityOperationReport.help'|trans|raw }}",
                    required: "{{ 'dialogs.vehicle.fields.isVisibilityOperationReport.required'|trans|raw }}",
                },
                isVisibility: {
                    label: "{{ 'dialogs.vehicle.fields.isVisibility.label'|trans|raw }}",
                    help: "{{ 'dialogs.vehicle.fields.isVisibility.help'|trans|raw }}",
                    required: "{{ 'dialogs.vehicle.fields.isVisibility.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.vehicle.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.vehicle.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.vehicle.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.vehicle.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.vehicle.fields.comment.required'|trans|raw }}",
                },
            }
        },
        toolCategory: {
            headerTitle: "{{ 'dialogs.toolCategory.headerTitle'|trans|raw }}",
            fields: {
                department: {
                    label: "{{ 'dialogs.toolCategory.fields.department.label'|trans|raw }}",
                    help: "{{ 'dialogs.toolCategory.fields.department.help'|trans|raw }}",
                    required: "{{ 'dialogs.toolCategory.fields.department.required'|trans|raw }}",
                },
                abbreviation: {
                    label: "{{ 'dialogs.toolCategory.fields.abbreviation.label'|trans|raw }}",
                    help: "{{ 'dialogs.toolCategory.fields.abbreviation.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.toolCategory.fields.abbreviation.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.toolCategory.fields.abbreviation.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.toolCategory.fields.abbreviation.required'|trans|raw }}",
                },
                description: {
                    label: "{{ 'dialogs.toolCategory.fields.description.label'|trans|raw }}",
                    help: "{{ 'dialogs.toolCategory.fields.description.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.toolCategory.fields.description.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.toolCategory.fields.description.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.toolCategory.fields.description.required'|trans|raw }}",
                },
                sorting: {
                    label: "{{ 'dialogs.toolCategory.fields.sorting.label'|trans|raw }}",
                    help: "{{ 'dialogs.toolCategory.fields.sorting.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.toolCategory.fields.sorting.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.toolCategory.fields.sorting.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.toolCategory.fields.sorting.required'|trans|raw }}",
                },
                isVisibilityOperationReport: {
                    label: "{{ 'dialogs.toolCategory.fields.isVisibilityOperationReport.label'|trans|raw }}",
                    help: "{{ 'dialogs.toolCategory.fields.isVisibilityOperationReport.help'|trans|raw }}",
                    required: "{{ 'dialogs.toolCategory.fields.isVisibilityOperationReport.required'|trans|raw }}",
                },
                isVisibility: {
                    label: "{{ 'dialogs.toolCategory.fields.isVisibility.label'|trans|raw }}",
                    help: "{{ 'dialogs.toolCategory.fields.isVisibility.help'|trans|raw }}",
                    required: "{{ 'dialogs.toolCategory.fields.isVisibility.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.toolCategory.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.toolCategory.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.toolCategory.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.toolCategory.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.toolCategory.fields.comment.required'|trans|raw }}",
                },
            }
        },
        tool: {
            headerTitle: "{{ 'dialogs.tool.headerTitle'|trans|raw }}",
            fields: {
                department: {
                    label: "{{ 'dialogs.tool.fields.department.label'|trans|raw }}",
                    help: "{{ 'dialogs.tool.fields.department.help'|trans|raw }}",
                    required: "{{ 'dialogs.tool.fields.department.required'|trans|raw }}",
                },
                toolCategory: {
                    label: "{{ 'dialogs.tool.fields.toolCategory.label'|trans|raw }}",
                    help: "{{ 'dialogs.tool.fields.toolCategory.help'|trans|raw }}",
                    required: "{{ 'dialogs.tool.fields.toolCategory.required'|trans|raw }}",
                },
                abbreviation: {
                    label: "{{ 'dialogs.tool.fields.abbreviation.label'|trans|raw }}",
                    help: "{{ 'dialogs.tool.fields.abbreviation.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.tool.fields.abbreviation.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.tool.fields.abbreviation.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.tool.fields.abbreviation.required'|trans|raw }}",
                },
                description: {
                    label: "{{ 'dialogs.tool.fields.description.label'|trans|raw }}",
                    help: "{{ 'dialogs.tool.fields.description.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.tool.fields.description.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.tool.fields.description.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.tool.fields.description.required'|trans|raw }}",
                },
                isVisibilityOperationReport: {
                    label: "{{ 'dialogs.tool.fields.isVisibilityOperationReport.label'|trans|raw }}",
                    help: "{{ 'dialogs.tool.fields.isVisibilityOperationReport.help'|trans|raw }}",
                    required: "{{ 'dialogs.tool.fields.isVisibilityOperationReport.required'|trans|raw }}",
                },
                isVisibility: {
                    label: "{{ 'dialogs.tool.fields.isVisibility.label'|trans|raw }}",
                    help: "{{ 'dialogs.tool.fields.isVisibility.help'|trans|raw }}",
                    required: "{{ 'dialogs.tool.fields.isVisibility.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.tool.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.tool.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.tool.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.tool.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.tool.fields.comment.required'|trans|raw }}",
                },
            }
        },
        alertAddress: {
            headerTitle: "{{ 'dialogs.alertAddress.headerTitle'|trans|raw }}",
            fields: {
                federalState: {
                    label: "{{ 'dialogs.alertAddress.fields.federalState.label'|trans|raw }}",
                    help: "{{ 'dialogs.alertAddress.fields.federalState.help'|trans|raw }}",
                    required: "{{ 'dialogs.alertAddress.fields.federalState.required'|trans|raw }}",
                },
                department: {
                    label: "{{ 'dialogs.alertAddress.fields.department.label'|trans|raw }}",
                    help: "{{ 'dialogs.alertAddress.fields.department.help'|trans|raw }}",
                    required: "{{ 'dialogs.alertAddress.fields.department.required'|trans|raw }}",
                },
                address: {
                    label: "{{ 'dialogs.alertAddress.fields.address.label'|trans|raw }}",
                    help: "{{ 'dialogs.alertAddress.fields.address.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.alertAddress.fields.address.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.alertAddress.fields.address.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.alertAddress.fields.address.required'|trans|raw }}",
                },
                description: {
                    label: "{{ 'dialogs.alertAddress.fields.description.label'|trans|raw }}",
                    help: "{{ 'dialogs.alertAddress.fields.description.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.alertAddress.fields.description.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.alertAddress.fields.description.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.alertAddress.fields.description.required'|trans|raw }}",
                },
                isVisibility: {
                    label: "{{ 'dialogs.alertAddress.fields.isVisibility.label'|trans|raw }}",
                    help: "{{ 'dialogs.alertAddress.fields.isVisibility.help'|trans|raw }}",
                    required: "{{ 'dialogs.alertAddress.fields.isVisibility.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.alertAddress.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.alertAddress.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.alertAddress.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.alertAddress.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.alertAddress.fields.comment.required'|trans|raw }}",
                },
            }
        },
        member: {
            headerTitle: "{{ 'dialogs.member.headerTitle'|trans|raw }}",
            fields: {
                federalState: {
                    label: "{{ 'dialogs.member.fields.federalState.label'|trans|raw }}",
                    help: "{{ 'dialogs.member.fields.federalState.help'|trans|raw }}",
                    required: "{{ 'dialogs.member.fields.federalState.required'|trans|raw }}",
                },
                department: {
                    label: "{{ 'dialogs.member.fields.department.label'|trans|raw }}",
                    help: "{{ 'dialogs.member.fields.department.help'|trans|raw }}",
                    required: "{{ 'dialogs.member.fields.department.required'|trans|raw }}",
                },
                surname: {
                    label: "{{ 'dialogs.member.fields.surname.label'|trans|raw }}",
                    help: "{{ 'dialogs.member.fields.surname.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.member.fields.surname.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.member.fields.surname.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.member.fields.surname.required'|trans|raw }}",
                },
                firstname: {
                    label: "{{ 'dialogs.member.fields.firstname.label'|trans|raw }}",
                    help: "{{ 'dialogs.member.fields.firstname.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.member.fields.firstname.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.member.fields.firstname.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.member.fields.firstname.required'|trans|raw }}",
                },
                defaultMemberFunction: {
                    label: "{{ 'dialogs.member.fields.defaultMemberFunction.label'|trans|raw }}",
                    help: "{{ 'dialogs.member.fields.defaultMemberFunction.help'|trans|raw }}",
                    required: "{{ 'dialogs.member.fields.defaultMemberFunction.required'|trans|raw }}",
                },
                isVisibilityOperationReport: {
                    label: "{{ 'dialogs.member.fields.isVisibilityOperationReport.label'|trans|raw }}",
                    help: "{{ 'dialogs.member.fields.isVisibilityOperationReport.help'|trans|raw }}",
                    required: "{{ 'dialogs.member.fields.isVisibilityOperationReport.required'|trans|raw }}",
                },
                isVisibility: {
                    label: "{{ 'dialogs.member.fields.isVisibility.label'|trans|raw }}",
                    help: "{{ 'dialogs.member.fields.isVisibility.help'|trans|raw }}",
                    required: "{{ 'dialogs.member.fields.isVisibility.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.member.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.member.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.member.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.member.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.member.fields.comment.required'|trans|raw }}",
                },
            }
        },
        user: {
            headerTitle: "{{ 'dialogs.user.headerTitle'|trans|raw }}",
            fields: {
                federalState: {
                    label: "{{ 'dialogs.user.fields.federalState.label'|trans|raw }}",
                    help: "{{ 'dialogs.user.fields.federalState.help'|trans|raw }}",
                    required: "{{ 'dialogs.user.fields.federalState.required'|trans|raw }}",
                },
                department: {
                    label: "{{ 'dialogs.user.fields.department.label'|trans|raw }}",
                    help: "{{ 'dialogs.user.fields.department.help'|trans|raw }}",
                    required: "{{ 'dialogs.user.fields.department.required'|trans|raw }}",
                },
                surname: {
                    label: "{{ 'dialogs.user.fields.surname.label'|trans|raw }}",
                    help: "{{ 'dialogs.user.fields.surname.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.user.fields.surname.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.user.fields.surname.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.user.fields.surname.required'|trans|raw }}",
                },
                firstname: {
                    label: "{{ 'dialogs.user.fields.firstname.label'|trans|raw }}",
                    help: "{{ 'dialogs.user.fields.firstname.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.user.fields.firstname.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.user.fields.firstname.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.user.fields.firstname.required'|trans|raw }}",
                },
                passwordOld: {
                    label: "{{ 'dialogs.user.fields.passwordOld.label'|trans|raw }}",
                    help: "{{ 'dialogs.user.fields.passwordOld.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.user.fields.passwordOld.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.user.fields.passwordOld.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.user.fields.passwordOld.required'|trans|raw }}",
                },
                password: {
                    label: "{{ 'dialogs.user.fields.password.label'|trans|raw }}",
                    help: "{{ 'dialogs.user.fields.password.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.user.fields.password.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.user.fields.password.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.user.fields.password.required'|trans|raw }}",
                },
                passwordRepeat: {
                    label: "{{ 'dialogs.user.fields.passwordRepeat.label'|trans|raw }}",
                    help: "{{ 'dialogs.user.fields.passwordRepeat.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.user.fields.passwordRepeat.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.user.fields.passwordRepeat.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.user.fields.passwordRepeat.required'|trans|raw }}",
                },
                email: {
                    label: "{{ 'dialogs.user.fields.email.label'|trans|raw }}",
                    help: "{{ 'dialogs.user.fields.email.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.user.fields.email.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.user.fields.email.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.user.fields.email.required'|trans|raw }}",
                },
                roles: {
                    label: "{{ 'dialogs.user.fields.roles.label'|trans|raw }}",
                    help: "{{ 'dialogs.user.fields.roles.help'|trans|raw }}",
                    required: "{{ 'dialogs.user.fields.roles.required'|trans|raw }}",
                },
                myAlertAddresses: {
                    label: "{{ 'dialogs.user.fields.myAlertAddresses.label'|trans|raw }}",
                    help: "{{ 'dialogs.user.fields.myAlertAddresses.help'|trans|raw }}",
                    required: "{{ 'dialogs.user.fields.myAlertAddresses.required'|trans|raw }}",
                },
                isVisibility: {
                    label: "{{ 'dialogs.user.fields.isVisibility.label'|trans|raw }}",
                    help: "{{ 'dialogs.user.fields.isVisibility.help'|trans|raw }}",
                    required: "{{ 'dialogs.user.fields.isVisibility.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.user.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.user.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.user.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.user.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.user.fields.comment.required'|trans|raw }}",
                },
            },
            buttons: {
                headline: "{{ 'dialogs.user.buttons.headline'|trans|raw }}",
                rightFullAdministrator: "{{ 'dialogs.user.buttons.rightFullAdministrator'|trans|raw }}",
                rightDepartmentAdministrator: "{{ 'dialogs.user.buttons.rightDepartmentAdministrator'|trans|raw }}",
                rightGroupLeader: "{{ 'dialogs.user.buttons.rightGroupLeader'|trans|raw }}",
            }
        },
        incomingAlert: {
            headerTitle: "{{ 'dialogs.incomingAlert.headerTitle'|trans|raw }}",
            fields: {
                federalState: {
                    label: "{{ 'dialogs.incomingAlert.fields.federalState.label'|trans|raw }}",
                    help: "{{ 'dialogs.incomingAlert.fields.federalState.help'|trans|raw }}",
                    required: "{{ 'dialogs.incomingAlert.fields.federalState.required'|trans|raw }}",
                },
                department: {
                    label: "{{ 'dialogs.incomingAlert.fields.department.label'|trans|raw }}",
                    help: "{{ 'dialogs.incomingAlert.fields.department.help'|trans|raw }}",
                    required: "{{ 'dialogs.incomingAlert.fields.department.required'|trans|raw }}",
                },
                address: {
                    label: "{{ 'dialogs.incomingAlert.fields.address.label'|trans|raw }}",
                    help: "{{ 'dialogs.incomingAlert.fields.address.help'|trans|raw }}",
                    required: "{{ 'dialogs.incomingAlert.fields.address.required'|trans|raw }}",
                },
                numberControlCenter: {
                    label: "{{ 'dialogs.incomingAlert.fields.numberControlCenter.label'|trans|raw }}",
                    help: "{{ 'dialogs.incomingAlert.fields.numberControlCenter.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.incomingAlert.fields.numberControlCenter.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.incomingAlert.fields.numberControlCenter.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.incomingAlert.fields.numberControlCenter.required'|trans|raw }}",
                },
                keywordShort: {
                    label: "{{ 'dialogs.incomingAlert.fields.keywordShort.label'|trans|raw }}",
                    help: "{{ 'dialogs.incomingAlert.fields.keywordShort.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.incomingAlert.fields.keywordShort.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.incomingAlert.fields.keywordShort.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.incomingAlert.fields.keywordShort.required'|trans|raw }}",
                },
                keywordLong: {
                    label: "{{ 'dialogs.incomingAlert.fields.keywordLong.label'|trans|raw }}",
                    help: "{{ 'dialogs.incomingAlert.fields.keywordLong.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.incomingAlert.fields.keywordLong.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.incomingAlert.fields.keywordLong.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.incomingAlert.fields.keywordLong.required'|trans|raw }}",
                },
                location: {
                    label: "{{ 'dialogs.incomingAlert.fields.location.label'|trans|raw }}",
                    help: "{{ 'dialogs.incomingAlert.fields.location.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.incomingAlert.fields.location.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.incomingAlert.fields.location.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.incomingAlert.fields.location.required'|trans|raw }}",
                },
                otherAddressInformation: {
                    label: "{{ 'dialogs.incomingAlert.fields.otherAddressInformation.label'|trans|raw }}",
                    help: "{{ 'dialogs.incomingAlert.fields.otherAddressInformation.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.incomingAlert.fields.otherAddressInformation.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.incomingAlert.fields.otherAddressInformation.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.incomingAlert.fields.otherAddressInformation.required'|trans|raw }}",
                },
                personPatient: {
                    label: "{{ 'dialogs.incomingAlert.fields.personPatient.label'|trans|raw }}",
                    help: "{{ 'dialogs.incomingAlert.fields.personPatient.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.incomingAlert.fields.personPatient.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.incomingAlert.fields.personPatient.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.incomingAlert.fields.personPatient.required'|trans|raw }}",
                },
                text: {
                    label: "{{ 'dialogs.incomingAlert.fields.text.label'|trans|raw }}",
                    help: "{{ 'dialogs.incomingAlert.fields.text.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.incomingAlert.fields.text.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.incomingAlert.fields.text.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.incomingAlert.fields.text.required'|trans|raw }}",
                },
                incomingDateTime: {
                    label: "{{ 'dialogs.incomingAlert.fields.incomingDateTime.label'|trans|raw }}",
                    help: "{{ 'dialogs.incomingAlert.fields.incomingDateTime.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.incomingAlert.fields.incomingDateTime.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.incomingAlert.fields.incomingDateTime.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.incomingAlert.fields.incomingDateTime.required'|trans|raw }}",
                },
                messageComplete: {
                    label: "{{ 'dialogs.incomingAlert.fields.messageComplete.label'|trans|raw }}",
                    help: "{{ 'dialogs.incomingAlert.fields.messageComplete.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.incomingAlert.fields.messageComplete.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.incomingAlert.fields.messageComplete.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.incomingAlert.fields.messageComplete.required'|trans|raw }}",
                },
                isVisibilityOperationReport: {
                    label: "{{ 'dialogs.incomingAlert.fields.isVisibilityOperationReport.label'|trans|raw }}",
                    help: "{{ 'dialogs.incomingAlert.fields.isVisibilityOperationReport.help'|trans|raw }}",
                    required: "{{ 'dialogs.incomingAlert.fields.isVisibilityOperationReport.required'|trans|raw }}",
                },
                isVisibility: {
                    label: "{{ 'dialogs.incomingAlert.fields.isVisibility.label'|trans|raw }}",
                    help: "{{ 'dialogs.incomingAlert.fields.isVisibility.help'|trans|raw }}",
                    required: "{{ 'dialogs.incomingAlert.fields.isVisibility.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.incomingAlert.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.incomingAlert.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.incomingAlert.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.incomingAlert.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.incomingAlert.fields.comment.required'|trans|raw }}",
                },
            }
        },
        myIncomingAlert: {
            headerTitle: "{{ 'dialogs.myIncomingAlert.headerTitle'|trans|raw }}",
            fields: {
                federalState: {
                    label: "{{ 'dialogs.myIncomingAlert.fields.federalState.label'|trans|raw }}",
                    help: "{{ 'dialogs.myIncomingAlert.fields.federalState.help'|trans|raw }}",
                    required: "{{ 'dialogs.myIncomingAlert.fields.federalState.required'|trans|raw }}",
                },
                department: {
                    label: "{{ 'dialogs.myIncomingAlert.fields.department.label'|trans|raw }}",
                    help: "{{ 'dialogs.myIncomingAlert.fields.department.help'|trans|raw }}",
                    required: "{{ 'dialogs.myIncomingAlert.fields.department.required'|trans|raw }}",
                },
                address: {
                    label: "{{ 'dialogs.myIncomingAlert.fields.address.label'|trans|raw }}",
                    help: "{{ 'dialogs.myIncomingAlert.fields.address.help'|trans|raw }}",
                    required: "{{ 'dialogs.myIncomingAlert.fields.address.required'|trans|raw }}",
                },
                numberControlCenter: {
                    label: "{{ 'dialogs.myIncomingAlert.fields.numberControlCenter.label'|trans|raw }}",
                    help: "{{ 'dialogs.myIncomingAlert.fields.numberControlCenter.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.myIncomingAlert.fields.numberControlCenter.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.myIncomingAlert.fields.numberControlCenter.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.myIncomingAlert.fields.numberControlCenter.required'|trans|raw }}",
                },
                keywordShort: {
                    label: "{{ 'dialogs.myIncomingAlert.fields.keywordShort.label'|trans|raw }}",
                    help: "{{ 'dialogs.myIncomingAlert.fields.keywordShort.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.myIncomingAlert.fields.keywordShort.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.myIncomingAlert.fields.keywordShort.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.myIncomingAlert.fields.keywordShort.required'|trans|raw }}",
                },
                keywordLong: {
                    label: "{{ 'dialogs.myIncomingAlert.fields.keywordLong.label'|trans|raw }}",
                    help: "{{ 'dialogs.myIncomingAlert.fields.keywordLong.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.myIncomingAlert.fields.keywordLong.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.myIncomingAlert.fields.keywordLong.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.myIncomingAlert.fields.keywordLong.required'|trans|raw }}",
                },
                location: {
                    label: "{{ 'dialogs.myIncomingAlert.fields.location.label'|trans|raw }}",
                    help: "{{ 'dialogs.myIncomingAlert.fields.location.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.myIncomingAlert.fields.location.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.myIncomingAlert.fields.location.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.myIncomingAlert.fields.location.required'|trans|raw }}",
                },
                otherAddressInformation: {
                    label: "{{ 'dialogs.myIncomingAlert.fields.otherAddressInformation.label'|trans|raw }}",
                    help: "{{ 'dialogs.myIncomingAlert.fields.otherAddressInformation.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.myIncomingAlert.fields.otherAddressInformation.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.myIncomingAlert.fields.otherAddressInformation.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.myIncomingAlert.fields.otherAddressInformation.required'|trans|raw }}",
                },
                personPatient: {
                    label: "{{ 'dialogs.myIncomingAlert.fields.personPatient.label'|trans|raw }}",
                    help: "{{ 'dialogs.myIncomingAlert.fields.personPatient.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.myIncomingAlert.fields.personPatient.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.myIncomingAlert.fields.personPatient.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.myIncomingAlert.fields.personPatient.required'|trans|raw }}",
                },
                text: {
                    label: "{{ 'dialogs.myIncomingAlert.fields.text.label'|trans|raw }}",
                    help: "{{ 'dialogs.myIncomingAlert.fields.text.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.myIncomingAlert.fields.text.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.myIncomingAlert.fields.text.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.myIncomingAlert.fields.text.required'|trans|raw }}",
                },
                incomingDateTime: {
                    label: "{{ 'dialogs.myIncomingAlert.fields.incomingDateTime.label'|trans|raw }}",
                    help: "{{ 'dialogs.myIncomingAlert.fields.incomingDateTime.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.myIncomingAlert.fields.incomingDateTime.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.myIncomingAlert.fields.incomingDateTime.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.myIncomingAlert.fields.incomingDateTime.required'|trans|raw }}",
                },
                messageComplete: {
                    label: "{{ 'dialogs.myIncomingAlert.fields.messageComplete.label'|trans|raw }}",
                    help: "{{ 'dialogs.myIncomingAlert.fields.messageComplete.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.myIncomingAlert.fields.messageComplete.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.myIncomingAlert.fields.messageComplete.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.myIncomingAlert.fields.messageComplete.required'|trans|raw }}",
                },
                isVisibilityOperationReport: {
                    label: "{{ 'dialogs.myIncomingAlert.fields.isVisibilityOperationReport.label'|trans|raw }}",
                    help: "{{ 'dialogs.myIncomingAlert.fields.isVisibilityOperationReport.help'|trans|raw }}",
                    required: "{{ 'dialogs.myIncomingAlert.fields.isVisibilityOperationReport.required'|trans|raw }}",
                },
                isVisibility: {
                    label: "{{ 'dialogs.myIncomingAlert.fields.isVisibility.label'|trans|raw }}",
                    help: "{{ 'dialogs.myIncomingAlert.fields.isVisibility.help'|trans|raw }}",
                    required: "{{ 'dialogs.myIncomingAlert.fields.isVisibility.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.myIncomingAlert.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.myIncomingAlert.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.myIncomingAlert.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.myIncomingAlert.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.myIncomingAlert.fields.comment.required'|trans|raw }}",
                },
            }
        },
        operationReport: {
            headerTitle: "{{ 'dialogs.operationReport.headerTitle'|trans|raw }}",
            fields: {
                comment: {
                    label: "{{ 'dialogs.operationReport.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationReport.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationReport.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.comment.required'|trans|raw }}",
                },
                messageComplete: {
                    label: "{{ 'dialogs.operationReport.fields.messageComplete.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.messageComplete.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationReport.fields.messageComplete.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationReport.fields.messageComplete.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.messageComplete.required'|trans|raw }}",
                },
                text: {
                    label: "{{ 'dialogs.operationReport.fields.text.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.text.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationReport.fields.text.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationReport.fields.text.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.text.required'|trans|raw }}",
                },
                numberControlCenter: {
                    label: "{{ 'dialogs.operationReport.fields.numberControlCenter.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.numberControlCenter.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationReport.fields.numberControlCenter.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationReport.fields.numberControlCenter.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.numberControlCenter.required'|trans|raw }}",
                },
                keywordShort: {
                    label: "{{ 'dialogs.operationReport.fields.keywordShort.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.keywordShort.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationReport.fields.keywordShort.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationReport.fields.keywordShort.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.keywordShort.required'|trans|raw }}",
                },
                keywordLong: {
                    label: "{{ 'dialogs.operationReport.fields.keywordLong.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.keywordLong.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationReport.fields.keywordLong.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationReport.fields.keywordLong.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.keywordLong.required'|trans|raw }}",
                },
                location: {
                    label: "{{ 'dialogs.operationReport.fields.location.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.location.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationReport.fields.location.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationReport.fields.location.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.location.required'|trans|raw }}",
                },
                postalCode: {
                    label: "{{ 'dialogs.operationReport.fields.postalCode.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.postalCode.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationReport.fields.postalCode.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationReport.fields.postalCode.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.postalCode.required'|trans|raw }}",
                },
                place: {
                    label: "{{ 'dialogs.operationReport.fields.place.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.place.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationReport.fields.place.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationReport.fields.place.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.place.required'|trans|raw }}",
                },
                streetWithNumber: {
                    label: "{{ 'dialogs.operationReport.fields.streetWithNumber.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.streetWithNumber.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationReport.fields.streetWithNumber.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationReport.fields.streetWithNumber.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.streetWithNumber.required'|trans|raw }}",
                },
                otherAddressInformation: {
                    label: "{{ 'dialogs.operationReport.fields.otherAddressInformation.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.otherAddressInformation.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationReport.fields.otherAddressInformation.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationReport.fields.otherAddressInformation.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.otherAddressInformation.required'|trans|raw }}",
                },
                personPatient: {
                    label: "{{ 'dialogs.operationReport.fields.personPatient.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.personPatient.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationReport.fields.personPatient.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationReport.fields.personPatient.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.personPatient.required'|trans|raw }}",
                },
                textCustom: {
                    label: "{{ 'dialogs.operationReport.fields.textCustom.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.textCustom.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationReport.fields.textCustom.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationReport.fields.textCustom.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.textCustom.required'|trans|raw }}",
                },
                incomingDateTime: {
                    label: "{{ 'dialogs.operationReport.fields.incomingDateTime.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.incomingDateTime.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationReport.fields.incomingDateTime.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationReport.fields.incomingDateTime.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.incomingDateTime.required'|trans|raw }}",
                },
                startetAt: {
                    label: "{{ 'dialogs.operationReport.fields.startetAt.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.startetAt.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationReport.fields.startetAt.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationReport.fields.startetAt.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.startetAt.required'|trans|raw }}",
                },
                endetAt: {
                    label: "{{ 'dialogs.operationReport.fields.endetAt.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.endetAt.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationReport.fields.endetAt.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationReport.fields.endetAt.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.endetAt.required'|trans|raw }}",
                },
                numberFireDepartment: {
                    label: "{{ 'dialogs.operationReport.fields.numberFireDepartment.label'|trans|raw }}",
                    tooltip: "{{ 'dialogs.operationReport.fields.numberFireDepartment.tooltip'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.numberFireDepartment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationReport.fields.numberFireDepartment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationReport.fields.numberFireDepartment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.numberFireDepartment.required'|trans|raw }}",
                },
                numberPolice: {
                    label: "{{ 'dialogs.operationReport.fields.numberPolice.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.numberPolice.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.operationReport.fields.numberPolice.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.operationReport.fields.numberPolice.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.numberPolice.required'|trans|raw }}",
                },
                operationType: {
                    label: "{{ 'dialogs.operationReport.fields.operationType.label'|trans|raw }}",
                    help: "{{ 'dialogs.operationReport.fields.operationType.help'|trans|raw }}",
                    required: "{{ 'dialogs.operationReport.fields.operationType.required'|trans|raw }}",
                },
            }
        },
        feedback: {
            headerTitle: "{{ 'dialogs.feedback.headerTitle'|trans|raw }}",
            fields: {
                title: {
                    label: "{{ 'dialogs.feedback.fields.title.label'|trans|raw }}",
                    help: "{{ 'dialogs.feedback.fields.title.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.feedback.fields.title.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.feedback.fields.title.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.feedback.fields.title.required'|trans|raw }}",
                },
                message: {
                    label: "{{ 'dialogs.feedback.fields.message.label'|trans|raw }}",
                    help: "{{ 'dialogs.feedback.fields.message.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.feedback.fields.message.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.feedback.fields.message.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.feedback.fields.message.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.feedback.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.feedback.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.feedback.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.feedback.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.feedback.fields.comment.required'|trans|raw }}",
                },
            }
        },

    };
</script>