<script>
    const __GENERALS__ = {
        siteTitle: "{{ 'generals.siteTitle'|trans|raw }}",
        siteTitleShort: "{{ 'generals.siteTitleShort'|trans|raw }}",
        siteTitleNewItem: "{{ 'generals.siteTitleNewItem'|trans|raw }}",
        siteTitleEditItem: "{{ 'generals.siteTitleEditItem'|trans|raw }}",
        siteTitleDeleteItem: "{{ 'generals.siteTitleDeleteItem'|trans|raw }}",
        requiredFieldText: "{{ 'generals.requiredFieldText'|trans|raw }}",
        numberOfCharacters: "{{ 'generals.numberOfCharacters'|trans|raw }}",
        buttonShowCreatedPdf: "{{ 'generals.buttonShowCreatedPdf'|trans|raw }}",
        buttonCreatePdf: "{{ 'generals.buttonCreatePdf'|trans|raw }}",
        buttonRecreatePdf: "{{ 'generals.buttonRecreatePdf'|trans|raw }}",
        buttonDownloadPdf: "{{ 'generals.buttonDownloadPdf'|trans|raw }}",
    }
</script>