<script>
    const __MENUS__ = {
        mainMenu: {
            label: "{{ 'menus.mainMenu.label'|trans|raw }}",
            backButtonTitle: "{{ 'menus.mainMenu.backButtonTitle'|trans|raw }}",
            dashboard: {
                label: "{{ 'menus.mainMenu.dashboard.label'|trans|raw }}",
                children: "{{ 'menus.mainMenu.dashboard.children'|trans|raw }}",
            },
            operationArea: {
                label: "{{ 'menus.mainMenu.operationArea.label'|trans|raw }}",
                children: {
                    allIncomingAlerts: {
                        label: "{{ 'menus.mainMenu.operationArea.children.allIncomingAlerts.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.operationArea.children.allIncomingAlerts.icon'|trans|raw }}",
                        children: {
                            label: "{{ 'menus.mainMenu.operationArea.children.allIncomingAlerts.children.label'|trans|raw }}",
                        }
                    },
                    myIncomingAlerts: {
                        label: "{{ 'menus.mainMenu.operationArea.children.myIncomingAlerts.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.operationArea.children.myIncomingAlerts.icon'|trans|raw }}",
                        children: {
                            label: "{{ 'menus.mainMenu.operationArea.children.myIncomingAlerts.children.label'|trans|raw }}",
                        }
                    },
                    operationReports: {
                        label: "{{ 'menus.mainMenu.operationArea.children.operationReports.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.operationArea.children.operationReports.icon'|trans|raw }}",
                        children: {
                            label: "{{ 'menus.mainMenu.operationArea.children.operationReports.children.label'|trans|raw }}",
                            headlines: {
                                one: "{{ 'menus.mainMenu.operationArea.children.operationReports.children.headlines.one'|trans|raw }}",
                                two: "{{ 'menus.mainMenu.operationArea.children.operationReports.children.headlines.two'|trans|raw }}",
                                three: "{{ 'menus.mainMenu.operationArea.children.operationReports.children.headlines.three'|trans|raw }}",
                                four: "{{ 'menus.mainMenu.operationArea.children.operationReports.children.headlines.four'|trans|raw }}",
                                five: "{{ 'menus.mainMenu.operationArea.children.operationReports.children.headlines.five'|trans|raw }}",
                                six: "{{ 'menus.mainMenu.operationArea.children.operationReports.children.headlines.six'|trans|raw }}"
                            }
                        }
                    }
                }
            },
            managementArea: {
                label: "{{ 'menus.mainMenu.managementArea.label'|trans|raw }}",
                children: {
                    members: {
                        label: "{{ 'menus.mainMenu.managementArea.children.members.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.managementArea.children.members.icon'|trans|raw }}",
                        children: {
                            label: "{{ 'menus.mainMenu.managementArea.children.members.children.label'|trans|raw }}",
                        }
                    },
                    alertAddresses: {
                        label: "{{ 'menus.mainMenu.managementArea.children.alertAddresses.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.managementArea.children.alertAddresses.icon'|trans|raw }}",
                        children: {
                            label: "{{ 'menus.mainMenu.managementArea.children.alertAddresses.children.label'|trans|raw }}",
                        }
                    },
                    toolCategories: {
                        label: "{{ 'menus.mainMenu.managementArea.children.toolCategories.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.managementArea.children.toolCategories.icon'|trans|raw }}",
                        children: {
                            label: "{{ 'menus.mainMenu.managementArea.children.toolCategories.children.label'|trans|raw }}",
                        }
                    },
                    tools: {
                        label: "{{ 'menus.mainMenu.managementArea.children.tools.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.managementArea.children.tools.icon'|trans|raw }}",
                        children: {
                            label: "{{ 'menus.mainMenu.managementArea.children.tools.children.label'|trans|raw }}",
                        }
                    },
                    users: {
                        label: "{{ 'menus.mainMenu.managementArea.children.users.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.managementArea.children.users.icon'|trans|raw }}",
                        children: {
                            label: "{{ 'menus.mainMenu.managementArea.children.users.children.label'|trans|raw }}",
                        }
                    },
                    vehicles: {
                        label: "{{ 'menus.mainMenu.managementArea.children.vehicles.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.managementArea.children.vehicles.icon'|trans|raw }}",
                        children: {
                            label: "{{ 'menus.mainMenu.managementArea.children.vehicles.children.label'|trans|raw }}",
                        }
                    },
                    generals: {
                        label: "{{ 'menus.mainMenu.managementArea.children.generals.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.managementArea.children.generals.icon'|trans|raw }}",
                    }
                }
            },
            referenceArea: {
                label: "{{ 'menus.mainMenu.referenceArea.label'|trans|raw }}",
                children: {
                    departments: {
                        label: "{{ 'menus.mainMenu.referenceArea.children.departments.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.referenceArea.children.departments.icon'|trans|raw }}",
                        children: {
                            label: "{{ 'menus.mainMenu.referenceArea.children.departments.children.label'|trans|raw }}",
                        }
                    },
                    memberFunctions: {
                        label: "{{ 'menus.mainMenu.referenceArea.children.memberFunctions.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.referenceArea.children.memberFunctions.icon'|trans|raw }}",
                        children: {
                            label: "{{ 'menus.mainMenu.referenceArea.children.memberFunctions.children.label'|trans|raw }}",
                        }
                    },
                    operationTypeCategories: {
                        label: "{{ 'menus.mainMenu.referenceArea.children.operationTypeCategories.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.referenceArea.children.operationTypeCategories.icon'|trans|raw }}",
                        children: {
                            label: "{{ 'menus.mainMenu.referenceArea.children.operationTypeCategories.children.label'|trans|raw }}",
                        }
                    },
                    operationTypes: {
                        label: "{{ 'menus.mainMenu.referenceArea.children.operationTypes.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.referenceArea.children.operationTypes.icon'|trans|raw }}",
                        children: {
                            label: "{{ 'menus.mainMenu.referenceArea.children.operationTypes.children.label'|trans|raw }}",
                        }
                    },
                }
            },
            provisioningArea: {
                label: "{{ 'menus.mainMenu.provisioningArea.label'|trans|raw }}",
                children: {
                    federalstates: {
                        label: "{{ 'menus.mainMenu.provisioningArea.children.federalstates.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.provisioningArea.children.federalstates.icon'|trans|raw }}",
                        children: {
                            label: "{{ 'menus.mainMenu.provisioningArea.children.federalstates.children.label'|trans|raw }}",
                        }
                    },
                    userRoles: {
                        label: "{{ 'menus.mainMenu.provisioningArea.children.userRoles.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.provisioningArea.children.userRoles.icon'|trans|raw }}",
                        children: {
                            label: "{{ 'menus.mainMenu.provisioningArea.children.userRoles.children.label'|trans|raw }}",
                        }
                    },
                    versions: {
                        label: "{{ 'menus.mainMenu.provisioningArea.children.versions.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.provisioningArea.children.versions.icon'|trans|raw }}",
                        children: {
                            label: "{{ 'menus.mainMenu.provisioningArea.children.versions.children.label'|trans|raw }}",
                        }
                    },
                }
            },
            evaluationArea: {
                label: "{{ 'menus.mainMenu.evaluationArea.label'|trans|raw }}",
                children: {
                    myIncomingAlerts: {
                        label: "{{ 'menus.mainMenu.evaluationArea.children.myIncomingAlerts.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.evaluationArea.children.myIncomingAlerts.icon'|trans|raw }}",
                    },
                    operationReports: {
                        label: "{{ 'menus.mainMenu.evaluationArea.children.operationReports.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.evaluationArea.children.operationReports.icon'|trans|raw }}",
                    },
                    feedbacks: {
                        label: "{{ 'menus.mainMenu.evaluationArea.children.feedbacks.label'|trans|raw }}",
                        icon: "{{ 'menus.mainMenu.evaluationArea.children.feedbacks.icon'|trans|raw }}",
                        children: {
                            label: "{{ 'menus.mainMenu.evaluationArea.children.feedbacks.children.label'|trans|raw }}",
                        }
                    },
                }
            }
        },
        // Symbole des Rechts im Header liegen
        toolbar: {
            // Hilfe
            helpArea: {
                label: {{ 'menus.toolbar.helpArea.label'|trans|json_encode|raw }},
                icon: {{ 'menus.toolbar.helpArea.icon'|trans|json_encode|raw }},
                tooltip: {{ 'menus.toolbar.helpArea.tooltip'|trans|json_encode|raw }},
                children: {{ 'menus.toolbar.helpArea.children'|trans|json_encode|raw }}
            },
            // Nutzermenü
            userArea: {
                label: {{ 'menus.toolbar.userArea.label'|trans|json_encode|raw }},
                icon: {{ 'menus.toolbar.userArea.icon'|trans|json_encode|raw }},
                tooltip: {{ 'menus.toolbar.userArea.tooltip'|trans|json_encode|raw }},
                children: {
                    settings: {
                        label: {{ 'menus.toolbar.userArea.children.settings.label'|trans|json_encode|raw }},
                        icon: {{ 'menus.toolbar.userArea.children.settings.icon'|trans|json_encode|raw }},
                        children: {{ 'menus.toolbar.userArea.children.settings.children'|trans|json_encode|raw }}
                    },
                    changePassword: {
                        label: {{ 'menus.toolbar.userArea.children.changePassword.label'|trans|json_encode|raw }},
                        icon: {{ 'menus.toolbar.userArea.children.changePassword.icon'|trans|json_encode|raw }},
                        children: {{ 'menus.toolbar.userArea.children.changePassword.children'|trans|json_encode|raw }}
                    },
                    logout: {
                        label: {{ 'menus.toolbar.userArea.children.logout.label'|trans|json_encode|raw }},
                        icon: {{ 'menus.toolbar.userArea.children.logout.icon'|trans|json_encode|raw }},
                        children: {{ 'menus.toolbar.userArea.children.logout.children'|trans|json_encode|raw }}
                    }
                }
            }
        },
        // Authentifizierung
        authentication: {
            login: {
                label: {{ 'menus.authentication.login.label'|trans|json_encode|raw }},
                children: {{ 'menus.authentication.login.children'|trans|json_encode|raw }}
            },
            logout: {
                label: {{ 'menus.authentication.logout.label'|trans|json_encode|raw }},
                children: {{ 'menus.authentication.logout.children'|trans|json_encode|raw }}
            },
            noRights: {
                label: {{ 'menus.authentication.noRights.label'|trans|json_encode|raw }},
                children: {{ 'menus.authentication.noRights.children'|trans|json_encode|raw }}
            }
        },
        // Registrierung
        registerArea: {
            label: "{{ 'menus.registerArea.label'|trans|raw }}",
            children: {
                personalInformation: {
                    label: {{ 'menus.registerArea.children.personalInformation.label'|trans|json_encode|raw }},
                    icon: {{ 'menus.registerArea.children.personalInformation.icon'|trans|json_encode|raw }},
                },
                officeInformation: {
                    label: {{ 'menus.registerArea.children.officeInformation.label'|trans|json_encode|raw }},
                    icon: {{ 'menus.registerArea.children.officeInformation.icon'|trans|json_encode|raw }},
                },
                overviewInformation: {
                    label: {{ 'menus.registerArea.children.overviewInformation.label'|trans|json_encode|raw }},
                    icon: {{ 'menus.registerArea.children.overviewInformation.icon'|trans|json_encode|raw }},
                },
            }
        }
    };
</script>