<script>
    const __SECURITY__ = {
        'The presented password is invalid.': "{{ 'security.The presented password is invalid.'|trans|raw }}",
        'Bad credentials.': "{{ 'security.Bad credentials.'|trans|raw }}",
        noUserFound: "{{ 'security.noUserFound'|trans|raw }}"
    }
</script>