<template>
  <div class="grid m-2">
    <div class="col-12">
      <default-table
          :columns="tableColumns" :data-for-table="dataForTable" :data-total-count="dataTotalCount"
          :enabled-buttons="enabledButtons" :filters="tableFilters"
          :global-filter-fields="globalFilterFields" :header-text="headerText"
          :loading="isLoading"
          :state-key="stateKey"
          :multi-sort-meta="multiSortMeta"
          :view-selected-columns="true"
          :label-from-button-add="menus.mainMenu.evaluationArea.children.feedbacks.children.label"
          @item-add="actionOnButton('new')"
          @item-edit="actionOnButton('edit', $event.id)"
          @item-delete="actionOnButton('delete', $event.id)"
          @fetch-data="fetch($event)"/>
    </div>
  </div>
</template>
<script setup>
// Variable die auf mit von der Component erwartet werden
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import DefaultTable from "@/components/DefaultTable.vue";
import {FilterMatchMode} from "primevue/api";
import {getCurrentInstance, onBeforeMount, ref} from "vue";
import {addedFullAdminColumns, checkUserRight} from "@/utils";
import router from "@/router";
import {useFeedbackStore} from "@/stores/EvaluationArea/feedback";
import {useDefaultRightRoleStore} from "@/stores/defaultRightRole";
import {evaluationAreaNames} from "@/router/default";

const props = defineProps({
  loggedUser: {
    type: Object,
    required: true
  }
});

// Name im Browser Store
const stateKey = `${getCurrentInstance().type.__name}`

// Events die abgefeuert werden
const emit = defineEmits(['addToast'])

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {dataTables, menus} = storeToRefs(storeTranslation);

// Store - Berechtigung
const storeDefaultRightRole = useDefaultRightRoleStore();
const {right} = storeDefaultRightRole;

// Store - Feedback
const store = useFeedbackStore();
const {dataTotalCount, dataForTable, isLoading} = storeToRefs(store);

// Filter für die Tabelle
const globalFilterFields = ['fS.description', 'd.description', 'title', 'message', 'comment'];
const tableFilters = {
  'global': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'id': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'fS.description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'd.description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'title': {value: null, matchMode: FilterMatchMode.EQUALS},
  'message': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'comment': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'createdAt': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'createdFrom': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'updatedAt': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'updatedFrom': {value: null, matchMode: FilterMatchMode.CONTAINS}
};

// Abschalten der Knöpfe Aktionen, je nach Berechtigung
const enabledButtons = ref({
  add: checkUserRight(props.loggedUser.roles, right.feedbacks.new),
  edit: checkUserRight(props.loggedUser.roles, right.feedbacks.edit),
  delete: checkUserRight(props.loggedUser.roles, right.feedbacks.delete)
});

// Überschrift
const headerText = ref(dataTables.value.feedbacks.headline);

// Spalten für die Tabelle
const tableColumns = ref([]);
const tableColumnsDefault = ref([
  {
    field: 'id',
    sorting: 0,
    header: dataTables.value.feedbacks.columns.id,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'title',
    sorting: 4,
    header: dataTables.value.feedbacks.columns.title,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'message',
    sorting: 5,
    header: dataTables.value.feedbacks.columns.message,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'comment',
    sorting: 6,
    header: dataTables.value.feedbacks.columns.comment,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'createdAt',
    sorting: 7,
    header: dataTables.value.feedbacks.columns.createdAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'createdFrom',
    sorting: 8,
    header: dataTables.value.feedbacks.columns.createdFrom,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'updatedAt',
    sorting: 9,
    header: dataTables.value.feedbacks.columns.updatedAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'updatedFrom',
    sorting: 10,
    header: dataTables.value.feedbacks.columns.updatedFrom,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  }
]);
const tableColumnsFullAdmin = ref([
  {
    field: 'fS.description',
    sorting: 1,
    mainField: 'federalState',
    hasSubfield: true,
    header: dataTables.value.feedbacks.columns.federalState,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'd.description',
    sorting: 2,
    mainField: 'department',
    hasSubfield: true,
    header: dataTables.value.feedbacks.columns.department,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  }
]);

// Spalten für die Sortierung
const multiSortMeta = ref([{field: 'fS.description', order: 1}, {
  field: 'd.description',
  order: 1
}]);

// Abrufen der Daten
const fetch = async (param) => {
  await store.loadDataForTable(param);
}

// Aktionen beim Klick auf Add, Edit und Delete
const actionOnButton = (type, id = null) => {
  if (type && type === 'new') {
    router.push({name: `${evaluationAreaNames.feedbackNew}`})
  } else if (type && id && type === 'edit') {
    router.push({name: `${evaluationAreaNames.feedbackEdit}`, params: {'id': id}})
  } else if (type && id && type === 'delete') {
    router.push({name: `${evaluationAreaNames.feedbackDelete}`, params: {'id': id}})
  }
};

onBeforeMount(() => {
  // Prüfen der Rechte und zusammenfügen der Felder
  tableColumns.value = addedFullAdminColumns(tableColumnsDefault.value, tableColumnsFullAdmin.value);
});
</script>