<template>
  <div class="grid grid-nogutter m-4">
    <template v-for="year in years">
      <div class="col-4 md:col-6 sm:col-12">
        <chart-pro-year :data="evaluationIncomingAlerts[year]" v-if="evaluationIncomingAlerts[year]"/>
      </div>
    </template>
  </div>
</template>
<script setup>
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import {onBeforeMount, onMounted, ref} from "vue";
import {useIncomingAlertStore} from "@/stores/OperationArea/incomingAlert";
import ChartProYear from "@/components/ChartProYear.vue";
// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  loggedUser: {
    type: Object,
    required: true
  }
});

// Events die abgefeuert werden
const emit = defineEmits(['addToast'])

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components, generals, sites} = storeToRefs(storeTranslation);

// Store - Alarmierungen
const store = useIncomingAlertStore();
const {
  evaluationIncomingAlerts,
  isLoading
} = storeToRefs(store);

const firstYear = 2018;
const lastYear = ref(new Date().getFullYear());
const years = ref([]);

// Erstellung der Jahre, sowie Abrufen der Daten
const generateData = async () => {
  for (; lastYear.value >= firstYear; lastYear.value--) {
    await store.loadDataEvaluation(await lastYear.value);
    years.value.push(await lastYear.value);
  }
};

onBeforeMount(async () => {
  await generateData();
});
</script>