<template>
  <div class="grid m-2">
    <div class="col-12">
      <default-table
          :columns="tableColumns" :data-for-table="dataForTable" :data-total-count="dataTotalCount"
          :enabled-buttons="enabledButtons" :filters="tableFilters" :column-action="false"
          :global-filter-fields="globalFilterFields" :header-text="headerText"
          :loading="isLoading"
          :state-key="stateKey"
          :multi-sort-meta="multiSortMeta"
          :view-selected-columns="true"
          @fetch-data="fetch($event)"
          label-from-button-add=""/>
    </div>
  </div>
</template>
<script setup>
// Variable die auf mit von der Component erwartet werden
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import DefaultTable from "@/components/DefaultTable.vue";
import {useOperationReportStore} from "@/stores/OperationArea/operationReport";
import {FilterMatchMode} from "primevue/api";
import {getCurrentInstance, onBeforeMount, ref} from "vue";
import {addedFullAdminColumns} from "@/utils";
import {useDataTableStore} from "@/stores/dataTable";
import router from "@/router";

const props = defineProps({
  loggedUser: {
    type: Object,
    required: true
  }
});

// Name im Browser Store
const stateKey = `${getCurrentInstance().type.__name}Evaluation`

// Events die abgefeuert werden
const emit = defineEmits(['addToast'])

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components, dataTables, generals, sites} = storeToRefs(storeTranslation);

// Store - Einsatzberichte
const store = useOperationReportStore();
const {dataForTable, dataTotalCount, dataFilterCount, isLoading} = storeToRefs(store);

// Store - Einstellungen des Data Tables
const storeDataTable = useDataTableStore();
const {lastLazyParams} = storeToRefs(storeDataTable);

// Filter für die Tabelle
const globalFilterFields = ['fS.description', 'd.description', 'oT.description', 'aA.description',
  'oRD.numberControlCenter', 'oRD.keywordShort', 'oRD.keywordLong',
  'oRD.postalCode', 'oRD.place', 'oRD.streetWithNumber', 'oRD.location',
  'oRD.otherAddressInformation', 'oRD.personPatient', 'oRD.numberFireDepartment', 'oRD.numberPolice',
  'incomingDateTime', 'oRD.messageComplete', 'ownForces', 'otherTaskForces', 'tools', 'commentPrint', 'comment',
];
const tableFilters = {
  'global': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'id': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'fS.description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'd.description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'isVisibility': {value: null, matchMode: FilterMatchMode.EQUALS},
  'oT.description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'aA.description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'iA.incomingDateTime': {value: `${new Date().getFullYear()}-01-01`, matchMode: FilterMatchMode.DATE_AFTER},
  // 'iA.incomingDateTime': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.startetAt': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.endetAt': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.numberControlCenter': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.keywordShort': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.keywordLong': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.postalCode': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.place': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.streetWithNumber': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.location': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.otherAddressInformation': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.personPatient': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.numberFireDepartment': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.numberPolice': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'incomingDateTime': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'oRD.messageComplete': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'ownForces': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'otherTaskForces': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'tools': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'commentPrint': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'comment': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'createdAt': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'createdFrom': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'updatedAt': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'updatedFrom': {value: null, matchMode: FilterMatchMode.CONTAINS}
};

// Abschalten der Knöpfe Aktionen, je nach Berechtigung
const enabledButtons = ref({
  reloadData: false,
  add: false,
  edit: false,
  delete: false,
  showNoButtons: true,
  selectYear: false
});

// Überschrift
const headerText = ref(dataTables.value.evaluationOperationReports.headline);

// Spalten für die Tabelle
const tableColumns = ref([]);
const tableColumnsDefault = ref([
  {
    field: 'id',
    sorting: 0,
    header: dataTables.value.evaluationOperationReports.columns.id,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'iA.incomingDateTime',
    sorting: 4,
    mainField: 'incomingAlert',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.incomingDateTime,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'iA.incomingDateTime',
    sorting: 5,
    mainField: 'incomingAlert',
    fieldTwo: 'createdAt',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.incomingDateTimeCreatedAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'dateTime',
    dataType: 'date',
    usedFunction: 'showIncomingDateTimeCreatedAt'
  },
  {
    field: 'createdAt',
    sorting: 6,
    header: dataTables.value.evaluationOperationReports.columns.createdAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'oT.description',
    sorting: 7,
    mainField: 'operationReportDetail',
    subField: 'operationType',
    hasSubfield: true,
    hasSubfieldTwo: true,
    header: dataTables.value.evaluationOperationReports.columns.operationType,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.numberControlCenter',
    sorting: 8,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.numberControlCenter,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.numberFireDepartment',
    sorting: 9,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.numberFireDepartment,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.keywordShort',
    sorting: 10,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.keywordShort,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'ownForces',
    sorting: 11,
    header: dataTables.value.evaluationOperationReports.columns.ownForces,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text',
    usedFunction: 'showOwnForcesEvaluation'
  },
  {
    field: 'oRD.startetAt',
    sorting: 12,
    fieldTwo: 'oRD.endetAt',
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.operatingTime,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text',
    usedFunction: 'showCalcOperatingTime'
  },
  {
    field: 'oRD.startetAt',
    sorting: 13,
    fieldTwo: 'oRD.endetAt',
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.operatingTimeTotal,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text',
    usedFunction: 'showCalcOperatingTimeTotal'
  },
  {
    field: 'oRD.startetAt',
    sorting: 14,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.startetAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'oRD.endetAt',
    sorting: 15,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.endetAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'oRD.keywordLong',
    sorting: 16,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.keywordLong,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.postalCode',
    sorting: 17,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.postalCode,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.place',
    sorting: 18,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.place,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.streetWithNumber',
    sorting: 19,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.streetWithNumber,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.location',
    sorting: 20,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.location,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.otherAddressInformation',
    sorting: 21,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.otherAddressInformation,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.personPatient',
    sorting: 22,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.personPatient,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.numberPolice',
    sorting: 23,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.numberPolice,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.messageComplete',
    sorting: 24,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.messageComplete,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'otherTaskForces',
    sorting: 25,
    header: dataTables.value.evaluationOperationReports.columns.otherTaskForces,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'tools',
    sorting: 26,
    header: dataTables.value.evaluationOperationReports.columns.tools,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'commentPrint',
    sorting: 27,
    header: dataTables.value.evaluationOperationReports.columns.commentPrint,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'comment',
    sorting: 28,
    header: dataTables.value.evaluationOperationReports.columns.comment,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'createdAt',
    sorting: 29,
    header: dataTables.value.evaluationOperationReports.columns.createdAtTwo,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'createdFrom',
    sorting: 30,
    header: dataTables.value.evaluationOperationReports.columns.createdFrom,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'updatedAt',
    sorting: 31,
    header: dataTables.value.evaluationOperationReports.columns.updatedAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'updatedFrom',
    sorting: 32,
    header: dataTables.value.evaluationOperationReports.columns.updatedFrom,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  }
]);
const tableColumnsFullAdmin = ref([
  {
    field: 'fS.description',
    sorting: 1,
    mainField: 'federalState',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.federalState,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'd.description',
    sorting: 2,
    mainField: 'department',
    hasSubfield: true,
    header: dataTables.value.evaluationOperationReports.columns.department,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'isVisibility',
    sorting: 3,
    header: dataTables.value.evaluationOperationReports.columns.isVisibility,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'boolean',
    dataType: 'boolean'
  }
]);

// Spalten für die Sortierung
const multiSortMeta = ref([{field: 'fS.description', order: 1}, {
  field: 'd.description',
  order: 1
}, {field: 'oRD.numberFireDepartment', order: -1}]);

// Abrufen der Daten
const fetch = async (param) => {
  await store.loadDataForTableEvaluation(param);
}

onBeforeMount(() => {
  // Prüfen der Rechte und zusammenfügen der Felder
  tableColumns.value = addedFullAdminColumns(tableColumnsDefault.value, tableColumnsFullAdmin.value)
});
</script>