<template>
  <!-- Header -->
  <main-header-login/>

  <!-- Login Formular -->
  <div class="grid grid-nogutter mt-5">
    <div class="col-offset-2 col-8 shadow-5 bg-white border-primary	border-solid border-round-lg">
      <div class="grid">
        <div class="col-offset-1 col-10">
          <!-- Überschrift -->
          <div class="text-center underline">
            <h2>{{ sites.login.headline }}</h2>
          </div>
          <!-- Formular -->
          <div class="flex justify-content-center p-fluid">
            <div class="card min-w-full pl-5 pr-5">
              <!-- E-Mail - Benutzername -->
              <div class="field pt-3">
                <span class="p-float-label">
                    <InputText id="email" v-model="item._email" :autofocus="true"
                               :maxlength="sites.login.fields.mailAddress.maxlength"
                               :minlength="sites.login.fields.mailAddress.minlength"
                               :required="Boolean(sites.login.fields.mailAddress.required)"
                               aria-describedby="email-help" class="min-w-full"
                               type="email"
                               @keyup.enter="authenticationAction()"/>
                        <label for="email">
                            <required-star v-if="sites.login.fields.mailAddress.required"/>{{
                            sites.login.fields.mailAddress.label
                          }}
                        </label>
                </span>
                <div class="flex justify-content-between flex-wrap m-2">
                  <small class="font-light font-italic">{{ generals.numberOfCharacters }} {{
                      item._email.length
                    }}/{{ sites.login.fields.mailAddress.maxlength }}</small>
                  <small id="email-help">{{ sites.login.fields.mailAddress.help }}</small>
                </div>
              </div>
              <!-- Kennwort -->
              <div class="field pt-3">
                <span class="p-float-label">
                    <Password id="password" v-model="item._password" :autofocus="false" :feedback="false"
                              :maxlength="sites.login.fields.password.maxlength"
                              :minlength="sites.login.fields.password.minlength"
                              :required="Boolean(sites.login.fields.password.required)"
                              aria-describedby="password-help" class="min-w-full" toggleMask
                              @keyup.enter="authenticationAction()"/>
                        <label for="password">
                             <required-star
                                 v-if="sites.login.fields.password.required"/>{{ sites.login.fields.password.label }}
                        </label>
                </span>
                <div class="flex justify-content-between flex-wrap m-2">
                  <small class="font-light font-italic">Zeichen: {{
                      item._password.length
                    }}/{{ sites.login.fields.password.maxlength }}</small>
                  <small id="password-help">{{ sites.login.fields.password.help }}</small>
                </div>
              </div>
              <!-- Text Erforderliches Felder -->
              <div class="col-12">
                <required-text/>
              </div>
              <!-- Anmeldeknopf -->
              <div class="field text-center">
                <Button :disabled="buttonLoginDisabled" :label="sites.login.buttons.login.label"
                        :loading="buttonLoginLoading"
                        class="mt-2 max-w-max" icon="pi pi-user" type="submit" @click="authenticationAction()"/>
              </div>
              <!-- Meldungen -->
              <div v-if="messages" class="field text-center">
                <Message :severity="severity">{{ messages }}</Message>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import {useTranslationStore} from "@/stores/translation";
import {ref, watch} from "vue";
import axios from "axios";
import RequiredStar from "@/components/RequiredStar.vue";
import {useApiStore} from "@/stores/api";
import {storeToRefs} from "pinia";
import RequiredText from "@/components/RequiredText.vue";
import MainHeaderLogin from "@/components/MainHeaderLogin.vue";
import {mainMenuRoutes} from "@/router/default";

// Events die abgefeuert werden
const emit = defineEmits(['addToast'])

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {generals, security, sites} = storeToRefs(storeTranslation)

// Store - API-Routen
const storeApiRoutes = useApiStore();
const {login} = storeToRefs(storeApiRoutes)

// Item - Anmeldedaten
const item = ref({
  _email: '',
  _password: ''
});

// Anmeldeknopf - Status
const buttonLoginDisabled = ref(true);
const buttonLoginLoading = ref(false);

// Response Meldungen
const messages = ref('');
// Farbe der Meldung
const severity = ref('');
// Knopf neuer Nutzer
const showButtonRegister = ref(false);

/**
 * Durchführen des Anmeldeprozesses
 *
 * @returns {Promise<void>}
 */
const authenticationAction = async () => {
  if (item.value._email && item.value._password) {
    buttonLoginLoading.value = true;

    // await axios.post(apiUrl.login, new FormData(item.value))
    await axios.post('/login-check', item.value, {
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      }
    })
        .then(async response => {
          if (response && response.status) {
            // Status
            switch (response.status) {
                // Anmeldung erfolgreich
              case 200:
              case 302:
                // Es kann nicht über router push getätigt werden, da im Backend dinge erst im JS bereich geschrieben werden.
                window.location.href = `${mainMenuRoutes.dashboard}`;
                severity.value = "success"
                break;
                //   Personalnummer, nicht Vorhanden
              case 204:
                severity.value = "warn"
                messages.value = security.value.noUserFound
                showButtonRegister.value = true;
                buttonLoginDisabled.value = false;
                break;
              default:
                buttonLoginDisabled.value = false;
                buttonLoginLoading.value = false;
                break;
            }
          }
          buttonLoginLoading.value = false;
        })
        .catch(async error => {
          buttonLoginLoading.value = false;
          if (error && error.response && error.response.status) {
            // Status
            switch (error.response.status) {
                //   Passwort, nicht Korrekt
              case 409:
                buttonLoginDisabled.value = false;
                buttonLoginLoading.value = false;
                severity.value = "error"
                messages.value = error.response.data.error
                console.log(error.response.data.error)
                break;
              default:

                buttonLoginDisabled.value = false;
                break;
            }
          }
        });
  }
}

/**
 * Überwachung der Eingaben und dementsprechend den Login Knopf freischalten
 */
watch(item.value, async (newValue) => {
  buttonLoginDisabled.value = !(newValue._email && newValue._email.includes('@') && newValue._password);
})
</script>