<template>
<div id="no-right" class="min-h-screen min-w-screen absolute top-0"/>
</template>

<script setup>

</script>

<style scoped>
#no-right {
  background-image: url("../../../images/no-rights-one.png") !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>