<template>
  <div class="grid m-3 bg-white pl-5 pr-5">
    <!-- Laden Balken -->
    <div v-if="versionsIsLoading || membersIsLoading || memberFunctionsIsLoading || generalsIsLoading"
         class="col-12 m-0 p-0">
      <ProgressBar class="bg-yellow-900-900" mode="indeterminate" style="height: 6px"></ProgressBar>
    </div>
    <!-- Grundeinstellungen -->
    <div class="col-12 grid">
      <!-- Überschrift -->
      <div class="col-12">
        <h2 class="text-center">{{ sites.generals.sectionOne.headline }}</h2>
      </div>
      <!-- Feld Seitenname für die .pdf -->
      <div :class="fieldSiteNamePdf.cssClass" class="font-bold">
          <span class="p-float-label">
            <InputText id="site-name" v-model="fieldSiteNamePdf.value.value"
                       :autofocus="fieldSiteNamePdf.autofocus"
                       :class="{ 'min-w-full': !fieldSiteNamePdf.fieldNotFullWidth}"
                       :disabled="fieldSiteNamePdf.disabled"
                       :maxlength="fieldSiteNamePdf.maxlength"
                       :minlength="fieldSiteNamePdf.minlength"
                       :readonly="fieldSiteNamePdf.readonly"
                       :required="fieldSiteNamePdf.required"
                       aria-describedby="site-name-help" @focusout="saveField('siteNamePdf')"/>
            <label for="site-name"><required-star v-if="fieldSiteNamePdf.required"/>{{ fieldSiteNamePdf.label }}</label>
          </span>
        <div class="flex justify-content-between flex-wrap m-2">
          <small v-if="fieldSiteNamePdf.value" class="fadeinleft animation-duration-200 font-light font-italic">
            {{ generals.numberOfCharacters }} {{
              fieldSiteNamePdf.value.value.length
            }}/{{ fieldSiteNamePdf.maxlength }}</small>
          <small id="site-name-help">{{ fieldSiteNamePdf.help }}</small>
        </div>
      </div>
      <!-- Feld Seitenname Anwendungstitel -->
      <div :class="fieldSiteNameApplicationLong.cssClass" class="font-bold">
          <span class="p-float-label">
            <InputText id="site-name-application-long" v-model="fieldSiteNameApplicationLong.value.value"
                       :autofocus="fieldSiteNameApplicationLong.autofocus"
                       :class="{ 'min-w-full': !fieldSiteNameApplicationLong.fieldNotFullWidth}"
                       :disabled="fieldSiteNameApplicationLong.disabled"
                       :maxlength="fieldSiteNameApplicationLong.maxlength"
                       :minlength="fieldSiteNameApplicationLong.minlength"
                       :readonly="fieldSiteNameApplicationLong.readonly"
                       :required="fieldSiteNameApplicationLong.required"
                       aria-describedby="site-name-application-long-help"
                       @focusout="saveField('siteNameApplicationLong')"/>
            <label for="site-name-application-long"><required-star
                v-if="fieldSiteNameApplicationLong.required"/>{{ fieldSiteNameApplicationLong.label }}</label>
          </span>
        <div class="flex justify-content-between flex-wrap m-2">
          <small v-if="fieldSiteNameApplicationLong.value"
                 class="fadeinleft animation-duration-200 font-light font-italic">
            {{ generals.numberOfCharacters }} {{
              fieldSiteNameApplicationLong.value.value.length
            }}/{{ fieldSiteNameApplicationLong.maxlength }}</small>
          <small id="site-name-application-long-help">{{ fieldSiteNameApplicationLong.help }}</small>
        </div>
      </div>
      <!-- Feld Seitenname Anwendungstitel kurz -->
      <div :class="fieldSiteNameApplicationShort.cssClass" class="font-bold">
          <span class="p-float-label">
            <InputText id="site-name-application-short" v-model="fieldSiteNameApplicationShort.value.value"
                       :autofocus="fieldSiteNameApplicationShort.autofocus"
                       :class="{ 'min-w-full': !fieldSiteNameApplicationShort.fieldNotFullWidth}"
                       :disabled="fieldSiteNameApplicationShort.disabled"
                       :maxlength="fieldSiteNameApplicationShort.maxlength"
                       :minlength="fieldSiteNameApplicationShort.minlength"
                       :readonly="fieldSiteNameApplicationShort.readonly"
                       :required="fieldSiteNameApplicationShort.required"
                       aria-describedby="site-name-application-short-help"
                       @focusout="saveField('siteNameApplicationShort')"/>
            <label for="site-name-application-short"><required-star
                v-if="fieldSiteNameApplicationShort.required"/>{{ fieldSiteNameApplicationShort.label }}</label>
          </span>
        <div class="flex justify-content-between flex-wrap m-2">
          <small v-if="fieldSiteNameApplicationShort.value"
                 class="fadeinleft animation-duration-200 font-light font-italic">
            {{ generals.numberOfCharacters }} {{
              fieldSiteNameApplicationShort.value.value.length
            }}/{{ fieldSiteNameApplicationShort.maxlength }}</small>
          <small id="site-name-application-short-help">{{ fieldSiteNameApplicationShort.help }}</small>
        </div>
      </div>
    </div>
    <!-- Einstellung der Feuerwehr -->
    <div class="col-12 grid">
      <!-- Überschrift -->
      <div class="col-12">
        <h2 class="text-center">{{ sites.generals.sectionTwo.headline }}</h2>
      </div>
      <!-- Feld Wehrleiter -->
      <div :class="fieldWarChief.cssClass" class="col-4 font-bold">
            <span class="p-float-label">
            <Dropdown id="war-chief"
                      v-model="fieldWarChief.value.id"
                      :autofocus="fieldWarChief.autofocus"
                      :disabled="fieldWarChief.disabled" :loading="fieldWarChief.isLoading"
                      :options="fieldWarChief.options"
                      :readonly="fieldWarChief.readonly"
                      :required="fieldWarChief.required" aria-describedby="warChief-help"
                      class="min-w-full max-w-full" filter option-label="label" option-value="value"/>
            <label for="war-chief"><required-star v-if="fieldWarChief.required"/>{{ fieldWarChief.label }}</label>
          </span>
        <div class="flex justify-content-between flex-wrap m-2">
          <small></small>
          <small id="war-chief-help">{{ fieldWarChief.help }}</small>
        </div>
      </div>
      <!-- Feld Stelv. Wehrleiter -->
      <div :class="fieldDeputyChief.cssClass" class="col-4 font-bold">
            <span class="p-float-label">
            <Dropdown id="deputy-chief"
                      v-model="fieldDeputyChief.value.id"
                      :autofocus="fieldDeputyChief.autofocus"
                      :disabled="fieldDeputyChief.disabled" :loading="fieldDeputyChief.isLoading"
                      :options="fieldDeputyChief.options"
                      :readonly="fieldDeputyChief.readonly"
                      :required="fieldDeputyChief.required" aria-describedby="deputy-chief-help"
                      class="min-w-full max-w-full" filter option-label="label" option-value="value"/>
            <label for="deputy-chief"><required-star v-if="fieldDeputyChief.required"/>{{
                fieldDeputyChief.label
              }}</label>
          </span>
        <div class="flex justify-content-between flex-wrap m-2">
          <small></small>
          <small id="deputy-chief-help">{{ fieldDeputyChief.help }}</small>
        </div>
      </div>
      <!-- Feld Standard Funktion -->
      <div :class="fieldOperationReportDefaultFunctionMember.cssClass" class="col-4 font-bold">
            <span class="p-float-label">
            <Dropdown id="operation-report-default-function-member"
                      v-model="fieldOperationReportDefaultFunctionMember.value.value"
                      :autofocus="fieldOperationReportDefaultFunctionMember.autofocus"
                      :disabled="fieldOperationReportDefaultFunctionMember.disabled"
                      :loading="fieldOperationReportDefaultFunctionMember.isLoading"
                      :options="fieldOperationReportDefaultFunctionMember.options"
                      :readonly="fieldOperationReportDefaultFunctionMember.readonly"
                      :required="fieldOperationReportDefaultFunctionMember.required"
                      aria-describedby="operation-report-default-function-member-help"
                      class="min-w-full max-w-full"
                      filter option-label="label" option-value="value" @change="saveField('operationReportDefaultFunctionMember')"/>
            <label for="operation-report-default-function-member"><required-star
                v-if="fieldOperationReportDefaultFunctionMember.required"/>{{
                fieldOperationReportDefaultFunctionMember.label
              }}</label>
          </span>
        <div class="flex justify-content-between flex-wrap m-2">
          <small></small>
          <small id="operation-report-default-function-member-help">{{
              fieldOperationReportDefaultFunctionMember.help
            }}</small>
        </div>
      </div>
    </div>
    <!-- Versionierung -->
    <div class="col-12 grid">
      <!-- Überschrift -->
      <div class="col-12">
        <h2 class="text-center">{{ sites.generals.sectionThree.headline }}</h2>
      </div>
      <!-- Einzelnen Versionen -->
      <div v-for="version in versions" class="col-3">
        <version :version="version"/>
      </div>
    </div>
  </div>
</template>
<script setup>
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import RequiredStar from "@/components/RequiredStar.vue";
import {onMounted, ref} from "vue";
import {useVersionStore} from "@/stores/ProvisioningArea/version";
import Version from "@/components/Version.vue";
import {useMemberStore} from "@/stores/Managements/member";
import {useMemberFunctionStore} from "@/stores/ReferenceArea/memberFunction";
import {useGeneralStore} from "@/stores/Managements/general";
import {useEntityStore} from "@/stores/entity"; // Events die abgefeuert werden

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  loggedUser: {
    type: Object,
    required: true
  }
});

// Events die abgefeuert werden
const emit = defineEmits(['addToast'])

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components, generals, sites} = storeToRefs(storeTranslation);

// Store - Versionen
const storeVersion = useVersionStore();
const {dataForTable: versions, isLoading: versionsIsLoading} = storeToRefs(storeVersion);
storeVersion.loadDataForTable();

// Store - Mitglieder
const storeMember = useMemberStore();
const {
  dataForDropdown: members,
  isLoading: membersIsLoading,
  dataWarChief,
  dataDeputyChief
} = storeToRefs(storeMember);
storeMember.loadDataForDropdown();

// Store - Mitglieder Funktionen
const storeMemberFunction = useMemberFunctionStore();
const {dataForDropdown: memberFunctions, isLoading: memberFunctionsIsLoading} = storeToRefs(storeMemberFunction);
storeMemberFunction.loadDataForDropdown();

// Store - Allgemeines
const storeGenerals = useGeneralStore();
const {
  siteNamePdf,
  siteNameApplicationLong,
  siteNameApplicationShort,
  siteDefaultMemberFunction,
  isLoading: generalsIsLoading,
} = storeToRefs(storeGenerals);
storeGenerals.loadDataForTable();

// Store - Entity
const storeEntity = useEntityStore();
const {result} = storeToRefs(storeEntity)

// Formular Seitenname .pdf
const fieldSiteNamePdf = ref({
  cssClass: 'col-4',
  autofocus: false,
  label: sites.value.generals.sectionOne.fieldSiteNamePdf.label,
  help: sites.value.generals.sectionOne.fieldSiteNamePdf.help,
  maxlength: sites.value.generals.sectionOne.fieldSiteNamePdf.maxlength,
  minlength: sites.value.generals.sectionOne.fieldSiteNamePdf.minlength,
  required: sites.value.generals.sectionOne.fieldSiteNamePdf.required,
  value: siteNamePdf
});

// Formular Seitenname Applikation Lang
const fieldSiteNameApplicationLong = ref({
  cssClass: 'col-4',
  autofocus: false,
  label: sites.value.generals.sectionOne.fieldSiteNameApplicationLong.label,
  help: sites.value.generals.sectionOne.fieldSiteNameApplicationLong.help,
  maxlength: sites.value.generals.sectionOne.fieldSiteNameApplicationLong.maxlength,
  minlength: sites.value.generals.sectionOne.fieldSiteNameApplicationLong.minlength,
  required: sites.value.generals.sectionOne.fieldSiteNameApplicationLong.required,
  value: siteNameApplicationLong
});

// Formular Seitenname Applikation Kurz
const fieldSiteNameApplicationShort = ref({
  cssClass: 'col-4',
  autofocus: false,
  label: sites.value.generals.sectionOne.fieldSiteNameApplicationShort.label,
  help: sites.value.generals.sectionOne.fieldSiteNameApplicationShort.help,
  maxlength: sites.value.generals.sectionOne.fieldSiteNameApplicationShort.maxlength,
  minlength: sites.value.generals.sectionOne.fieldSiteNameApplicationShort.minlength,
  required: sites.value.generals.sectionOne.fieldSiteNameApplicationShort.required,
  value: siteNameApplicationShort
});

// Formular Wehrleiter
const fieldWarChief = ref({
  cssClass: 'col-4',
  autofocus: false,
  disabled: true,
  label: sites.value.generals.sectionTwo.fieldWarChief.label,
  help: sites.value.generals.sectionTwo.fieldWarChief.help,
  required: sites.value.generals.sectionTwo.fieldWarChief.required,
  options: members,
  isLoading: membersIsLoading,
  value: dataWarChief
});

// Formular Stellv. Wehrleiter
const fieldDeputyChief = ref({
  cssClass: 'col-4',
  autofocus: false,
  disabled: true,
  label: sites.value.generals.sectionTwo.fieldDeputyChief.label,
  help: sites.value.generals.sectionTwo.fieldDeputyChief.help,
  required: sites.value.generals.sectionTwo.fieldDeputyChief.required,
  options: members,
  isLoading: membersIsLoading,
  value: dataDeputyChief
});

// Formular Standard Funktion
const fieldOperationReportDefaultFunctionMember = ref({
  cssClass: 'col-4',
  autofocus: false,
  label: sites.value.generals.sectionTwo.fieldOperationReportDefaultFunctionMember.label,
  help: sites.value.generals.sectionTwo.fieldOperationReportDefaultFunctionMember.help,
  required: sites.value.generals.sectionTwo.fieldOperationReportDefaultFunctionMember.required,
  options: memberFunctions,
  isLoading: memberFunctionsIsLoading,
  value: siteDefaultMemberFunction
});

// Name des Entity
const nameOfEntity = 'General';

// Speichern der Felder
const saveField = async (type) => {

  // Name der Fw in der .pdf
  if (type && type === 'siteNamePdf') {
    if (siteNamePdf.value.id) {
      await itemAction('edit', siteNamePdf.value)
    } else {
      siteNamePdf.value.name = 'namePdf';
      await itemAction('new', siteNamePdf.value)
    }
  }

  // Applikations Title - Lang
  if (type && type === 'siteNameApplicationLong') {
    if (siteNameApplicationLong.value.id) {
      await itemAction('edit', siteNameApplicationLong.value)
    } else {
      siteNameApplicationLong.value.name = 'nameApplicationLong';
      await itemAction('new', siteNameApplicationLong.value)
    }
  }

  // Applikations Title - Kurz
  if (type && type === 'siteNameApplicationShort') {
    if (siteNameApplicationShort.value.id) {
      await itemAction('edit', siteNameApplicationShort.value)
    } else {
      siteNameApplicationShort.value.name = 'nameApplicationShort';
      await itemAction('new', siteNameApplicationShort.value)
    }
  }

  // Standard Funktion eines Mitgliedes im Einsatzbericht
  if (type && type === 'operationReportDefaultFunctionMember') {
    if (siteDefaultMemberFunction.value.id) {
      await itemAction('edit', siteDefaultMemberFunction.value)
    } else {
      siteDefaultMemberFunction.value.name = 'operationReportDefaultFunctionMember';
      await itemAction('new', siteDefaultMemberFunction.value)
    }
  }

};

// Aktionen beim Drücken des jeweiligen Knopfes
const itemAction = async (type, item) => {
  let toastType = "";

  if (type && type === 'new') {
    toastType = "created";
    await storeEntity.itemAction(nameOfEntity, item, type);

  } else if (type && type === 'edit') {
    toastType = "updated";
    await storeEntity.itemAction(nameOfEntity, item, type);
  }

  // Prüfen, ob der Vorgang erfolgreich war
  if (await result.value.status === "success") {
    await emit('addToast', {
      severity: 'success',
      summary: `${components.value.toastMessage[toastType].title}`,
      detail: `${components.value.toastMessage[toastType].message}`
    })

    // await resetItem();
  } else {
    // Keine Rechte Vorhanden
    if (result.value.status === 403) {
      await emit('addToast', {
        severity: 'error',
        summary: `${components.value.toastMessage['noRight'].title}`,
        detail: `${components.value.toastMessage['noRight'].message}`
      })
    } else {
      await emit('addToast', {
        severity: 'warn',
        summary: `${components.value.toastMessage['failed'].title}`,
        detail: `${components.value.toastMessage['failed'].message}`
      })
      // Fehler Felder einfärben
      if (result.value.errors) {
        await result.value.errors.forEach(error => {
          let element = document.getElementById(error.field);
          element.classList.add('p-invalid')
        });
      }
    }
  }
};

// Entfernen der 'Fehler' classes bei Fehler
const removeErrors = async () => {
  await document.querySelectorAll(".p-invalid").forEach(el => el.classList.remove('p-invalid'));
};

onMounted(async () => {
  await storeMember.loadDataByMemberFunction('WL')
  await storeMember.loadDataByMemberFunction('St. WL')
})
</script>
<style scoped>

</style>