<template>
  <div class="grid m-2">
    <div class="col-12">
      <default-table :columns="tableColumns" :data-for-table="dataForTable" :data-total-count="dataTotalCount"
                     :enabled-buttons="enabledButtons" :filters="tableFilters"
                     :global-filter-fields="globalFilterFields" :header-text="headerText"
                     :loading="isLoading"
                     :state-key="stateKey"
                     :multi-sort-meta="multiSortMeta"
                     :view-selected-columns="true"
                     :label-from-button-add="menus.mainMenu.managementArea.children.toolCategories.children.label"
                     @item-add="actionOnButton('new')"
                     @item-edit="actionOnButton('edit', $event.id)"
                     @item-delete="actionOnButton('delete', $event.id)"
                     @fetch-data="fetch($event)"
      />
    </div>
  </div>
</template>
<script setup>

import {storeToRefs} from "pinia";
import DefaultTable from "@/components/DefaultTable.vue";
import {FilterMatchMode} from "primevue/api";
import {getCurrentInstance, onBeforeMount, ref} from "vue";
import {managementAreaNames} from "@/router/default";
import router from "@/router";
import {useTranslationStore} from "@/stores/translation";
import {useToolCategoryStore} from "@/stores/Managements/toolCategory";
import {addedFullAdminColumns, checkUserRight} from "@/utils";
import {useDefaultRightRoleStore} from "@/stores/defaultRightRole";

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  loggedUser: {
    type: Object,
    required: true
  }
});

// Name im Browser Store
const stateKey = `${getCurrentInstance().type.__name}`

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {dataTables, menus} = storeToRefs(storeTranslation);

// Store - Berechtigung
const storeDefaultRightRole = useDefaultRightRoleStore();
const {right } = storeDefaultRightRole;

// Store - Hilfsmittel Kategorie
const store = useToolCategoryStore();
const {dataForTable, dataTotalCount, dataFilterCount, isLoading} = storeToRefs(store);

// Filter für die Tabelle
const globalFilterFields = ['abbreviation', 'description', 'comment'];
const tableFilters = {
  'global': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'id': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'isVisibility': {value: null, matchMode: FilterMatchMode.EQUALS},
  'd.description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'abbreviation': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'sorting': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'isVisibilityOperationReport': {value: null, matchMode: FilterMatchMode.EQUALS},
  'comment': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'tools': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'createdAt': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'createdFrom': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'updatedAt': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'updatedFrom': {value: null, matchMode: FilterMatchMode.STARTS_WITH}
};

// Abschalten der Knöpfe Aktionen, je nach Berechtigung
const enabledButtons = ref({
  add: checkUserRight(props.loggedUser.roles, right.toolCategory.new),
  edit: checkUserRight(props.loggedUser.roles, right.toolCategory.edit),
  delete: checkUserRight(props.loggedUser.roles, right.toolCategory.delete)
});

// Überschrift
const headerText = ref(dataTables.value.toolCategories.headline);

// Spalten für die Tabelle
const tableColumns = ref([]);
const tableColumnsDefault = ref([
  {
    field: 'id',
    sorting: 0,
    header: dataTables.value.toolCategories.columns.id,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'abbreviation',
    sorting: 4,
    header: dataTables.value.toolCategories.columns.abbreviation,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'description',
    sorting: 5,
    header: dataTables.value.toolCategories.columns.description,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'sorting',
    sorting: 6,
    header: dataTables.value.toolCategories.columns.sorting,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'numeric',
    dataType: 'numeric'
  },
  {
    field: 'isVisibilityOperationReport',
    sorting: 7,
    header: dataTables.value.toolCategories.columns.isVisibilityOperationReport,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'boolean',
    dataType: 'boolean'
  },
  {
    field: 'comment',
    sorting: 8,
    header: dataTables.value.toolCategories.columns.comment,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'tools',
    sorting: 9,
    header: dataTables.value.toolCategories.columns.tools,
    usedFunction: 'showCount',
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'createdAt',
    sorting: 10,
    header: dataTables.value.toolCategories.columns.createdAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'createdFrom',
    sorting: 11,
    header: dataTables.value.toolCategories.columns.createdFrom,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'updatedAt',
    sorting: 12,
    header: dataTables.value.toolCategories.columns.updatedAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'updatedFrom',
    sorting: 13,
    header: dataTables.value.toolCategories.columns.updatedFrom,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  }
]);
const tableColumnsFullAdmin = ref([
  {
    field: 'isVisibility',
    sorting: 3,
    header: dataTables.value.alertAddresses.columns.isVisibility,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'boolean',
    dataType: 'boolean'
  },
  {
    field: 'd.description',
    sorting: 1,
    mainField: 'department',
    hasSubfield: true,
    header: dataTables.value.toolCategories.columns.department,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  }
]);

// Spalten für die Sortierung
const multiSortMeta = ref([{field: 'sorting', order: 1}]);

// Abrufen der Daten
const fetch = async (param) => {
  await store.loadDataForTable(param);
}

// Aktionen beim Klick auf Add, Edit und Delete
const actionOnButton = (type, id = null) => {
  if (type && type === 'new') {
    router.push({name: `${managementAreaNames.toolCategoryNew}`})
  } else if (type && id && type === 'edit') {
    router.push({name: `${managementAreaNames.toolCategoryEdit}`, params: {'id': id}})
  } else if (type && id && type === 'delete') {
    router.push({name: `${managementAreaNames.toolCategoryDelete}`, params: {'id': id}})
  }
};

onBeforeMount(() => {
  // Prüfen der Rechte und zusammenfügen der Felder
  tableColumns.value = addedFullAdminColumns(tableColumnsDefault.value, tableColumnsFullAdmin.value);
});
</script>