<template>
  <default-dialog v-if="route.path.includes('new') || route.path.includes('edit')" :dialog-user="true"
                  :fields="fields"
                  :header-title="headerTitle"
                  :item="item" :item-is-loading="isLoading" :showed-action-button="showedActionButton"
                  @close-dialog="closeDialog"
                  @item-add="itemAction('new')" @item-edit="itemAction('edit')"
                  @change-dialog-auto-close="dialogAutoClose = $event"
                  @set-role-full-admin="setRoleFullAdmin" @set-role-department-admin="setRoleDepartmentAdmin"
                  @set-role-group-leader="setRoleGroupLeader"

  />

  <default-dialog-delete v-else :header-title="headerTitle" :item="item"
                         :view-delete-fields="viewDeleteFields" @close-dialog="closeDialog"
                         @item-delete="itemAction('delete')"/>
</template>

<script setup>
import {useRoute, useRouter} from "vue-router";
import {onBeforeMount, ref, watch} from "vue";
import {storeToRefs} from "pinia";
import DefaultDialog from "@/components/DefaultDialog.vue";
import {managementAreaNames} from "@/router/default";
import {useTranslationStore} from "@/stores/translation";
import DefaultDialogDelete from "@/components/DefaultDialogDelete.vue";
import {useEntityStore} from "@/stores/entity";
import {useFederalStateStore} from "@/stores/ProvisioningArea/federalState";
import {useUserStore} from "@/stores/Managements/user";
import {useDepartmentStore} from "@/stores/ReferenceArea/department";
import {useUserRoleStore} from "@/stores/ProvisioningArea/userRole";
import {useAlertAddressStore} from "@/stores/Managements/alertAddress";
import {addedFullAdminFields} from "@/utils"; // Vue Router

// Vue Router
const router = useRouter();
const route = useRoute();

// Events die abgefeuert werden
const emit = defineEmits(['addToast'])

// Aktion beim Schließen des Dialoges
const closeDialog = () => {
  router.push({name: `${managementAreaNames.users}`})
};

// Dialog - Einblenden bzw. Ausblenden
// Wichtig sonst reagiert er nicht beim klick auf das "x"
const show = ref(true);

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components, dialogs} = storeToRefs(storeTranslation);

// Store - Entity
const storeEntity = useEntityStore();
const {result} = storeToRefs(storeEntity)

// Store - Nutzer
const store = useUserStore();
const {dataById, isLoading} = storeToRefs(store);

// Store - Bundesländer
const storeFederalState = useFederalStateStore();
const {dataForDropdown: federalStates, isLoading: federalsStatesIsLoading} = storeToRefs(storeFederalState);
storeFederalState.loadDataForDropdown();

// Store - Dienststelle
const storeDepartment = useDepartmentStore();
const {dataForDropdown: departments, isLoading: departmentsIsLoading} = storeToRefs(storeDepartment);
storeDepartment.loadDataForDropdown();

// Store - Nutzerrollen
const storeUserRole = useUserRoleStore();
const {dataForDropdown: userRoles, isLoading: userRoleIsLoading} = storeToRefs(storeUserRole);
storeUserRole.loadDataForDropdown();

// Store - Alarm Adressen
const storeAlertAddress = useAlertAddressStore();
const {dataForDropdown: alertAddresses, isLoading: alertAddressIsLoading} = storeToRefs(storeAlertAddress);
storeAlertAddress.loadDataForDropdown();

// Welcher Knopf soll im Dialog angezeigt werden
const showedActionButton = ref({
  create: false,
  save: false
});

const headerTitle = ref(dialogs.value.user.headerTitle);

// Element
const item = ref(dataById);

// Eigenschaften der Felder für die Entity
const fields = ref({});
const fieldsDefault = ref({
  // Nachname
  surname: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: true,
    label: dialogs.value.user.fields.surname.label,
    help: dialogs.value.user.fields.surname.help,
    maxlength: dialogs.value.user.fields.surname.maxlength,
    minlength: dialogs.value.user.fields.surname.minlength,
    required: dialogs.value.user.fields.surname.required
  },
  // Vorname
  firstname: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.user.fields.firstname.label,
    help: dialogs.value.user.fields.firstname.help,
    maxlength: dialogs.value.user.fields.firstname.maxlength,
    minlength: dialogs.value.user.fields.firstname.minlength,
    required: dialogs.value.user.fields.firstname.required
  },
  // E-Mail Adresse
  email: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.user.fields.email.label,
    help: dialogs.value.user.fields.email.help,
    maxlength: dialogs.value.user.fields.email.maxlength,
    minlength: dialogs.value.user.fields.email.minlength,
    required: dialogs.value.user.fields.email.required
  },
  // Nutzerrollen
  roles: {
    fieldType: 'multiSelect',
    cssClass: 'col-6',
    maxSelectedLabels: 2,
    optionsLabel: 'label',
    optionsValue: 'value',
    autofocus: false,
    label: dialogs.value.user.fields.roles.label,
    help: dialogs.value.user.fields.roles.help,
    required: dialogs.value.user.fields.roles.required,
    options: userRoles,
    loading: userRoleIsLoading
  },
  // Alarm Adressen
  myAlertAddresses: {
    fieldType: 'multiSelect',
    cssClass: 'col-6',
    maxSelectedLabels: 2,
    optionsLabel: 'label',
    optionsValue: 'label',
    autofocus: false,
    label: dialogs.value.user.fields.myAlertAddresses.label,
    help: dialogs.value.user.fields.myAlertAddresses.help,
    required: dialogs.value.user.fields.myAlertAddresses.required,
    options: alertAddresses,
    loading: alertAddressIsLoading
  },
  // Sichtbarkeit
  isVisibility: {
    fieldType: 'inputSwitch',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.user.fields.isVisibility.label,
    help: dialogs.value.user.fields.isVisibility.help,
    required: dialogs.value.user.fields.isVisibility.required
  },
  // Kommentar
  comment: {
    fieldType: 'inputText',
    cssClass: 'col-12',
    autofocus: false,
    label: dialogs.value.user.fields.comment.label,
    help: dialogs.value.user.fields.comment.help,
    maxlength: dialogs.value.user.fields.comment.maxlength,
    minlength: dialogs.value.user.fields.comment.minlength,
    required: dialogs.value.user.fields.comment.required
  }
});
const fieldsFullAdmin = ref({
  // Bundesland
  federalState: {
    fieldType: 'dropDown',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.user.fields.federalState.label,
    help: dialogs.value.user.fields.federalState.help,
    required: dialogs.value.user.fields.federalState.required,
    options: federalStates,
    loading: federalsStatesIsLoading
  },
  // Dienstelle
  department: {
    fieldType: 'dropDown',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.user.fields.department.label,
    help: dialogs.value.user.fields.department.help,
    required: dialogs.value.user.fields.department.required,
    options: departments,
    loading: departmentsIsLoading
  },
});

// Eigenschaften der Felder für das Löschen
const viewDeleteFields = ref({
  // Nachname
  surname: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: true,
    label: dialogs.value.user.fields.surname.label,
    help: dialogs.value.user.fields.surname.help,
    maxlength: dialogs.value.user.fields.surname.maxlength,
    minlength: dialogs.value.user.fields.surname.minlength,
    required: dialogs.value.user.fields.surname.required
  },
  // Vorname
  firstname: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.user.fields.firstname.label,
    help: dialogs.value.user.fields.firstname.help,
    maxlength: dialogs.value.user.fields.firstname.maxlength,
    minlength: dialogs.value.user.fields.firstname.minlength,
    required: dialogs.value.user.fields.firstname.required
  },
  // Kommentar
  comment: {
    fieldType: 'inputText',
    cssClass: 'col-12',
    autofocus: false,
    label: dialogs.value.user.fields.comment.label,
    help: dialogs.value.user.fields.comment.help,
    maxlength: dialogs.value.user.fields.comment.maxlength,
    minlength: dialogs.value.user.fields.comment.minlength,
    required: dialogs.value.user.fields.comment.required
  }
});

// Name des Entity
const nameOfEntity = 'User';

// Aktionen beim Drücken des jeweiligen Knopfes
const itemAction = async (type) => {
  // await removeErrors();
  let toastType = "";

  if (type && type === 'new') {
    toastType = "created";
    await storeEntity.itemAction(nameOfEntity, item.value, type);

  } else if (type && type === 'edit') {
    toastType = "updated";
    await storeEntity.itemAction(nameOfEntity, item.value, type);
  } else if (type && type === 'delete') {
    toastType = "deleted";
    await storeEntity.itemAction(nameOfEntity, item.value, type);
  }

  // Prüfen, ob der Vorgang erfolgreich war
  if (await result.value.status === "success") {
    await emit('addToast', {
      severity: 'success',
      summary: `${components.value.toastMessage[toastType].title}`,
      detail: `${components.value.toastMessage[toastType].message}`
    })
    // Dialog, automatisch schließen?
    if (dialogAutoClose.value) {
      await router.push({name: `${managementAreaNames.users}`});
    }
    // await resetItem();
  } else {
    // Keine Rechte Vorhanden
    if (result.value.status === 403) {
      await emit('addToast', {
        severity: 'error',
        summary: `${components.value.toastMessage['noRight'].title}`,
        detail: `${components.value.toastMessage['noRight'].message}`
      })
    } else {
      await emit('addToast', {
        severity: 'warn',
        summary: `${components.value.toastMessage['failed'].title}`,
        detail: `${components.value.toastMessage['failed'].message}`
      })
      // Fehler Felder einfärben
      if (result.value.errors) {
        await result.value.errors.forEach(error => {
          let element = document.getElementById(error.field);
          element.classList.add('p-invalid')
        });
      }
    }
  }
};

// Entfernen der 'Fehler' classes bei Fehler
const removeErrors = async () => {
  await document.querySelectorAll(".p-invalid").forEach(el => el.classList.remove('p-invalid'));
};

// Dialog automatisch Schließen, nach erfolgreicher Aktion?
const dialogAutoClose = ref(true);

// Setzen der Standard Rechte
const setRoleFullAdmin = () => {
  dataById.value.roles = ['ROLE_FULL_ADMINISTRATOR'];
};
const setRoleDepartmentAdmin = () => {
  dataById.value.roles = ['ROLE_DEPARTEMENT_ADMINISTRATOR'];
};
const setRoleGroupLeader = () => {
  dataById.value.roles = ['ROLE_GROUP_LEADER'];
};

// Bevor der Dialog angezeigt wird, prüfen, ob eine ID mitgegeben würde.
onBeforeMount(async () => {
  if (route && route.params && route.params.id) {
    await store.loadDataById(route.params.id);
    if (await dataById.value) {
      item.value = await dataById.value;
      showedActionButton.value.save = true;
      showedActionButton.value.create = false;
    }
  } else {
    showedActionButton.value.save = false;
    showedActionButton.value.create = true;
    await store.resetDefaultDataById();
  }

  // Anzeige der Password Eingabe (nur bei neuen Einträgen)
  if (route.path.includes("new")) {
    fieldsDefault.value = {
      // Nachname
      surname: {
        fieldType: 'inputText',
        cssClass: 'col-6',
        autofocus: true,
        label: dialogs.value.user.fields.surname.label,
        help: dialogs.value.user.fields.surname.help,
        maxlength: dialogs.value.user.fields.surname.maxlength,
        minlength: dialogs.value.user.fields.surname.minlength,
        required: dialogs.value.user.fields.surname.required
      },
      // Vorname
      firstname: {
        fieldType: 'inputText',
        cssClass: 'col-6',
        autofocus: false,
        label: dialogs.value.user.fields.firstname.label,
        help: dialogs.value.user.fields.firstname.help,
        maxlength: dialogs.value.user.fields.firstname.maxlength,
        minlength: dialogs.value.user.fields.firstname.minlength,
        required: dialogs.value.user.fields.firstname.required
      },
      // Password
      password: {
        fieldType: 'password',
        cssClass: 'col-6',
        autofocus: false,
        label: dialogs.value.user.fields.password.label,
        help: dialogs.value.user.fields.password.help,
        maxlength: dialogs.value.user.fields.password.maxlength,
        minlength: dialogs.value.user.fields.password.minlength,
        required: dialogs.value.user.fields.password.required
      },
      // Password Wiederholung
      passwordRepeat: {
        fieldType: 'password',
        cssClass: 'col-6',
        autofocus: false,
        label: dialogs.value.user.fields.passwordRepeat.label,
        help: dialogs.value.user.fields.passwordRepeat.help,
        maxlength: dialogs.value.user.fields.passwordRepeat.maxlength,
        minlength: dialogs.value.user.fields.passwordRepeat.minlength,
        required: dialogs.value.user.fields.passwordRepeat.required
      },
      // E-Mail Adresse
      email: {
        fieldType: 'inputText',
        cssClass: 'col-6',
        autofocus: false,
        label: dialogs.value.user.fields.email.label,
        help: dialogs.value.user.fields.email.help,
        maxlength: dialogs.value.user.fields.email.maxlength,
        minlength: dialogs.value.user.fields.email.minlength,
        required: dialogs.value.user.fields.email.required
      },
      // Nutzerrollen
      roles: {
        fieldType: 'multiSelect',
        cssClass: 'col-6',
        maxSelectedLabels: 2,
        optionsLabel: 'label',
        optionsValue: 'value',
        autofocus: false,
        label: dialogs.value.user.fields.roles.label,
        help: dialogs.value.user.fields.roles.help,
        required: dialogs.value.user.fields.roles.required,
        options: userRoles,
        loading: userRoleIsLoading
      },
      // Alarm Adressen
      myAlertAddresses: {
        fieldType: 'multiSelect',
        cssClass: 'col-6',
        maxSelectedLabels: 2,
        optionsLabel: 'label',
        optionsValue: 'label',
        autofocus: false,
        label: dialogs.value.user.fields.myAlertAddresses.label,
        help: dialogs.value.user.fields.myAlertAddresses.help,
        required: dialogs.value.user.fields.myAlertAddresses.required,
        options: alertAddresses,
        loading: alertAddressIsLoading
      },
      // Sichtbarkeit
      isVisibility: {
        fieldType: 'inputSwitch',
        cssClass: 'col-6',
        autofocus: false,
        label: dialogs.value.user.fields.isVisibility.label,
        help: dialogs.value.user.fields.isVisibility.help,
        required: dialogs.value.user.fields.isVisibility.required
      },
      // Kommentar
      comment: {
        fieldType: 'inputText',
        cssClass: 'col-12',
        autofocus: false,
        label: dialogs.value.user.fields.comment.label,
        help: dialogs.value.user.fields.comment.help,
        maxlength: dialogs.value.user.fields.comment.maxlength,
        minlength: dialogs.value.user.fields.comment.minlength,
        required: dialogs.value.user.fields.comment.required
      }
    };
  }

  // Prüfen der Rechte und zusammenfügen der Felder
  fields.value = addedFullAdminFields(fieldsDefault.value, fieldsFullAdmin.value);
});

// Überwachung von den erforderlichen Feldern
watch(dataById, (newValue) => {
  if (route.path.includes("new") && fieldsDefault.value.password) {
    if (newValue.password !== newValue.passwordRepeat) {
      fieldsDefault.value.password.help = `${components.value.passwordInput.passwordRepeatError}`;
    } else {
      fieldsDefault.value.password.help = `${dialogs.value.user.fields.password.help}`;
    }
  }
}, {
  deep: true
});
</script>