<template>
  <div class="grid m-2">
    <div class="col-12">
      <default-table :columns="tableColumns" :data-for-table="dataForTable" :data-total-count="dataTotalCount"
                     :enabled-buttons="enabledButtons" :filters="tableFilters"
                     :global-filter-fields="globalFilterFields" :header-text="headerText"
                     :loading="isLoading"
                     :state-key="stateKey"
                     :multi-sort-meta="multiSortMeta"
                     :view-selected-columns="true"
                     :label-from-button-add="menus.mainMenu.managementArea.children.vehicles.children.label"
                     @item-add="actionOnButton('new')"
                     @item-edit="actionOnButton('edit', $event.id)"
                     @item-delete="actionOnButton('delete', $event.id)"
                     @fetch-data="fetch($event)"
      />
    </div>
  </div>
</template>
<script setup>

import {storeToRefs} from "pinia";
import DefaultTable from "@/components/DefaultTable.vue";
import {FilterMatchMode} from "primevue/api";
import {getCurrentInstance, onBeforeMount, ref} from "vue";
import {managementAreaNames} from "@/router/default";
import router from "@/router";
import {useTranslationStore} from "@/stores/translation";
import {useVehicleStore} from "@/stores/Managements/vehicle";
import {addedFullAdminColumns, checkUserRight} from "@/utils";
import {useDefaultRightRoleStore} from "@/stores/defaultRightRole";

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  loggedUser: {
    type: Object,
    required: true
  }
});

// Name im Browser Store
const stateKey = `${getCurrentInstance().type.__name}`

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {dataTables, menus} = storeToRefs(storeTranslation);

// Store - Berechtigung
const storeDefaultRightRole = useDefaultRightRoleStore();
const {right } = storeDefaultRightRole;

// Store - Fahrzeuge
const store = useVehicleStore();
const {dataForTable, dataTotalCount, dataFilterCount, isLoading} = storeToRefs(store);

// Filter für die Tabelle
const globalFilterFields = ['fS.description', 'd.description','abbreviation', 'description', 'comment'];
const tableFilters = {
  'global': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'id': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'isVisibility': {value: null, matchMode: FilterMatchMode.EQUALS},
  'fS.description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'd.description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'abbreviation': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'maxSeats': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'numberplate': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'cost': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'furtherInformation': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'isVisibilityOperationReport': {value: null, matchMode: FilterMatchMode.EQUALS},
  'comment': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'createdAt': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'createdFrom': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'updatedAt': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'updatedFrom': {value: null, matchMode: FilterMatchMode.CONTAINS}
};

// Abschalten der Knöpfe Aktionen, je nach Berechtigung
const enabledButtons = ref({
  add: checkUserRight(props.loggedUser.roles, right.vehicle.new),
  edit: checkUserRight(props.loggedUser.roles, right.vehicle.edit),
  delete: checkUserRight(props.loggedUser.roles, right.vehicle.delete)
});

// Überschrift
const headerText = ref(dataTables.value.vehicles.headline);

// Spalten für die Tabelle
const tableColumns = ref([]);
const tableColumnsDefault = ref([
  {
    field: 'id',
    sorting: 0,
    header: dataTables.value.vehicles.columns.id,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'abbreviation',
    sorting: 4,
    header: dataTables.value.vehicles.columns.abbreviation,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'description',
    sorting: 5,
    header: dataTables.value.vehicles.columns.description,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'maxSeats',
    sorting: 6,
    header: dataTables.value.vehicles.columns.maxSeats,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'numeric',
    dataType: 'numeric'
  },
  {
    field: 'numberplate',
    sorting: 7,
    header: dataTables.value.vehicles.columns.numberplate,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'cost',
    sorting: 8,
    header: dataTables.value.vehicles.columns.cost,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'furtherInformation',
    sorting: 9,
    header: dataTables.value.vehicles.columns.furtherInformation,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'isVisibilityOperationReport',
    sorting: 10,
    header: dataTables.value.memberFunctions.columns.isVisibilityOperationReport,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'boolean',
    dataType: 'boolean'
  },
  {
    field: 'comment',
    sorting: 11,
    header: dataTables.value.vehicles.columns.comment,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'createdAt',
    sorting: 12,
    header: dataTables.value.vehicles.columns.createdAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'createdFrom',
    sorting: 13,
    header: dataTables.value.vehicles.columns.createdFrom,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'updatedAt',
    sorting: 14,
    header: dataTables.value.vehicles.columns.updatedAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'updatedFrom',
    sorting: 15,
    header: dataTables.value.vehicles.columns.updatedFrom,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  }
]);
const tableColumnsFullAdmin = ref([
  {
    field: 'isVisibility',
    sorting: 3,
    header: dataTables.value.vehicles.columns.isVisibility,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'boolean',
    dataType: 'boolean'
  },
  {
    field: 'fS.description',
    sorting: 1,
    mainField: 'federalState',
    hasSubfield: true,
    header: dataTables.value.vehicles.columns.federalState,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'd.description',
    sorting: 2,
    mainField: 'department',
    hasSubfield: true,
    header: dataTables.value.vehicles.columns.department,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  }
]);

// Spalten für die Sortierung
const multiSortMeta = ref([{field: 'fS.description', order: 1},{field: 'd.description', order: 1},{field: 'abbreviation', order: 1}]);

// Abrufen der Daten
const fetch = async (param) => {
  await store.loadDataForTable(param);
}

// Aktionen beim Klick auf Add, Edit und Delete
const actionOnButton = (type, id = null) => {
  if (type && type === 'new') {
    router.push({name: `${managementAreaNames.vehicleNew}`})
  } else if (type && id && type === 'edit') {
    router.push({name: `${managementAreaNames.vehicleEdit}`, params: {'id': id}})
  } else if (type && id && type === 'delete') {
    router.push({name: `${managementAreaNames.vehicleDelete}`, params: {'id': id}})
  }
};

onBeforeMount(() => {
  // Prüfen der Rechte und zusammenfügen der Felder
  tableColumns.value = addedFullAdminColumns(tableColumnsDefault.value, tableColumnsFullAdmin.value);
});
</script>