<template>
  <Chart type="bar" :data="data" :options="setChartOptions()"/>
</template>
<script setup>
// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  data: {
    type: Object,
    required: true
  }
});

// Style des Chart
const setChartOptions = () => {
  const documentStyle = getComputedStyle(document.documentElement);
  const textColor = documentStyle.getPropertyValue('--text-color');

  return {
    plugins: {
      legend: {
        labels: {
          font: {
            size: 16,
            weight: "bold"
          },
          color: textColor
        }
      }
    }
  };
};
</script>
<style scoped>

</style>