<template>
  <Dialog v-model:visible="visible" :breakpoints="{ '960px': '75vw', '641px': '100vw' }" :draggable="true"
          :header="headerTitle" :style="{ width: '50vw' }"
          class="default-modal"
          maximizable modal @hide="emit('closeDialog')">

    <!-- Laden Balken -->
    <div v-if="itemIsLoading" class="col-12">
      <ProgressBar class="bg-yellow-900-900" mode="indeterminate" style="height: 6px"></ProgressBar>
    </div>

    <!-- Inhalt -->
    <generate-formular :disabled-all-fields="itemIsLoading" :fields="fields" :item="item"
                       :read-only-all-fields="itemIsLoading"
                       @enabled-action-button="actionButtonDisabled = $event"
                       @change-drop-down-federal-state="emit('changeDropDownFederalState',$event)"
                       @change-drop-down-department="emit('changeDropDownDepartment',$event)"/>

    <!-- Knöpfe für Nutzer Rechte -->
    <div v-if="dialogUser" class="flex justify-content-around flex-wrap">
      <div class="w-full text-center">
        <h2>{{ dialogs.user.buttons.headline }}</h2>
      </div>

      <div class="flex-initial flex-1 flex align-items-center justify-content-center" v-if="checkUserRight(loggedUser.roles, ['ROLE_FULL_ADMINISTRATOR'])">
        <Button @click="emit('setRoleFullAdmin')" :disabled="!checkUserRight(loggedUser.roles, ['ROLE_FULL_ADMINISTRATOR'])" :label="dialogs.user.buttons.rightFullAdministrator"/>
      </div>
      <div class="flex-initial flex-1 flex align-items-center justify-content-center" v-if="checkUserRight(loggedUser.roles, ['ROLE_FULL_ADMINISTRATOR', 'ROLE_DEPARTEMENT_ADMINISTRATOR'])">
        <Button  @click="emit('setRoleDepartmentAdmin')" :disabled="!checkUserRight(loggedUser.roles, ['ROLE_FULL_ADMINISTRATOR', 'ROLE_DEPARTEMENT_ADMINISTRATOR'])" :label="dialogs.user.buttons.rightDepartmentAdministrator"/>
      </div>
      <div class="flex-initial flex-1 flex align-items-center justify-content-center" v-if="checkUserRight(loggedUser.roles, ['ROLE_FULL_ADMINISTRATOR', 'ROLE_DEPARTEMENT_ADMINISTRATOR', 'ROLE_GROUP_LEADER'])">
        <Button  @click="emit('setRoleGroupLeader')" :disabled="!checkUserRight(loggedUser.roles, ['ROLE_FULL_ADMINISTRATOR', 'ROLE_DEPARTEMENT_ADMINISTRATOR', 'ROLE_GROUP_LEADER'])" :label="dialogs.user.buttons.rightGroupLeader"/>
      </div>
    </div>

    <dialog-message/>

    <!-- Fußzeile -->
    <template #footer>
      <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
        <!-- Schließen -->
        <Button :label="components.dialog.buttonClose" class="flex-order-0"
                icon="pi pi-times" text @click="emit('closeDialog')"/>

        <!-- Dialog, Automatisch schließen -->
        <ToggleButton v-model="autoClose" :offLabel="components.dialog.buttonAutoCloseOff"
                      :onLabel="components.dialog.buttonAutoCloseOn" class="sm:flex-order-3 md:flex-order-1 m-auto"
                      offIcon="pi pi-check" onIcon="pi pi-times"
                      severity="success"
                      @update:modelValue="emit('changeDialogAutoClose', $event)" v-if="showedAutoCloseSwitch"/>

        <!-- Erstellen -->
        <Button v-if="showedActionButton.create" :disabled="actionButtonDisabled"
                :label="components.dialog.buttonCreate"
                class="sm:flex-order-1 md:flex-order-2" icon="pi pi-save" severity="success" @click="emit('itemAdd')"/>
        <!-- Speichern -->
        <Button v-if="showedActionButton.save" :disabled="actionButtonDisabled" :label="components.dialog.buttonSave"
                class="sm:flex-order-2 md:flex-order-3" icon="pi pi-save" severity="success" @click="emit('itemEdit')"/>
      </div>
    </template>
  </Dialog>
</template>

<script setup>
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import {onMounted, ref} from "vue";
import DialogMessage from "@/components/DialogMessage.vue";
import GenerateFormular from "@/components/GenerateFormular.vue";
import {useLoggedUserStore} from "@/stores/loggedUser";
import {checkUserRight} from "@/utils"; // Variable die auf mit von der Component erwartet werden

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  // Überschrift
  headerTitle: {
    type: String,
    required: true,
  },
  // Felder
  fields: {
    type: Object,
    required: true
  },
  // Eintrag
  item: {
    type: Object,
    required: true
  },
  // Anzeige - erforderliche Felder
  showRequiredText: {
    type: Boolean,
    required: false,
    default: true
  },
  // Anzeige welcher Button benötigt wird
  showedActionButton: {
    type: Object,
    required: false,
    default: {
      create: true,
      save: false,
    }
  },
  // Dialog automatisch Schließen
  dialogAutoClose: {
    type: Boolean,
    required: false,
    default: true
  },
  // Laden Status vom Item
  itemIsLoading: {
    type: Boolean,
    required: false,
    default: false
  },
// Dialog Nutzer
  dialogUser: {
    type: Boolean,
    required: false,
    default: false
  },
  // Anzeige Autoclose
  showedAutoCloseSwitch: {
    type: Boolean,
    required: false,
    default: true
  }
});

// Events die abgefeuert werden
const emit = defineEmits(['closeDialog', 'itemAdd', 'itemEdit', 'changeDialogAutoClose', 'changeDropDownFederalState', 'changeDropDownDepartment', 'setRoleFullAdmin', 'setRoleDepartmentAdmin', 'setRoleGroupLeader']);

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components, generals, dialogs} = storeToRefs(storeTranslation);

// Store - angemeldeter Nutzer
const storeLoggedUser = useLoggedUserStore();
const {loggedUser} = storeToRefs(storeLoggedUser);

// Aktions Knopf - Aktivieren / Deaktivieren
const actionButtonDisabled = ref(true);

// Anzeige des Dialoges
const visible = ref(true);

// Dialog automatisch Schließen
const autoClose = ref(true);

// Wird beim ausgeführt beim Laden der Komponente
onMounted(async () => {
  autoClose.value = props.dialogAutoClose;
});
</script>

<style>
/* Bei dem Modal Header, den Mauszeiger ändern */
.default-modal > .p-dialog-header {
  cursor: move;
}
</style>