<template>
  <Dialog v-model:visible="visible" :breakpoints="{ '960px': '75vw', '641px': '100vw' }" :draggable="true"
          :header="headerTitle" :style="{ width: '50vw' }"
          class="default-modal"
          maximizable modal @hide="emit('closeDialog')">

    <!-- Inhalt -->
    <div class="grid mt-2">
      <template v-for="(field, index) in viewDeleteFields">
        <!-- Einfaches Textfeld -->
        <div v-if="field.fieldType === 'inputText'" :class="field.cssClass" class="font-bold">
          <span class="p-float-label">
            <InputText :id="index" v-model="item[index]"
                       :aria-describedby="index+'-help'" :autofocus="field.autofocus"
                       :maxlength="field.maxlength"
                       :minlength="field.minlength"
                       :disabled="true"
                       :required="field.required" class="min-w-full"/>
            <label :for="index"><required-star v-if="field.required"/>{{ field.label }}</label>
          </span>
          <div class="flex justify-content-between flex-wrap m-2">
            <small v-if="item[index]" class="fadeinleft animation-duration-200 font-light font-italic">
              Zeichen: {{
                item[index].length
              }}/{{ field.maxlength }}</small>
            <small :id="index+'-help'">{{ field.help }}</small>
          </div>
        </div>
      </template>
    </div>
    <!-- Fußzeile -->
    <template #footer>
      <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
        <!-- Schließen -->
        <Button :label="components.dialog.buttonClose" autofocus
                icon="pi pi-times" text @click="emit('closeDialog')"/>
        <!-- Löschen -->
        <Button :label="components.dialog.buttonDelete"
                icon="pi pi-save" severity="danger" @click="emit('itemDelete')"/>
      </div>
    </template>
  </Dialog>
</template>

<script setup>
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import {ref} from "vue";
import RequiredStar from "@/components/RequiredStar.vue";

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  // Überschrift
  headerTitle: {
    type: String,
    required: true,
  },
  // Eintrag
  item: {
    type: Object,
    required: true
  },
  // Felder für die Ausgabe
  viewDeleteFields: {
    type: Object,
    required: true
  },
});

// Events die abgefeuert werden
const emit = defineEmits(['closeDialog', 'itemDelete']);

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components} = storeToRefs(storeTranslation);

// Aktions Knopf - Aktivieren / Deaktivieren
const actionButtonDisabled = ref(true);

// Anzeige des Dialoges
const visible = ref(true);

</script>

<style>
/* Bei dem Modal Header, den Mauszeiger ändern */
.default-modal > .p-dialog-header {
  cursor: move;
}
</style>