<template>
  <DataTable ref="dt" v-model:filters="filters" v-model:selection="selectedItem"
             :currentPageReportTemplate="currentPageReportTemplate"
             :globalFilterFields="globalFilterFields"
             :loading="loading" :multi-sort-meta="multiSort" :rowHover="true"
             :rows="defaultRows" :rowsPerPageOptions="rowsPerPage" :selectAll="selectAll" :stateKey="`tableState-${stateKey}`"
             :totalRecords="dataTotalCount"
             :value="dataForTable" class="p-datatable-sm" columnResizeMode="fit" dataKey="id"
             filterDisplay="row"
             @rowExpand="onRowExpand($event)"
             v-model:expandedRows="expandedRows"
             lazy paginator
             paginator-position="both"
             paginatorTemplate="RowsPerPageDropdown FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport"
             sortMode="multiple"
             stateStorage="local" stripedRows
             @filter="loadLazyData($event)"
             @page="loadLazyData($event)" @sort="loadLazyData($event)">

    <!-- Kopf über der Tabelle -->
    <template #header>
      <div class="grid ">
        <!-- Text ganz links nur bei großen Bildschirmen-->
        <div class="col-4 m-auto">
          <!--          <h2 class="ml-2 md:hidden xl:block">{{ headerText }}</h2>-->
          <!-- Auswahl der Spalten die Sichtbar sind -->
          <MultiSelect v-if="viewSelectedColumns" :maxSelectedLabels="3"
                       :modelValue="selectedColumns[props.stateKey]"
                       filter
                       :options="columns" :placeholder="components.dataTable.selectColumnsPlaceholder"
                       :selectedItemsLabel="selectedItemsLabel" class="mr-4 max-wid" optionLabel="header"
                       style="max-width: 300px" @update:modelValue="onToggle($event)"/>
        </div>

        <!-- Knopf in der Mitte, um einen neuen Eintrag zu erstellen -->
        <div class="col-4 md:col-4 text-center m-auto">
          <Dropdown v-model="selectYear" :options="years" :label="components.dataTable.buttons.selectYear.label"
                    v-if="enabledButtons.selectYear" :placeholder="components.dataTable.buttons.selectYear.label"
                    @change="emit('changeYear', $event)"/>
<!-- :label="components.dataTable.buttons.addItem.label" -->
          <Button v-tooltip="components.dataTable.buttons.addItem.tooltip" :disabled="!enabledButtons.add"
                  :label="`${labelFromButtonAdd} ${components.dataTable.buttons.addItem.label}`"
                  aria-describedby="Add Item" raised severity="warning" @click="emit('itemAdd')"
                  v-if="!enabledButtons.showNoButtons"/>
          <Button v-if="enabledButtons.reloadData" v-tooltip="components.dataTable.buttons.reloadData.tooltip"
                  aria-describedby="Reload Data" aria-label="Bookmark" class="ml-2" icon="pi pi-refresh" raised
                  severity="secondary" @click="loadLazyData(lazyParams)"/>
        </div>
        <!-- Suchfeld ganz rechts (Globale Suche für alle Spalten) -->
        <div class="col-4 text-right m-auto">
          <span class="p-input-icon-left">
                    <i class="pi pi-search"/>
                    <InputText v-model="filters['global'].value" :placeholder="components.dataTable.searchPlaceholder"
                               @keyup="loadLazyData"/>
            </span>
        </div>
      </div>
    </template>

    <template #paginatorstart>
    </template>
    <template #paginatorend>
    </template>

    <!-- Standard Meldungen -->
    <template #empty class="flex">
      <div class="flex-none flex align-items-center justify-content-center font-bold">{{
          components.dataTable.emptyItems
        }}
      </div>
    </template>
    <!-- Daten werden geladen -->
    <template #loading>
      <ProgressSpinner/>
    </template>

    <!-- Spalte für das ausklappen der Untertabelle -->
    <Column expander style="width: 5rem" v-if="hasSubTable"/>

    <!-- Untertabellen -->
    <template #expansion="slotProps" v-if="hasSubTable">
<!--      &lt;!&ndash; Entity - Team bzw. Funktion&ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'teamOrFunction'"-->
<!--                 :columns="subTableColumns && subTableColumns[0] ? subTableColumns[0] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[0] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['participants'] && slotProps.data['participants'].length > 0 ? slotProps.data['participants'] : []"/>-->
<!--      &lt;!&ndash; Entity - Fahrzeug &ndash;&gt;-->
<!--      &lt;!&ndash; ## Teilnehmer ## &ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'vehicle'"-->
<!--                 :columns="subTableColumns && subTableColumns[0] ? subTableColumns[0] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[0] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['participant'] && slotProps.data['participant'] !== null ? [slotProps.data['participant']] : []"/>-->
<!--      &lt;!&ndash; Entity - Unterkunft &ndash;&gt;-->
<!--      &lt;!&ndash; ## Teilnehmer ## &ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'accommodation'"-->
<!--                 :columns="subTableColumns && subTableColumns[0] ? subTableColumns[0] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[0] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['participant'] && slotProps.data['participant'] !== null ? [slotProps.data['participant']] : []"/>-->
<!--      &lt;!&ndash; Entity - IT Material &ndash;&gt;-->
<!--      &lt;!&ndash; ## Teilnehmer ## &ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'itMaterial'"-->
<!--                 :columns="subTableColumns && subTableColumns[0] ? subTableColumns[0] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[0] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['participant'] && slotProps.data['participant'] !== null ? [slotProps.data['participant']] : []"/>-->
<!--      &lt;!&ndash; ## Materialset ## &ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'itMaterial'"-->
<!--                 :columns="subTableColumns && subTableColumns[1] ? subTableColumns[1] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[1] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['itMaterialSet'] && slotProps.data['itMaterialSet'] !== null ? [slotProps.data['itMaterialSet']] : []"-->
<!--                 class="mt-3"/>-->
<!--      &lt;!&ndash; Entity - IT Materialset &ndash;&gt;-->
<!--      &lt;!&ndash; ## Teilnehmer ## &ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'itMaterialSet'"-->
<!--                 :columns="subTableColumns && subTableColumns[0] ? subTableColumns[0] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[0] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['participant'] && slotProps.data['participant'] !== null ? [slotProps.data['participant']] : []"/>-->
<!--      &lt;!&ndash; ## Material ## &ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'itMaterialSet'"-->
<!--                 :columns="subTableColumns && subTableColumns[1] ? subTableColumns[1] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[1] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['itMaterials'] && slotProps.data['itMaterials'].length > 0 ? slotProps.data['itMaterials'] : []"-->
<!--                 class="mt-3"/>-->
<!--      &lt;!&ndash; Entity - anderes Material &ndash;&gt;-->
<!--      &lt;!&ndash; ## Teilnehmer ## &ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'otherMaterial'"-->
<!--                 :columns="subTableColumns && subTableColumns[0] ? subTableColumns[0] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[0] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['participant'] && slotProps.data['participant'] !== null ? [slotProps.data['participant']] : []"/>-->
<!--      &lt;!&ndash; ## Materialset ## &ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'otherMaterial'"-->
<!--                 :columns="subTableColumns && subTableColumns[1] ? subTableColumns[1] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[1] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['otherMaterialSet'] && slotProps.data['otherMaterialSet'] !== null ? [slotProps.data['otherMaterialSet']] : []"-->
<!--                 class="mt-3"/>-->
<!--      &lt;!&ndash; Entity - anderes Materialset &ndash;&gt;-->
<!--      &lt;!&ndash; ## Teilnehmer ## &ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'otherMaterialSet'"-->
<!--                 :columns="subTableColumns && subTableColumns[0] ? subTableColumns[0] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[0] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['participant'] && slotProps.data['participant'] !== null ? [slotProps.data['participant']] : []"/>-->
<!--      &lt;!&ndash; ## Materials ## &ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'otherMaterialSet'"-->
<!--                 :columns="subTableColumns && subTableColumns[1] ? subTableColumns[1] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[1] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['otherMaterials'] && slotProps.data['otherMaterials'].length > 0 ? slotProps.data['otherMaterials'] : []"-->
<!--                 class="mt-3"/>-->
<!--      &lt;!&ndash; Entity - IT-Material Kategorien &ndash;&gt;-->
<!--      &lt;!&ndash; ## Material ## &ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'itMaterialCategory'"-->
<!--                 :columns="subTableColumns && subTableColumns[0] ? subTableColumns[0] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[0] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['itMaterials'] && slotProps.data['itMaterials'].length > 0 ? slotProps.data['itMaterials'] : []"-->
<!--                 class="mt-3"/>-->
<!--      &lt;!&ndash; Entity - Teilnehmer &ndash;&gt;-->
<!--      &lt;!&ndash; ## IT Materialset ## &ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'participant'"-->
<!--                 :columns="subTableColumns && subTableColumns[0] ? subTableColumns[0] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[0] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['itMaterialSets'] && slotProps.data['itMaterialSets'].length > 0 ? slotProps.data['itMaterialSets'] : []"-->
<!--                 class="mt-3"/>-->
<!--      &lt;!&ndash; ## IT Material ## &ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'participant'"-->
<!--                 :columns="subTableColumns && subTableColumns[1] ? subTableColumns[1] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[1] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['itMaterials'] && slotProps.data['itMaterials'].length > 0 ? slotProps.data['itMaterials'] : []"-->
<!--                 class="mt-3"/>-->
<!--      &lt;!&ndash; ## anderes Materialset ## &ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'participant'"-->
<!--                 :columns="subTableColumns && subTableColumns[2] ? subTableColumns[2] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[2] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['otherMaterialSets'] && slotProps.data['otherMaterialSets'].length > 0 ? slotProps.data['otherMaterialSets'] : []"-->
<!--                 class="mt-3"/>-->
<!--      &lt;!&ndash; ## anderes Material ## &ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'participant'"-->
<!--                 :columns="subTableColumns && subTableColumns[3] ? subTableColumns[3] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[3] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['otherMaterials'] && slotProps.data['otherMaterials'].length > 0 ? slotProps.data['otherMaterials'] : []"-->
<!--                 class="mt-3"/>-->
<!--      &lt;!&ndash; ## Unterkunft ## &ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'participant'"-->
<!--                 :columns="subTableColumns && subTableColumns[4] ? subTableColumns[4] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[4] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['accommodation'] && slotProps.data['accommodation'] !== null ? [slotProps.data['accommodation']] : []"-->
<!--                 class="mt-3"/>-->
<!--      &lt;!&ndash; ## Fahrzeug ## &ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'participant'"-->
<!--                 :columns="subTableColumns && subTableColumns[5] ? subTableColumns[5] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[5] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['vehicle'] && slotProps.data['vehicle'] !== null ? [slotProps.data['vehicle']] : []"-->
<!--                 class="mt-3"/>-->
<!--      &lt;!&ndash; ## Team bzw. Funktion ## &ndash;&gt;-->
<!--      <sub-table v-if="subTableType === 'participant'"-->
<!--                 :columns="subTableColumns && subTableColumns[6] ? subTableColumns[6] : []"-->
<!--                 :loading="loading"-->
<!--                 :headline="subTableHeadlines && subTableHeadlines.length > 0 ? subTableHeadlines[6] : ''"-->
<!--                 :dataForTable="slotProps.data && slotProps.data['teamOrFunction'] && slotProps.data['teamOrFunction'] !== null ? [slotProps.data['teamOrFunction']] : []"-->
<!--                 class="mt-3"/>-->

    </template>

    <!-- Erstellen der Einzelnen Spalten -->
    <template v-for="col of selectedColumns[props.stateKey]">
      <Column v-if="col.showing" :key="col.field" :data-type="col.dataType"
              :field="col.field" :filter-field="col.filterField" :sort-field="col.sortField"
              :sortable="col.sortable" class="text-center">

        <!-- Header Text -->
        <template #header>
          <span v-html="col.header"/>
        </template>

        <!-- Ist es ein Objekt {id: ..., abbreviation: ...} -->
        <template v-if="col && col.hasSubfield" #body="slotProps">

          <!-- Datum -->
          <template v-if="col && col.filterTyp && col.filterTyp === 'date'">
            {{ formatDate(subField(col.field, slotProps.data[col.mainField])) }}
          </template>

          <!-- Datum und Uhrzeit -->
          <template v-else-if="col && col.filterTyp && col.filterTyp === 'dateTime'">
            {{ formatDatetime(subField(col.field, slotProps.data[col.mainField])) }}
          </template>

          <!-- ja/nein Wert (Boolean) -->
          <template v-else-if="col && col.filterTyp && col.filterTyp === 'boolean'">
            <i :class="{ 'pi-check-circle text-green-500': subField(col.field, slotProps.data[col.mainField]), 'pi-times-circle text-red-400': !subField(col.field, slotProps.data[col.mainField]) }"
               class="pi"></i>
          </template>

          <!-- Text alleine, aber mit einer Funktion ausführen -->
          <template v-else-if="col && col.usedFunction">
            <!-- Anzeige der Nutzerrollen -->
            <template v-if="col.usedFunction === 'showUserRoles'">
              <VirtualScroller :itemSize="50" :items="slotProps.data[slotProps.field]" style="height: 80px">
                <template v-slot:item="{ item, options }">
                  <div v-tooltip="showUserRoles(item, col.itemsForFunction, 'tooltip')"
                       :aria-describedby="item"
                       :class="['flex align-items-center p-2', { 'surface-hover': options.odd }]"
                       class="justify-content-center">
                    {{ showUserRoles(item, col.itemsForFunction, 'display') }}
                  </div>
                </template>
              </VirtualScroller>
            </template>
            <!-- Anzeige der Abonnierten Alarm Adressen -->
            <template v-if="col.usedFunction === 'showUserAlertAddresses'">
              <VirtualScroller :itemSize="50" :items="slotProps.data[slotProps.field]" style="height: 80px">
                <template v-slot:item="{ item, options }">
                  <div :class="['flex align-items-center p-2', { 'surface-hover': options.odd }]"
                       class="justify-content-center">
                    {{ item }}
                  </div>
                </template>
              </VirtualScroller>
            </template>
            <!-- Auswertung - Spalte 1 -->
            <template v-if="col.usedFunction === 'showIncomingDateTimeCreatedAt'">
              <span>{{ formatDatetime(subField(col.field, slotProps.data[col.mainField])) }}</span>
              <br>
              <span class="text-red-700">({{ formatDatetime(slotProps.data[col.fieldTwo]) }})</span>
            </template>
            <template v-if="col.usedFunction === 'showUserAlertAddresses'">
              <VirtualScroller :itemSize="50" :items="slotProps.data[slotProps.field]" style="height: 80px">
                <template v-slot:item="{ item, options }">
                  <div :class="['flex align-items-center p-2', { 'surface-hover': options.odd }]"
                       class="justify-content-center">
                    {{ item }}
                  </div>
                </template>
              </VirtualScroller>
            </template>
            <!-- Auswertung - Einsatzdauer -->
            <template v-if="col.usedFunction === 'showCalcOperatingTime'">
              <span
                  v-html="showCalcOperatingTime(subField(col.field, slotProps.data[col.mainField]), subField(col.fieldTwo, slotProps.data[col.mainField])).message"></span>
            </template>
            <!-- Auswertung - Einsatzdauer Gesamt -->
            <template v-if="col.usedFunction === 'showCalcOperatingTimeTotal'">
              <span
                  v-html="showCalcOperatingTimeTotal(subField(col.field, slotProps.data[col.mainField]), subField(col.fieldTwo, slotProps.data[col.mainField]), slotProps.data).message"></span>
            </template>
          </template>

          <!-- Text alleine -->
          <template v-else-if="col && col.hasSubfield && col.hasSubfieldTwo && col.subField === 'operationType'">
            {{ slotProps.data[col.mainField][col.subField].operationTypeCategory.abbreviation }} - {{ subField(col.field, slotProps.data[col.mainField][col.subField]) }}
          </template>

          <template v-else-if="col && col.hasSubfield && col.hasSubfieldTwo">
            {{ subField(col.field, slotProps.data[col.mainField][col.subField]) }}
          </template>

          <!-- Text alleine -->
          <template v-else>
            {{ subField(col.field, slotProps.data[col.mainField]) }}
          </template>
        </template>

        <!-- Datum -->
        <template v-else-if="col && col.filterTyp && col.filterTyp === 'date'" #body="slotProps">
          {{ formatDate(slotProps.data[slotProps.field]) }}
        </template>

        <!-- Datum und Uhrzeit -->
        <template v-else-if="col && col.filterTyp && col.filterTyp === 'dateTime'" #body="slotProps">
          {{ formatDatetime(slotProps.data[slotProps.field]) }}
        </template>

        <!-- ja/nein Wert (Boolean) -->
        <template v-else-if="col && col.filterTyp && col.filterTyp === 'boolean'" #body="slotProps">
          <i :class="{ 'pi-check-circle text-green-500': slotProps.data[slotProps.field], 'pi-times-circle text-red-400': !slotProps.data[slotProps.field] }"
             class="pi"></i>
        </template>

        <!-- Text alleine, aber mit einer Funktion ausführen -->
        <template v-else-if="col && col.usedFunction" #body="slotProps">
          <!-- Anzeige der Nutzerrollen -->
          <template v-if="col.usedFunction === 'showUserRoles'">
            <VirtualScroller
                v-if="slotProps.data[slotProps.field].length > 0 && Array.isArray(slotProps.data[slotProps.field])"
                :itemSize="50"
                :items="slotProps.data[slotProps.field]" style="height: 80px">
              <template v-slot:item="{ item, options }">
                <div v-tooltip="showUserRoles(item, col.itemsForFunction, 'tooltip')"
                     :aria-describedby="item" :class="['flex align-items-center p-2', { 'surface-hover': options.odd }]"
                     class="justify-content-center">
                  {{ showUserRoles(item, col.itemsForFunction, 'display') }}
                </div>
              </template>
            </VirtualScroller>

            <VirtualScroller
                v-else :itemSize="50" :items="Object.values(slotProps.data[slotProps.field])"
                style="height: 80px">
              <template v-slot:item="{ item, options }">
                <div v-tooltip="showUserRoles(item, col.itemsForFunction, 'tooltip')"
                     :aria-describedby="item" :class="['flex align-items-center p-2', { 'surface-hover': options.odd }]"
                     class="justify-content-center">
                  {{ showUserRoles(item, col.itemsForFunction, 'display') }}
                </div>
              </template>
            </VirtualScroller>
          </template>
          <!-- Anzeige der Abonnierten Alarm Adressen -->
          <template v-if="col.usedFunction === 'showUserAlertAddresses'">
            <VirtualScroller :itemSize="50" :items="slotProps.data[slotProps.field]" style="height: 80px">
              <template v-slot:item="{ item, options }">
                <div :class="['flex align-items-center p-2', { 'surface-hover': options.odd }]"
                     class="justify-content-center">
                  {{ item }}
                </div>
              </template>
            </VirtualScroller>
          </template>
          <!-- Anzeige der Eigenen Kräft -->
          <template v-if="col.usedFunction === 'showOwnForces'">
            <div v-html="getOwnForces(slotProps.data)">
            </div>
          </template>
          <!-- Anzahl der Einträge -->
          <template v-if="col.usedFunction === 'showCount'">
            <span>{{
                slotProps.data && slotProps.data[slotProps.field] ? slotProps.data[slotProps.field].length : 0
              }}</span>
          </template>
          <!-- Anzeige der Eigenen Kräft -->
          <template v-if="col.usedFunction === 'showOwnForcesEvaluation'">
            <div v-html="getOwnForcesEvaluation(slotProps.data)">
            </div>
          </template>
        </template>

        <!-- Text alleine -->
        <template v-else #body="slotProps">
          {{ slotProps.data[slotProps.field] }}
        </template>

        <!-- Filter -->
        <template v-if="col.filter && col.showing" #filter="{ filterModel, filterCallback }" class="text-center">
          <!-- Wenn die Ausgabe eine Datum ist -->
          <Calendar v-if="col && col.filterTyp && (col.filterTyp === 'date' || col.filterTyp === 'dateTime')"
                    v-model="filterModel.value"
                    dateFormat="dd/mm/yy" mask="99/99/9999"
                    placeholder="dd/mm/yyyy"/>

          <!-- Wenn die Ausgabe eine Text (String) ist -->
          <InputText
              v-else-if="col && col.filterTyp && col.filterTyp === 'text'"
              v-model="filterModel.value"
              :placeholder="components.dataTable.searchPlaceholder"
              class="p-column-filter" @input="filterCallback()"/>

          <!-- Wenn die Ausgabe eine Zahl ist -->
          <InputNumber
              v-else-if="col && col.filterTyp && col.filterTyp === 'numeric'"
              v-model="filterModel.value"
              :placeholder="components.dataTable.searchPlaceholder"
              class="p-column-filter" @input="filterCallback()"/>

          <TriStateCheckbox v-else-if="col && col.filterTyp && col.filterTyp === 'boolean'" v-model="filterModel.value"
                            @change="filterCallback()"/>

        </template>
      </Column>
    </template>

    <!-- Aktions Spalte -->
    <column v-if="columnAction" :header="components.dataTable.columnActionsHeadline" style="width: 10rem">
      <template #body="slotProps">
        <!-- Details -->
        <Button v-if="showButtonDetails"
                v-tooltip="components.dataTable.buttons.detailsItem.tooltip"
                :aria-describedby="`Edit-${slotProps.data.id}`"
                :disabled="!enabledButtons.details" :icon="components.dataTable.buttons.detailsItem.icon"
                aria-label="Details Item"
                class="m-1" rounded
                severity="secondary" text @click="emit('itemDetails', slotProps.data)"/>
        <!-- Export -->
        <Button v-if="showButtonExport"
                v-tooltip="components.dataTable.buttons.exportItem.tooltip"
                :aria-describedby="`Export-${slotProps.data.id}`"
                :disabled="!enabledButtons.export" :icon="components.dataTable.buttons.exportItem.icon"
                aria-label="Export Item"
                class="m-1" :class="{'text-green-700' : slotProps.data.exportPdfPath}" rounded
                severity="secondary" text @click="emit('itemExport', slotProps.data)"/>
        <!-- bearbeiten -->
        <Button v-if="enabledButtons.hoursToEdit === 0 || !enabledButtons.hoursToEdit"
                v-tooltip="components.dataTable.buttons.editItem.tooltip"
                :aria-describedby="`Edit-${slotProps.data.id}`"
                :disabled="!enabledButtons.edit" :icon="components.dataTable.buttons.editItem.icon"
                aria-label="Edit Item"
                class="m-1" rounded
                severity="secondary" text @click="emit('itemEdit', slotProps.data)"/>
        <!-- Wie lange zeit zum bearbeiten in Stunden -->
        <Button v-else v-tooltip="components.dataTable.buttons.editItem.tooltip"
                :aria-describedby="`Edit-${slotProps.data.id}`"
                :disabled="!isInEditHours(slotProps.data.createdAt, enabledButtons.edit, enabledButtons.hoursToEdit) "
                :icon="components.dataTable.buttons.editItem.icon"
                aria-label="Edit Item"
                class="m-1" rounded
                severity="secondary" text @click="emit('itemEdit', slotProps.data)"/>
        <!-- löschen -->
        <Button v-tooltip="components.dataTable.buttons.deleteItem.tooltip"
                :aria-describedby="`Delete-${slotProps.data.id}`"
                :disabled="!enabledButtons.delete" :icon="components.dataTable.buttons.deleteItem.icon"
                aria-label="Delete Item"
                class="m-1"
                rounded
                severity="danger" text @click="emit('itemDelete', slotProps.data)"/>
      </template>
    </column>
  </DataTable>
</template>

<script setup>
import {storeToRefs} from "pinia";
import {onBeforeMount, onMounted, ref, watch} from "vue";
import {useTranslationStore} from "@/stores/translation";
import {useDataTableStore} from "@/stores/dataTable";

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  dataForTable: {
    type: Array,
    required: true,
  },
  dataTotalCount: {
    type: Number,
    required: true,
  },
  loading: {
    type: Boolean,
    required: true,
  },
  headerText: {
    type: String,
    required: true,
  },
  filters: {
    type: Object,
    required: true,
  },
  globalFilterFields: {
    type: Array,
    required: true,
  },
  columns: {
    type: Array,
    required: true,
  },
  viewSelectedColumns: {
    type: Boolean,
    required: false,
    default: false,
  },
  columnAction: {
    type: Boolean,
    required: false,
    default: true,
  },
  multiSortMeta: {
    type: Array,
    required: true,
  },
  enabledButtons: {
    type: Object,
    required: true,
    default: {
      add: false,
      edit: false,
      details: false,
      export: false,
      delete: false,
      showNoButtons: false,
      selectYear: false,
      hoursToEdit: 0,
    }
  },
  stateKey: {
    type: String,
    required: false,
  },
  selectYearValue: {
    type: String,
    required: false,
  },
  showButtonDetails: {
    type: Boolean,
    required: false,
    default: false,
  },
  showButtonExport: {
    type: Boolean,
    required: false,
    default: false,
  },
  labelFromButtonAdd: {
    type: String,
    required: true
  },
  hasSubTable: {
    type: Boolean,
    required: false,
    default: false,
  },
  subTableColumns: {
    type: Array,
    required: false
  },
  subTableType: {
    type: String,
    required: false
  },
  subTableHeadlines: {
    type: Array,
    required: false
  },
});

// Events die abgefeuert werden
const emit = defineEmits(['fetchData', 'itemAdd', 'itemEdit', 'itemDetails','itemExport', 'itemDelete', 'changeYear', 'onRowExpand']);

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components} = storeToRefs(storeTranslation);

// Template Text für die Paginator (unter der Tabelle)
const currentPageReportTemplate = `{first} ${components.value.dataTable.pageReportTemplateOne} {last} ${components.value.dataTable.pageReportTemplateTwo} {totalRecords} ${components.value.dataTable.pageReportTemplateThree}`;

// Standard Einstellungen
// Einträge pro Seite
const rowsPerPage = ref([5, 10, 25, 50, 100]);
const defaultRows = ref(25);
const selectedItemsLabel = `{0} ${components.value.dataTable.selectColumnsItems}`;
const expandedRows = ref([]);
const stateStorage = "localStorage";
const selectYear = ref(parseInt(props.selectYearValue));

// Referenzen zur Tabelle
const dt = ref();
const selectedItem = ref();
const selectAll = ref(false);
const filters = ref({...props.filters});
const multiSort = ref([...props.multiSortMeta]);

// Store - Einstellungen des Data Tables
const storeDataTable = useDataTableStore();
const {lastLazyParams, selectedColumns} = storeToRefs(storeDataTable);

const lazyParams = ref({
  first: 0,
  rows: dt.d_rows,
  sortField: null,
  sortOrder: null,
  filters: filters.value,
  multiSortMeta: dt.d_multiSortMeta
});

// Wenn die Daten aus dem Local store geladen wurden
const isLoadState = ref(false);

// Ausgewählte Spalten
const tableSelectedColumns = ref(props.columns.filter(cal => cal.defaultView));

// Sichtbarkeit der Spalten
const onToggle = async (val) => {
  await storeDataTable.setSelectedColumns(val, props.stateKey, stateStorage)
};

// Daten Laden bei Änderungen in der Tabelle
const loadLazyData = (event) => {
  lazyParams.value = {
    first: 0,
    rows: dt.value.d_rows,
    sortField: null,
    sortOrder: null,
    filters: filters.value,
    multiSortMeta: dt.value.d_multiSortMeta
  };

  if (event) {
    if (event.first) {
      lazyParams.value.first = event.first;
    }

    if (event.multiSortMeta) {
      lazyParams.value.multiSortMeta = event.multiSortMeta;
    }
  }

  emit('fetchData', lazyParams.value);
};

// Formatierung Datum
const formatDate = (value) => {
  if (value) {
    let date = new Date(value);

    return date.toLocaleDateString('de-DE', {
      day: '2-digit',
      month: '2-digit',
      year: 'numeric'
    });
  }
  return '';
};

// Formatierung Datum Zeit
const formatDatetime = (value) => {
  if (value) {
    let date = new Date(value);

    return date.toLocaleTimeString('de-DE', {
      day: '2-digit',
      month: '2-digit',
      year: 'numeric',
      hours: '2-digit',
      minutes: '2-digit'
    });
  }
  return '';
};

// Ausgabe für in Objekt
const subField = (field, element) => {
  let str = field.split('.');
  if (str.length > 0) {
    return element[str[1]];
  }
}

// Aufbereiten für die Nutzerrollen
const showUserRoles = (role, itemsFromTheFunction, returnType) => {

  if (role && itemsFromTheFunction && itemsFromTheFunction.length > 0 && returnType) {
    // Finden der Rolle
    const findRole = itemsFromTheFunction.find(item => item.roleName === role);
    // gibt es eine Rolle
    if (findRole) {
      // Anzeige des Tooltips
      if (returnType === 'tooltip') {
        return findRole.description;
      }
      // Anzeige in der Tabelle
      if (returnType === 'display') {
        return findRole.displayName;
      }
    }
  }
  return '';
};

// Eingesetzte eigene Kräfte
const getOwnForces = (data) => {
  let ownForces = 0;
  let ownForcesVehicles = 0;
  let allForces = 0;
  let allVehicles = 0;
  let iOtherTaskForces = 0;

  if (data && data.ownForces && data.otherTaskForces) {
    ownForcesVehicles = data.ownForces.members.length;
    allVehicles = data.ownForces.members.length;
    for (let vehicle of data.ownForces.members) {
      ownForces += parseInt(vehicle.members.length);
      allForces += parseInt(vehicle.members.length);
    }

    // Andere Kräft
    for (let otherTaskForce of data.otherTaskForces) {
      if (iOtherTaskForces > 0) {
        allForces += parseInt(otherTaskForce.numberOfForces);

        if (otherTaskForce.vehicles) {
          let split = otherTaskForce.vehicles.split(',');
          if (split) {
            allVehicles += parseInt(split.length);
          }
        }
      }
      iOtherTaskForces++;
    }

  }

  let result = `<span>${allVehicles} | ${allForces}</span> <br>
                    <span class="text-red-600">(${ownForcesVehicles} | ${ownForces})</span>`

  return result;
}

// Auswertung Eingesetzte eigene Kräfte
const getOwnForcesEvaluation = (data) => {
  let ownForces = 0;
  let ownForcesVehicles = 0;

  if (data && data.ownForces) {
    ownForcesVehicles = data.ownForces.members.length;
    for (let vehicle of data.ownForces.members) {
      ownForces += vehicle.members.length;
    }
  }

  return `<span>${ownForcesVehicles} | ${ownForces}</span>`;
}

// Auswertung - Berechnung Einsatzdauer
const showCalcOperatingTime = (start, end) => {
  if (start && end) {
    let calStart = new Date(start).getTime();
    let calEnd = new Date(end).getTime();

    // Differenz
    let diff = Math.round((calEnd - calStart) / 1000);
    // Tage
    let d = Math.floor(diff / (24 * 60 * 60));
    diff = diff - (d * 24 * 60 * 60);
    // Stunden
    let h = Math.floor(diff / (60 * 60));
    diff = diff - (h * 60 * 60);
    // Minuten
    let m = Math.floor(diff / (60));
    diff = diff - (m * 60);
    // Sekunden
    let s = diff;
    return {
      days: d,
      hours: h,
      minutes: m,
      seconds: s,
      message: `${d} Tage ${h} Stunden ${m} Minuten`
    }
  }
  return {
    message: "Kein Start bzw. Ende Definiert!"
  }
}

// Auswertung - Berechnung Einsatzdauer Gesamt
const showCalcOperatingTimeTotal = (start, end, ownForces) => {
  if (start && end && ownForces && ownForces.ownForces) {
    let ownForcesMembers = 0;

    if (ownForces && ownForces.ownForces) {
      for (let vehicle of ownForces.ownForces.members) {
        ownForcesMembers += vehicle.members.length;
      }
    }

    let calStart = new Date(start).getTime();
    let calEnd = new Date(end).getTime();

    // Differenz
    let diff = Math.round((calEnd - calStart) / 1000);
    // Multiplizieren mit den Einsatzkräften
    diff = diff * ownForcesMembers
    // Tage
    let d = Math.floor(diff / (24 * 60 * 60));
    diff = diff - (d * 24 * 60 * 60);
    // Stunden
    let h = Math.floor(diff / (60 * 60));
    diff = diff - (h * 60 * 60);
    // Minuten
    let m = Math.floor(diff / (60));
    diff = diff - (m * 60);
    // Sekunden
    let s = diff;

    return {
      days: d,
      hours: h,
      minutes: m,
      seconds: s,
      message: `${d} Tage ${h} Stunden ${m} Minuten`
    }
  }
  return {
    message: "Kein Start bzw. Ende Definiert oder Eigene Kräfte!"
  }
}

/**
 * Check is the Created under hoursToEdit
 * then enabled Button
 *
 * @param createdAt
 * @param userRoles
 * @param hoursToEdit
 * @returns {boolean}
 */
const isInEditHours = (createdAt, userRoles, hoursToEdit) => {
  if (createdAt && userRoles && hoursToEdit) {

    let date = new Date(createdAt);
    let currentDateTime = new Date();

    let msPerHour = 1000 * 60 * 60;
    let hoursDiff = Math.abs(currentDateTime - date) / msPerHour;

    if (userRoles.includes('ROLE_FULL_ADMINISTRATOR') || userRoles.includes('ROLE_DEPARTEMENT_ADMINISTRATOR')) {
      return true;
    } else if (userRoles.includes('ROLE_OPERATION_REPORT_EDIT') && hoursDiff <= hoursToEdit) {
      return true;
    } else {
      return false;
    }
  }

  return false
}

// Aufklappen einer Spalte
const onRowExpand = async (event) => {
  if (event && event.data && event.data.id) {
    await emit('onRowExpand', event.data.id);
  }
};

onBeforeMount(async () => {
  // laden von eventuellen States aus dem Browser Store
  await storeDataTable.loadFromStore(props.stateKey, stateStorage);

  // Ausgewählte Spalten im Browser Store speichern
  if (selectedColumns.value[props.stateKey] && selectedColumns.value[props.stateKey].length === 0) {
    selectedColumns.value[props.stateKey] = ref(props.columns.filter(cal => cal.defaultView));
    await storeDataTable.saveInStore(props.stateKey, stateStorage);
  }
});

// Beim Einbinden der Component ausführen
onMounted(async () => {
  if (!isLoadState.value) {
    loadLazyData(lazyParams);
  }
});

// Einstellungen Store Abspeichern
watch(lazyParams, async (newValue) => {
  lastLazyParams.value = await newValue;
});

const firstYear = 2018;
const lastYear = ref(new Date().getFullYear());
const years = ref([]);

// Erstellung der Jahre, sowie Abrufen der Daten
const generateYears = async () => {
  for (; lastYear.value >= firstYear; lastYear.value--) {
    years.value.push(await lastYear.value);
  }
};
</script>

<style lang="scss">
.p-column-title {
  width: 100%;
}
</style>