<template>
  <div class="grid mt-2 pt-2">
    <template v-for="(field, index) in fields">
      <!-- Einfaches Textfeld -->
      <div v-if="field.fieldType === 'inputText'" v-show="field.fieldType === 'inputText'" :class="field.cssClass"
           class="font-bold">
        <!--          <span :class="{ 'min-w-full': !field.fieldNotFullWidth}" class="p-float-label p-input-icon-right">-->
        <span :class="addStyleClasses(field)" class="p-float-label">
             <i v-if="field.withIcon" v-tooltip="`${field.tooltip}`" :class="field.icon + field.iconClass"
                :aria-describedby="index+'-icon'" :style="field.styleIcon"
                :aria-label="index" @click="emit(`${field.actionMethode}`, $event)"/>
            <InputText :id="index" v-model="item[index]"
                       :aria-describedby="index+'-help'" :autofocus="field.autofocus"
                       :class="[{ 'min-w-full w-full pr-0': !field.fieldNotFullWidth}, {'p-invalid': !item[index] && field.required}]"
                       :disabled="disabledAllFields || field.disabled"
                       :max="parseInt(field.maxlength)"
                       :maxlength="field.maxlength"
                       :min="parseInt(field.maxlength)"
                       :minlength="field.minlength"
                       :readonly="readOnlyAllFields || field.readonly" :required="Boolean(field.required)"/>
          <!--             <Button v-show="field.withIcon" :class="field.iconClass" :icon="field.icon" aria-label="Submit" style="position: absolute;right: 3px; top: 5px;" />-->
            <label :for="index"><required-star v-if="field.required"/>{{ field.label }}</label>
          </span>
        <div class="flex justify-content-between flex-wrap m-2 underline-text">
          <small v-if="item[index]" class="numberOfCharacters fadeinleft animation-duration-200 font-light font-italic">
            {{ generals.numberOfCharacters }} {{
              item[index].length
            }}/{{ field.maxlength }}</small>
          <small :id="index+'-help'" class="fieldHelperText">{{ field.help }}</small>
        </div>
      </div>
      <!-- Einfaches Password -->
      <div v-if="field.fieldType === 'password'" v-show="field.fieldType === 'password'" :class="field.cssClass"
           class="font-bold">
          <span :class="{ 'min-w-full': !field.fieldNotFullWidth}" class="p-float-label p-input-icon-right">
             <i v-show="field.withIcon" :class="field.icon" @click="emit(`${field.actionMethode}`, $event)"/>
            <Password :id="index" v-model="item[index]"
                      :aria-describedby="index+'-help'" :autofocus="field.autofocus"
                      :class="[{ 'min-w-full': !field.fieldNotFullWidth}, {'p-invalid': !item[index] && field.required}]"
                      :disabled="disabledAllFields || field.disabled"
                      :max="parseInt(field.maxlength)"
                      :maxlength="field.maxlength"
                      :mediumLabel="components.passwordInput.mediumLabel"
                      :min="parseInt(field.maxlength)"
                      :minlength="field.minlength"
                      :promptLabel="components.passwordInput.promptLabel"
                      :readonly="readOnlyAllFields || field.readonly"
                      :required="Boolean(field.required)"
                      :strongLabel="components.passwordInput.strongLabel"
                      :weakLabel="components.passwordInput.weakLabel" inputClass="min-w-full"
                      toggleMask/>
            <label :for="index"><required-star v-if="field.required"/>{{ field.label }}</label>
          </span>
        <div class="flex justify-content-between flex-wrap m-2 underline-text">
          <small v-if="item[index]" class="numberOfCharacters fadeinleft animation-duration-200 font-light font-italic">
            {{ generals.numberOfCharacters }} {{
              item[index].length
            }}/{{ field.maxlength }}</small>
          <small :id="index+'-help'" class="fieldHelperText">{{ field.help }}</small>
        </div>
      </div>
      <!-- Einfache Textarena -->
      <div v-if="field.fieldType === 'textarea'" v-show="field.fieldType === 'textarea'" :class="field.cssClass"
           class="font-bold">
          <span class="p-float-label">
            <Textarea :id="index" v-model="item[index]"
                      autoResize
                      :aria-describedby="index+'-help'" :autofocus="field.autofocus"
                      :class="{'p-invalid': !item[index] && field.required}"
                      :disabled="disabledAllFields || field.disabled"
                      :max="parseInt(field.maxlength)"
                      :maxlength="field.maxlength"
                      :min="parseInt(field.maxlength)"
                      :minlength="field.minlength"
                      :readonly="readOnlyAllFields || field.readonly"
                      :required="Boolean(field.required)"
                      v-show="!field.forPrint"
                      :rows="field.row ?? 5" :cols="field.cols ?? 50" class="min-w-full">
              <p>
                {{ item[index] }}
              </p>
            </Textarea>
              <p :id="index" v-html="item[index]"
                 v-show="field.forPrint"
                 class="text-left p-disabled p-inputtextarea p-inputtext p-component p-filled p-inputtextarea-resizable min-w-full"
                 :aria-describedby="index+'-help'" :autofocus="field.autofocus"
                 :class="{'p-invalid': !item[index] && field.required}"
              />
            <label :for="index"><required-star v-if="field.required"/>{{ field.label }}</label>
          </span>
        <div class="flex justify-content-between flex-wrap m-2 underline-text">
          <small v-if="item[index]" class="numberOfCharacters fadeinleft animation-duration-200 font-light font-italic">
            {{ generals.numberOfCharacters }} {{
              item[index].length
            }}/{{ field.maxlength }}</small>
          <small :id="index+'-help'" class="fieldHelperText">{{ field.help }}</small>
        </div>
      </div>
      <!-- Einfaches Textfeld mit Eingaben Vorgabe xx-xx-xx -->
      <div v-if="field.fieldType === 'inputMask'" v-show="field.fieldType === 'inputMask'" :class="field.cssClass"
           class="font-bold">
          <span class="p-float-label">
            <InputMask :id="index" v-model="item[index]"
                       :aria-describedby="index+'-help'" :autofocus="field.autofocus"
                       :class="{'p-invalid': !item[index] && field.required}"
                       :disabled="disabledAllFields || field.disabled"
                       :mask="field.mask"
                       :max="parseInt(field.maxlength)"
                       :maxlength="field.maxlength"
                       :min="parseInt(field.maxlength)"
                       :minlength="field.minlength"
                       :readonly="readOnlyAllFields || field.readonly"
                       :required="Boolean(field.required)" class="min-w-full"/>
            <label :for="index"><required-star v-if="field.required"/>{{ field.label }}</label>
          </span>
        <div class="flex justify-content-between flex-wrap m-2 underline-text">
          <small v-if="item[index]" class="numberOfCharacters fadeinleft animation-duration-200 font-light font-italic">
            {{ generals.numberOfCharacters }} {{
              item[index].length
            }}/{{ field.maxlength }}</small>
          <small :id="index+'-help'" class="fieldHelperText">{{ field.help }}</small>
        </div>
      </div>
      <!-- Zahlen Eingabe -->
      <div v-if="field.fieldType === 'inputNumber'" v-show="field.fieldType === 'inputNumber'" :class="field.cssClass"
           class="font-bold">
          <span class="p-float-label">
            <InputNumber :id="index" v-model="item[index]"
                         :aria-describedby="index+'-help'"
                         :autofocus="field.autofocus"
                         :class="{'p-invalid': !item[index] && field.required}"
                         :disabled="disabledAllFields || field.disabled"
                         :maxlength="field.maxlength"
                         :minlength="field.minlength"
                         :readonly="readOnlyAllFields || field.readonly"
                         :required="Boolean(field.required)" :step="parseInt(field.step)"
                         class="min-w-full" showButtons/>
            <label :for="index"><required-star v-if="field.required"/>{{ field.label }}</label>
          </span>
        <div class="flex justify-content-between flex-wrap m-2 underline-text">
          <small v-if="item[index]" class="numberOfCharacters fadeinleft animation-duration-200 font-light font-italic">
            {{ generals.numberOfCharacters }} {{
              item[index].toString().length
            }}/{{ field.maxlength }}</small>
          <small :id="index+'-help'" class="fieldHelperText">{{ field.help }}</small>
        </div>
      </div>
      <!-- Dropdown -->
      <div v-if="field.fieldType === 'dropDown'" v-show="!field.show" :class="field.cssClass" class="font-bold">
          <span class="p-float-label">
            <!-- Mit Gruppen -->
            <Dropdown v-if="field.group" v-model="item[index]"
                      :aria-describedby="index+'-help'"
                      :autofocus="field.autofocus" :class="{'p-invalid': !item[index].id && field.required}"
                      :disabled="disabledAllFields || field.disabled"
                      :filter="true"
                      :loading="field.isLoading"
                      :optionGroupChildren="field.optionGroupChildren" :optionLabel="field.optionLabel"
                      :options="field.options"
                      :readonly="readOnlyAllFields || field.readonly"
                      :required="Boolean(field.required)"
                      class="min-w-full max-w-full" optionGroupLabel="label">
              <template #value="slotProps">
                <div v-if="slotProps.value && slotProps.value.operationTypeCategory" class="flex align-items-center">
                       <div> {{ slotProps.value.operationTypeCategory.abbreviation }} => {{ slotProps.value[field.optionLabel] }}</div>
                  </div>
            </template>
              <template #optiongroup="slotProps">
                  <div class="flex align-items-center">
                       <div><h4 class="text-color font-bold m-0 p-0">{{ slotProps.option.label }}</h4></div>
                  </div>
              </template>
              <template #option="slotProps">
                  <div class="flex align-items-center">
                       <div> => {{ slotProps.option[field.optionLabel] }}</div>
                  </div>
              </template>
            </Dropdown>
            <!-- Reagieren bei Änderung -->
            <Dropdown v-else-if="field.change" :id="index"
                      v-model="item[index].id"
                      :aria-describedby="index+'-help'"
                      :autofocus="field.autofocus"
                      :class="{'p-invalid': !item[index].id && field.required}"
                      :disabled="disabledAllFields || field.disabled"
                      :loading="field.isLoading"
                      :options="field.options"
                      :readonly="readOnlyAllFields || field.readonly" :required="Boolean(field.required)"
                      class="min-w-full max-w-full" filter option-label="label" option-value="value"
                      @change="emit(`${field.change}`, $event)"/>
            <Dropdown v-else :id="index"
                      v-model="item[index].id"
                      :aria-describedby="index+'-help'"
                      :autofocus="field.autofocus"
                      :class="{'p-invalid': !item[index].id && field.required}"
                      :disabled="disabledAllFields || field.disabled"
                      :loading="field.isLoading"
                      :options="field.options"
                      :readonly="readOnlyAllFields || field.readonly" :required="Boolean(field.required)"
                      class="min-w-full max-w-full" filter option-label="label" option-value="value"/>
            <label :for="index"><required-star v-if="field.required"/>{{ field.label }}</label>
          </span>
        <div class="flex justify-content-between flex-wrap m-2 underline-text">
          <small></small>
          <small :id="index+'-help'" class="fieldHelperText">{{ field.help }}</small>
        </div>
      </div>
      <!-- MultiSelect -->
      <div v-if="field.fieldType === 'multiSelect'" v-show="field.fieldType === 'multiSelect'" :class="field.cssClass"
           class="font-bold">
          <span class="p-float-label">
            <!-- Reagieren bei Änderung -->
            <MultiSelect :id="index"
                         v-model="item[index]"
                         :aria-describedby="index+'-help'"
                         :autofocus="field.autofocus"
                         :class="{'p-invalid': item[index].length === 0 && field.required}"
                         :disabled="disabledAllFields || field.disabled"
                         :loading="field.isLoading"
                         :maxSelectedLabels="field.maxSelectedLabels"
                         :option-label="field.optionsLabel ? field.optionsLabel : 'label'"
                         :option-value="field.optionsValue ? field.optionsValue: 'value'" :options="field.options"
                         :readonly="readOnlyAllFields || field.readonly" :required="Boolean(field.required)"
                         class="min-w-full max-w-full"
                         filter/>
            <label :for="index"><required-star v-if="field.required"/>{{ field.label }}</label>
          </span>
        <div class="flex justify-content-between flex-wrap m-2 underline-text">
          <small></small>
          <small :id="index+'-help'" class="fieldHelperText">{{ field.help }}</small>
        </div>
      </div>
      <!-- Input Switch -->
      <div v-if="field.fieldType === 'inputSwitch'" :class="field.cssClass" class="font-bold">
        <div class="grid">
          <InputSwitch :id="index"
                       v-model="item[index]"
                       :aria-describedby="index+'-help'"
                       :autofocus="field.autofocus" :disabled="disabledAllFields || field.disabled"
                       :readonly="readOnlyAllFields || field.readonly" :required="Boolean(field.required)"
                       class="m-auto ml-3 col-2"
          />
          <span class="p-float-label col-10 m-auto">
              <label :for="index"><required-star v-if="field.required"/>{{ field.label }}</label>
          </span>
        </div>
        <div class="flex justify-content-between flex-wrap m-2 underline-text">
          <small></small>
          <small :id="index+'-help'" class="fieldHelperText">{{ field.help }}</small>
        </div>
      </div>
      <!-- Kalender -->
      <div v-if="field.fieldType === 'calendar'" :class="field.cssClass" class="font-bold">
          <span class="p-float-label">
            <Calendar :id="index" v-model="item[index]"
                      :aria-describedby="index+'-help'"
                      :autofocus="field.autofocus"
                      :class="{'p-invalid': !item[index] && field.required}"
                      :disabled="disabledAllFields || field.disabled"
                      :readonly="readOnlyAllFields || field.readonly"
                      :required="Boolean(field.required)" :show-time="true"
                      class="min-w-full"
                      hourFormat="24"
            />
            <label :for="index"><required-star v-if="field.required"/>{{ field.label }}</label>
          </span>
        <div class="flex justify-content-between flex-wrap m-2 underline-text">
          <small></small>
          <small :id="index+'-help'" class="fieldHelperText">{{ field.help }}</small>
        </div>
      </div>
      <!-- Einfaches AutoComplete -->
      <div v-if="field.fieldType === 'autoComplete'" :class="field.cssClass" class="font-bold">
          <span class="p-float-label">
            <AutoComplete :id="index" v-model="item[index]"
                          :aria-describedby="index+'-help'" :autofocus="field.autofocus"
                          :class="[{ 'min-w-full': !field.fieldNotFullWidth}, {'p-invalid': !item[index] && field.required}]"
                          :disabled="disabledAllFields || field.disabled"
                          :input-class="{ 'min-w-full': !field.fieldNotFullWidth}"
                          :max="parseInt(field.maxlength)" :maxlength="field.maxlength"
                          :min="parseInt(field.maxlength)"
                          :minlength="field.minlength"
                          :readonly="readOnlyAllFields || field.readonly"
                          :required="Boolean(field.required)"
                          :suggestions="field.suggestions"
                          panel-class="border-round border-1 border-solid border-danger"
                          @complete="emit(`${field.complete}`, $event)"/>
            <label :for="index"><required-star v-if="field.required"/>{{ field.label }}</label>
          </span>
        <div class="flex justify-content-between flex-wrap m-2 underline-text">
          <small v-if="item[index]" class="numberOfCharacters fadeinleft animation-duration-200 font-light font-italic">
            {{ generals.numberOfCharacters }} {{
              item[index].length
            }}/{{ field.maxlength }}</small>
          <small :id="index+'-help'" class="fieldHelperText">{{ field.help }}</small>
        </div>
      </div>
    </template>

    <!-- Text Erforderliches Felder -->
    <div v-if="showRequiredText" class="col-12">
      <required-text/>
    </div>
  </div>
</template>
<script setup>
import RequiredText from "@/components/RequiredText.vue";
import RequiredStar from "@/components/RequiredStar.vue";
import {onMounted, ref, watch} from "vue";
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia"; // Events die abgefeuert werden

// Events die abgefeuert werden
const emit = defineEmits(
    ['enabledActionButton',
      'changeDropDownFederalState',
      'changeDropDownDepartment',
      'fetchLastFireDepartment'
    ])

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  // Felder
  fields: {
    type: Object,
    required: true
  },
  // Eintrag
  item: {
    type: Object,
    required: true
  },
  // Anzeige - erforderliche Felder
  showRequiredText: {
    type: Boolean,
    required: false,
    default: true
  },
  // Alle Felder - Readonly
  readOnlyAllFields: {
    type: Boolean,
    required: false,
    default: false
  },
  // Alle Felder - disabled
  disabledAllFields: {
    type: Boolean,
    required: false,
    default: false
  }
});

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components, generals} = storeToRefs(storeTranslation);

// Erforderlichen Felder
const requiredFields = ref([]);
const requiredFieldsTrue = ref([]);

/**
 * Pflichtfelder finden
 * @returns {Promise<void>}
 */
const findRequiredFields = async () => {
  for (const [key, value] of Object.entries(props.fields)) {
    if (props.fields[key].required) {
      requiredFields.value.push(key);
    }
  }
};

/**
 * Prüfen, ob die erforderlichen Felder ausgefüllt sind
 * @returns {Promise<void>}
 */
const checkRequiredFields = () => {
  requiredFields.value.forEach(field => {
    let findField = Object.entries(props.fields).filter(element => field === element[0])

    if (findField && findField.length > 0 && findField[0].length > 0 &&
        findField[0][1].fieldType === 'dropDown' && props.item[field] &&
        props.item[field].id && props.item[field].id.length > 0
    ) {
      if (!requiredFieldsTrue.value.includes(field)) {
        requiredFieldsTrue.value.push(field);
      }
    } else if (findField && findField.length > 0 && findField[0].length > 0 &&
        findField[0][1].fieldType === 'dropDown' && props.item[field]) {
      if (Object.keys(props.item[field]).length !== 0) {
        if (!requiredFieldsTrue.value.includes(field)) {
          requiredFieldsTrue.value.push(field);
        }
      }
    } else if (props.item[field] && props.item[field].toString().length > 0) {
      if (!requiredFieldsTrue.value.includes(field)) {
        requiredFieldsTrue.value.push(field);
      }
    } else {
      requiredFieldsTrue.value = []
    }
  });
  // Wenn die Pflichtfelder nicht befüllt sind, dann den Knopf deaktivieren
  if (requiredFieldsTrue.value.length !== requiredFields.value.length) {
    emit('enabledActionButton', true);
  } else {
    emit('enabledActionButton', false);
  }
};

// Wird beim ausgeführt beim Laden der Komponente
onMounted(async () => {
  await findRequiredFields();
  await checkRequiredFields();
});

// Überwachung von den erforderlichen Feldern
watch(props, (newValue) => {
  checkRequiredFields();
});

const addStyleClasses = (field) => {
  let addClasses = "";

  if (field) {
    if (field && !field.fieldNotFullWidth) {
      addClasses += "min-w-full "
    }
    if (field && field.withIcon) {
      addClasses += "p-input-icon-right "
    }
  }

  return addClasses;
}
</script>