<template>
  <ui-top-app-bar
      :title="sites.login.mainHeaderTitle"
      :type="0"
      content-selector="#content-main"
      navIcon=""/>

  <div id="content-main"/>
</template>

<script setup>
import {storeToRefs} from "pinia";
import {useTranslationStore} from "@/stores/translation"; // Store - Übersetzungen

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {sites} = storeToRefs(storeTranslation)

</script>