<template>
  <!--  Hauptleiste  -->
  <ui-top-app-bar :prominentDense="true" class="mb-5" content-selector="#content-main" nav-icon="">
    <!-- Seiten Titel -->
    <template #default="{ defaultItemClass }">
      <h3>{{ sites.register.headline }}</h3>
    </template>
  </ui-top-app-bar>

  <div id="content-main"/>
</template>

<script setup>
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {sites} = storeToRefs(storeTranslation)

</script>
