<template>
  <div class="page-top-app-bar pb-2">
    <ui-top-app-bar
        :title="siteNameApplicationLong.value ? siteNameApplicationLong.value : generals.siteTitle"
        :type="5"
        content-selector="#content-main"
        @nav="openDrawer = true"
    >
      <!-- App Bar 3 Punkt Rechts -->
      <template #toolbar="{ toolbarItemClass }">
        <template v-for="element in toolbar">
          <ui-icon-button v-tooltip="element.meta.tooltip" :aria-describedby="element.meta.label"
                          :class="toolbarItemClass"
                          :icon="element.meta.icon" aria-describedby="-describedby"
                          @click="openToolbar[element.meta.label] = true"/>

          <template v-if="element.children.length > 0 ">
            <ui-menu-anchor>
              <ui-menu v-model="openToolbar[element.meta.label]">
                <!-- Nutzername -->
                <ui-menuitem v-if="element.meta.label === menus.toolbar.userArea.label">
                  <ui-menuitem-text>{{ loggedUser.surname }}, {{ loggedUser.firstname }}</ui-menuitem-text>
                </ui-menuitem>

                <ui-item-divider v-if="element.meta.label === menus.toolbar.userArea.label"/>

                <!-- Untermenü -->
                <ui-menuitem nested>
                  <ui-menuitem v-for="item in element.children">
                    <router-link :to="{name: `${item.name}`}">
                      <ui-menuitem-icon class="d-show">
                        <ui-icon>{{ item.meta.icon }}</ui-icon>
                      </ui-menuitem-icon>
                      <ui-menuitem-text>{{ item.meta.label }}</ui-menuitem-text>
                    </router-link>
                  </ui-menuitem>
                </ui-menuitem>

              </ui-menu>
            </ui-menu-anchor>
          </template>
        </template>
      </template>
    </ui-top-app-bar>

    <ui-drawer v-model="openDrawer" type="modal">
      <ui-drawer-header>
        <ui-drawer-title>{{ menus.mainMenu.label }}</ui-drawer-title>
      </ui-drawer-header>
      <ui-drawer-content>
        <ui-list>
          <ui-item active>
            <ui-item-first-content>
              <ui-icon>arrow_back</ui-icon>
            </ui-item-first-content>
            <ui-item-text-content>{{ menus.mainMenu.backButtonTitle }}</ui-item-text-content>
          </ui-item>
          <ui-list-divider></ui-list-divider>
          <!-- Wird Dynamisch befüllt, anhand von dem VUE Router -->
          <ui-nav v-for="item in mainMenu">
            <ui-item-divider v-if="item.meta.addLineBefore"></ui-item-divider>
            <router-link :class="(route.fullPath.includes(item.path))? 'mdc-deprecated-list-item--activated' : ''"
                         :to="item.path"
                         style="text-decoration-line: none !important;">
              <ui-nav-item href="#">
                {{ item.meta.label }}
              </ui-nav-item>
            </router-link>
          </ui-nav>
        </ui-list>
      </ui-drawer-content>
      <div class="opacity-70 absolute mb-0 bottom-0 min-w-full flex align-items-center justify-content-center h-2rem border-round">
        <span v-if="loggedUser.developerMode" class="text-red-900 font-bold mr-1 opacity-100">DEV</span> v.{{ lastVersion.number }} ({{lastVersion.buildNumber}})
      </div>

    </ui-drawer>

    <div id="content-main">

    </div>
  </div>

  <div class="card flex justify-content-center mb-2 sticky top-0 mt-1 pt-1 z-2">
    <Breadcrumb :home="home" :model="route.matched" class="border-1 border-solid border-primary p-2">
      <template #item="{ meta, label, item, props }">
        <router-link v-if="item.route" v-slot="routerProps" :to="item.route" custom>
          <a :href="routerProps.href" v-bind="props.action">
            <span v-bind="props.icon"/>
            <span v-bind="props.label">{{ item.meta.label }}</span>
          </a>
        </router-link>
<!--        <router-link v-else  v-slot="routerProps" :to="item.path" custom>-->
<!--          <a :href="routerProps.href" v-bind="props.action">-->
<!--            <span v-bind="props.icon"/>-->
<!--            <span v-bind="props.label">{{ item.meta.label }}</span>-->
<!--          </a>-->
<!--        </router-link>-->

        <a v-else :href="item.url" :target="item.target" v-bind="props.action">
          <span v-if="item.icon" v-bind="props.icon"/>
          <span v-bind="props.label">{{ item.meta.label }}</span>
        </a>
      </template>
    </Breadcrumb>
  </div>
</template>

<script setup>
import {ref} from "vue";
import {storeToRefs} from "pinia";
import {useRoute, useRouter} from "vue-router";
import {useTranslationStore} from "@/stores/translation";
import {useLoggedUserStore} from "@/stores/loggedUser";
import {useGeneralStore} from "@/stores/Managements/general";
import {checkUserRight} from "@/utils";
import {useVersionStore} from "@/stores/ProvisioningArea/version"; // Store - Übersetzungen

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {generals, menus} = storeToRefs(storeTranslation)

// Store - Allgemeines
const storeGenerals = useGeneralStore();
const {
  siteNameApplicationLong,
} = storeToRefs(storeGenerals);
storeGenerals.loadDataForTable();

// Store - Versionen
const storeVersion = useVersionStore();
const {lastVersion} = storeToRefs(storeVersion);
storeVersion.loadDataForTable();

// Store - angemeldeter Nutzer
const storeLoggedUser = useLoggedUserStore();
const {loggedUser} = storeToRefs(storeLoggedUser);

const openDrawer = ref(false);
const openToolbar = ref([]);

const router = useRouter();
const route = useRoute();

const mainMenu = ref([]);
const toolbar = ref([]);

// Nur die Einträge anzeigen, wo die richtigen Rechte Vorhanden sind sowie im Hauptmenü Sichtbar sind
router.getRoutes().forEach(async (route) => {
  if (route.meta.mainMenu && checkUserRight(loggedUser.value.roles, route.meta.requiresRole)) {
  // if (route.meta.mainMenu) {
    mainMenu.value.push(route);
  }

  if (route.meta.toolbar) {
    toolbar.value.push(route);
    openToolbar.value.push(route.meta.label);
  }
})

const home = ref({
  icon: 'pi pi-home',
  route: '/',
  meta: {
    label: ''
  }
});

</script>


<style>
.router-link-active, a {
  text-decoration: none;
}

.mdc-top-app-bar--short-collapsed.mdc-top-app-bar--short-has-action-item {
  width: 150px !important;
}

.d-show {
  display: block !important;
}

</style>