<template>
  <div class="p-d-flex p-jc-center p-ai-center min-w-full" style="position: fixed; right: 25px; top: 65px; z-index:5;">
    <Button class="p-button-rounded p-button-warning custom-button" @click="openFeedbackDialog">
      <span class="button-text ml-2 mr-1">Feedback</span>
      <i class="pi pi-comments"></i>
    </Button>
  </div>
  <default-dialog v-if="displayFeedbackDialog" :fields="fields"
                  :header-title="headerTitle"
                  :item="item" :showed-action-button="showedActionButton"
                  @close-dialog="closeDialog"
                  :showedAutoCloseSwitch="false"
                  @item-add="itemAction('new')" @item-edit="itemAction('edit')"
                  />
</template>

<script setup>
import {onBeforeMount, ref} from "vue";
import DefaultDialog from "@/components/DefaultDialog.vue";
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import {useEntityStore} from "@/stores/entity";
import {managementAreaNames} from "@/router/default";
import {useFeedbackStore} from "@/stores/EvaluationArea/feedback";
import {addedFullAdminFields} from "@/utils";

// Events die abgefeuert werden
const emit = defineEmits(['addToast'])

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components, dialogs} = storeToRefs(storeTranslation);

// Store - Entity
const storeEntity = useEntityStore();
const {result} = storeToRefs(storeEntity)

// Store - Feedback
const store = useFeedbackStore();
const {dataById, isLoading} = storeToRefs(store);

// Welcher Knopf soll im Dialog angezeigt werden
const showedActionButton = ref({
  create: true,
  save: false
});

// Aktion beim Schließen des Dialoges
const closeDialog = () => {
  displayFeedbackDialog.value = false;
};

const headerTitle = ref(dialogs.value.feedback.headerTitle);

const displayFeedbackDialog = ref(false);

const openFeedbackDialog = async () => {
  displayFeedbackDialog.value = true;
}

// Element
const item = ref(dataById);

// Eigenschaften der Felder für die Entity
const fields = ref({});
const fieldsDefault = ref({
  // Titel
  title: {
    fieldType: 'inputText',
    cssClass: 'col-12',
    autofocus: true,
    label: dialogs.value.feedback.fields.title.label,
    help: dialogs.value.feedback.fields.title.help,
    maxlength: dialogs.value.feedback.fields.title.maxlength,
    minlength: dialogs.value.feedback.fields.title.minlength,
    required: dialogs.value.feedback.fields.title.required
  },
  // Nachricht
  message: {
    fieldType: 'textarea',
    cssClass: 'col-12',
    autofocus: false,
    label: dialogs.value.feedback.fields.message.label,
    help: dialogs.value.feedback.fields.message.help,
    maxlength: dialogs.value.feedback.fields.message.maxlength,
    minlength: dialogs.value.feedback.fields.message.minlength,
    required: dialogs.value.feedback.fields.message.required
  },
  // Kommentar
  comment: {
    fieldType: 'inputText',
    cssClass: 'col-12',
    autofocus: false,
    label: dialogs.value.feedback.fields.comment.label,
    help: dialogs.value.feedback.fields.comment.help,
    maxlength: dialogs.value.feedback.fields.comment.maxlength,
    minlength: dialogs.value.feedback.fields.comment.minlength,
    required: dialogs.value.feedback.fields.comment.required
  }
});
const fieldsFullAdmin = ref({
});

// Eigenschaften der Felder für das Löschen
const viewDeleteFields = ref({
  // Titel
  title: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: true,
    label: dialogs.value.feedback.fields.title.label,
    help: dialogs.value.feedback.fields.title.help,
    maxlength: dialogs.value.feedback.fields.title.maxlength,
    minlength: dialogs.value.feedback.fields.title.minlength,
    required: dialogs.value.feedback.fields.title.required
  },
  // Nachricht
  firstname: {
    fieldType: 'textarea',
    cssClass: 'col-12',
    autofocus: false,
    label: dialogs.value.feedback.fields.message.label,
    help: dialogs.value.feedback.fields.message.help,
    maxlength: dialogs.value.feedback.fields.message.maxlength,
    minlength: dialogs.value.feedback.fields.message.minlength,
    required: dialogs.value.feedback.fields.message.required
  },
  // Kommentar
  comment: {
    fieldType: 'inputText',
    cssClass: 'col-12',
    autofocus: false,
    label: dialogs.value.feedback.fields.comment.label,
    help: dialogs.value.feedback.fields.comment.help,
    maxlength: dialogs.value.feedback.fields.comment.maxlength,
    minlength: dialogs.value.feedback.fields.comment.minlength,
    required: dialogs.value.feedback.fields.comment.required
  }
});

// Name des Entity
const nameOfEntity = 'Feedback';

// Aktionen beim Drücken des jeweiligen Knopfes
const itemAction = async (type) => {
  // await removeErrors();
  let toastType = "";

  if (type && type === 'new') {
    toastType = "created";
    await storeEntity.itemAction(nameOfEntity, item.value, type);

  } else if (type && type === 'edit') {
    toastType = "updated";
    await storeEntity.itemAction(nameOfEntity, item.value, type);
  } else if (type && type === 'delete') {
    toastType = "deleted";
    await storeEntity.itemAction(nameOfEntity, item.value, type);
  }

  // Prüfen, ob der Vorgang erfolgreich war
  if (await result.value.status === "success") {
    await emit('addToast', {
      severity: 'success',
      summary: `${components.value.toastMessage[toastType].title}`,
      detail: `${components.value.toastMessage[toastType].message}`
    })
    // Dialog, automatisch schließen?
    await closeDialog();
    await store.resetDefaultDataById();
    // await resetItem();
  } else {
    // Keine Rechte Vorhanden
    if (result.value.status === 403) {
      await emit('addToast', {
        severity: 'error',
        summary: `${components.value.toastMessage['noRight'].title}`,
        detail: `${components.value.toastMessage['noRight'].message}`
      })
    } else {
      await emit('addToast', {
        severity: 'warn',
        summary: `${components.value.toastMessage['failed'].title}`,
        detail: `${components.value.toastMessage['failed'].message}`
      })
      // Fehler Felder einfärben
      if (result.value.errors) {
        await result.value.errors.forEach(error => {
          let element = document.getElementById(error.field);
          element.classList.add('p-invalid')
        });
      }
    }
  }
};

// Entfernen der 'Fehler' classes bei Fehler
const removeErrors = async () => {
  await document.querySelectorAll(".p-invalid").forEach(el => el.classList.remove('p-invalid'));
};

// Bevor der Dialog angezeigt wird, prüfen, ob eine ID mitgegeben würde.
onBeforeMount(async () => {
  // Prüfen der Rechte und zusammenfügen der Felder
  fields.value = addedFullAdminFields(fieldsDefault.value, fieldsFullAdmin.value);
});

</script>

<style >
.custom-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: auto;
}

.button-text {
  display: inline-block;
  max-width: 0;
  transition: max-width 0.5s ease-out;
  overflow: hidden;
  vertical-align: middle;
  margin-left: 15px !important;
}

.custom-button:hover .button-text {
  max-width: 200px;
}
</style>