<template>
  <!-- Knöpfe vor und zurück -->
  <div class="grid grid-nogutter justify-content-between">
    <div class="col-2 text-left">
      <!-- zurück -->
      <Button v-if="pageIndex > 0" :disabled="disabledButtonPrevStep" :label="components.steps.buttonPrev"
              class="z-2"
              icon="pi pi-angle-left" iconPos="left" @click="emit('prevPage', {pageIndex: pageIndex})"/>
    </div>
    <div class="col-8 text-center">
      <ui-badge :count="dataForTable.length" overlap state="warning">
        <SplitButton :label="sites.operationReport.stepChanger.labelSplitButton" :model="items"
                     icon="pi pi-save" severity="warning" @click="itemActionCache('autoSave',operationReport)"/>
      </ui-badge>
    </div>
    <div class="col-2 text-right">
      <!-- weiter -->
      <Button v-if="pageIndex < maxSteps && pageIndex !== maxSteps -1" :disabled="disabledButtonNextStep"
              :label="components.steps.buttonNext"
              class="z-2"
              icon="pi pi-angle-right"
              iconPos="right" @click="emit('nextPage',{pageIndex: pageIndex})"/>
      <!-- Erstellen -->
      <Button v-if="pageIndex === maxSteps -1" v-show="route.fullPath.includes('new')"
              :disabled="disabledButtonNextStep"
              :label="components.steps.buttonCreate"
              class="z-2"
              icon="pi pi-save"
              iconPos="right" @click="emit('createEntry')"/>
      <!-- Speichern -->
      <Button v-if="pageIndex === maxSteps -1" v-show="route.fullPath.includes('edit')"
              :disabled="disabledButtonNextStep" :label="components.steps.buttonUpdate"
              class="z-2"
              icon="pi pi-save"
              iconPos="right" @click="emit('editEntry')"/>
    </div>
  </div>

  <Dialog v-model:visible="showDialog" :breakpoints="{ '960px': '75vw', '641px': '100vw' }" :draggable="true"
          :header="headerTitle" :style="{ width: '50vw' }"
          class="default-modal"
          maximizable modal @hide="showDialog = false">

    <!-- Laden Balken -->
    <div v-if="isLoading" class="col-12">
      <ProgressBar class="bg-yellow-900-900" mode="indeterminate" style="height: 6px"></ProgressBar>
    </div>

    <div class="grid text-center">

      <!-- Tabelle mit Inhalt -->
      <div class="col-12">
        <DataTable ref="dt"
                   :rowHover="true" :value="dataForTable"
                   class="p-datatable-sm"
                   columnResizeMode="fit" dataKey="id"
                   lazy
                   sortMode="multiple"
                   stripedRows>

          <!-- Standard Meldungen -->
          <template #empty class="flex">
            <div class="flex-none flex align-items-center justify-content-center font-bold">{{
                components.dataTable.emptyItems
              }}
            </div>
          </template>
          <!-- Daten werden geladen -->
          <template #loading>
            <ProgressSpinner/>
          </template>
          <!--    <template #loading>{{ components.dataTable.loadingItems }} </template>-->

          <!-- Erstellen der Einzelnen Spalten -->
          <template v-for="col of tableColumns">
            <Column v-if="col.showing" :key="col.field"
                    :field="col.field" :header="col.header"
                    :sortable="true"
                    class="text-center">

              <!-- Datum und Uhrzeit -->
              <template v-if="col && col.field && (col.field === 'createdAt' || col.field === 'updatedAt')"
                        #body="slotProps">
                {{ formatDatetime(slotProps.data[slotProps.field]) }}
              </template>

              <!-- Store -->
              <template v-else-if="col && col.field && col.field === 'store'" #body="slotProps">
                {{ slotProps.data[slotProps.field].operationReportDetail.keywordLong }}
              </template>

              <!-- Text alleine -->
              <template v-else #body="slotProps">
                {{ slotProps.data[slotProps.field] }}
              </template>

            </Column>
          </template>

          <!-- Aktions Spalte -->
          <column :header="components.dataTable.columnActionsHeadline" style="width: 10rem">
            <template #body="slotProps">
              <!-- Daten laden -->
              <Button v-tooltip="components.dataTable.buttons.loadItem.tooltip"
                      :aria-describedby="`Load-${slotProps.data.id}`"
                      :icon="components.dataTable.buttons.loadItem.icon"
                      aria-label="Load Item"
                      class="m-1"
                      rounded
                      severity="success" text @click="loadEntry(slotProps)"/>
              <!-- löschen -->
              <Button v-tooltip="components.dataTable.buttons.deleteItem.tooltip"
                      :aria-describedby="`Delete-${slotProps.data.id}`"
                      :icon="components.dataTable.buttons.deleteItem.icon"
                      aria-label="Delete Item"
                      class="m-1"
                      rounded
                      severity="danger" text @click="deleteEntry(slotProps.data)"/>
            </template>
          </column>
        </DataTable>
      </div>
    </div>
    <dialog-message/>

    <!-- Fußzeile -->
    <template #footer>
      <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
        <!-- Schließen -->
        <Button :label="components.dialog.buttonClose" icon="pi pi-times"
                text @click="showDialog = false"/>
      </div>
    </template>
  </Dialog>
</template>
<script setup>
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import {onBeforeMount, ref} from "vue";
import {useOperationReportCacheStore} from "@/stores/OperationArea/operationReportCache";
import DialogMessage from "@/components/DialogMessage.vue";
import {useOperationReportStore} from "@/stores/OperationArea/operationReport";
import {useEntityStore} from "@/stores/entity";
import {useRoute, useRouter} from "vue-router";
import {operationAreaNames} from "@/router/default";

const emit = defineEmits(['addToast', 'prevPage', 'nextPage', 'loadEntry', 'createEntry', 'editEntry'])

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  // Felder
  maxSteps: {
    type: Number,
    required: true
  },
  pageIndex: {
    type: Number,
    required: true
  },
  disabledButtonPrevStep: {
    type: Boolean,
    required: true
  },
  disabledButtonNextStep: {
    type: Boolean,
    required: true
  }
});

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components, menus, sites, dialogs, generals} = storeToRefs(storeTranslation)

// Store - Einsatzberichte Zwischenspeicher
const storeOperationReportCache = useOperationReportCacheStore();
const {dataById, dataForTable, dataTotalCount, isLoading} = storeToRefs(storeOperationReportCache)
storeOperationReportCache.loadDataForTable();

// Store - Einsatzbericht
const storeOperationReport = useOperationReportStore();
const {operationReport} = storeToRefs(storeOperationReport);

// Store - Entity
const storeEntity = useEntityStore();
const {result} = storeToRefs(storeEntity)

// Name des Entity
const nameOfEntityCache = 'OperationReportCache';
const nameOfEntity = 'OperationReport';

// Vue Router
const router = useRouter();
const route = useRoute();

// Aktionen beim Drücken des jeweiligen Knopfes
const itemActionCache = async (type, item) => {
  let toastType = "";

  if (type === 'delete') {
    // Löschen eines Eintrages
    toastType = "deleted";
    await storeEntity.itemAction(nameOfEntityCache, item, type);
    await storeOperationReport.resetDefaultDataById();
    await router.push({name: `${operationAreaNames.operationReportNewStepOne}`})
  } else if (item && route && route.params && route.params.id) {
    toastType = "updated";
    // Ist in er URL eine ID? Dann immer das Speichern ausführen.
    await storeEntity.itemAction(nameOfEntity, operationReport.value, 'edit');
  } else if (type === 'autoSave') {
    // Knopf betätigen "Autosave", wichtig es muss eine ID gesetzt sein.
    if (item && item.id) {
      toastType = "updated";
      await storeEntity.itemAction(nameOfEntityCache, item, 'edit');
    } else {
      // Ansonsten einen neuen Eintrag erstellen
      toastType = "created";
      await storeEntity.itemAction(nameOfEntityCache, item, 'new');
    }
  }

  // Prüfen, ob der Vorgang erfolgreich war
  if (await result.value.status === "success") {
    operationReport.value.id = result.value.item.id;
    await emit('addToast', {
      severity: 'success',
      summary: `${components.value.toastMessage[toastType].title}`,
      detail: `${components.value.toastMessage[toastType].message}`
    })
  } else {
    // Keine Rechte Vorhanden
    if (result.value.status === 403) {
      await emit('addToast', {
        severity: 'error',
        summary: `${components.value.toastMessage['noRight'].title}`,
        detail: `${components.value.toastMessage['noRight'].message}`
      })
    } else {
      await emit('addToast', {
        severity: 'warn',
        summary: `${components.value.toastMessage['failed'].title}`,
        detail: `${components.value.toastMessage['failed'].message}`
      })
      // Fehler Felder einfärben
      if (result.value.errors) {
        await result.value.errors.forEach(error => {
          let element = document.getElementById(error.field);
          element.classList.add('p-invalid')
        });
      }
    }
  }
};

// Einträge für den Split button
const items = ref([
  {
    label: `${sites.value.operationReport.stepChanger.items.create}`,
    icon: 'pi pi-plus',
    command: async () => {
      await storeOperationReport.resetDefaultDataById();
      await router.push({name: `${operationAreaNames.operationReportNewStepOne}`})
    }
  },
  {
    label: `${sites.value.operationReport.stepChanger.items.load}`,
    icon: 'pi pi-book',
    command: async () => {
      showDialog.value = await true;
    }
  },
  {
    label: `${sites.value.operationReport.stepChanger.items.remove}`,
    icon: 'pi pi-trash',
    command: async () => {
      await deleteEntry(operationReport.value);
    }
  },
])

const showDialog = ref(false);
const headerTitle = ref(sites.value.operationReport.stepChanger.dialog.title);

// Tabellen Spalten
const tableColumns = ref([
  {
    field: 'id',
    header: sites.value.operationReport.stepChanger.dialog.table.columns.id,
    showing: false,
  },
  {
    field: 'store',
    header: sites.value.operationReport.stepChanger.dialog.table.columns.store,
    showing: true,
  },
  {
    field: 'comment',
    header: sites.value.operationReport.stepFour.table.columns.comment,
    showing: false,
  },
  {
    field: 'createdAt',
    header: sites.value.operationReport.stepChanger.dialog.table.columns.createdAt,
    showing: true,
  },
  {
    field: 'createdFrom',
    header: sites.value.operationReport.stepChanger.dialog.table.columns.createdFrom,
    showing: true,
  },
  {
    field: 'updatedAt',
    header: sites.value.operationReport.stepChanger.dialog.table.columns.updatedAt,
    showing: true,
  },
  {
    field: 'updatedFrom',
    header: sites.value.operationReport.stepChanger.dialog.table.columns.updatedFrom,
    showing: true,
  },
]);

// Formatierung Datum Zeit
const formatDatetime = (value) => {
  if (value) {
    let date = new Date(value);

    return date.toLocaleTimeString('de-DE', {
      day: '2-digit',
      month: '2-digit',
      year: 'numeric',
      hours: '2-digit',
      minutes: '2-digit'
    });
  }
  return '';
};

// Eintrag laden
const loadEntry = async (data) => {
  if (data && data.data && data.data.store) {

    const formatDate = {
      year: 'numeric',
      month: '2-digit',
      day: '2-digit',
    };

    emit('loadEntry', true);
    operationReport.value = await data.data.store;

    // Formatierung Datum-Uhrzeit
    if (await data.data.store.incomingAlert.incomingDateTime) {
      operationReport.value.incomingAlert.incomingDateTime = new Date(await data.data.store.incomingAlert.incomingDateTime);
    }

    if (await data.data.store.operationReportDetail.startetAt) {
      operationReport.value.operationReportDetail.startetAt = new Date(await data.data.store.operationReportDetail.startetAt);
    }

    if (await data.data.store.operationReportDetail.endetAt) {
      operationReport.value.operationReportDetail.endetAt = new Date(await data.data.store.operationReportDetail.endetAt);
    }

    operationReport.value.id = data.data.id;

    emit('addToast', {
      severity: 'success',
      summary: `${components.value.toastMessage['loadData'].title}`,
      detail: `${components.value.toastMessage['loadData'].message}`
    })

    showDialog.value = false;
  } else {
    emit('addToast', {
      severity: 'warn',
      summary: `${components.value.toastMessage['failed'].title}`,
      detail: `${components.value.toastMessage['failed'].message}`
    })
  }

  emit('loadEntry', false);
}

// Eintrag löschen
const deleteEntry = async (data) => {
  if (data && data.id) {
    await itemActionCache('delete', data)
    await storeOperationReport.resetDefaultDataById();
  } else if (operationReport.value && operationReport.value.incomingAlert &&
      !operationReport.value.incomingAlert.id) {
    await emit('addToast', {
      severity: 'warn',
      summary: `${components.value.toastMessage['noEntryFound'].title}`,
      detail: `${components.value.toastMessage['noEntryFound'].message}`
    })
  } else {
    await emit('addToast', {
      severity: 'warn',
      summary: `${components.value.toastMessage['failed'].title}`,
      detail: `${components.value.toastMessage['failed'].message}`
    })
  }
}

onBeforeMount(async () => {
  if (route && route.params && route.params.id) {
    // ID aus der URL lesen und setzen
    operationReport.value.id = route.params.id;
  }
});
</script>
<style>
.p-splitbutton button {
  border-radius: 0px !important;
}
</style>