<template>
  <ui-tab-bar v-model="active" type="textWithIcon">
    <template v-for="(tab, index) in props.children">
      <ui-tab
          v-if="checkUserRight(loggedUser.roles, tab.meta.requiresRole)"
          :key="index"
          :icon="tab.meta.icon"
          stacked
          type="textWithIcon"
          @click="setRoute(tab)"
      >
        {{ tab.meta.label }}
      </ui-tab>
    </template>
  </ui-tab-bar>
</template>
<script setup>
import {onBeforeMount, ref} from "vue";
import {onBeforeRouteUpdate, useRoute, useRouter} from "vue-router";
import {checkUserRight} from "@/utils";
import {useLoggedUserStore} from "@/stores/loggedUser";
import {storeToRefs} from "pinia";
import {evaluationAreaNames, operationAreaNames} from "@/router/default";

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  children: {
    type: Array,
    required: true
  }
});

// Rechte Prüfen
// Store - angemeldete Nutzer
const storeLoggedUser = useLoggedUserStore();
const {loggedUser} = storeToRefs(storeLoggedUser);

const active = ref(0);
const route = useRoute();
const router = useRouter();

const setRoute = (route) => {
  // Anhängen des aktuellen Jahres
  if (route.name === operationAreaNames.operationReports || route.name === evaluationAreaNames.operationReports) {
    router.push({name: `${route.name}`, params: {'year': new Date().getFullYear()}})
  } else {
    router.push({name: `${route.name}`})
  }
}

const items = ref([]);

onBeforeMount(() => {
  // Festlegen der Items für das Submenü
  items.value = props.children.filter(child => checkUserRight(loggedUser.value.roles, child.meta.requiresRole));
  // Festlegen des aktiven tabs
  const index = items.value.findIndex(item => item.name === route.name);
  if (index > 0) {
    active.value = index
  } else {
    // Ist ein Untermenü (new, edit, delete)
    active.value = items.value.findIndex(item => item.name === (route.matched.length > 1 && route.matched[1].name));
  }
})

onBeforeRouteUpdate((to, from, next) => {
  // Festlegen des aktiven tabs
  const index = items.value.findIndex(item => item.name === route.name);
  if (index > 0) {
    active.value = index
  } else {
    // Ist ein Untermenü (new, edit, delete)
    active.value = items.value.findIndex(item => item.name === (route.matched.length > 1 && route.matched[1].name));
  }

  next();
})

</script>