<template>
  <Card>
    <template #header>
      <h5 class="m-0 p-0 border-bottom-1 border-primary pl-2">{{ formatDatetime(version.createdAt) }}</h5>
    </template>
    <template #title>
      <h5 class="m-0 mt-2 pt-1 pl-1">{{sites.generals.sectionThree.version.title }} {{ version.number }}</h5>
    </template>
    <template #subtitle>
      <h6 class="m-0 pl-1 ">{{ sites.generals.sectionThree.version.subtitle }} {{ version.buildNumber }}</h6>
    </template>
    <template #content>
      <p class="m-0 mt-2 pt-1 pl-1 mr-1 pr-1">
        {{ version.description }}
      </p>
    </template>
  </Card>
</template>

<script setup>
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {sites} = storeToRefs(storeTranslation);


// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  // Version
  version: {
    type: Object,
    required: true
  },
});

// Formatierung Datum Zeit
const formatDatetime = (value) => {
  if (value) {
    let date = new Date(value);

    return date.toLocaleTimeString('de-DE', {
      day: '2-digit',
      month: '2-digit',
      year: 'numeric',
      hours: '2-digit',
      minutes: '2-digit'
    });
  }
  return '';
};
</script>

<style>
.p-card {
  min-height: 250px;
}

.p-card .p-card-body {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.p-card .p-card-title {
  margin-bottom: 0;
}

.p-card .p-card-content {
  padding: 0 0 0 0;
}
</style>