<script>
    const __API__ = {
        federalstates: {{ path('api_federal_states')|json_encode|raw }},
        federalstate: {
            getForDropdown: {{ path('api_federal_state_get_for_dropdown')|json_encode|raw }},
            getById: {{ path('api_federal_state_get_by_id',  { 'id': ' ' })|json_encode|raw }},
            new: {{ path('api_federal_state_new')|json_encode|raw }},
            edit: {{ path('api_federal_state_edit',  { 'id': ' ' })|json_encode|raw }},
            delete: {{ path('api_federal_state_delete', { 'id': ' ' })|json_encode|raw }}
        },
        departments: {{ path('api_departments')|json_encode|raw }},
        department: {
            getForDropdown: {{ path('api_department_get_for_dropdown')|json_encode|raw }},
            getById: {{ path('api_department_get_by_id',  { 'id': ' ' })|json_encode|raw }},
            new: {{ path('api_department_new')|json_encode|raw }},
            edit: {{ path('api_department_edit',  { 'id': ' ' })|json_encode|raw }},
            delete: {{ path('api_department_delete', { 'id': ' ' })|json_encode|raw }}
        },
        versions: {{ path('api_versions')|json_encode|raw }},
        version: {
            getById: {{ path('api_version_get_by_id',  { 'id': ' ' })|json_encode|raw }},
            new: {{ path('api_version_new')|json_encode|raw }},
            edit: {{ path('api_version_edit',  { 'id': ' ' })|json_encode|raw }},
            delete: {{ path('api_version_delete', { 'id': ' ' })|json_encode|raw }}
        },
        userRoles: {{ path('api_user_roles')|json_encode|raw }},
        userRole: {
            getForDropdown: {{ path('api_user_role_get_for_dropdown')|json_encode|raw }},
            getById: {{ path('api_user_role_get_by_id',  { 'id': ' ' })|json_encode|raw }},
            new: {{ path('api_user_role_new')|json_encode|raw }},
            edit: {{ path('api_user_role_edit',  { 'id': ' ' })|json_encode|raw }},
            delete: {{ path('api_user_role_delete', { 'id': ' ' })|json_encode|raw }}
        },
        memberFunctions: {{ path('api_member_functions')|json_encode|raw }},
        memberFunction: {
            getForDropdown: {{ path('api_member_function_get_for_dropdown')|json_encode|raw }},
            getForDropdownOperationReport: {{ path('api_member_function_get_for_dropdown_operation_report')|json_encode|raw }},
            getById: {{ path('api_member_function_get_by_id',  { 'id': ' ' })|json_encode|raw }},
            new: {{ path('api_member_function_new')|json_encode|raw }},
            edit: {{ path('api_member_function_edit',  { 'id': ' ' })|json_encode|raw }},
            delete: {{ path('api_member_function_delete', { 'id': ' ' })|json_encode|raw }}
        },
        operationTypeCategories: {{ path('api_operation_type_categories')|json_encode|raw }},
        operationTypeCategory: {
            getForDropdown: {{ path('api_operation_type_category_get_for_dropdown')|json_encode|raw }},
            getById: {{ path('api_operation_type_category_get_by_id',  { 'id': ' ' })|json_encode|raw }},
            new: {{ path('api_operation_type_category_new')|json_encode|raw }},
            edit: {{ path('api_operation_type_category_edit',  { 'id': ' ' })|json_encode|raw }},
            delete: {{ path('api_operation_type_category_delete', { 'id': ' ' })|json_encode|raw }}
        },
        operationTypes: {{ path('api_operation_types')|json_encode|raw }},
        operationType: {
            getForDropdown: {{ path('api_operation_type_get_for_dropdown')|json_encode|raw }},
            getById: {{ path('api_operation_type_get_by_id',  { 'id': ' ' })|json_encode|raw }},
            new: {{ path('api_operation_type_new')|json_encode|raw }},
            edit: {{ path('api_operation_type_edit',  { 'id': ' ' })|json_encode|raw }},
            delete: {{ path('api_operation_type_delete', { 'id': ' ' })|json_encode|raw }}
        },
        vehicles: {{ path('api_vehicles')|json_encode|raw }},
        vehicle: {
            getOnlyDepartment: {{ path('api_vehicle_get_only_department')|json_encode|raw }},
            getForDropdown: {{ path('api_vehicle_get_for_dropdown')|json_encode|raw }},
            getById: {{ path('api_vehicle_get_by_id',  { 'id': ' ' })|json_encode|raw }},
            new: {{ path('api_vehicle_new')|json_encode|raw }},
            edit: {{ path('api_vehicle_edit',  { 'id': ' ' })|json_encode|raw }},
            delete: {{ path('api_vehicle_delete', { 'id': ' ' })|json_encode|raw }}
        },
        toolCategories: {{ path('api_tool_categories')|json_encode|raw }},
        toolCategory: {
            getForDropdown: {{ path('api_tool_category_get_for_dropdown')|json_encode|raw }},
            getForOperationReport: {{ path('api_tool_categor_get_for_operation_report')|json_encode|raw }},
            getById: {{ path('api_tool_category_get_by_id',  { 'id': ' ' })|json_encode|raw }},
            new: {{ path('api_tool_category_new')|json_encode|raw }},
            edit: {{ path('api_tool_category_edit',  { 'id': ' ' })|json_encode|raw }},
            delete: {{ path('api_tool_category_delete', { 'id': ' ' })|json_encode|raw }}
        },
        tools: {{ path('api_tools')|json_encode|raw }},
        tool: {
            getForDropdown: {{ path('api_tool_get_for_dropdown')|json_encode|raw }},
            getById: {{ path('api_tool_get_by_id',  { 'id': ' ' })|json_encode|raw }},
            new: {{ path('api_tool_new')|json_encode|raw }},
            edit: {{ path('api_tool_edit',  { 'id': ' ' })|json_encode|raw }},
            delete: {{ path('api_tool_delete', { 'id': ' ' })|json_encode|raw }}
        },
        alertAddresses: {{ path('api_alert_addresss')|json_encode|raw }},
        alertAddress: {
            getForDropdown: {{ path('api_alert_address_get_for_dropdown')|json_encode|raw }},
            getById: {{ path('api_alert_address_get_by_id',  { 'id': ' ' })|json_encode|raw }},
            new: {{ path('api_alert_address_new')|json_encode|raw }},
            edit: {{ path('api_alert_address_edit',  { 'id': ' ' })|json_encode|raw }},
            delete: {{ path('api_alert_address_delete', { 'id': ' ' })|json_encode|raw }}
        },
        members: {{ path('api_members')|json_encode|raw }},
        member: {
            getOnlyDepartment: {{ path('api_member_get_only_department')|json_encode|raw }},
            getForDropdown: {{ path('api_member_get_for_dropdown')|json_encode|raw }},
            getById: {{ path('api_member_get_by_id',  { 'id': ' ' })|json_encode|raw }},
            getByMemberFunction: {{ path('api_member_get_by_member_function',  { 'id': ' ' })|json_encode|raw }},
            new: {{ path('api_member_new')|json_encode|raw }},
            edit: {{ path('api_member_edit',  { 'id': ' ' })|json_encode|raw }},
            delete: {{ path('api_member_delete', { 'id': ' ' })|json_encode|raw }}
        },
        users: {{ path('api_users')|json_encode|raw }},
        user: {
            getById: {{ path('api_user_get_by_id',  { 'id': ' ' })|json_encode|raw }},
            new: {{ path('api_user_new')|json_encode|raw }},
            edit: {{ path('api_user_edit',  { 'id': ' ' })|json_encode|raw }},
            editPassword: {{ path('api_user_edit_password',  { 'id': ' ' })|json_encode|raw }},
            delete: {{ path('api_user_delete', { 'id': ' ' })|json_encode|raw }}
        },
        generals: {{ path('api_generals')|json_encode|raw }},
        general: {
            getById: {{ path('api_general_get_by_id',  { 'id': ' ' })|json_encode|raw }},
            new: {{ path('api_general_new')|json_encode|raw }},
            edit: {{ path('api_general_edit',  { 'id': ' ' })|json_encode|raw }},
            delete: {{ path('api_general_delete', { 'id': ' ' })|json_encode|raw }}
        },
        incomingAlertEvaluation: {
            getChartByYear: {{ path('api_incoming_alerts_get_chart_by_year',  { 'year': ' ' })|json_encode|raw }}
        },
        incomingAlerts: {{ path('api_incoming_alerts')|json_encode|raw }},
        incomingAlertsUserRics: {{ path('api_incoming_alerts_user_rics')|json_encode|raw }},
        incomingAlertsUserRicsForOperationReport: {{ path('api_incoming_alerts_user_rics_for_operation_report')|json_encode|raw }},
        incomingAlert: {
            getById: {{ path('api_incoming_alert_get_by_id',  { 'id': ' ' })|json_encode|raw }},
            new: {{ path('api_incoming_alert_new')|json_encode|raw }},
            edit: {{ path('api_incoming_alert_edit',  { 'id': ' ' })|json_encode|raw }},
            delete: {{ path('api_incoming_alert_delete', { 'id': ' ' })|json_encode|raw }}
        },
        operationReports: {{ path('api_operation_reports')|json_encode|raw }},
        {#operationReporteValuations: {{ path('api_operation_reports_evaluation',  { 'year': ' ' })|json_encode|raw }},#}
        operationReporteValuations: {{ path('api_operation_reports_evaluation')|json_encode|raw }},
        operationReport: {
            getLastNumberFireDepartment: {{ path('api_operation_report_get_last_number_fire_department')|json_encode|raw }},
            getById: {{ path('api_operation_report_get_by_id',  { 'id': ' ' })|json_encode|raw }},
            new: {{ path('api_operation_report_new')|json_encode|raw }},
            edit: {{ path('api_operation_report_edit',  { 'id': ' ' })|json_encode|raw }},
            delete: {{ path('api_operation_report_delete', { 'id': ' ' })|json_encode|raw }}
        },
        operationReportCaches: {{ path('api_operation_report_caches')|json_encode|raw }},
        operationReportCache: {
            getById: {{ path('api_operation_report_cache_get_by_id',  { 'id': ' ' })|json_encode|raw }},
            new: {{ path('api_operation_report_cache_new')|json_encode|raw }},
            edit: {{ path('api_operation_report_cache_edit',  { 'id': ' ' })|json_encode|raw }},
            delete: {{ path('api_operation_report_cache_delete', { 'id': ' ' })|json_encode|raw }}
        },
        feedbacks: {{ path('api_feedbacks')|json_encode|raw }},
        feedback: {
            getById: {{ path('api_feedback_get_by_id',  { 'id': ' ' })|json_encode|raw }},
            new: {{ path('api_feedback_new')|json_encode|raw }},
            edit: {{ path('api_feedback_edit',  { 'id': ' ' })|json_encode|raw }},
            delete: {{ path('api_feedback_delete', { 'id': ' ' })|json_encode|raw }}
        },
    }
</script>