{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}

    <div id="app"></div>

    {% include 'main/api.html.twig' %}
    {% include 'main/translation.html.twig' %}
    {% include 'main/user.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('main') }}
{% endblock %}