{% include 'main/translation/components.html.twig' %}
{% include 'main/translation/confirmDialog.html.twig' %}
{% include 'main/translation/dataTables.html.twig' %}
{% include 'main/translation/dialogs.html.twig' %}
{% include 'main/translation/generals.html.twig' %}
{% include 'main/translation/menus.html.twig' %}
{% include 'main/translation/security.html.twig' %}
{% include 'main/translation/sites.html.twig' %}
