<script>
    {% if app.user != null %}

    {# Nutzer Informatione #}
    const __LOGGED_USER__ = {
        id: {{ app.user.id|json_encode|raw }},
        email: {{ app.user.email|json_encode|raw }},
        firstname: {{ app.user.firstname|json_encode|raw }},
        isLoggedIn: {{ app.user.loggedIn|json_encode|raw }},
        surname: {{ app.user.surname|json_encode|raw }},
        roles: {{ app.user.roles|json_encode|raw }},
        rolesInherited: {{  get_inherited_roles()|json_encode|raw  }},
        myAlertAddresses: {{ app.user.myAlertAddresses|json_encode|raw }},
        myAlertAddressesComplete: {{ app.user.myAlertAddresses|json_encode|raw }},
        federalState: {
            id: {{ app.user.federalState.id|json_encode|raw }}
        },
        department: {
            id: {{ app.user.department.id|json_encode|raw }},
        },
        developerMode: {{ app.debug|json_encode|raw }}
    };

    {% else %}

    {# Nutzer Informatione #}
    const __LOGGED_USER__ = {
        id: "",
        email: "",
        firstname: "",
        isLoggedIn: false,
        surname: "",
        roles: "",
        rolesInherited: "",
        myAlertAddresses: "",
        myAlertAddressesComplete: "",
        federalState: {
            id: ''
        },
        department: {
            id: ''
        },
        developerMode: false
    };
    {% endif %}
</script>