<template>
  <div class="grid m-2">
    <div class="col-12">
      <h2>{{ greeting }}</h2>
      <h3>{{ sites.dashboard.textSection }}</h3>
    </div>
    <div class="col-12">
      <DataTable ref="dt"
                 :loading="isLoading" :multi-sort-meta="multiSortMeta" :rowHover="true"
                 :totalRecords="dataTotalCount"
                 :value="dataForTable" class="p-datatable" columnResizeMode="fit" dataKey="id"
                 lazy
                 sortMode="multiple" stripedRows
                 @filter="loadLazyData($event)"
                 @page="loadLazyData($event)" @sort="loadLazyData($event)">

        <!-- Standard Meldungen -->
        <template #empty class="flex">
          <div class="flex-none flex align-items-center justify-content-center font-bold">{{
              components.dataTable.emptyItems
            }}
          </div>
        </template>
        <!-- Daten werden geladen -->
        <template #loading>
          <ProgressSpinner/>
        </template>

        <!-- Erstellen der Einzelnen Spalten -->
        <template v-for="col of tableColumns">
          <Column v-if="col.showing && col.defaultView" :key="col.field" :data-type="col.dataType"
                  :field="col.field" :filter-field="col.filterField" :header="col.header" :sort-field="col.sortField"
                  :sortable="col.sortable" class="text-center">

            <!-- Ist es ein Objekt {id: ..., abbreviation: ...} -->
            <template v-if="col && col.hasSubfield" #body="slotProps">
              <!-- Datum -->
              <template v-if="col && col.filterTyp && col.filterTyp === 'date'">
                {{ formatDate(subField(col.field, slotProps.data[col.mainField])) }}
              </template>

              <!-- Datum und Uhrzeit -->
              <template v-else-if="col && col.filterTyp && col.filterTyp === 'dateTime'">
                {{ formatDatetime(subField(col.field, slotProps.data[col.mainField])) }}
              </template>

              <!-- ja/nein Wert (Boolean) -->
              <template v-else-if="col && col.filterTyp && col.filterTyp === 'boolean'">
                <i :class="{ 'pi-check-circle text-green-500': subField(col.field, slotProps.data[col.mainField]), 'pi-times-circle text-red-400': !subField(col.field, slotProps.data[col.mainField]) }"
                   class="pi"></i>
              </template>

              <!-- Text alleine, aber mit einer Funktion ausführen -->
              <template v-else-if="col && col.usedFunction">
                <!-- Anzeige der Nutzerrollen -->
                <template v-if="col.usedFunction === 'showUserRoles'">
                  <VirtualScroller :itemSize="50" :items="slotProps.data[slotProps.field]" style="height: 80px">
                    <template v-slot:item="{ item, options }">
                      <div v-tooltip="showUserRoles(item, col.itemsForFunction, 'tooltip')"
                           :aria-describedby="item"
                           :class="['flex align-items-center p-2', { 'surface-hover': options.odd }]"
                           class="justify-content-center">
                        {{ showUserRoles(item, col.itemsForFunction, 'display') }}
                      </div>
                    </template>
                  </VirtualScroller>
                </template>
                <!-- Anzeige der Abonnierten Alarm Adressen -->
                <template v-if="col.usedFunction === 'showUserAlertAddresses'">
                  <VirtualScroller :itemSize="50" :items="slotProps.data[slotProps.field]" style="height: 80px">
                    <template v-slot:item="{ item, options }">
                      <div :class="['flex align-items-center p-2', { 'surface-hover': options.odd }]"
                           class="justify-content-center">
                        {{ item }}
                      </div>
                    </template>
                  </VirtualScroller>
                </template>
              </template>

              <!-- Text alleine -->
              <template v-else-if="col  && col.hasSubfield && col.hasSubfieldTwo">
                {{ subField(col.field, slotProps.data[col.mainField][col.subField]) }}
              </template>

              <!-- Text alleine -->
              <template v-else>
                {{ subField(col.field, slotProps.data[col.mainField]) }}
              </template>


            </template>

            <!-- Datum -->
            <template v-else-if="col && col.filterTyp && col.filterTyp === 'date'" #body="slotProps">
              {{ formatDate(slotProps.data[slotProps.field]) }}
            </template>

            <!-- Datum und Uhrzeit -->
            <template v-else-if="col && col.filterTyp && col.filterTyp === 'dateTime'" #body="slotProps">
              {{ formatDatetime(slotProps.data[slotProps.field]) }}
            </template>

            <!-- ja/nein Wert (Boolean) -->
            <template v-else-if="col && col.filterTyp && col.filterTyp === 'boolean'" #body="slotProps">
              <i :class="{ 'pi-check-circle text-green-500': slotProps.data[slotProps.field], 'pi-times-circle text-red-400': !slotProps.data[slotProps.field] }"
                 class="pi"></i>
            </template>

            <!-- Text alleine, aber mit einer Funktion ausführen -->
            <template v-else-if="col && col.usedFunction" #body="slotProps">
              <!-- Anzeige der Nutzerrollen -->
              <template v-if="col.usedFunction === 'showUserRoles'">
                <VirtualScroller
                    v-if="slotProps.data[slotProps.field].length > 0 && Array.isArray(slotProps.data[slotProps.field])"
                    :itemSize="50"
                    :items="slotProps.data[slotProps.field]" style="height: 80px">
                  <template v-slot:item="{ item, options }">
                    <div v-tooltip="showUserRoles(item, col.itemsForFunction, 'tooltip')"
                         :aria-describedby="item" :class="['flex align-items-center p-2', { 'surface-hover': options.odd }]"
                         class="justify-content-center">
                      {{ showUserRoles(item, col.itemsForFunction, 'display') }}
                    </div>
                  </template>
                </VirtualScroller>

                <VirtualScroller
                    v-else :itemSize="50" :items="Object.values(slotProps.data[slotProps.field])"
                    style="height: 80px">
                  <template v-slot:item="{ item, options }">
                    <div v-tooltip="showUserRoles(item, col.itemsForFunction, 'tooltip')"
                         :aria-describedby="item" :class="['flex align-items-center p-2', { 'surface-hover': options.odd }]"
                         class="justify-content-center">
                      {{ showUserRoles(item, col.itemsForFunction, 'display') }}
                    </div>
                  </template>
                </VirtualScroller>
              </template>
              <!-- Anzeige der Abonnierten Alarm Adressen -->
              <template v-if="col.usedFunction === 'showUserAlertAddresses'">
                <VirtualScroller :itemSize="50" :items="slotProps.data[slotProps.field]" style="height: 80px">
                  <template v-slot:item="{ item, options }">
                    <div :class="['flex align-items-center p-2', { 'surface-hover': options.odd }]"
                         class="justify-content-center">
                      {{ item }}
                    </div>
                  </template>
                </VirtualScroller>
              </template>
              <!-- Anzeige der Eigenen Kräft -->
              <template v-if="col.usedFunction === 'showOwnForces'">
                <div v-html="getOwnForces(slotProps.data)">
                </div>
              </template>
              <!-- Anzahl der Einträge -->
              <template v-if="col.usedFunction === 'showCount'">
            <span>{{
                slotProps.data && slotProps.data[slotProps.field] ? slotProps.data[slotProps.field].length : 0
              }}</span>
              </template>

            </template>

            <!-- Text alleine -->
            <template v-else #body="slotProps">
              {{ slotProps.data[slotProps.field] }}
            </template>

          </Column>
        </template>

        <!-- Aktions Spalte -->
        <column :header="components.dataTable.columnActionsHeadline" style="width: 10rem">
          <template #body="slotProps">
            <!-- Übernahme als Einsatzbericht -->
            <Button v-tooltip="components.dataTable.buttons.takeOverEntry.tooltip"
                    :aria-describedby="`Edit-${slotProps.data.id}`"
                    :icon="components.dataTable.buttons.takeOverEntry.icon"
                    aria-label="Take Of Item"
                    class="m-1" rounded
                    severity="secondary" text @click="itemTakeOver(slotProps.data)"/>
          </template>
        </column>
      </DataTable>
    </div>

    <div class="col-12">
      <router-link
          :to="{name: `${evaluationAreaNames.feedbacks}` }"
      >
        <h3>
          Feedback willkommen!</h3>
      </router-link>
      <p>
        Wir möchten sicherstellen, dass Ihre Erfahrung mit unserem Service stets Ihren Erwartungen entspricht. Ihr Feedback ist uns daher äußerst wichtig. Bitte nehmen Sie sich einen Moment
        Zeit, um uns mitzuteilen, wie Ihre Erfahrung war.
        <br>
        <br>
        Positives Feedback:
        <br>
        Haben Sie etwas besonders genossen? Teilen Sie uns gerne mit, was Ihnen gefallen hat! Ihr Lob hilft uns, weiterhin gute Arbeit zu leisten.
        <br>
        <br>
        <br>

        Negatives Feedback:
        <br>
        Ist Ihnen etwas aufgefallen, das verbessert werden könnte? Wir schätzen konstruktive Kritik sehr und nehmen sie ernst, um unsere Dienstleistungen zu optimieren.
        <br>
        <br>

        Vielen Dank für Ihre Unterstützung!
      </p>
    </div>
  </div>
</template>

<script setup>
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import {onBeforeMount, onMounted, ref} from "vue";
import {addedFullAdminColumns} from "@/utils";
import {useIncomingAlertStore} from "@/stores/OperationArea/incomingAlert";
import {useDataTableStore} from "@/stores/dataTable";
import router from "@/router";
import {evaluationAreaNames, operationAreaNames} from "@/router/default";

// Events die abgefeuert werden
const emit = defineEmits(['addToast'])

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  loggedUser: {
    type: Object,
    required: true
  }
});

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components, dataTables, sites} = storeToRefs(storeTranslation);

// Store - Alarmierungen
const store = useIncomingAlertStore();
const {
  dataUserRicsForTable: dataForTable,
  dataUserRicsTotalCount: dataTotalCount,
  dataUserRicsFilterCount: dataFilterCount,
  isLoading
} = storeToRefs(store);

// Anrede
const greeting = `${sites.value.dashboard.greetingHeadline} ${props.loggedUser.firstname} ${props.loggedUser.surname}`;

// Spalten für die Tabelle
const tableColumns = ref([]);
const tableColumnsDefault = ref([
  {
    field: 'id',
    header: dataTables.value.myIncomingAlerts.columns.id,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'aA.description',
    mainField: 'address',
    hasSubfield: true,
    header: dataTables.value.myIncomingAlerts.columns.address,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'numberControlCenter',
    header: dataTables.value.myIncomingAlerts.columns.numberControlCenter,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'keywordShort',
    header: dataTables.value.myIncomingAlerts.columns.keywordShort,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'keywordLong',
    header: dataTables.value.myIncomingAlerts.columns.keywordLong,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'location',
    header: dataTables.value.myIncomingAlerts.columns.location,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'otherAddressInformation',
    header: dataTables.value.myIncomingAlerts.columns.otherAddressInformation,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'personPatient',
    header: dataTables.value.myIncomingAlerts.columns.personPatient,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'text',
    header: dataTables.value.myIncomingAlerts.columns.text,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'incomingDateTime',
    header: dataTables.value.myIncomingAlerts.columns.incomingDateTime,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: true,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'messageComplete',
    header: dataTables.value.myIncomingAlerts.columns.messageComplete,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  }
]);
const tableColumnsFullAdmin = ref([
  {
    field: 'isVisibility',
    header: dataTables.value.myIncomingAlerts.columns.isVisibility,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: false,
    filterTyp: 'boolean',
    dataType: 'boolean'
  },
  {
    field: 'fS.description',
    mainField: 'federalState',
    hasSubfield: true,
    header: dataTables.value.myIncomingAlerts.columns.federalState,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'd.description',
    mainField: 'department',
    hasSubfield: true,
    header: dataTables.value.myIncomingAlerts.columns.department,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  }]);

// Spalten für die Sortierung
const multiSortMeta = ref([{field: 'fS.description', order: 1}, {field: 'd.description', order: 1}, {
  field: 'incomingDateTime',
  order: -1
}]);

// Store - Einstellungen des Data Tables
const storeDataTable = useDataTableStore();
const {lastLazyParams} = storeToRefs(storeDataTable);
// Referenzen zur Tabelle
const dt = ref();
const lazyParams = ref({
  first: 0,
  rows: dt.d_rows,
  sortField: null,
  sortOrder: null,
  multiSortMeta: []
});

// Daten Laden bei Änderungen in der Tabelle
const loadLazyData = (event) => {
  lazyParams.value = {
    first: 0,
    rows: 5,
    sortField: null,
    sortOrder: null,
    filters: null,
    multiSortMeta: props.multiSortMeta,
  };

  if (event) {
    if (event.first) {
      lazyParams.value.first = event.first;
    }

    if (event.multiSortMeta) {
      lazyParams.value.multiSortMeta = event.multiSortMeta;
    }
  }

  fetch(lazyParams.value);
};

// Abrufen der Daten
const fetch = async (param) => {
  await store.loadDataUserRicsForOperationReport(param);
}

// Formatierung Datum
const formatDate = (value) => {
  if (value) {
    let date = new Date(value);

    return date.toLocaleDateString('de-DE', {
      day: '2-digit',
      month: '2-digit',
      year: 'numeric'
    });
  }
  return '';
};

// Formatierung Datum Zeit
const formatDatetime = (value) => {
  if (value) {
    let date = new Date(value);

    return date.toLocaleTimeString('de-DE', {
      day: '2-digit',
      month: '2-digit',
      year: 'numeric',
      hours: '2-digit',
      minutes: '2-digit'
    });
  }
  return '';
};

// Ausgabe für in Objekt
const subField = (field, element) => {
  let str = field.split('.');
  if (str.length > 0) {
    return element[str[1]];
  }
}

const itemTakeOver = (item) => {
  router.push({name: `${operationAreaNames.operationReportNewStepOne}`, params: {'alertId': item.id}})
}

onBeforeMount(() => {
  // Prüfen der Rechte und zusammenfügen der Felder
  tableColumns.value = addedFullAdminColumns(tableColumnsDefault.value, tableColumnsFullAdmin.value)
});

// Beim Einbinden der Component ausführen
onMounted(() => {
  loadLazyData(lazyParams);
});
</script>

<style lang="scss">
.p-column-title {
  font-weight: bolder;
}
</style>