<script setup>

import MainHeaderWithLogin from "@/components/MainHeaderWithLogin.vue";
import {RouterView} from "vue-router";
</script>

<template>
  <main-header-with-login/>
  <div class="grid m-2">
    <div class="col-12">
      <router-view @add-toast="addToast"/>
    </div>
  </div>

</template>

<style scoped lang="scss">

</style>