<template>
  <sub-header :children="tabs.children"/>

  <ui-panels>
    <ui-panel>
      <router-view :logged-user="loggedUser" name="view"/>
      <router-view :logged-user="loggedUser" v-if="route.path.includes('new') || route.path.includes('edit') || route.path.includes('delete')"
                   name="dialog"
                   @add-toast="emit('addToast', $event)"/>
    </ui-panel>
  </ui-panels>


</template>

<script setup>
import {RouterView, useRoute, useRouter} from "vue-router";
import {mainMenuRoutes} from "@/router/default";
import SubHeader from "@/components/SubHeader.vue";

// Events die abgefeuert werden
const emit = defineEmits(['addToast']);

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  loggedUser: {
    type: Object,
    required: true
  }
});

const router = useRouter();
const route = useRoute();

const tabs = router.getRoutes().find(item => item.path === `${mainMenuRoutes.referenceArea}`);
</script>
