<template>
  <!-- Kopfzeile -->
  <main-header-register/>
  <!-- Schritt Anzeige -->
  <div class="grid">
    <div class="col-offset-1 col-10">
      <Card class="text-center mt-3 m-auto">
        <template #content>
          <Steps :model="steps" aria-label="Form Steps"/>
        </template>
      </Card>
    </div>

    <!-- Inhalt -->
    <router-view v-slot="{ Component,route }" @prev-page="prevPage($event)" @next-page="nextPage($event)">
      <transition :name="transitionType" mode="out-in">
        <div :key="route.name" class="col-offset-1 col-10">
          <keep-alive>
            <component :is="Component" :max-steps="steps.length"/>
          </keep-alive>
        </div>
      </transition>
    </router-view>

  </div>
</template>

<script setup>
import MainHeaderRegister from "@/components/MainHeaderRegister.vue";
import {onBeforeMount, ref} from "vue";
import {useRoute, useRouter} from "vue-router";
import {mainMenuRoutes} from "@/router/default";

// Events die abgefeuert werden
const emit = defineEmits(['addToast'])

// Router Elemente
const router = useRouter();
const route = useRoute();

// Schritte vom VUE-Router
const steps = ref([])
const transitionType = ref('slide-right');

onBeforeMount(() => {
// Routen aus dem VUE-Router Extrahieren
  router.getRoutes().forEach(async (route) => {
    if (route.path.includes(`${mainMenuRoutes.registerArea}/`)) {
      steps.value.push({
        label: route.meta.label ? route.meta.label : '',
        to: route.path
      })
    }
  });
});

// Schritt zurück
const prevPage = (event) => {
  transitionType.value = "slide-left"
  router.push(steps.value[event.pageIndex - 1].to);
};

// Schritt weiter
const nextPage = (event) => {
  transitionType.value = "slide-right"
  router.push(steps.value[event.pageIndex + 1].to);
};

</script>
<style>

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}
</style>