<template>
  <sub-header :children="tabs.children"/>
  <ui-panels>
    <ui-panel>
      <router-view name="view" :logged-user="loggedUser" @add-toast="emit('addToast', $event)"  class="m-2"/>
    </ui-panel>
  </ui-panels>
</template>

<script setup>
import {RouterView, useRoute, useRouter} from "vue-router";
import {mainMenuRoutes} from "@/router/default";
import SubHeader from "@/components/SubHeader.vue";

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  loggedUser: {
    type: Object,
    required: true
  }
});

// Events die abgefeuert werden
const emit = defineEmits(['addToast']);

const router = useRouter();
const route = useRoute();

const tabs = router.getRoutes().find(item => item.path === `${mainMenuRoutes.userArea}`);
</script>