<template>
  <main-header-with-login v-if="loggedUser.isLoggedIn"/>
  <router-view v-if="loggedUser.isLoggedIn" :logged-user="loggedUser" @add-toast="addToast"/>
  <router-view v-else @add-toast="addToast"/>

  <!-- Keine Rechte -->
  <no-rights v-if="route.fullPath === mainMenuRoutes.noRights"/>

  <!-- Meldungen (Toast) -->
  <Toast/>

  <!-- Feedback zu dieser Anwendung senden -->
  <SendFeedback v-if="loggedUser.isLoggedIn"  @add-toast="addToast"/>

</template>

<script setup>
import {useToast} from 'primevue/usetoast';
import {useLoggedUserStore} from "@/stores/loggedUser";
import {storeToRefs} from "pinia";
import MainHeaderWithLogin from "@/components/MainHeaderWithLogin.vue";
import NoRights from "@/views/Authentication/NoRights.vue";
import {useRoute} from "vue-router"; // Toast Element
import {mainMenuRoutes} from "@/router/default";
import SendFeedback from "@/components/SendFeedback.vue"; // Toast Element

// Toast Element
const toast = useToast();

// Router
const route = useRoute();

/**
 * Add a Toast Element
 * @param param
 * @returns {Promise<void>}
 */
const addToast = async (param) => {
  const {severity, summary, detail, life = 5000} = param
  await toast.add({severity: severity, summary: summary, detail: detail, life: life});
}

// Store - angemeldeter Nutzer
const storeLoggedUser = useLoggedUserStore();
const {loggedUser} = storeToRefs(storeLoggedUser);
</script>

<style lang="scss">
@import 'primeicons/primeicons.css';

.bounce-enter-active {
  animation: bounce-in 0.2s;
}

.bounce-leave-active {
  animation: bounce-in 0.15s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.p-sidebar-header-content {
  min-width: 100vw;
}

.p-sidebar-content {
  overflow: hidden !important;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.p-inputnumber-button-group .p-inputnumber-button {
  padding: 0 0 0 0 !important;
}

.rotate {
  transition: 1.5s;
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
}
</style>