<template>
  <default-dialog v-if="route.path.includes('new') || route.path.includes('edit')" :fields="fields"
                  :header-title="headerTitle"
                  :item="item" :item-is-loading="isLoading" :showed-action-button="showedActionButton"
                  @close-dialog="closeDialog"
                  @item-add="itemAction('new')" @item-edit="itemAction('edit')"
                  @change-dialog-auto-close="dialogAutoClose = $event"/>

  <default-dialog-delete v-else :header-title="headerTitle" :item="item"
                         :view-delete-fields="viewDeleteFields" @close-dialog="closeDialog"
                         @item-delete="itemAction('delete')"/>
</template>

<script setup>
import {useRoute, useRouter} from "vue-router";
import {onBeforeMount, ref, watch} from "vue";
import {storeToRefs} from "pinia";
import DefaultDialog from "@/components/DefaultDialog.vue";
import {operationAreaNames} from "@/router/default";
import {useTranslationStore} from "@/stores/translation";
import DefaultDialogDelete from "@/components/DefaultDialogDelete.vue";
import {useEntityStore} from "@/stores/entity";
import {useFederalStateStore} from "@/stores/ProvisioningArea/federalState";
import {useDepartmentStore} from "@/stores/ReferenceArea/department";
import {useIncomingAlertStore} from "@/stores/OperationArea/incomingAlert";
import {useAlertAddressStore} from "@/stores/Managements/alertAddress";
import {addedFullAdminFields} from "@/utils";

// Vue Router
const router = useRouter();
const route = useRoute();

// Events die abgefeuert werden
const emit = defineEmits(['addToast'])

// Aktion beim Schließen des Dialoges
const closeDialog = () => {
  router.push({name: `${operationAreaNames.allIncomingAlerts}`})
};

// Dialog - Einblenden bzw. Ausblenden
// Wichtig sonst reagiert er nicht beim klick auf das "x"
const show = ref(true);

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components, dialogs} = storeToRefs(storeTranslation);

// Store - Entity
const storeEntity = useEntityStore();
const {result} = storeToRefs(storeEntity)

// Store - Alarmierungen
const store = useIncomingAlertStore();
const {dataById, isLoading} = storeToRefs(store);

// Store - Bundesländer
const storeFederalState = useFederalStateStore();
const {dataForDropdown: federalStates, isLoading: federalsStatesIsLoading} = storeToRefs(storeFederalState);
storeFederalState.loadDataForDropdown();

// Store - Dienststelle
const storeDepartment = useDepartmentStore();
const {dataForDropdown: departments, isLoading: departmentsIsLoading} = storeToRefs(storeDepartment);
storeDepartment.loadDataForDropdown();

// Store - Alarm Adressen
const storeAlertAddress = useAlertAddressStore();
const {dataForDropdown: alertAddresses, isLoading: alertAddressesIsLoading} = storeToRefs(storeAlertAddress);
storeAlertAddress.loadDataForDropdown();

// Welcher Knopf soll im Dialog angezeigt werden
const showedActionButton = ref({
  create: false,
  save: false
});

const headerTitle = ref(dialogs.value.incomingAlert.headerTitle);

// Element
const item = ref(dataById);

// Eigenschaften der Felder für die Entity
const fields = ref({});
const fieldsDefault = ref({
  address: {
    fieldType: 'dropDown',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.incomingAlert.fields.address.label,
    help: dialogs.value.incomingAlert.fields.address.help,
    required: dialogs.value.incomingAlert.fields.address.required,
    options: alertAddresses,
    loading: alertAddressesIsLoading
  },
  // Nummer IRLS
  numberControlCenter: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.incomingAlert.fields.numberControlCenter.label,
    help: dialogs.value.incomingAlert.fields.numberControlCenter.help,
    maxlength: dialogs.value.incomingAlert.fields.numberControlCenter.maxlength,
    minlength: dialogs.value.incomingAlert.fields.numberControlCenter.minlength,
    required: dialogs.value.incomingAlert.fields.numberControlCenter.required
  },
  // Stichwort kurz
  keywordShort: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.incomingAlert.fields.keywordShort.label,
    help: dialogs.value.incomingAlert.fields.keywordShort.help,
    maxlength: dialogs.value.incomingAlert.fields.keywordShort.maxlength,
    minlength: dialogs.value.incomingAlert.fields.keywordShort.minlength,
    required: dialogs.value.incomingAlert.fields.keywordShort.required
  },
  // Stichwort lang
  keywordLong: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.incomingAlert.fields.keywordLong.label,
    help: dialogs.value.incomingAlert.fields.keywordLong.help,
    maxlength: dialogs.value.incomingAlert.fields.keywordLong.maxlength,
    minlength: dialogs.value.incomingAlert.fields.keywordLong.minlength,
    required: dialogs.value.incomingAlert.fields.keywordLong.required
  },
  // Ort-Gemeinde
  location: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.incomingAlert.fields.location.label,
    help: dialogs.value.incomingAlert.fields.location.help,
    maxlength: dialogs.value.incomingAlert.fields.location.maxlength,
    minlength: dialogs.value.incomingAlert.fields.location.minlength,
    required: dialogs.value.incomingAlert.fields.location.required
  },
  // Objekt / Gebäude
  otherAddressInformation: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.incomingAlert.fields.otherAddressInformation.label,
    help: dialogs.value.incomingAlert.fields.otherAddressInformation.help,
    maxlength: dialogs.value.incomingAlert.fields.otherAddressInformation.maxlength,
    minlength: dialogs.value.incomingAlert.fields.otherAddressInformation.minlength,
    required: dialogs.value.incomingAlert.fields.otherAddressInformation.required
  },
  // Person bzw. Patient
  personPatient: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.myIncomingAlert.fields.personPatient.label,
    help: dialogs.value.myIncomingAlert.fields.personPatient.help,
    maxlength: dialogs.value.myIncomingAlert.fields.personPatient.maxlength,
    minlength: dialogs.value.myIncomingAlert.fields.personPatient.minlength,
    required: dialogs.value.myIncomingAlert.fields.personPatient.required
  },
  // Alarm Text
  text: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.incomingAlert.fields.text.label,
    help: dialogs.value.incomingAlert.fields.text.help,
    maxlength: dialogs.value.incomingAlert.fields.text.maxlength,
    minlength: dialogs.value.incomingAlert.fields.text.minlength,
    required: dialogs.value.incomingAlert.fields.text.required
  },
  // Alarmzeit
  incomingDateTime: {
    fieldType: 'calendar',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.incomingAlert.fields.incomingDateTime.label,
    help: dialogs.value.incomingAlert.fields.incomingDateTime.help,
    maxlength: dialogs.value.incomingAlert.fields.incomingDateTime.maxlength,
    minlength: dialogs.value.incomingAlert.fields.incomingDateTime.minlength,
    required: dialogs.value.incomingAlert.fields.incomingDateTime.required
  },
  // Ausgabe (FME)
  messageComplete: {
    fieldType: 'inputText',
    cssClass: 'col-12',
    autofocus: false,
    disabled: true,
    label: dialogs.value.incomingAlert.fields.messageComplete.label,
    help: dialogs.value.incomingAlert.fields.messageComplete.help,
    maxlength: dialogs.value.incomingAlert.fields.messageComplete.maxlength,
    minlength: dialogs.value.incomingAlert.fields.messageComplete.minlength,
    required: dialogs.value.incomingAlert.fields.messageComplete.required
  },
  // Kommentar
  comment: {
    fieldType: 'inputText',
    cssClass: 'col-12',
    autofocus: false,
    label: dialogs.value.incomingAlert.fields.comment.label,
    help: dialogs.value.incomingAlert.fields.comment.help,
    maxlength: dialogs.value.incomingAlert.fields.comment.maxlength,
    minlength: dialogs.value.incomingAlert.fields.comment.minlength,
    required: dialogs.value.incomingAlert.fields.comment.required
  }
});
const fieldsFullAdmin = ref({
  // Bundesland
  federalState: {
    fieldType: 'dropDown',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.incomingAlert.fields.federalState.label,
    help: dialogs.value.incomingAlert.fields.federalState.help,
    required: dialogs.value.incomingAlert.fields.federalState.required,
    options: federalStates,
    loading: federalsStatesIsLoading
  },
  // Dienstelle
  department: {
    fieldType: 'dropDown',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.incomingAlert.fields.department.label,
    help: dialogs.value.incomingAlert.fields.department.help,
    required: dialogs.value.incomingAlert.fields.department.required,
    options: departments,
    loading: departmentsIsLoading
  },
  // Sichtbarkeit im Einsatzbericht
  isVisibilityOperationReport: {
    fieldType: 'inputSwitch',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.incomingAlert.fields.isVisibilityOperationReport.label,
    help: dialogs.value.incomingAlert.fields.isVisibilityOperationReport.help,
    required: dialogs.value.incomingAlert.fields.isVisibilityOperationReport.required
  },
  // Sichtbarkeit
  isVisibility: {
    fieldType: 'inputSwitch',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.incomingAlert.fields.isVisibility.label,
    help: dialogs.value.incomingAlert.fields.isVisibility.help,
    required: dialogs.value.incomingAlert.fields.isVisibility.required
  },
  // Dienstelle
});
// Eigenschaften der Felder für das Löschen
const viewDeleteFields = ref({
  // Alarmzeit
  incomingDateTime: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.incomingAlert.fields.incomingDateTime.label,
    help: dialogs.value.incomingAlert.fields.incomingDateTime.help,
    maxlength: dialogs.value.incomingAlert.fields.incomingDateTime.maxlength,
    minlength: dialogs.value.incomingAlert.fields.incomingDateTime.minlength,
    required: dialogs.value.incomingAlert.fields.incomingDateTime.required
  },
  // Ausgabe (FME)
  messageComplete: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.incomingAlert.fields.messageComplete.label,
    help: dialogs.value.incomingAlert.fields.messageComplete.help,
    maxlength: dialogs.value.incomingAlert.fields.messageComplete.maxlength,
    minlength: dialogs.value.incomingAlert.fields.messageComplete.minlength,
    required: dialogs.value.incomingAlert.fields.messageComplete.required
  },
  // Kommentar
  comment: {
    fieldType: 'inputText',
    cssClass: 'col-12',
    autofocus: false,
    label: dialogs.value.incomingAlert.fields.comment.label,
    help: dialogs.value.incomingAlert.fields.comment.help,
    maxlength: dialogs.value.incomingAlert.fields.comment.maxlength,
    minlength: dialogs.value.incomingAlert.fields.comment.minlength,
    required: dialogs.value.incomingAlert.fields.comment.required
  }
});

// Name des Entity
const nameOfEntity = 'IncomingAlert';

// Aktionen beim Drücken des jeweiligen Knopfes
const itemAction = async (type) => {
  // await removeErrors();
  let toastType = "";

  if (type && type === 'new') {
    toastType = "created";
    await storeEntity.itemAction(nameOfEntity, item.value, type);

  } else if (type && type === 'edit') {
    toastType = "updated";
    await storeEntity.itemAction(nameOfEntity, item.value, type);
  } else if (type && type === 'delete') {
    toastType = "deleted";
    await storeEntity.itemAction(nameOfEntity, item.value, type);
  }

  // Prüfen, ob der Vorgang erfolgreich war
  if (await result.value.status === "success") {
    await emit('addToast', {
      severity: 'success',
      summary: `${components.value.toastMessage[toastType].title}`,
      detail: `${components.value.toastMessage[toastType].message}`
    })
    // Dialog, automatisch schließen?
    if (dialogAutoClose.value) {
      await router.push({name: `${operationAreaNames.allIncomingAlerts}`});
    }
    // await resetItem();
  } else {
    // Keine Rechte Vorhanden
    if (result.value.status === 403) {
      await emit('addToast', {
        severity: 'error',
        summary: `${components.value.toastMessage['noRight'].title}`,
        detail: `${components.value.toastMessage['noRight'].message}`
      })
    } else {
      await emit('addToast', {
        severity: 'warn',
        summary: `${components.value.toastMessage['failed'].title}`,
        detail: `${components.value.toastMessage['failed'].message}`
      })
      // Fehler Felder einfärben
      if (result.value.errors) {
        await result.value.errors.forEach(error => {
          let element = document.getElementById(error.field);
          element.classList.add('p-invalid')
        });
      }
    }
  }
};

// Entfernen der 'Fehler' classes bei Fehler
const removeErrors = async () => {
  await document.querySelectorAll(".p-invalid").forEach(el => el.classList.remove('p-invalid'));
};

// Dialog automatisch Schließen, nach erfolgreicher Aktion?
const dialogAutoClose = ref(true);

// Bevor der Dialog angezeigt wird, prüfen, ob eine ID mitgegeben würde.
onBeforeMount(async () => {
  if (route && route.params && route.params.id) {
    await store.loadDataById(route.params.id);
    if (await dataById.value) {
      item.value = await dataById.value;
      showedActionButton.value.save = true;
      showedActionButton.value.create = false;
    }
  } else {
    showedActionButton.value.save = false;
    showedActionButton.value.create = true;
    await store.resetDefaultDataById();
  }

  // Prüfen der Rechte und zusammenfügen der Felder
  fields.value = addedFullAdminFields(fieldsDefault.value, fieldsFullAdmin.value)
});

// Wichtig für das Automatische ausfüllen der Kompletten FME Text
watch(() => dataById, () => {
      // Umwandlung der Alarmzeit als String
      let dateTime = ''
      if (dataById.value.incomingDateTime) {
        dateTime = new Date(dataById.value.incomingDateTime);
        dateTime = dateTime.toLocaleTimeString('de-DE', {
          day: '2-digit',
          month: '2-digit',
          year: 'numeric',
          hours: '2-digit',
          minutes: '2-digit'
        });
        // Entfernung des ","
        dateTime = dateTime.replace(',', '');
      }

      // Anpassung des Ausgabe Strings
      dataById.value.messageComplete =
          `${dataById.value.numberControlCenter} ${dataById.value.keywordShort}/${dataById.value.location}/${dataById.value.otherAddressInformation}/${dataById.value.text}/${dataById.value.keywordLong}/${dateTime}`;
    },
    {deep: true}
);
</script>