<template>
  <div class="grid m-2">
    <div class="col-12">
      <default-table :columns="tableColumns" :data-for-table="dataForTable" :data-total-count="dataTotalCount"
                     :enabled-buttons="enabledButtons" :filters="tableFilters"
                     :global-filter-fields="globalFilterFields" :header-text="headerText"
                     :loading="isLoading"
                     :state-key="stateKey"
                     :multi-sort-meta="multiSortMeta"
                     :view-selected-columns="true"
                     :label-from-button-add="menus.mainMenu.operationArea.children.myIncomingAlerts.children.label"
                     @item-add="actionOnButton('new')"
                     @item-edit="actionOnButton('edit', $event.id)"
                     @item-delete="actionOnButton('delete', $event.id)"
                     @fetch-data="fetch($event)"
      />
    </div>
  </div>
</template>
<script setup>

import {storeToRefs} from "pinia";
import DefaultTable from "@/components/DefaultTable.vue";
import {FilterMatchMode} from "primevue/api";
import {getCurrentInstance, onBeforeMount, ref} from "vue";
import {operationAreaNames} from "@/router/default";
import router from "@/router";
import {useTranslationStore} from "@/stores/translation";
import {useIncomingAlertStore} from "@/stores/OperationArea/incomingAlert";
import {addedFullAdminColumns, checkUserRight} from "@/utils";
import {useDefaultRightRoleStore} from "@/stores/defaultRightRole";

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  loggedUser: {
    type: Object,
    required: true
  }
});

// Name im Browser Store
const stateKey = `${getCurrentInstance().type.__name}`

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {dataTables, menus} = storeToRefs(storeTranslation);

// Store - Berechtigung
const storeDefaultRightRole = useDefaultRightRoleStore();
const {right} = storeDefaultRightRole;

// Store - Alarmierungen
const store = useIncomingAlertStore();
const {
  dataUserRicsForTable: dataForTable,
  dataUserRicsTotalCount: dataTotalCount,
  dataUserRicsFilterCount: dataFilterCount,
  isLoading
} = storeToRefs(store);

// Filter für die Tabelle
const globalFilterFields = ['fS.description', 'd.description', 'aA.description',
  'numberControlCenter', 'keywordShort', 'keywordLong', 'location', 'personPatient', 'otherAddressInformation',
  'text', 'incomingDateTime', 'messageComplete', 'comment'];
const tableFilters = {
  'global': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'id': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'fS.description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'd.description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'isVisibility': {value: null, matchMode: FilterMatchMode.EQUALS},
  'aA.description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'numberControlCenter': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'keywordShort': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'keywordLong': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'location': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'personPatient': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'otherAddressInformation': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'text': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'incomingDateTime': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'messageComplete': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'isVisibilityOperationReport': {value: null, matchMode: FilterMatchMode.EQUALS},
  'comment': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'createdAt': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'createdFrom': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'updatedAt': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'updatedFrom': {value: null, matchMode: FilterMatchMode.CONTAINS}
};

// Abschalten der Knöpfe Aktionen, je nach Berechtigung
const enabledButtons = ref({
  reloadData: true,
  add: checkUserRight(props.loggedUser.roles, right.myIncomingAlert.new),
  edit: checkUserRight(props.loggedUser.roles, right.myIncomingAlert.edit),
  delete: checkUserRight(props.loggedUser.roles, right.myIncomingAlert.delete)
});

// Überschrift
const headerText = ref(dataTables.value.myIncomingAlerts.headline);

// Spalten für die Tabelle
const tableColumns = ref([]);
const tableColumnsDefault = ref([
  {
    field: 'id',
    sorting: 0,
    header: dataTables.value.myIncomingAlerts.columns.id,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'aA.description',
    sorting: 4,
    mainField: 'address',
    hasSubfield: true,
    header: dataTables.value.myIncomingAlerts.columns.address,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'numberControlCenter',
    sorting: 5,
    header: dataTables.value.myIncomingAlerts.columns.numberControlCenter,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'keywordShort',
    sorting: 6,
    header: dataTables.value.myIncomingAlerts.columns.keywordShort,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'keywordLong',
    sorting: 7,
    header: dataTables.value.myIncomingAlerts.columns.keywordLong,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'location',
    sorting: 8,
    header: dataTables.value.myIncomingAlerts.columns.location,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'otherAddressInformation',
    sorting: 9,
    header: dataTables.value.myIncomingAlerts.columns.otherAddressInformation,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'personPatient',
    sorting: 10,
    header: dataTables.value.myIncomingAlerts.columns.personPatient,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'text',
    sorting: 11,
    header: dataTables.value.myIncomingAlerts.columns.text,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'incomingDateTime',
    sorting: 12,
    header: dataTables.value.myIncomingAlerts.columns.incomingDateTime,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'messageComplete',
    sorting: 13,
    header: dataTables.value.myIncomingAlerts.columns.messageComplete,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'isVisibilityOperationReport',
    sorting: 14,
    header: dataTables.value.memberFunctions.columns.isVisibilityOperationReport,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'boolean',
    dataType: 'boolean'
  },
  {
    field: 'comment',
    sorting: 15,
    header: dataTables.value.myIncomingAlerts.columns.comment,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'createdAt',
    sorting: 16,
    header: dataTables.value.myIncomingAlerts.columns.createdAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'createdFrom',
    sorting: 17,
    header: dataTables.value.myIncomingAlerts.columns.createdFrom,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'updatedAt',
    sorting: 18,
    header: dataTables.value.myIncomingAlerts.columns.updatedAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'updatedFrom',
    sorting: 19,
    header: dataTables.value.myIncomingAlerts.columns.updatedFrom,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  }
]);
const tableColumnsFullAdmin = ref([
  {
    field: 'isVisibility',
    sorting: 3,
    header: dataTables.value.myIncomingAlerts.columns.isVisibility,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'boolean',
    dataType: 'boolean'
  },
  {
    field: 'fS.description',
    sorting: 1,
    mainField: 'federalState',
    hasSubfield: true,
    header: dataTables.value.myIncomingAlerts.columns.federalState,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'd.description',
    sorting: 2,
    mainField: 'department',
    hasSubfield: true,
    header: dataTables.value.myIncomingAlerts.columns.department,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  }]);

// Spalten für die Sortierung
const multiSortMeta = ref([{field: 'fS.description', order: 1}, {field: 'd.description', order: 1}, {
  field: 'incomingDateTime',
  order: -1
}]);

// Abrufen der Daten
const fetch = async (param) => {
  await store.loadDataUserRicsForTable(param);
}

// Aktionen beim Klick auf Add, Edit und Delete
const actionOnButton = (type, id = null) => {
  if (type && type === 'new') {
    router.push({name: `${operationAreaNames.myIncomingAlertNew}`})
  } else if (type && id && type === 'edit') {
    router.push({name: `${operationAreaNames.myIncomingAlertEdit}`, params: {'id': id}})
    // router.push({name: `${operationAreaNames.operationReportNewStepOne}`, props: {'incomingAlert': id}})
  } else if (type && id && type === 'delete') {
    router.push({name: `${operationAreaNames.myIncomingAlertDelete}`, params: {'id': id}})
  }
};

onBeforeMount(() => {
  // Prüfen der Rechte und zusammenfügen der Felder
  tableColumns.value = addedFullAdminColumns(tableColumnsDefault.value, tableColumnsFullAdmin.value)
})
</script>