<template>
  <div class="grid m-2">
    <div class="col-12">
      <default-table
          v-if="router.currentRoute.value.fullPath === operationAreaRoutes.operationReports || route.path.includes('export')|| route.path.includes('show')"
          :columns="tableColumns" :data-for-table="dataForTable" :data-total-count="dataTotalCount"
          :enabled-buttons="enabledButtons" :filters="tableFilters"
          :global-filter-fields="globalFilterFields" :header-text="headerText"
          :loading="isLoading"
          :state-key="stateKey"
          :multi-sort-meta="multiSortMeta"
          :view-selected-columns="true"
          :show-button-details="true"
          :show-button-export="true"
          :label-from-button-add="menus.mainMenu.operationArea.children.operationReports.children.label"
          @item-add="actionOnButton('new')"
          @item-edit="actionOnButton('edit', $event.id)"
          @item-delete="actionOnButton('delete', $event.id)"
          @item-details="actionOnButton('details', $event.id)"
          @item-export="actionOnButton('export', $event)"
          @fetch-data="fetch($event)"
      />
      <router-view name="step" @add-toast="emit('addToast', $event)"/>
      <router-view :logged-user="loggedUser" name="dialog" @add-toast="emit('addToast', $event)"/>
      <router-view :logged-user="loggedUser" name="view" @add-toast="emit('addToast', $event)"/>

    </div>
  </div>
</template>
<script setup>

import {storeToRefs} from "pinia";
import DefaultTable from "@/components/DefaultTable.vue";
import {FilterMatchMode} from "primevue/api";
import {getCurrentInstance, onBeforeMount, ref} from "vue";
import {operationAreaNames, operationAreaRoutes} from "@/router/default";
import router from "@/router";
import {useTranslationStore} from "@/stores/translation";
import {useOperationReportStore} from "@/stores/OperationArea/operationReport";
import {addedFullAdminColumns, checkUserRight} from "@/utils";
import {useDefaultRightRoleStore} from "@/stores/defaultRightRole";
import {merge} from "balm-ui/src/scripts/utils/helpers";
import {RouterView, useRoute} from "vue-router";

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  loggedUser: {
    type: Object,
    required: true
  }
});

// Name im Browser Store
const stateKey = `${getCurrentInstance().type.__name}`

// Events die abgefeuert werden
const emit = defineEmits(['addToast']);

const route = useRoute();

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {dataTables, menus} = storeToRefs(storeTranslation);

// Store - Berechtigung
const storeDefaultRightRole = useDefaultRightRoleStore();
const {right} = storeDefaultRightRole;

// Store - Einsatzberichte
const store = useOperationReportStore();
const {dataForTable, dataTotalCount, dataFilterCount, isLoading} = storeToRefs(store);

// Filter für die Tabelle
const globalFilterFields = ['fS.description', 'd.description', 'oT.description', 'aA.description',
  'oRD.numberControlCenter', 'oRD.keywordShort', 'oRD.keywordLong',
  'oRD.postalCode', 'oRD.place', 'oRD.streetWithNumber', 'oRD.location',
  'oRD.otherAddressInformation', 'oRD.personPatient', 'oRD.numberFireDepartment', 'oRD.numberPolice',
  'incomingDateTime', 'oRD.messageComplete', 'ownForces', 'otherTaskForces', 'tools', 'commentPrint', 'comment',
];
const tableFilters = {
  'global': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'id': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'fS.description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'd.description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'isVisibility': {value: null, matchMode: FilterMatchMode.EQUALS},
  'oT.description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'aA.description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  // 'iA.incomingDateTime': {value: `${new Date().getFullYear()}-01-01`, matchMode: FilterMatchMode.DATE_AFTER},
  'iA.incomingDateTime': {value: null, matchMode: FilterMatchMode.DATE_AFTER},
  'oRD.startetAt': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.endetAt': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.numberControlCenter': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.keywordShort': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.keywordLong': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.postalCode': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.place': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.streetWithNumber': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.location': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.otherAddressInformation': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.personPatient': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.numberFireDepartment': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'oRD.numberPolice': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'incomingDateTime': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'oRD.messageComplete': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'ownForces': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'otherTaskForces': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'tools': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'commentPrint': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'comment': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'createdAt': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'createdFrom': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'updatedAt': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'updatedFrom': {value: null, matchMode: FilterMatchMode.CONTAINS}
};

// Abschalten der Knöpfe Aktionen, je nach Berechtigung
const enabledButtons = ref({
  reloadData: true,
  details: checkUserRight(props.loggedUser.roles, right.operationReport.viewPdf),
  export: checkUserRight(props.loggedUser.roles, right.operationReport.export),
  add: checkUserRight(props.loggedUser.roles, right.operationReport.new),
  edit: merge(props.loggedUser.roles, props.loggedUser.rolesInherited),
  delete: checkUserRight(props.loggedUser.roles, right.operationReport.delete),
  hoursToEdit: 24
});

// Überschrift
const headerText = ref(dataTables.value.operationReports.headline);

// Spalten für die Tabelle
const tableColumns = ref([]);
const tableColumnsDefault = ref([
  {
    field: 'id',
    sorting: 0,
    header: dataTables.value.operationReports.columns.id,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'iA.incomingDateTime',
    sorting: 4,
    mainField: 'incomingAlert',
    hasSubfield: true,
    header: dataTables.value.operationReports.columns.incomingDateTime,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'oT.description',
    sorting: 5,
    mainField: 'operationReportDetail',
    subField: 'operationType',
    hasSubfield: true,
    hasSubfieldTwo: true,
    header: dataTables.value.operationReports.columns.operationType,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.startetAt',
    sorting: 6,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.operationReports.columns.startetAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'oRD.endetAt',
    sorting: 7,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.operationReports.columns.endetAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'oRD.numberControlCenter',
    sorting: 8,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.operationReports.columns.numberControlCenter,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.keywordShort',
    sorting: 9,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.operationReports.columns.keywordShort,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.keywordLong',
    sorting: 10,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.operationReports.columns.keywordLong,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.postalCode',
    sorting: 11,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.operationReports.columns.postalCode,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.place',
    sorting: 12,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.operationReports.columns.place,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.streetWithNumber',
    sorting: 13,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.operationReports.columns.streetWithNumber,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.location',
    sorting: 14,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.operationReports.columns.location,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.otherAddressInformation',
    sorting: 15,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.operationReports.columns.otherAddressInformation,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.personPatient',
    sorting: 16,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.operationReports.columns.personPatient,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.numberFireDepartment',
    sorting: 17,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.operationReports.columns.numberFireDepartment,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.numberPolice',
    sorting: 18,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.operationReports.columns.numberPolice,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'oRD.messageComplete',
    sorting: 19,
    mainField: 'operationReportDetail',
    hasSubfield: true,
    header: dataTables.value.operationReports.columns.messageComplete,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'ownForces',
    sorting: 20,
    header: dataTables.value.operationReports.columns.ownForces,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text',
    usedFunction: 'showOwnForces'
  },
  {
    field: 'otherTaskForces',
    sorting: 21,
    header: dataTables.value.operationReports.columns.otherTaskForces,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'tools',
    sorting: 22,
    header: dataTables.value.operationReports.columns.tools,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'commentPrint',
    sorting: 22,
    header: dataTables.value.operationReports.columns.commentPrint,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'comment',
    sorting: 23,
    header: dataTables.value.operationReports.columns.comment,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'createdAt',
    sorting: 24,
    header: dataTables.value.operationReports.columns.createdAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'createdFrom',
    sorting: 25,
    header: dataTables.value.operationReports.columns.createdFrom,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'updatedAt',
    sorting: 26,
    header: dataTables.value.operationReports.columns.updatedAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'updatedFrom',
    sorting: 27,
    header: dataTables.value.operationReports.columns.updatedFrom,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  }
]);
const tableColumnsFullAdmin = ref([
  {
    field: 'isVisibility',
    sorting: 3,
    header: dataTables.value.operationReports.columns.isVisibility,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'boolean',
    dataType: 'boolean'
  },
  {
    field: 'fS.description',
    sorting: 1,
    mainField: 'federalState',
    hasSubfield: true,
    header: dataTables.value.operationReports.columns.federalState,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'd.description',
    sorting: 1,
    mainField: 'department',
    hasSubfield: true,
    header: dataTables.value.operationReports.columns.department,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  }
]);

// Spalten für die Sortierung
const multiSortMeta = ref([{field: 'fS.description', order: 1}, {
  field: 'd.description',
  order: 1
},
  // {field: 'oRD.numberFireDepartment', order: -1}
  {field: 'iA.incomingDateTime', order: -1}
]);

// Abrufen der Daten
const fetch = async (param) => {
  await store.loadDataForTable(param);
}

// Aktionen beim Klick auf Add, Edit und Delete
const actionOnButton = (type, id = null) => {
  if (type && type === 'new') {
    router.push({name: `${operationAreaNames.operationReportNewStepOne}`})
  } else if (type && id && type === 'edit') {
    router.push({name: `${operationAreaNames.operationReportEditStepOne}`, params: {'id': id}})
  } else if (type && id && type === 'delete') {
    router.push({name: `${operationAreaNames.operationReportDelete}`, params: {'id': id}})
  } else if (type && id && type === 'details') {
    router.push({name: `${operationAreaNames.operationReportDetails}`, params: {'id': id}})
  } else if (type && id && type === 'export') {
    if (id && id.exportPdfPath) {
      router.push({name: `${operationAreaNames.operationReportShowPdf}`, params: {'id': id.id}})
    } else {
      router.push({name: `${operationAreaNames.operationReportExport}`, params: {'id': id.id}})
    }
  }
};

onBeforeMount(() => {
  // Prüfen der Rechte und zusammenfügen der Felder
  tableColumns.value = addedFullAdminColumns(tableColumnsDefault.value, tableColumnsFullAdmin.value)
});
</script>