<template>
  <!-- Schritt Anzeige -->
  <div class="grid">
    <div class="col-11 m-auto">
      <Card class="text-center mt-4 m-auto">
        <template #content>
          <Steps :model="itemSteps" :pt="{
                    menuitem: ({ context }) => ({
                        class: isActive(context.item) && 'p-highlight p-steps-current'
                    })
                }" aria-label="Form Steps">
            <template #item="{ label, item, index, props }">
              <router-link v-if="item.route" v-slot="routerProps" :to="item.route" custom>
                <a :href="routerProps.href" v-bind="props.action" @click="($event) => routerProps.navigate($event)"
                   @keydown.enter="($event) => routerProps.navigate($event)">
                  <span v-bind="props.step">{{ index + 1 }}</span>
                  <span v-bind="props.label">{{ label }}</span>
                </a>
              </router-link>
              <a v-else :href="item.url" :target="item.target" v-bind="props.action">
                <span v-bind="props.step">{{ index + 1 }}</span>
                <span v-bind="props.label">{{ label }}</span>
              </a>
            </template>
          </Steps>
        </template>
      </Card>
    </div>

    <!-- Inhalt -->
    <router-view v-slot="{ Component, route }" name="step" @prev-page="prevPage($event)"
                 @next-page="nextPage($event)" @add-toast="emit('addToast', $event)">
      <transition :name="transitionType" mode="out-in">
        <div :key="route.name" class="col-11 m-auto">
          <keep-alive>
            <component :is="Component" :max-steps="itemSteps.length"/>
          </keep-alive>
        </div>
      </transition>
    </router-view>
  </div>
</template>
<script setup>
import {useRoute, useRouter} from "vue-router";
import {onBeforeMount, onUnmounted, ref} from "vue";
import {storeToRefs} from "pinia";
import {operationAreaRoutes} from "@/router/default";
import {useTranslationStore} from "@/stores/translation";
import {useEntityStore} from "@/stores/entity";
import {useOperationReportStore} from "@/stores/OperationArea/operationReport"; // Vue Router

// Vue Router
const router = useRouter();
const route = useRoute();

// Events die abgefeuert werden
const emit = defineEmits(['addToast'])

const changeStep = async () => {
  transitionType.value = 'fadeout';
  // Speichern der Daten
  await itemActionCache("edit");
}

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components, dialogs, sites} = storeToRefs(storeTranslation);

// Store - Entity
const storeEntity = useEntityStore();
const {result} = storeToRefs(storeEntity)

// Store - Einsatzbericht
const store = useOperationReportStore();
const {dataById, isLoading, operationReport} = storeToRefs(store);

// Name des Entity
const nameOfEntityCache = 'OperationReportCache';

// Aktionen beim Drücken des jeweiligen Knopfes
const itemActionCache = async (type) => {
  // await removeErrors();
  let toastType = "";

  if (type && type === 'new') {
    toastType = "created";
    await storeEntity.itemAction(nameOfEntityCache, operationReport.value, type);
  } else if (type && type === 'edit') {
    toastType = "updated";
    if (operationReport.value.fromDatabase) {
      await storeEntity.itemAction(nameOfEntity, operationReport.value, type);
    } else {
      await storeEntity.itemAction(nameOfEntityCache, operationReport.value, type);
    }
  } else if (type && type === 'delete') {
    toastType = "deleted";
    await storeEntity.itemAction(nameOfEntityCache, operationReport.value, type);
  }

  // Prüfen, ob der Vorgang erfolgreich war
  if (await result.value.status === "success") {
    operationReport.value.id = result.value.item.id;
    await emit('addToast', {
      severity: 'success',
      summary: `${components.value.toastMessage[toastType].title}`,
      detail: `${components.value.toastMessage[toastType].message}`
    })
  } else {
    // Keine Rechte Vorhanden
    if (result.value.status === 403) {
      await emit('addToast', {
        severity: 'error',
        summary: `${components.value.toastMessage['noRight'].title}`,
        detail: `${components.value.toastMessage['noRight'].message}`
      })
    } else {
      await emit('addToast', {
        severity: 'warn',
        summary: `${components.value.toastMessage['failed'].title}`,
        detail: `${components.value.toastMessage['failed'].message}`
      })
      // Fehler Felder einfärben
      if (result.value.errors) {
        await result.value.errors.forEach(error => {
          let element = document.getElementById(error.field);
          element.classList.add('p-invalid')
        });
      }
    }
  }
};

// Element
const item = ref(dataById);

// Name des Entity
const nameOfEntity = 'OperationReport';

// Aktionen beim Drücken des jeweiligen Knopfes
const itemAction = async (type, params) => {
  // await removeErrors();
  let toastType = "";

  if (type && type === 'new') {
    toastType = "created";
    await storeEntity.itemAction(nameOfEntity, operationReport.value, type);

  } else if (type && type === 'edit') {
    toastType = "updated";
    await storeEntity.itemAction(nameOfEntity, item.value, type);
    // await store.loadDataById(item.value.id);
  } else if (type && type === 'delete') {
    toastType = "deleted";
    await storeEntity.itemAction(nameOfEntity, item.value, type);
  }

  // Prüfen, ob der Vorgang erfolgreich war
  if (await result.value.status === "success") {
    await emit('addToast', {
      severity: 'success',
      summary: `${components.value.toastMessage[toastType].title}`,
      detail: `${components.value.toastMessage[toastType].message}`
    })
  } else {
    // Keine Rechte Vorhanden
    if (result.value.status === 403) {
      await emit('addToast', {
        severity: 'error',
        summary: `${components.value.toastMessage['noRight'].title}`,
        detail: `${components.value.toastMessage['noRight'].message}`
      })
    } else {
      await emit('addToast', {
        severity: 'warn',
        summary: `${components.value.toastMessage['failed'].title}`,
        detail: `${components.value.toastMessage['failed'].message}`
      })
      // Fehler Felder einfärben
      if (result.value.errors) {
        await result.value.errors.forEach(error => {
          let element = document.getElementById(error.field);
          element.classList.add('p-invalid')
        });
      }
    }
  }
};

// Entfernen der 'Fehler' classes bei Fehler
const removeErrors = async () => {
  await document.querySelectorAll(".p-invalid").forEach(el => el.classList.remove('p-invalid'));
};

// Schritt zurück
const prevPage = async (event) => {
  transitionType.value = "slide-left"
  if (itemSteps.value.length > 0 && itemSteps.value[event.pageIndex - 1]) {
    await router.push(itemSteps.value[event.pageIndex - 1].to);
    // Zwischen speichern
    if (operationReport.value && operationReport.value.id) {
      await itemActionCache("edit");
    }
  }

  transitionType.value = "fade";
};

// Schritt weiter
const nextPage = async (event) => {
  transitionType.value = "slide-right"
  if (itemSteps.value.length > 0 && itemSteps.value[event.pageIndex + 1]) {
    await router.push(itemSteps.value[event.pageIndex + 1].to);

    if (event.pageIndex === 0) {
      // Zwischen speichern
      if (operationReport.value && !operationReport.value.id) {
        await itemActionCache("new");
      }

      // Zwischen speichern
      if (operationReport.value && operationReport.value.id) {
        await itemActionCache("edit");
      }
    } else {
      // Zwischen speichern
      if (operationReport.value && operationReport.value.id) {
        await itemActionCache("edit");
      }
    }

  } else if (event.pageIndex + 1 === itemSteps.value.length) {
    // await create()
  }
  transitionType.value = "fade";
};

// Schritte vom VUE-Router
const itemSteps = ref([])
const transitionType = ref('fade');

onBeforeMount(async () => {
  if (route && route.params && route.params.id) {
    // ID aus der URL lesen und setzen
    operationReport.value.id = route.params.id;

    // Routen aus dem VUE-Router Extrahieren, Routen zum Bearbeiten
    for (const currentRoute of router.getRoutes()) {
      if (currentRoute.path.includes(`${operationAreaRoutes.operationReportEdit}`) &&
          currentRoute.meta && currentRoute.meta.label) {
        if (currentRoute.meta && currentRoute.meta.isStep &&
            currentRoute.meta.label ? currentRoute.meta.label : '') {
          itemSteps.value.push({
            label: currentRoute.meta && currentRoute.meta.label ? currentRoute.meta.label : '',
            to: `${currentRoute.path.slice(0, -4)}/${route.params.id}`
          })
        }
      }
    }
  } else {
    // Routen aus dem VUE-Router Extrahieren Routen zum neun erstellen
    for (const currentRoute of router.getRoutes()) {
      if (currentRoute.path.includes(`${operationAreaRoutes.operationReportNew}`) &&
          currentRoute.meta && currentRoute.meta.label) {
        if (currentRoute.meta && currentRoute.meta.isStep &&
            currentRoute.meta.label ? currentRoute.meta.label : '') {
          itemSteps.value.push({
            label: currentRoute.meta && currentRoute.meta.label ? currentRoute.meta.label : '',
            to: `${currentRoute.path}`
          })
        }
      }
    }
  }
});

const isActive = (item) => {
  return item.route ? router.resolve(item.route).path === route.path : false;
};

onUnmounted( async ()=> {
  await store.resetDefaultDataById();
});
</script>

<style>
.p-steps-list {
  flex-wrap: wrap;
}
</style>