<template>
  <default-dialog v-if="route.path.includes('new') || route.path.includes('edit')" :fields="fields"
                  :header-title="headerTitle"
                  :item="item" :showed-action-button="showedActionButton" @close-dialog="closeDialog" :item-is-loading="isLoading"
                  @item-add="itemAction('new')" @item-edit="itemAction('edit')"
                  @change-dialog-auto-close="dialogAutoClose = $event"/>

  <default-dialog-delete v-else :header-title="headerTitle" :item="item"
                         :view-delete-fields="viewDeleteFields" @close-dialog="closeDialog"
                         @item-delete="itemAction('delete')"/>
</template>

<script setup>
import {useRoute, useRouter} from "vue-router";
import {onBeforeMount, ref} from "vue";
import {storeToRefs} from "pinia";
import DefaultDialog from "@/components/DefaultDialog.vue";
import {provisioningAreaNames} from "@/router/default";
import {useTranslationStore} from "@/stores/translation";
import DefaultDialogDelete from "@/components/DefaultDialogDelete.vue";
import {useEntityStore} from "@/stores/entity";
import {useUserRoleStore} from "@/stores/ProvisioningArea/userRole";

// Vue Router
const router = useRouter();
const route = useRoute();

// Events die abgefeuert werden
const emit = defineEmits(['addToast'])

// Aktion beim Schließen des Dialoges
const closeDialog = () => {
  router.push({name: `${provisioningAreaNames.userRoles}`})
};

// Dialog - Einblenden bzw. Ausblenden
// Wichtig sonst reagiert er nicht beim klick auf das "x"
const show = ref(true);

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components, dialogs} = storeToRefs(storeTranslation);

// Store - Entity
const storeEntity = useEntityStore();
const {result} = storeToRefs(storeEntity)

// Store - Nutzer Rechte (Rollen)
const store = useUserRoleStore();
const {dataById, isLoading} = storeToRefs(store);

// Welcher Knopf soll im Dialog angezeigt werden
const showedActionButton = ref({
  create: false,
  save: false
});

// Überschrift
const headerTitle = ref(dialogs.value.userRole.headerTitle);

// Element
const item = ref(dataById);

// Eigenschaften der Felder für die Entity
const fields = ref({
  // Name
  displayName: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: true,
    label: dialogs.value.userRole.fields.displayName.label,
    help: dialogs.value.userRole.fields.displayName.help,
    maxlength: dialogs.value.userRole.fields.displayName.maxlength,
    minlength: dialogs.value.userRole.fields.displayName.minlength,
    required: dialogs.value.userRole.fields.displayName.required
  },
  // Rollen-Bezeichnung
  roleName: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.userRole.fields.roleName.label,
    help: dialogs.value.userRole.fields.roleName.help,
    maxlength: dialogs.value.userRole.fields.roleName.maxlength,
    minlength: dialogs.value.userRole.fields.roleName.minlength,
    required: dialogs.value.userRole.fields.roleName.required
  },
  // Beschreibung
  description: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.userRole.fields.description.label,
    help: dialogs.value.userRole.fields.description.help,
    maxlength: dialogs.value.userRole.fields.description.maxlength,
    minlength: dialogs.value.userRole.fields.description.minlength,
    required: dialogs.value.userRole.fields.description.required
  },
  // Sortierung
  sorting: {
    fieldType: 'inputNumber',
    cssClass: 'col-6',
    autofocus: true,
    step: 10,
    label: dialogs.value.userRole.fields.sorting.label,
    help: dialogs.value.userRole.fields.sorting.help,
    maxlength: dialogs.value.userRole.fields.sorting.maxlength,
    minlength: dialogs.value.userRole.fields.sorting.minlength,
    required: dialogs.value.userRole.fields.sorting.required
  },
  // Sichtbarkeit
  isVisibility: {
    fieldType: 'inputSwitch',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.userRole.fields.isVisibility.label,
    help: dialogs.value.userRole.fields.isVisibility.help,
    required: dialogs.value.userRole.fields.isVisibility.required
  },
  // Kommentar
  comment: {
    fieldType: 'inputText',
    cssClass: 'col-12',
    autofocus: false,
    label: dialogs.value.userRole.fields.comment.label,
    help: dialogs.value.userRole.fields.comment.help,
    maxlength: dialogs.value.userRole.fields.comment.maxlength,
    minlength: dialogs.value.userRole.fields.comment.minlength,
    required: dialogs.value.userRole.fields.comment.required
  }
});

// Eigenschaften der Felder für das Löschen
const viewDeleteFields = ref({
  // Name
  displayName: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: true,
    label: dialogs.value.userRole.fields.displayName.label,
    help: dialogs.value.userRole.fields.displayName.help,
    maxlength: dialogs.value.userRole.fields.displayName.maxlength,
    minlength: dialogs.value.userRole.fields.displayName.minlength,
    required: dialogs.value.userRole.fields.displayName.required
  },
  // Rollen-Bezeichnung
  roleName: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.userRole.fields.roleName.label,
    help: dialogs.value.userRole.fields.roleName.help,
    maxlength: dialogs.value.userRole.fields.roleName.maxlength,
    minlength: dialogs.value.userRole.fields.roleName.minlength,
    required: dialogs.value.userRole.fields.roleName.required
  },
  // Beschreibung
  description: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.userRole.fields.description.label,
    help: dialogs.value.userRole.fields.description.help,
    maxlength: dialogs.value.userRole.fields.description.maxlength,
    minlength: dialogs.value.userRole.fields.description.minlength,
    required: dialogs.value.userRole.fields.description.required
  },
  // Kommentar
  comment: {
    fieldType: 'inputText',
    cssClass: 'col-12',
    autofocus: false,
    label: dialogs.value.userRole.fields.comment.label,
    help: dialogs.value.userRole.fields.comment.help,
    maxlength: dialogs.value.userRole.fields.comment.maxlength,
    minlength: dialogs.value.userRole.fields.comment.minlength,
    required: dialogs.value.userRole.fields.comment.required
  }
});

// Name des Entity
const nameOfEntity = 'UserRole';

// Aktionen beim Drücken des jeweiligen Knopfes
const itemAction = async (type) => {
  // await removeErrors();
  let toastType = "";

  if (type && type === 'new') {
    toastType = "created";
    await storeEntity.itemAction(nameOfEntity, item.value, type);

  } else if (type && type === 'edit') {
    toastType = "updated";
    await storeEntity.itemAction(nameOfEntity, item.value, type);
  } else if (type && type === 'delete') {
    toastType = "deleted";
    await storeEntity.itemAction(nameOfEntity, item.value, type);
  }

  // Prüfen, ob der Vorgang erfolgreich war
  if (await result.value.status === "success") {
    await emit('addToast', {
      severity: 'success',
      summary: `${components.value.toastMessage[toastType].title}`,
      detail: `${components.value.toastMessage[toastType].message}`
    })
    // Dialog, automatisch schließen?
    if (dialogAutoClose.value) {
      await router.push({name: `${provisioningAreaNames.userRoles}`});
    }
    // await resetItem();
  } else {
    // Keine Rechte Vorhanden
    if (result.value.status === 403) {
      await emit('addToast', {
        severity: 'error',
        summary: `${components.value.toastMessage['noRight'].title}`,
        detail: `${components.value.toastMessage['noRight'].message}`
      })
    } else {
      await emit('addToast', {
        severity: 'warn',
        summary: `${components.value.toastMessage['failed'].title}`,
        detail: `${components.value.toastMessage['failed'].message}`
      })
      // Fehler Felder einfärben
      if (result.value.errors) {
        await result.value.errors.forEach(error => {
          let element = document.getElementById(error.field);
          element.classList.add('p-invalid')
        });
      }
    }
  }
};

// Entfernen der 'Fehler' classes bei Fehler
const removeErrors = async () => {
  await document.querySelectorAll(".p-invalid").forEach(el => el.classList.remove('p-invalid'));
};

// Dialog automatisch Schließen, nach erfolgreicher Aktion?
const dialogAutoClose = ref(true);

// Bevor der Dialog angezeigt wird, prüfen, ob eine ID mitgegeben würde.
onBeforeMount(async () => {
  if (route && route.params && route.params.id) {
    await store.loadDataById(route.params.id);
    if (await dataById.value) {
      item.value = await dataById.value;
      showedActionButton.value.save = true;
      showedActionButton.value.create = false;
    }
  } else {
    showedActionButton.value.save = false;
    showedActionButton.value.create = true;
    await store.resetDefaultDataById();
  }
});
</script>