<template>
  <Dialog v-model:visible="visible" :header="sites.operationReportExport.modalTitleExport"
          :style="{ 'width': '240mm'}" class="default-modal" :draggable="true"
          modal @hide="closeDialog">

    <!-- Laden Balken -->
    <div v-if="isLoading || isPdfCreating" class="col-12">
      <ProgressBar class="bg-yellow-900-900" mode="indeterminate" style="height: 6px"></ProgressBar>
    </div>

    <!-- Knopf Anzeige der erstellent pdf -->
    <div class="grid m-auto sticky m-0">
      <div class="col-12 text-center m-0">
        <Button :disabled="isPdfCreating"  :label="generals.buttonShowCreatedPdf" severity="secondary" raised @click="showGeneratePDF()"/>
      </div>
    </div>
    <!-- Ansicht als A4 Ausdruck -->
    <div class="grid grid-nogutter nested-grid justify-content-between mb-4 m-auto" ref="pdfContent" id="size-paper-a4">
      <!-- Überschrift -->
      <div class="col-12 text-center mt-3">
        <h2 class="underline m-1">{{ siteNamePdf.value }}</h2>
        <h3 class="font-italic m-1"> {{ sites.operationReportExport.beforeOperationNumber }}
          {{ operationReport.operationReportDetail.numberFireDepartment }}</h3>
      </div>

      <!-- Abschnitte mit dem FME Meldungen-->
      <div class="col-12 text-center mt-3">
        <h3 class="underline m-0">
          {{ sites.operationReportExport.headlineOriginalMessage }}
        </h3>
        <generate-formular :disabled-all-fieldComment="isLoading" :fields="fieldsOne"
                           :item="operationReport.incomingAlert.item"
                           :read-only-all-fieldComment="isLoading" :show-required-text="false"/>
      </div>
      <!-- Abschnitte mit dem Details zum Einsatzbericht-->
      <div class="col-12 text-center">
        <h3 class="underline m-1">
          {{ sites.operationReportExport.headlineOperationDetails }}
        </h3>
        <generate-formular :disabled-all-fieldComment="isLoading" :fields="fieldsTwo"
                           :item="operationReport.operationReportDetail"
                           :read-only-all-fieldComment="isLoading"
                           @enabled-action-button="enabledStepButtons($event)"
                           :show-required-text="false"
        />

      </div>

      <!-- Allgemeiner Kommentar -->
      <div class="col-12 font-bold">
        <h3 class="underline mt-1 text-center">
          {{ sites.operationReportExport.headlineComment }}
        </h3>
        <span class="p-float-label">
                <Textarea id="comment" v-model="operationReport.comment"
                          :autofocus="fieldComment.comment.autofocus" :disabled="isLoading"
                          :maxlength="fieldComment.comment.maxlength"
                          :minlength="fieldComment.comment.minlength"
                          :readonly="isLoading"
                          :required="fieldComment.comment.required"
                          aria-describedby="comment-help"
                          class="min-w-full" rows="8"/>
                <label for="comment"><required-star v-if="fieldComment.comment.required"/>{{
                    fieldComment.comment.label
                  }}</label>
              </span>
        <div class="flex justify-content-between flex-wrap m-1">
          <small v-if="operationReport.comment"
                 class="fadeinleft animation-duration-200 font-light font-italic">
          </small>
          <small id="comment-help">{{ fieldComment.comment.help }}</small>
        </div>
      </div>

      <!-- Einsatzleiter -->
      <div class="col-12 font-bold">
        <h3 class="underline text-center m-0 p-0">
          {{ sites.operationReportExport.headlineOperationChef }}
        </h3>
      </div>

      <div class="col-6 font-bold text-center">
        <h3 class="">Name</h3>
      </div>
      <div class="col-6 font-bold text-center">
        <h3 class="">Unterschrift</h3>
      </div>
      <div class="col-6 font-bold text-center">
        <h3 class="">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _</h3>
      </div>
      <div class="col-6 font-bold text-center">
        <h3 class="">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _</h3>
      </div>

      <!-- Hier erzwingen wir einen Seitenumbruch -->
      <div style="page-break-before: always;"></div>

      <!-- Einsatzkräfte -->
      <!-- Tabelle mit Inhalt -->
      <div class="col-12 mt-2">
        <DataTable ref="dt"
                   :rowHover="true" :value="operationReport.otherTaskForces"
                   class="p-datatable-sm" columnResizeMode="fit" dataKey="id"
                   lazy
                   size="small"
                   sortMode="multiple"
                   stripedRows>

          <!-- Kopf über der Tabelle -->
          <template #header>
            <div class="grid ">
              <!-- Text ganz links -->
              <div class="col-12 m-auto text-center">
                <h3 class="ml-2 underline m-1">{{ headerText }}</h3>
              </div>
            </div>
          </template>

          <!-- Standard Meldungen -->
          <template #empty class="flex">
            <div class="flex-none flex align-items-center justify-content-center font-bold">{{
                components.dataTable.emptyItems
              }}
            </div>
          </template>
          <!-- Daten werden geladen -->
          <template #loading>
            <ProgressSpinner/>
          </template>
          <!--    <template #loading>{{ components.dataTable.loadingItems }} </template>-->

          <!-- Erstellen der Einzelnen Spalten -->
          <template v-for="col of tableColumns">
            <Column v-if="col.showing" :key="col.field"
                    :field="col.field" :header="col.header"
                    :sortable="false"
                    class="text-center text-xs">
              <template #body="{ data, field }">
                {{ data[field] }}
              </template>
            </Column>
          </template>
        </DataTable>
      </div>

      <!-- Einsatzkräfte - Details -->
      <div class="col-12 grid mt-1">
        <template v-for="(vehicle, index) in operationReport.ownForces.vehiclesWithMemberAndFunction">
          <div class="col-4 p-1">
            <div class="col-12 text-center">
              <h3 class="font-weight-bold underline m-1">{{ vehicle.abbreviation }}</h3>
            </div>
            <template v-for="(member, index) in sortMembers(vehicle.members)">
              <div style="border-bottom: dashed 1px; max-width: 80%">
                <div class="col-12 m-0 p-0 text-left font-medium">
                  <span class="text-sm"> {{ member.surname }}, {{ member.firstname }}</span>
                </div>
                <div class="col-12 m-0 p-0 text-left mb-1">
              <span class="ml-3 text-sm">
                {{
                  member.operationFunctionDetails.description
                }} ({{ member.operationFunctionDetails.abbreviation }})</span>
                </div>
              </div>
            </template>
          </div>
        </template>
      </div>

      <!-- Hier erzwingen wir einen Seitenumbruch -->
      <!--    <div style="page-break-before: always;"></div>-->

      <!-- Abschnitte mit dem Hilfsmittel -->
      <div class="col-12 text-center mt-2">
        <h3 class="underline m-1">
          {{ sites.operationReportExport.headlineTool }}
        </h3>
      </div>
      <!-- Hilfsmittel -->
      <div class="col-12 grid mt-1">
        <template v-for="toolCategory in toolCategories">
          <div class="col-4 p-1"
               v-if="operationReport.tools.toolsWithNumbers.filter(tool => tool.toolCategory.id === toolCategory.value).length > 0">
            <template
                v-for="(tool, index) in operationReport.tools.toolsWithNumbers.filter(tool => tool.toolCategory.id === toolCategory.value)">
              <div style="border-bottom: dashed 1px; max-width: 80%">
                <div class="col-12 grid m-0 p-0 text-left">
                  <div class="col-10">
                    <span> {{ tool.description }}</span>
                  </div>
                  <div class="col-2">
                    <span>{{ tool.numbers }}</span>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </template>
      </div>

    </div>
    </Dialog>
</template>
<script setup>
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import {onBeforeMount, onMounted, onUpdated, ref} from "vue";
import {useOperationReportStore} from "@/stores/OperationArea/operationReport";
import RequiredStar from "@/components/RequiredStar.vue";
import RequiredText from "@/components/RequiredText.vue";
import {operationAreaNames} from "@/router/default";
import {useRoute, useRouter} from "vue-router";
import GenerateFormular from "@/components/GenerateFormular.vue";
import {useOperationTypeCategoryStore} from "@/stores/ReferenceArea/operationTypeCategory";
import {useEntityStore} from "@/stores/entity";
import Html2pdf from 'html2pdf.js';
import {useToolCategoryStore} from "@/stores/Managements/toolCategory";
import {useGeneralStore} from "@/stores/Managements/general";
import axios from "axios";
import {VuePDF} from "@tato30/vue-pdf";
import {checkUserRight} from "@/utils";
import {useDefaultRightRoleStore} from "@/stores/defaultRightRole";

const emit = defineEmits(['addToast', 'prevPage', 'nextPage', 'createEntry'])

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  loggedUser: {
    type: Object,
    required: true
  }
});

// Vue Router
const router = useRouter();
const route = useRoute();

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components, menus, sites, dialogs, generals} = storeToRefs(storeTranslation)

// Modale Sichtbarkeit
const visible = ref(true)

// Step Knöpfe
const disabledButtonNextStep = ref(true);
const disabledButtonPrevStep = ref(false);

// Step Knöpfe aktivieren
const enabledStepButtons = (state) => {
  disabledButtonNextStep.value = state;
};

// Store - Entity
const storeEntity = useEntityStore();
const {result} = storeToRefs(storeEntity)

// Store - Allgemeines
const storeGenerals = useGeneralStore();
const {
  siteNamePdf,
} = storeToRefs(storeGenerals);

// Store - Einsatzbericht
const store = useOperationReportStore();
const {dataById, isLoading, operationReport} = storeToRefs(store);

// Store - Einsatzart Kategories
const storeOperationReportCategory = useOperationTypeCategoryStore();
const {
  dataForDropdownGroup: operationReportCategories,
  isLoading: operationReportCategoriesIsLoading
} = storeToRefs(storeOperationReportCategory);

// Store - Hilfsmittel Kategorie
const storeToolCategory = useToolCategoryStore();
const {
  dataForDropdown: toolCategories,
  isLoading: toolCategoryIsLoading
} = storeToRefs(storeToolCategory);

// Store - Berechtigung
const storeDefaultRightRole = useDefaultRightRoleStore();
const {right} = storeDefaultRightRole;

// Anzeige für die erstellung
const isPdfCreating = ref(true);

// Titel
const title = ref(menus.value.mainMenu.operationArea.children.operationReports.children.headlines.six);

// Felder
const fieldsOne = ref({
  // Originaler Einsatztext
  messageComplete: {
    fieldType: 'textarea',
    cssClass: 'col-12 pt-0',
    row: 2,
    cols: 30,
    autofocus: false,
    disabled: true,
    forPrint: true,
    label: dialogs.value.operationReport.fields.messageComplete.label,
    help: dialogs.value.operationReport.fields.messageComplete.help,
    maxlength: dialogs.value.operationReport.fields.messageComplete.maxlength,
    minlength: dialogs.value.operationReport.fields.messageComplete.minlength,
    required: dialogs.value.operationReport.fields.messageComplete.required
  },
  // Alarmzeit
  incomingDateTime: {
    fieldType: 'calendar',
    cssClass: 'col-3',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.incomingDateTime.label,
    help: dialogs.value.operationReport.fields.incomingDateTime.help,
    maxlength: dialogs.value.operationReport.fields.incomingDateTime.maxlength,
    minlength: dialogs.value.operationReport.fields.incomingDateTime.minlength,
    required: dialogs.value.operationReport.fields.incomingDateTime.required
  },
  // Alarm Text
  text: {
    fieldType: 'inputText',
    cssClass: 'col-9',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.text.label,
    help: dialogs.value.operationReport.fields.text.help,
    maxlength: dialogs.value.operationReport.fields.text.maxlength,
    minlength: dialogs.value.operationReport.fields.text.minlength,
    required: dialogs.value.operationReport.fields.text.required
  }
})

// Felder
const fieldsTwo = ref({
  // Einsatzart
  operationType: {
    fieldType: 'dropDown',
    cssClass: 'sm:col-12 lg:col-4 md:col-4',
    optionGroupChildren: 'items',
    optionLabel: 'description',
    group: true,
    autofocus: true,
    disabled: true,
    label: dialogs.value.operationReport.fields.operationType.label,
    help: dialogs.value.operationReport.fields.operationType.help,
    required: dialogs.value.operationReport.fields.operationType.required,
    options: operationReportCategories,
    loading: operationReportCategoriesIsLoading
  },
  // Einsatz - Beginn
  startetAt: {
    fieldType: 'calendar',
    cssClass: 'sm:col-12 lg:col-4 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.startetAt.label,
    help: dialogs.value.operationReport.fields.startetAt.help,
    maxlength: dialogs.value.operationReport.fields.startetAt.maxlength,
    minlength: dialogs.value.operationReport.fields.startetAt.minlength,
    required: dialogs.value.operationReport.fields.startetAt.required
  },
  // Einsatz - Ende
  endetAt: {
    fieldType: 'calendar',
    cssClass: 'sm:col-12 lg:col-4 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.endetAt.label,
    help: dialogs.value.operationReport.fields.endetAt.help,
    maxlength: dialogs.value.operationReport.fields.endetAt.maxlength,
    minlength: dialogs.value.operationReport.fields.endetAt.minlength,
    required: dialogs.value.operationReport.fields.endetAt.required
  },
  // Nummer IRLS
  numberControlCenter: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-4 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.numberControlCenter.label,
    help: dialogs.value.operationReport.fields.numberControlCenter.help,
    maxlength: dialogs.value.operationReport.fields.numberControlCenter.maxlength,
    minlength: dialogs.value.operationReport.fields.numberControlCenter.minlength,
    required: dialogs.value.operationReport.fields.numberControlCenter.required
  },
  // Stichwort kurz
  keywordShort: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-4 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.keywordShort.label,
    help: dialogs.value.operationReport.fields.keywordShort.help,
    maxlength: dialogs.value.operationReport.fields.keywordShort.maxlength,
    minlength: dialogs.value.operationReport.fields.keywordShort.minlength,
    required: dialogs.value.operationReport.fields.keywordShort.required
  },
  // Stichwort lang
  keywordLong: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-8 mg:col-8',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.keywordLong.label,
    help: dialogs.value.operationReport.fields.keywordLong.help,
    maxlength: dialogs.value.operationReport.fields.keywordLong.maxlength,
    minlength: dialogs.value.operationReport.fields.keywordLong.minlength,
    required: dialogs.value.operationReport.fields.keywordLong.required
  },
  // Postleitzahl
  postalCode: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-4 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.postalCode.label,
    help: dialogs.value.operationReport.fields.postalCode.help,
    maxlength: dialogs.value.operationReport.fields.postalCode.maxlength,
    minlength: dialogs.value.operationReport.fields.postalCode.minlength,
    required: dialogs.value.operationReport.fields.postalCode.required
  },
  // Ort bzw. Gemeinde
  place: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-4 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.place.label,
    help: dialogs.value.operationReport.fields.place.help,
    maxlength: dialogs.value.operationReport.fields.place.maxlength,
    minlength: dialogs.value.operationReport.fields.place.minlength,
    required: dialogs.value.operationReport.fields.place.required
  },
  // Straße mit H.-Nr
  streetWithNumber: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-4 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.streetWithNumber.label,
    help: dialogs.value.operationReport.fields.streetWithNumber.help,
    maxlength: dialogs.value.operationReport.fields.streetWithNumber.maxlength,
    minlength: dialogs.value.operationReport.fields.streetWithNumber.minlength,
    required: dialogs.value.operationReport.fields.streetWithNumber.required
  },
  // Ort-Gemeinde
  location: {
    fieldType: 'inputText',
    cssClass: 'sm:col-6 lg:col-4 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.location.label,
    help: dialogs.value.operationReport.fields.location.help,
    maxlength: dialogs.value.operationReport.fields.location.maxlength,
    minlength: dialogs.value.operationReport.fields.location.minlength,
    required: dialogs.value.operationReport.fields.location.required
  },
  // Objekt / Gebäude
  otherAddressInformation: {
    fieldType: 'inputText',
    cssClass: 'sm:col-6 lg:col-4 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.otherAddressInformation.label,
    help: dialogs.value.operationReport.fields.otherAddressInformation.help,
    maxlength: dialogs.value.operationReport.fields.otherAddressInformation.maxlength,
    minlength: dialogs.value.operationReport.fields.otherAddressInformation.minlength,
    required: dialogs.value.operationReport.fields.otherAddressInformation.required
  },
  // Person bzw. Patient
  personPatient: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-4 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.personPatient.label,
    help: dialogs.value.operationReport.fields.personPatient.help,
    maxlength: dialogs.value.operationReport.fields.personPatient.maxlength,
    minlength: dialogs.value.operationReport.fields.personPatient.minlength,
    required: dialogs.value.operationReport.fields.personPatient.required
  },
  // Nummer Pol
  numberPolice: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-4 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.numberPolice.label,
    help: dialogs.value.operationReport.fields.numberPolice.help,
    maxlength: dialogs.value.operationReport.fields.numberPolice.maxlength,
    minlength: dialogs.value.operationReport.fields.numberPolice.minlength,
    required: dialogs.value.operationReport.fields.numberPolice.required
  },
  // Alarm Text
  text: {
    fieldType: 'textarea',
    cssClass: 'sm:col-12 col-12',
    row: 2,
    autofocus: false,
    disabled: true,
    forPrint: true,
    label: dialogs.value.operationReport.fields.textCustom.label,
    help: dialogs.value.operationReport.fields.textCustom.help,
    maxlength: dialogs.value.operationReport.fields.textCustom.maxlength,
    minlength: dialogs.value.operationReport.fields.textCustom.minlength,
    required: dialogs.value.operationReport.fields.textCustom.required
  },
})

const fieldComment = ref({
  // Kommentar
  comment: {
    autofocus: false,
    disabled: false,
    label: dialogs.value.operationReport.fields.comment.label,
    help: dialogs.value.operationReport.fields.comment.help,
    maxlength: dialogs.value.operationReport.fields.comment.maxlength,
    minlength: dialogs.value.operationReport.fields.comment.minlength,
    required: dialogs.value.operationReport.fields.comment.required
  },
})

const headerText = ref(sites.value.operationReportExport.otherTaskForcesTable.headline);

// Tabellen Spalten
const tableColumns = ref([
  {
    field: 'id',
    header: sites.value.operationReportExport.otherTaskForcesTable.columns.id,
    showing: false,
  },
  {
    field: 'rescueOrganizations',
    header: sites.value.operationReportExport.otherTaskForcesTable.columns.rescueOrganizations,
    showing: true,
  },
  {
    field: 'numberOfForces',
    header: sites.value.operationReportExport.otherTaskForcesTable.columns.numberOfForces,
    showing: true,
  },
  {
    field: 'vehicles',
    header: sites.value.operationReportExport.otherTaskForcesTable.columns.vehicles,
    showing: true,
  },
  {
    field: 'comment',
    header: sites.value.operationReportExport.otherTaskForcesTable.columns.comment,
    showing: true,
  },
]);

const sortMembers = (data) => {
  if (data) {
    return data.sort(function (a, b) {
      if (a.operationFunctionDetails.sorting < b.operationFunctionDetails.sorting) {
        return 1;
      }
      if (a.operationFunctionDetails.sorting > b.operationFunctionDetails.sorting) {
        return -1;
      }
      return 0;
    })
  }
}

// Name des Entity
const nameOfEntity = 'OperationReport';

// Entfernen der 'Fehler' classes bei Fehler
const removeErrors = async () => {
  await document.querySelectorAll(".p-invalid").forEach(el => el.classList.remove('p-invalid'));
};

// Referenz auf das HTML-Element, das in das PDF umgewandelt werden soll
const pdfContent = ref(null);

// Funktion zum Generieren des PDFs
const generatePDF = async () => {
  const config = {
    margin: 0,
    output: 'arraybuffer',
    filename: `${operationReport.value.operationReportDetail.numberFireDepartment}.pdf`,
    image: {type: 'jpeg', quality: 0.98},
    html2canvas: {dpi: 300, letterRendering: true, scale: 2},
    // format: 'A4',
    jsPDF: {unit: 'mm', format: 'A4', orientation: 'portrait'},
    pdfOptions: {
      title: `Einsatzbericht - ${operationReport.value.operationReportDetail.numberFireDepartment}`,
      subject: operationReport.value.incomingAlert.text,
      author: `${props.loggedUser.surname}, ${props.loggedUser.firstname}`,
      keywords: 'Feuerwehr, Einsatzbericht',
      creator: 'Fw Einsatzverwaltung von Marcel Junghans'
    },
    title: `Einsatzbericht - ${operationReport.value.operationReportDetail.numberFireDepartment}`,
  };

  // Hol dir das HTML-Element, das den PDF-Inhalt enthält
  const contentElement = await pdfContent.value;

  // Erstelle die PDFs und erhalte den ArrayBuffer
  let pdfBuffer = await Html2pdf()
      .set(config)
      .from(await contentElement)
      .toPdf()
      .get('pdf')
      .then((pdf) => {

        // Anzahl der Seiten
        let totalPages = pdf.internal.getNumberOfPages();
        // erstellen der Kopf und Fußzeile
        for (let i = 1; i <= totalPages; i++) {
          // set footer to every page
          pdf.setPage(i);
          // set footer font
          pdf.setFontSize(10);
          pdf.setTextColor(150);

          // Kopfzeile
          pdf.text(siteNamePdf.value.value, 3, 8);
          pdf.text(
              operationReport.value.operationReportDetail.numberFireDepartment,
              pdf.internal.pageSize.getWidth() - 17, 8
          );

          // Fußzeile
          pdf.text(
              `Seite ${i} von ${totalPages}`,
              pdf.internal.pageSize.getWidth() - (pdf.internal.pageSize.getWidth() / 2 + 10),
              pdf.internal.pageSize.getHeight() - 5
          );

          if (i === totalPages) {
            // Fußzeile
            // Datum der erstellung und welcher Nutzer
            pdf.text(
                `Ersteller: ${props.loggedUser.surname}, ${props.loggedUser.firstname}`, 3,
                pdf.internal.pageSize.getHeight() - 5
            );
            // Fußzeile
            // Datum der erstellung und welcher Nutzer
            pdf.text(
                `${new Date().toLocaleDateString()} ${new Date().toLocaleTimeString()}`,
                pdf.internal.pageSize.getWidth() - 33,
                pdf.internal.pageSize.getHeight() - 5
            );
          }
        }
      }).output('arraybuffer');

  try {

    // Rufe eine weitere API auf, um die PDF-Datei zu speichern
    await axios.post(`/api/operation-report/save-pdf/${operationReport.value.id}`, await pdfBuffer)
        .then(async (response) => {
          if (response && response.data && response.data.exportFolder) {
            await emit('addToast', {
              severity: 'success',
              summary: `${components.value.toastMessage['export'].title}`,
              detail: `${components.value.toastMessage['export'].message}`
            })

            // Neuen Tab öffnen mit der .pdf
            // setTimeout(async () => {
            //   await window.open(response.data.exportFolder, '_blank');
            // }, 2000)
            // Erfolgsmeldung oder Weiterleitung
            // await router.push({name: `${operationAreaNames.operationReportShowPdf}`}, operationReport.value.id)
          }
        }, async (error) => {
          await emit('addToast', {
            severity: 'warn',
            summary: `${components.value.toastMessage['failed'].title}`,
            detail: `${components.value.toastMessage['failed'].message}`
          })
          console.log(error);
        });
  } catch (error) {
    await emit('addToast', {
      severity: 'warn',
      summary: `${components.value.toastMessage['failed'].title}`,
      detail: `${components.value.toastMessage['failed'].message}`
    })
    console.error('Fehler beim Generieren und Speichern der PDF:', error);
  }

   isPdfCreating.value = false;
};

const showGeneratePDF = async () => {
  await router.push({name: `${operationAreaNames.operationReportShowPdf}`}, operationReport.value.id)

}

const closeDialog = async () => {
  await router.push({name: `${operationAreaNames.operationReports}`});
}

onBeforeMount(async () => {
  await storeGenerals.loadDataForTable();
  await storeOperationReportCategory.loadDataForDropdown();
  await storeToolCategory.loadDataForDropdown();
});

onMounted(async () => {
  // Abrufen des Eintrages
  if (await route && await route.params && await route.params.id) {
    await store.loadDataById(route.params.id);
    // Aktuell mit Timeout 2 sek warten bis alle daten geladen sit
    if (checkUserRight(props.loggedUser.roles, right.operationReport.export)) {
      setTimeout(async () => {
        await generatePDF();
      }, 2000)
    } else {
      isPdfCreating.value = false;
    }
  }
})
</script>
<style scoped>
/* Größe auf ein A4 Blatt Beschränken (Breite) */
#size-paper-a4 {
  background-color: white;
  //background-color: white;
  //border: 1px solid black;
  padding: 20px;
  width: 210mm !important;
  min-width: 210mm !important;
  max-width: 210mm !important;
  //height: 297mm !important;
  min-height: 297mm !important;
  //max-height: 297mm !important;
}

/* Größe auf ein A4 Blatt Beschränken (Höhe) */
.size-paper-a4-height {
  height: 297mm !important;
  min-height: 297mm !important;
  max-height: 297mm !important;
  //border-bottom: 1px solid black;
  position: absolute;
  z-index: 1;
}

/* Ausblenden der Anzahl der Zeichen sowie des Hilfstextes */
:deep(.numberOfCharacters), :deep(.underline-text), :deep(.fieldHelperText), :deep(.pi-refresh), :deep(#comment-help), :deep(sup) {
  display: none !important;
}

:deep(.p-datatable-header) {
  background-color: unset !important;
}

:deep(.p-inputtext), :deep(.p-inputtextarea) {
  font-size: 14px !important;
  padding: 0.7rem !important;
}

:deep(.p-disabled), :deep(.p-component:disabled) {
  opacity: 80% !important;
}

:deep(.p-float-label label) {
  color: unset;
}

:deep(.p-dropdown-label) {
  text-align: left !important;
}

:deep(textarea) {
  white-space: pre-wrap;
}
</style>