<template>
  <Dialog v-model:visible="visible" :header="sites.operationReportExport.modalTitlePdfViewer"
          :style="{ 'width': '170mm'}" class="default-modal" :draggable="true"
          modal @hide="closeDialog">

    <!-- Laden Balken -->
    <div v-if="isLoading" class="col-12">
      <ProgressBar class="bg-yellow-900-900" mode="indeterminate" style="height: 6px"></ProgressBar>
    </div>

    <!-- Knopf pdf erstellen -->
    <div class="grid m-auto sticky z-5" style="top: 40px;">
      <!-- Schaltfläche zurück -->
      <div class="col-2 text-center m-auto">
        <Button type="button" label="zurück" severity="info" icon="pi pi-arrow-left" :disabled="page === 1"
                @click="page = page > 1 ? page - 1 : page"/>
      </div>
      <!-- .pdf neu Generieren -->
      <div class="col-3 text-center m-auto">
        <Button :label="generals.buttonRecreatePdf" severity="secondary" raised @click="generatePDFNew()" :disabled="!checkUserRight(props.loggedUser.roles, right.operationReport.export)"/>
      </div>
      <!-- .pdf Downloaden -->
      <div class="col-3 text-center m-auto">
        <a :href="operationReport.exportPdfPath" target="_blank">
          <Button :label="generals.buttonDownloadPdf" severity="secondary" raised/>
        </a>
      </div>
      <!-- Schaltfläche weiter -->
      <div class="col-2 text-center m-auto">
        <Button type="button" label="weiter" severity="info" icon="pi pi-arrow-right" :disabled="page ===pages"
                @click="page = page > 1 ? page + 1 : page +1 "/>
      </div>
      <!-- Anzeige .pdf -->
      <div class="col-12">
        <VuePDF :pdf="pdf" :page="page" scale="0.7" id="pdf-viewer"/>
      </div>
    </div>
  </Dialog>
</template>
<script setup>
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import {onBeforeMount, onMounted, ref} from "vue";
import {useOperationReportStore} from "@/stores/OperationArea/operationReport";
import {useRoute, useRouter} from "vue-router";
import {usePDF, VuePDF} from "@tato30/vue-pdf";
import {operationAreaNames} from "@/router/default";
import {checkUserRight} from "@/utils";
import {useDefaultRightRoleStore} from "@/stores/defaultRightRole";

const emit = defineEmits(['addToast', 'prevPage', 'nextPage', 'createEntry'])

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  loggedUser: {
    type: Object,
    required: true
  }
});

// Store - Berechtigung
const storeDefaultRightRole = useDefaultRightRoleStore();
const {right} = storeDefaultRightRole;

// Vue Router
const router = useRouter();
const route = useRoute();

// Standard Seite
const page = ref(1)

// Modal Sichtbarkeit
const visible = ref(true)

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components, menus, sites, dialogs, generals} = storeToRefs(storeTranslation)

// Store - Einsatzbericht
const store = useOperationReportStore();
const {isLoading, exportPdfPath, operationReport} = storeToRefs(store);

const {pdf, pages} = usePDF(exportPdfPath);

const generatePDFNew = async () => {
  await router.push({name: `${operationAreaNames.operationReportExport}`}, operationReport.value.id)
}

onBeforeMount(async () => {
  // Abrufen des Eintrages
  if (await route && await route.params && await route.params.id) {
    await store.loadDataById(route.params.id);
  }
})

const closeDialog = async () => {
  await router.push({name: `${operationAreaNames.operationReports}`});
}
</script>

<style scoped>
:deep(canvas) {
  margin: 0 auto;
}

:deep(#pdf-viewer canvas) {
  border: solid 1px black;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1), 0px 4px 5px -2px rgba(0, 0, 0, 0.12), 0px 10px 15px -5px rgba(0, 0, 0, 0.2);
}
</style>