<template>
  <!-- Knöpfe vor und zurück -->
  <step-changer :disabled-button-next-step="disabledButtonNextStep"
                :disabled-button-prev-step="disabledButtonPrevStep"
                :max-steps="maxSteps" :page-index="pageIndex" @prev-page="emit('prevPage',{pageIndex: pageIndex})"
                @next-page="emit('nextPage',{pageIndex: pageIndex})" @add-toast="emit('addToast', $event)"
                @load-entry="loadEntryActive = $event"
  />

  <div class="grid grid-nogutter justify-content-between mb-4">
    <!-- Bereich mit dem Inhalt -->
    <div class="col-12 mt-3">
      <Card>
        <template #title>
          <!-- Laden Balken -->
          <div v-show="isLoading || incomingAlertIsLoading || vehiclesIsLoading" class="col-12">
            <ProgressBar class="bg-yellow-900-900" mode="indeterminate" style="height: 6px"/>
          </div>
        </template>
        <template #content>
          <div class="grid text-center">
            <!-- Auswahl des Einsatzes -->
            <div v-if="!route.fullPath.includes('edit')" class="col-6">
              <h2 class="underline">
                <required-star/>
                {{ sites.operationReport.stepOne.headlineIncomingAlert }}
              </h2>
              <!-- Ladeanimation -->
              <ProgressSpinner v-show="incomingAlertIsLoading && incomingAlerts && incomingAlerts.length === 0"
                               aria-label="Loading"/>
              <!-- Auswahl felder -->
              <Listbox v-show="incomingAlerts && incomingAlerts.length > 0" v-model="operationReport.incomingAlert"
                       :options="incomingAlerts"
                       class="min-w-full border-none" optionLabel="name" @change="changeIncomingAlert($event)">
                <template #option="slotProps">
                  <div class="grid nested-grid">
                    <div class="col-2 m-auto">
                      <span class="material-icons text-4xl text-primary">{{ slotProps.option.icon }}</span>
                    </div>
                    <div class="col-10">
                      <div class="grid">
                        <div class="col-12 font-bold m-0 p-0">
                          <div class="text-center font-bold">{{ slotProps.option.incomingDateTime }} -
                            {{ slotProps.option.numberControlCenter }} - {{ slotProps.option.keywordShort }}
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="text-center">{{ slotProps.option.text }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </template>
              </Listbox>
            </div>
            <!-- Auswahl der Fahrzeuge -->
            <div :class="route.fullPath.includes('edit') ? 'col-12' : 'col-6'">
              <h2 class="underline">
                <required-star/>
                {{ sites.operationReport.stepOne.headlineVehicle }}
              </h2>
              <!-- Ladeanimation -->
              <ProgressSpinner v-show="vehiclesIsLoading && vehicles && vehicles.length === 0" aria-label="Loading"/>
              <!-- Auswahl felder -->
              <Listbox v-show="vehicles && vehicles.length > 0" v-model="operationReport.ownForces.vehicles"
                       :options="vehicles"
                       class="min-w-full border-none" multiple optionLabel="name" optionValue="id"
              >
                <template #option="slotProps">
                  <div class="grid">
                    <div class="col-12 font-bold m-0 p-0">
                      <div class="text-center font-bold">{{ slotProps.option.abbreviation }}
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="text-center">{{ slotProps.option.description }}</div>
                    </div>
                  </div>

                </template>
              </Listbox>
            </div>

            <!-- Allgemeiner Kommentar -->
            <div class="col-12 font-bold">
              <span class="p-float-label">
                <Textarea id="comment" v-model="operationReport.comment"
                          :autofocus="fieldComment.comment.autofocus" :disabled="isLoading"
                          :maxlength="fieldComment.comment.maxlength"
                          :minlength="fieldComment.comment.minlength"
                          :readonly="isLoading"
                          :required="fieldComment.comment.required"
                          aria-describedby="comment-help"
                          class="min-w-full" rows="5"/>
                <label for="comment"><required-star v-if="fieldComment.comment.required"/>{{
                    fieldComment.comment.label
                  }}</label>
              </span>
              <div class="flex justify-content-between flex-wrap m-2">
                <small v-if="dataById.comment" class="fadeinleft animation-duration-200 font-light font-italic">
                  {{ generals.numberOfCharacters }} {{
                    operationReport.comment.length
                  }}/{{ fieldComment.comment.maxlength }}</small>
                <small id="comment-help">{{ fieldComment.comment.help }}</small>
              </div>
            </div>

            <div class="col-12 text-left">
              <required-text/>
            </div>
          </div>
        </template>
      </Card>
    </div>
  </div>
</template>
<script setup>
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import {onBeforeMount, onMounted, ref, watch} from "vue";
import {useOperationReportStore} from "@/stores/OperationArea/operationReport";
import {useVehicleStore} from "@/stores/Managements/vehicle";
import {useIncomingAlertStore} from "@/stores/OperationArea/incomingAlert";
import RequiredStar from "@/components/RequiredStar.vue";
import RequiredText from "@/components/RequiredText.vue";
import StepChanger from "@/components/StepChanger.vue";
import {useRoute, useRouter} from "vue-router";

const emit = defineEmits(['addToast', 'prevPage', 'nextPage'])

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  // Felder
  maxSteps: {
    type: Number,
    required: true
  }
});

// Vue Router
const router = useRouter();
const route = useRoute();

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {menus, sites, dialogs, generals} = storeToRefs(storeTranslation)

// Step Index
const pageIndex = ref(0);

// Step Knöpfe
const disabledButtonNextStep = ref(true);
const disabledButtonPrevStep = ref(true);

// Step Knöpfe aktivieren
const enabledStepButtons = (state) => {
  disabledButtonNextStep.value = state;
  disabledButtonPrevStep.value = state;
};

// Store - Einsatzbericht
const store = useOperationReportStore();
const {dataById, isLoading, operationReport} = storeToRefs(store);

// Store - Alarmierungen
const storeIncomingAlert = useIncomingAlertStore();
const {dataForListBox: incomingAlerts, isLoading: incomingAlertIsLoading} = storeToRefs(storeIncomingAlert);
storeIncomingAlert.loadDataUserRicsForOperationReport();

// Store - Fahrzeuge
const storeVehicle = useVehicleStore();
const {dataForTable: vehicles, isLoading: vehiclesIsLoading} = storeToRefs(storeVehicle);
storeVehicle.loadDataOnlyDepartmentForTable();

// Titel
const title = ref(menus.value.mainMenu.operationArea.children.operationReports.children.headlines.one);

// Beim edit auf true setzen
const firstLoad = ref(false);

// Felder
const fieldComment = ref({
  // Kommentar
  comment: {
    autofocus: false,
    label: dialogs.value.operationReport.fields.comment.label,
    help: dialogs.value.operationReport.fields.comment.help,
    maxlength: dialogs.value.operationReport.fields.comment.maxlength,
    minlength: dialogs.value.operationReport.fields.comment.minlength,
    required: dialogs.value.operationReport.fields.comment.required
  },
})

//
const loadEntryActive = ref(false);

// Daten ins Objekt schreiben
const changeIncomingAlert = (alert) => {

  const formatDate = {
    year: 'numeric',
    month: '2-digit',
    day: '2-digit',
  };

  if (alert.value) {

    let date = new Date(alert.value.item.incomingDateTime.trim());
    date.setHours(date.getHours() - 1);

    operationReport.value.operationReportDetail.messageComplete = alert.value.item.messageComplete.trim();
    // operationReport.value.operationReportDetail.startetAt = `${new Date(alert.value.item.incomingDateTime.trim()).toLocaleDateString('de-DE', formatDate)} ${new Date(alert.value.item.incomingDateTime.trim()).toLocaleTimeString('de-DE')}`
    operationReport.value.operationReportDetail.startetAt = date;
    // operationReport.value.operationReportDetail.endetAt = `${new Date(alert.value.item.incomingDateTime.trim()).toLocaleDateString('de-DE', formatDate)} ${new Date(alert.value.item.incomingDateTime.trim()).toLocaleTimeString('de-DE')}`
    operationReport.value.operationReportDetail.endetAt =  date;
    operationReport.value.operationReportDetail.numberControlCenter = alert.value.item.numberControlCenter.trim();
    operationReport.value.operationReportDetail.keywordShort = alert.value.item.keywordShort.trim();
    operationReport.value.operationReportDetail.keywordLong = alert.value.item.keywordLong.trim();
    operationReport.value.operationReportDetail.location = alert.value.item.location.trim();
    operationReport.value.operationReportDetail.otherAddressInformation = alert.value.item.otherAddressInformation.trim();
    operationReport.value.operationReportDetail.personPatient = alert.value.item.personPatient.trim();
    operationReport.value.operationReportDetail.text = alert.value.item.text.trim();
    // operationReport.value.operationReportDetail.incomingDateTime = `${new Date(alert.value.item.incomingDateTime.trim()).toLocaleDateString('de-DE', formatDate)} ${new Date(alert.value.item.incomingDateTime.trim()).toLocaleTimeString('de-DE')}`
    operationReport.value.operationReportDetail.incomingDateTime = date;

    // operationReport.value.incomingAlert.item.incomingDateTime = `${new Date(alert.value.item.incomingDateTime.trim()).toLocaleDateString('de-DE', formatDate)} ${new Date(alert.value.item.incomingDateTime.trim()).toLocaleTimeString('de-DE')}`
    operationReport.value.incomingAlert.item.incomingDateTime = date;

    //  Zerlegen des Alarm textes
    if (alert.value.item.location) {
      let locationSplitPlaceAndStreet = alert.value.item.location.split(' ')

      if (locationSplitPlaceAndStreet.length >= 1) {
        let locationSplitPlace = locationSplitPlaceAndStreet[0].split('-');
        // Stadt bzw. Ort
        if (locationSplitPlace.length >= 1) {
          operationReport.value.operationReportDetail.place = locationSplitPlace[1] ? locationSplitPlace[1].trim(): locationSplitPlace[0].trim();
        }
        // Straße
        operationReport.value.operationReportDetail.streetWithNumber = locationSplitPlaceAndStreet[1].trim();
      }
    }
  }
};

/**
 * Prüfen, ob die erforderlichen Felder ausgefüllt sind
 * @returns {Promise<void>}
 */
const checkRequiredFields = () => {
  if (operationReport.value &&
      operationReport.value.incomingAlert &&
      operationReport.value.incomingAlert.id &&
      operationReport.value.ownForces &&
      operationReport.value.ownForces.vehicles &&
      operationReport.value.ownForces.vehicles.length > 0
  ) {
    enabledStepButtons(false)
  } else {
    enabledStepButtons(true)
  }
};

const diffArray = (arr1, arr2) => {
  const diff1 = arr1.filter(x => !arr2.includes(x));
  const diff2 = arr2.filter(x => !arr1.includes(x));
  return [...diff1, ...diff2];
}

onBeforeMount(async () => {
  if (route && route.params && route.params.id) {
    await store.loadDataById(route.params.id);
  }

  // Übernahme aus dem Dashboard
  if (route && route.params && route.params.alertId) {
    const alert = ref(incomingAlerts.value.find(incomingAlert => incomingAlert.id === route.params.alertId));
    if (alert.value) {
      operationReport.value.incomingAlert = alert.value;
      await changeIncomingAlert(alert);
    }
  }

  // Abrufen der letzten Einsatznummer
  await store.loadLastNumberFireDepartment();
});

// Überwachung von den erforderlichen Feldern
watch(() => operationReport.value, (newValue) => {
  checkRequiredFields();
}, {deep: true});

const checkVehicle = async (newValue, oldValue) => {
  // Ausgabe welches Fahrzeug
  const vehicleChange = diffArray(newValue, oldValue);

  if (vehicleChange && vehicleChange.length > 0) {
    const findVehicle = vehicles.value.find(vehicle => vehicle.id === vehicleChange[0]);

    if (findVehicle) {
      operationReport.value.ownForces.vehiclesWithMemberAndFunction.push({
        id: findVehicle.id,
        abbreviation: findVehicle.abbreviation,
        description: findVehicle.description,
        maxSeats: findVehicle.maxSeats,
        members: []
      });
      operationReport.value.ownForces.members.push({
        id: findVehicle.id,
        abbreviation: findVehicle.abbreviation,
        description: findVehicle.description,
        maxSeats: findVehicle.maxSeats,
        members: []
      })
    }
  }
}

// Überwachung, ob ein Fahrzeug entfernt oder hinzugefügt wurde
watch(() => operationReport.value.ownForces.vehicles, (newValue, oldValue) => {
  /*
    Prüfen, ob ein Fahrzeug hinzugefügt wurde
    wichtig, es musst geprüft, ob die "edit" Route aufgerufen wurde,
    sonst wird immer 1x Fahrzeug mehr hinzugefügt
   */
  if (newValue && newValue &&
      oldValue && oldValue &&
      oldValue.length < newValue.length
  ) {
    // Wenn das true ist, dann wurde ein Fahrzeug hinzugefügt
    // Wenn im bearbeitungsmodus, dann nicht beim ersten Laden ausführen
    if (!loadEntryActive.value) {
      if (route && route.params &&
          route.params.id && oldValue.length !== 0) {
        // Prüfen welches Fahrzeug, um die weiteren Schritte funktionstüchtig zu machen
        checkVehicle(newValue, oldValue);
      } else if (route && route.params && !route.params.id) {
        // Prüfen welches Fahrzeug, um die weiteren Schritte funktionstüchtig zu machen
        checkVehicle(newValue, oldValue);
      } else if (route && route.params &&
          route.params.id && !firstLoad.value) {
        // Prüfen welches Fahrzeug, um die weiteren Schritte funktionstüchtig zu machen
        checkVehicle(newValue, oldValue);
      }
    }
  } else if (
      newValue && newValue &&
      oldValue && oldValue &&
      oldValue.length > newValue.length &&
      oldValue.length > 0
  ) {

    // Wenn das true ist, dann wurde ein Fahrzeug entfernt

    // Ausgabe welches Fahrzeug
    const vehicleChange = diffArray(newValue, oldValue);

    if (vehicleChange && vehicleChange.length > 0) {
      const findVehicle = operationReport.value.ownForces.vehiclesWithMemberAndFunction.findIndex(vehicle => vehicle.id === vehicleChange[0]);
      const findVehicleMembers = operationReport.value.ownForces.members.findIndex(vehicle => vehicle.id === vehicleChange[0]);

      if (findVehicle >= 0 && findVehicleMembers >= 0) {
        operationReport.value.ownForces.members.splice(findVehicleMembers, 1);
        operationReport.value.ownForces.vehiclesWithMemberAndFunction.splice(findVehicle, 1);
      }
    }
  }

  firstLoad.value = false;
});

onBeforeMount(async () => {
  firstLoad.value = true;
})
</script>