<template>
  <!-- Knöpfe vor und zurück -->
  <step-changer :disabled-button-next-step="disabledButtonNextStep" :disabled-button-prev-step="disabledButtonPrevStep"
                :max-steps="maxSteps" :page-index="pageIndex" @prev-page="emit('prevPage',{pageIndex: pageIndex})" @next-page="emit('nextPage',{pageIndex: pageIndex})"/>

  <div class="grid grid-nogutter justify-content-between mb-4">
    <!-- Bereich mit dem Inhalt -->
    <div class="col-12 mt-3">
      <Card>
        <template #title>
          <!-- Laden Balken -->
          <div v-show="isLoading" class="col-12">
            <ProgressBar class="bg-yellow-900-900" mode="indeterminate" style="height: 6px"/>
          </div>
        </template>
        <template #content>
          <div class="grid text-center">

            <!-- Tabelle mit Inhalt -->
            <div class="col-12">
              <DataTable ref="dt"
                         :rowHover="true" :value="operationReport.otherTaskForces"
                         class="p-datatable-sm" columnResizeMode="fit" dataKey="id" editMode="cell"
                         lazy
                         sortMode="multiple"
                         stripedRows
                         @cell-edit-complete="onCellEditComplete">

                <!-- Kopf über der Tabelle -->
                <template #header>
                  <div class="grid ">
                    <!-- Text ganz links -->
                    <div class="col-8 m-auto text-left">
                      <h2 class="ml-2">{{ headerText }}</h2>
                      <h4 class="ml-2">{{ headerSubText }}</h4>
                    </div>
                    <!-- Knopf in der Mitte, um einen neuen Eintrag zu erstellen -->
                    <div class="col-4 text-center m-auto">
                      <Button v-tooltip="components.dataTable.buttons.addItem.tooltip"
                              :label="components.dataTable.buttons.addItem.label"
                              aria-describedby="Add Item" raised severity="warning" @click="showDialog = true"/>
                    </div>
                  </div>
                </template>

                <!-- Standard Meldungen -->
                <template #empty class="flex">
                  <div class="flex-none flex align-items-center justify-content-center font-bold">{{
                      components.dataTable.emptyItems
                    }}
                  </div>
                </template>
                <!-- Daten werden geladen -->
                <template #loading>
                  <ProgressSpinner/>
                </template>
                <!--    <template #loading>{{ components.dataTable.loadingItems }} </template>-->

                <!-- Erstellen der Einzelnen Spalten -->
                <template v-for="col of tableColumns">
                  <Column v-if="col.showing" :key="col.field"
                          :field="col.field" :header="col.header"
                          :sortable="true"
                          class="text-center">
                    <template #body="{ data, field }">
                      {{ data[field] }}
                    </template>
                    <template #editor="{ data, field }">
                      <InputText v-model="data[field]" autofocus/>
                    </template>
                  </Column>
                </template>

                <!-- Aktions Spalte -->
                <column :header="components.dataTable.columnActionsHeadline" style="width: 10rem">
                  <template #body="slotProps">
                    <!-- löschen -->
                    <Button v-tooltip="components.dataTable.buttons.deleteItem.tooltip"
                            :aria-describedby="`Delete-${slotProps.data.id}`"
                            :icon="components.dataTable.buttons.deleteItem.icon"
                            aria-label="Delete Item"
                            class="m-1"
                            rounded
                            severity="danger" text @click="deleteEntry(slotProps)"/>
                  </template>
                </column>
              </DataTable>
            </div>

            <!-- Allgemeiner Kommentar -->
            <div class="col-12 font-bold">
              <span class="p-float-label">
                <Textarea id="comment" v-model="dataById.comment"
                          :autofocus="fieldComment.comment.autofocus" :disabled="isLoading"
                          :maxlength="fieldComment.comment.maxlength"
                          :minlength="fieldComment.comment.minlength"
                          :readonly="isLoading"
                          :required="fieldComment.comment.required"
                          aria-describedby="comment-help"
                          class="min-w-full" rows="5"/>
                <label for="comment"><required-star v-if="fieldComment.comment.required"/>{{
                    fieldComment.comment.label
                  }}</label>
              </span>
              <div class="flex justify-content-between flex-wrap m-2">
                <small v-if="dataById.comment" class="fadeinleft animation-duration-200 font-light font-italic">
                  {{ generals.numberOfCharacters }} {{
                    dataById.comment.length
                  }}/{{ fieldComment.comment.maxlength }}</small>
                <small id="comment-help">{{ fieldComment.comment.help }}</small>
              </div>
            </div>

            <!-- Meldung Pflichtfelder -->
            <div class="col-12 text-left">
              <required-text/>
            </div>
          </div>
        </template>
      </Card>
    </div>
  </div>

  <default-dialog v-if="showDialog"
                  :fields="fields"
                  :header-title="dialogs.memberFunction.headerTitle"
                  :item="item" :item-is-loading="isLoading" :showed-action-button="{  create: true,  save: false}" @close-dialog="closeDialog"
                  @item-add="addEntry"/>

  <ConfirmDialog></ConfirmDialog>

</template>
<script setup>
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import {onBeforeMount, onMounted, ref, watch} from "vue";
import {useOperationReportStore} from "@/stores/OperationArea/operationReport";
import {useRouter} from "vue-router";
import RequiredStar from "@/components/RequiredStar.vue";
import RequiredText from "@/components/RequiredText.vue";
import {useGeneralStore} from "@/stores/Managements/general";
import {operationAreaNames} from "@/router/default";
import {useConfirm} from "primevue/useconfirm";
import DefaultDialog from "@/components/DefaultDialog.vue";
import StepChanger from "@/components/StepChanger.vue";
import {useToolCategoryStore} from "@/stores/Managements/toolCategory";

const emit = defineEmits(['addToast', 'prevPage', 'nextPage'])

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  // Felder
  maxSteps: {
    type: Number,
    required: true
  }
});

// Vue Router
const router = useRouter();

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components, confirmDialog, menus, sites, dialogs, generals} = storeToRefs(storeTranslation)

// Step Index
const pageIndex = ref(3);

// Step Knöpfe
const disabledButtonNextStep = ref(true);
const disabledButtonPrevStep = ref(false);

// Step Knöpfe aktivieren
const enabledStepButtons = (state) => {
  disabledButtonNextStep.value = state;
};

// Store - Einsatzbericht
const store = useOperationReportStore();
const {dataById, isLoading, operationReport} = storeToRefs(store);

// Store - Allgemeines
const storeGeneral = useGeneralStore();
const {siteNamePdf} = storeToRefs(storeGeneral);
storeGeneral.loadDataForTable();

// Store - Hilfsmittel Kategorien
const storeToolCategory = useToolCategoryStore();
storeToolCategory.loadDataForOperationReport();

// Titel
const title = ref(menus.value.mainMenu.operationArea.children.operationReports.children.headlines.four);
const headerText = ref(sites.value.operationReport.stepFour.table.headline);
const headerSubText = ref(sites.value.operationReport.stepFour.table.subHeadline);

// Tabellen Spalten
const tableColumns = ref([
  {
    field: 'id',
    header: sites.value.operationReport.stepFour.table.columns.id,
    showing: false,
  },
  {
    field: 'rescueOrganizations',
    header: sites.value.operationReport.stepFour.table.columns.rescueOrganizations,
    showing: true,
  },
  {
    field: 'numberOfForces',
    header: sites.value.operationReport.stepFour.table.columns.numberOfForces,
    showing: true,
  },
  {
    field: 'vehicles',
    header: sites.value.operationReport.stepFour.table.columns.vehicles,
    showing: true,
  },
  {
    field: 'comment',
    header: sites.value.operationReport.stepFour.table.columns.comment,
    showing: true,
  },
]);

/**
 * Einen Eintrag in der Tabelle bearbeiten
 * @param event
 */
const onCellEditComplete = (event) => {
  let {data, newValue, field} = event;

  switch (field) {
    case 'numberOfForces':
      if (isPositiveInteger(newValue)) data[field] = newValue;
      else event.preventDefault();
      break;

    default:
      if (newValue.trim().length > 0) data[field] = newValue;
      else event.preventDefault();
      break;
  }
};

/**
 * Prüfen, ob eine Zahl Positiv ist
 * @param val
 * @returns {boolean}
 */
const isPositiveInteger = (val) => {
  let str = String(val);

  str = str.trim();

  if (!str) {
    return false;
  }

  str = str.replace(/^0+/, '') || '0';
  var n = Math.floor(Number(str));

  return n !== Infinity && String(n) === str && n >= 0;
};

// Felder
const fieldComment = ref({
  // Kommentar
  comment: {
    autofocus: false,
    label: dialogs.value.operationReport.fields.comment.label,
    help: dialogs.value.operationReport.fields.comment.help,
    maxlength: dialogs.value.operationReport.fields.comment.maxlength,
    minlength: dialogs.value.operationReport.fields.comment.minlength,
    required: dialogs.value.operationReport.fields.comment.required
  },
})

const showDialog = ref(false);
const headerTitle = ref(sites.value.operationReport.stepFour.dialog.title);
// Aktion beim Schließen des Dialoges
const closeDialog = () => {
  showDialog.value = false;
};


// Eigenschaften der Felder für die Entity
const fields = ref({
  // Rettungsorganisationen
  rescueOrganizations: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: true,
    label: sites.value.operationReport.stepFour.dialog.fields.rescueOrganizations.label,
    help: sites.value.operationReport.stepFour.dialog.fields.rescueOrganizations.help,
    maxlength: sites.value.operationReport.stepFour.dialog.fields.rescueOrganizations.maxlength,
    minlength: sites.value.operationReport.stepFour.dialog.fields.rescueOrganizations.minlength,
    required: sites.value.operationReport.stepFour.dialog.fields.rescueOrganizations.required
  },
  // Anzahl der Kräfte
  numberOfForces: {
    fieldType: 'inputNumber',
    cssClass: 'col-6',
    autofocus: false,
    step: 1,
    label: sites.value.operationReport.stepFour.dialog.fields.numberOfForces.label,
    help: sites.value.operationReport.stepFour.dialog.fields.numberOfForces.help,
    maxlength: sites.value.operationReport.stepFour.dialog.fields.numberOfForces.maxlength,
    minlength: sites.value.operationReport.stepFour.dialog.fields.numberOfForces.minlength,
    required: sites.value.operationReport.stepFour.dialog.fields.numberOfForces.required
  },
  // Fahrzeuge
  vehicles: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: sites.value.operationReport.stepFour.dialog.fields.vehicles.label,
    help: sites.value.operationReport.stepFour.dialog.fields.vehicles.help,
    maxlength: sites.value.operationReport.stepFour.dialog.fields.vehicles.maxlength,
    minlength: sites.value.operationReport.stepFour.dialog.fields.vehicles.minlength,
    required: sites.value.operationReport.stepFour.dialog.fields.vehicles.required
  },
  // Kommentar
  comment: {
    fieldType: 'inputText',
    cssClass: 'col-12',
    autofocus: false,
    label: sites.value.operationReport.stepFour.dialog.fields.comment.label,
    help: sites.value.operationReport.stepFour.dialog.fields.comment.help,
    maxlength: sites.value.operationReport.stepFour.dialog.fields.comment.maxlength,
    minlength: sites.value.operationReport.stepFour.dialog.fields.comment.minlength,
    required: sites.value.operationReport.stepFour.dialog.fields.comment.required
  }
});

const item = ref({
  id: operationReport.value.otherTaskForces.length + 1,
  rescueOrganizations: '',
  numberOfForces: 0,
  vehicles: '',
  comment: '',
});

const addEntry = () =>{
  operationReport.value.otherTaskForces.push(
      {
        id: operationReport.value.otherTaskForces.length + 1,
        rescueOrganizations: item.value.rescueOrganizations,
        numberOfForces: item.value.numberOfForces,
        vehicles: item.value.vehicles,
        comment: item.value.comment
      }
  );

  showDialog.value = false;
}

const confirm = useConfirm();

const deleteEntry = (entry) => {
  confirm.require({
    message: `${confirmDialog.value.delete.message}`,
    header: `${confirmDialog.value.delete.header}`,
    icon: 'pi pi-info-circle',
    acceptClass: 'p-button-danger',
    accept: () => {
      if (operationReport.value.otherTaskForces &&
          operationReport.value.otherTaskForces.length > 0) {

        operationReport.value.otherTaskForces.splice(entry.index, 1);

        emit('addToast', {
          severity: 'success',
          summary: `${components.value.toastMessage['deleted'].title}`,
          detail: `${components.value.toastMessage['deleted'].message}`
        })
      } else {
        emit('addToast', {
          severity: 'warn',
          summary: `${components.value.toastMessage['failed'].title}`,
          detail: `${components.value.toastMessage['failed'].message}`
        })
      }

    },
    reject: () => {
    }
  });
};

/**
 * Prüfen, ob die erforderlichen Felder ausgefüllt sind
 * @returns {Promise<void>}
 */
const checkRequiredFields = () => {
  if (operationReport.value &&
      operationReport.value.otherTaskForces &&
      operationReport.value.otherTaskForces.length > 0
  ) {
    enabledStepButtons(false)
  } else {
    enabledStepButtons(true)
  }
};

/**
 * Erstellen eines HASH von einem Array, um zu prüfen, ob eine ändere vorgenommen wurde
 * @param arr
 * @returns {Promise<string>}
 */
const generateHashFromArray = async (arr) => {
  const message = new TextEncoder().encode(JSON.stringify(arr));
  const hashBuffer = await crypto.subtle.digest('SHA-256', message);
  const hashArray = Array.from(new Uint8Array(hashBuffer));
  const hashHex = hashArray.map(b => b.toString(16).padStart(2, '0')).join('');
  return hashHex;
}

// Überwachung von den erforderlichen Feldern
watch(dataById.value, (newValue) => {
  checkRequiredFields();
});

onBeforeMount(() => {
  checkRequiredFields();
});

onMounted(async () => {

  if (operationReport.value &&
      operationReport.value.ownForces.vehicles &&
      operationReport.value.ownForces.vehicles.length > 0 &&
      operationReport.value.ownForces.members &&
      operationReport.value.ownForces.members.length > 0 &&
      siteNamePdf.value
  ) {

    let vehicles = "";
    let numberOfForces = 0;
    let tempHashStepThree = "";

    tempHashStepThree = await generateHashFromArray(operationReport.value.ownForces.vehiclesWithMemberAndFunction);

    for (let [index, vehicle] of operationReport.value.ownForces.vehiclesWithMemberAndFunction.entries()) {
      if (index === 0) {
        vehicles += `${vehicle.abbreviation}`;
      } else {
        vehicles += `, ${vehicle.abbreviation}`;
      }
      numberOfForces += vehicle.members.length;
    }

    if (operationReport.value.otherTaskForces.length === 0) {
      operationReport.value.otherTaskForces.push(
          {
            id: operationReport.value.otherTaskForces.length + 1,
            rescueOrganizations: `${siteNamePdf.value.value}`,
            numberOfForces: numberOfForces,
            vehicles: vehicles,
            comment: `${sites.value.operationReport.stepFour.table.defaultCommentText}`,
            hash: tempHashStepThree
          }
      );
    } else if (tempHashStepThree !== operationReport.value.otherTaskForces[0].hash) {
      operationReport.value.otherTaskForces.splice(0, 1);
      operationReport.value.otherTaskForces.unshift(
          {
            id: operationReport.value.otherTaskForces.length + 1,
            rescueOrganizations: `${siteNamePdf.value.value}`,
            numberOfForces: numberOfForces,
            vehicles: vehicles,
            comment: `${sites.value.operationReport.stepFour.table.defaultCommentText}`,
            hash: tempHashStepThree
          }
      );
    }
  }


  if (operationReport.value &&
      (operationReport.value.incomingAlert && !operationReport.value.incomingAlert.id) ||
      (operationReport.value.ownForces && !operationReport.value.ownForces.length < 0)
  ) {
    await router.push({name: operationAreaNames.operationReportNewStepOne})
  }

  await checkRequiredFields();
})
</script>