<template>
  <!-- Knöpfe vor und zurück -->
  <step-changer :disabled-button-next-step="disabledButtonNextStep" :disabled-button-prev-step="disabledButtonPrevStep"
                :max-steps="maxSteps" :page-index="pageIndex" @prev-page="emit('prevPage',{pageIndex: pageIndex})"
                @next-page="emit('nextPage',{pageIndex: pageIndex})"/>

  <div class="grid grid-nogutter justify-content-between mb-4">
    <!-- Bereich mit dem Inhalt -->
    <div class="col-12 mt-3">
      <Card>
        <template #title>
          <!-- Laden Balken -->
          <div v-if="isLoading" class="col-12">
            <ProgressBar class="bg-yellow-900-900" mode="indeterminate" style="height: 6px"></ProgressBar>
          </div>
        </template>
        <template #content>
          <div class="grid">
            <!-- Abschnitte mit dem FME Meldungen-->
            <div class="col-12 font-bold">
              <h2 class="underline">
                {{ sites.operationReport.stepTwo.headlineOriginalMessage }}
              </h2>
              <generate-formular :disabled-all-fieldComment="isLoading" :fields="fieldsOne"
                                 :item="operationReport.incomingAlert.item"
                                 :read-only-all-fieldComment="isLoading" :show-required-text="false"/>

            </div>
            <!-- Abschnitte mit dem Details zum Einsatzbericht-->
            <div class="col-12 font-bold">
              <h2 class="underline">
                {{ sites.operationReport.stepTwo.headlineOperationDetails }}
              </h2>
              <generate-formular :disabled-all-fieldComment="isLoading" :fields="fieldsTwo"
                                 :item="operationReport.operationReportDetail"
                                 :read-only-all-fieldComment="isLoading"
                                 @enabled-action-button="enabledStepButtons($event)"
                                 @fetch-last-fire-department="fetchLastNumberFireDepartment"
              />

            </div>

            <!-- Allgemeiner Kommentar -->
            <div class="col-12 font-bold">
              <span class="p-float-label">
                <Textarea id="comment" v-model="operationReport.comment"
                          :autofocus="fieldComment.comment.autofocus" :disabled="isLoading"
                          :maxlength="fieldComment.comment.maxlength"
                          :minlength="fieldComment.comment.minlength"
                          :readonly="isLoading"
                          :required="fieldComment.comment.required"
                          aria-describedby="comment-help"
                          class="min-w-full" rows="5"/>
                <label for="comment"><required-star v-if="fieldComment.comment.required"/>{{
                    fieldComment.comment.label
                  }}</label>
              </span>
              <div class="flex justify-content-between flex-wrap m-2">
                <small v-if="operationReport.comment" class="fadeinleft animation-duration-200 font-light font-italic">
                  {{ generals.numberOfCharacters }} {{
                    operationReport.comment.length
                  }}/{{ fieldComment.comment.maxlength }}</small>
                <small id="comment-help">{{ fieldComment.comment.help }}</small>
              </div>
            </div>
          </div>
        </template>
      </Card>
    </div>
  </div>
</template>
<script setup>
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import {onBeforeMount, onMounted, ref} from "vue";
import {useOperationReportStore} from "@/stores/OperationArea/operationReport";
import RequiredStar from "@/components/RequiredStar.vue";
import GenerateFormular from "@/components/GenerateFormular.vue";
import {useOperationTypeCategoryStore} from "@/stores/ReferenceArea/operationTypeCategory";
import {operationAreaNames} from "@/router/default";
import {useRouter} from "vue-router";
import StepChanger from "@/components/StepChanger.vue"; // Variable die auf mit von der Component erwartet werden

const emit = defineEmits(['addToast', 'prevPage', 'nextPage'])

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  // Felder
  maxSteps: {
    type: Number,
    required: true
  }
});

// Vue Router
const router = useRouter();

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {menus, sites, dialogs, generals} = storeToRefs(storeTranslation)

// Step Index
const pageIndex = ref(1);

// Step Knöpfe
const disabledButtonNextStep = ref(true);
const disabledButtonPrevStep = ref(false);

// Step Knöpfe aktivieren
const enabledStepButtons = (state) => {
  disabledButtonNextStep.value = state;
  // disabledButtonPrevStep.value = state;
};

// Store - Einsatzbericht
const store = useOperationReportStore();
const {dataById, isLoading, operationReport, lastNumberFireDepartment} = storeToRefs(store);

// Store - Einsatzart Kategories
const storeOperationReportCategory = useOperationTypeCategoryStore();
const {
  dataForDropdownGroup: operationReportCategories,
  isLoading: operationReportCategoriesIsLoading
} = storeToRefs(storeOperationReportCategory);
storeOperationReportCategory.loadDataForDropdown();

// Titel
const title = ref(menus.value.mainMenu.operationArea.children.operationReports.children.headlines.two);

// Felder
const fieldsOne = ref({
  // Originaler Einsatztext
  messageComplete: {
    fieldType: 'textarea',
    cssClass: 'col-12',
    row: 2,
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.messageComplete.label,
    help: dialogs.value.operationReport.fields.messageComplete.help,
    maxlength: dialogs.value.operationReport.fields.messageComplete.maxlength,
    minlength: dialogs.value.operationReport.fields.messageComplete.minlength,
    required: dialogs.value.operationReport.fields.messageComplete.required
  },
  // Alarmzeit
  incomingDateTime: {
    fieldType: 'calendar',
    cssClass: 'col-3 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.incomingDateTime.label,
    help: dialogs.value.operationReport.fields.incomingDateTime.help,
    maxlength: dialogs.value.operationReport.fields.incomingDateTime.maxlength,
    minlength: dialogs.value.operationReport.fields.incomingDateTime.minlength,
    required: dialogs.value.operationReport.fields.incomingDateTime.required
  },
  // Alarm Text
  text: {
    fieldType: 'inputText',
    cssClass: 'col-9 md:col-8',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.text.label,
    help: dialogs.value.operationReport.fields.text.help,
    maxlength: dialogs.value.operationReport.fields.text.maxlength,
    minlength: dialogs.value.operationReport.fields.text.minlength,
    required: dialogs.value.operationReport.fields.text.required
  }
})

// Felder
const fieldsTwo = ref({
  // Einsatzart
  operationType: {
    fieldType: 'dropDown',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    optionGroupChildren: 'items',
    optionLabel: 'description',
    group: true,
    autofocus: true,
    label: dialogs.value.operationReport.fields.operationType.label,
    help: dialogs.value.operationReport.fields.operationType.help,
    required: dialogs.value.operationReport.fields.operationType.required,
    options: operationReportCategories,
    loading: operationReportCategoriesIsLoading
  },
  // Einsatz - Beginn
  startetAt: {
    fieldType: 'calendar',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    label: dialogs.value.operationReport.fields.startetAt.label,
    help: dialogs.value.operationReport.fields.startetAt.help,
    maxlength: dialogs.value.operationReport.fields.startetAt.maxlength,
    minlength: dialogs.value.operationReport.fields.startetAt.minlength,
    required: dialogs.value.operationReport.fields.startetAt.required
  },
  // Einsatz - Ende
  endetAt: {
    fieldType: 'calendar',
    cssClass: 'sm:col-12 lg:col-3 md:col-4 border-dashed border-primary-500',
    autofocus: false,
    label: dialogs.value.operationReport.fields.endetAt.label,
    help: dialogs.value.operationReport.fields.endetAt.help,
    maxlength: dialogs.value.operationReport.fields.endetAt.maxlength,
    minlength: dialogs.value.operationReport.fields.endetAt.minlength,
    required: dialogs.value.operationReport.fields.endetAt.required
  },
  // Nummer IRLS
  numberControlCenter: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    label: dialogs.value.operationReport.fields.numberControlCenter.label,
    help: dialogs.value.operationReport.fields.numberControlCenter.help,
    maxlength: dialogs.value.operationReport.fields.numberControlCenter.maxlength,
    minlength: dialogs.value.operationReport.fields.numberControlCenter.minlength,
    required: dialogs.value.operationReport.fields.numberControlCenter.required
  },
  // Stichwort kurz
  keywordShort: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    label: dialogs.value.operationReport.fields.keywordShort.label,
    help: dialogs.value.operationReport.fields.keywordShort.help,
    maxlength: dialogs.value.operationReport.fields.keywordShort.maxlength,
    minlength: dialogs.value.operationReport.fields.keywordShort.minlength,
    required: dialogs.value.operationReport.fields.keywordShort.required
  },
  // Stichwort lang
  keywordLong: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-6',
    autofocus: false,
    label: dialogs.value.operationReport.fields.keywordLong.label,
    help: dialogs.value.operationReport.fields.keywordLong.help,
    maxlength: dialogs.value.operationReport.fields.keywordLong.maxlength,
    minlength: dialogs.value.operationReport.fields.keywordLong.minlength,
    required: dialogs.value.operationReport.fields.keywordLong.required
  },
  // Postleitzahl
  postalCode: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    label: dialogs.value.operationReport.fields.postalCode.label,
    help: dialogs.value.operationReport.fields.postalCode.help,
    maxlength: dialogs.value.operationReport.fields.postalCode.maxlength,
    minlength: dialogs.value.operationReport.fields.postalCode.minlength,
    required: dialogs.value.operationReport.fields.postalCode.required
  },
  // Ort bzw. Gemeinde
  place: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    label: dialogs.value.operationReport.fields.place.label,
    help: dialogs.value.operationReport.fields.place.help,
    maxlength: dialogs.value.operationReport.fields.place.maxlength,
    minlength: dialogs.value.operationReport.fields.place.minlength,
    required: dialogs.value.operationReport.fields.place.required
  },
  // Straße mit H.-Nr
  streetWithNumber: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    label: dialogs.value.operationReport.fields.streetWithNumber.label,
    help: dialogs.value.operationReport.fields.streetWithNumber.help,
    maxlength: dialogs.value.operationReport.fields.streetWithNumber.maxlength,
    minlength: dialogs.value.operationReport.fields.streetWithNumber.minlength,
    required: dialogs.value.operationReport.fields.streetWithNumber.required
  },
  // Ort-Gemeinde
  location: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-6',
    autofocus: false,
    label: dialogs.value.operationReport.fields.location.label,
    help: dialogs.value.operationReport.fields.location.help,
    maxlength: dialogs.value.operationReport.fields.location.maxlength,
    minlength: dialogs.value.operationReport.fields.location.minlength,
    required: dialogs.value.operationReport.fields.location.required
  },
  // Objekt / Gebäude
  otherAddressInformation: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    label: dialogs.value.operationReport.fields.otherAddressInformation.label,
    help: dialogs.value.operationReport.fields.otherAddressInformation.help,
    maxlength: dialogs.value.operationReport.fields.otherAddressInformation.maxlength,
    minlength: dialogs.value.operationReport.fields.otherAddressInformation.minlength,
    required: dialogs.value.operationReport.fields.otherAddressInformation.required
  },
  // Person bzw. Patient
  personPatient: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    label: dialogs.value.operationReport.fields.personPatient.label,
    help: dialogs.value.operationReport.fields.personPatient.help,
    maxlength: dialogs.value.operationReport.fields.personPatient.maxlength,
    minlength: dialogs.value.operationReport.fields.personPatient.minlength,
    required: dialogs.value.operationReport.fields.personPatient.required
  },
  // Nummer Fw
  numberFireDepartment: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    withIcon: true,
    tooltip: dialogs.value.operationReport.fields.numberFireDepartment.tooltip,
    icon: 'pi pi-refresh ',
    iconClass: 'cursor-pointer hover:text-red-700 text-3xl bg-primary p-2 border-circle ',
    iconClassi: 'text-2xl',
    styleIcon: 'margin-top: -22px',
    actionMethode: 'fetchLastFireDepartment',
    label: dialogs.value.operationReport.fields.numberFireDepartment.label,
    help: dialogs.value.operationReport.fields.numberFireDepartment.help,
    maxlength: dialogs.value.operationReport.fields.numberFireDepartment.maxlength,
    minlength: dialogs.value.operationReport.fields.numberFireDepartment.minlength,
    required: dialogs.value.operationReport.fields.numberFireDepartment.required
  },
  // Nummer Pol
  numberPolice: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    label: dialogs.value.operationReport.fields.numberPolice.label,
    help: dialogs.value.operationReport.fields.numberPolice.help,
    maxlength: dialogs.value.operationReport.fields.numberPolice.maxlength,
    minlength: dialogs.value.operationReport.fields.numberPolice.minlength,
    required: dialogs.value.operationReport.fields.numberPolice.required
  },
  // Alarm Text
  text: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 col-12',
    autofocus: false,
    label: dialogs.value.operationReport.fields.text.label,
    help: dialogs.value.operationReport.fields.text.help,
    maxlength: dialogs.value.operationReport.fields.text.maxlength,
    minlength: dialogs.value.operationReport.fields.text.minlength,
    required: dialogs.value.operationReport.fields.text.required
  },

})

const fieldComment = ref({
  // Kommentar
  comment: {
    autofocus: false,
    label: dialogs.value.operationReport.fields.comment.label,
    help: dialogs.value.operationReport.fields.comment.help,
    maxlength: dialogs.value.operationReport.fields.comment.maxlength,
    minlength: dialogs.value.operationReport.fields.comment.minlength,
    required: dialogs.value.operationReport.fields.comment.required
  },
});

/**
 * Abrufen der letzten Einsatznummer
 * @returns {Promise<void>}
 */
const fetchLastNumberFireDepartment = async () => {

  // Animation
  const elm = document.querySelector('.pi-refresh')

  if (elm) {
    elm.classList.add('rotate')
    elm.classList.add('text-red-900')

    setTimeout(() => {
      elm.classList.remove('rotate')
      elm.classList.remove('text-red-900')
    }, 1500)
  }

  // Abrufen der letzten Einsatznummer
  await store.loadLastNumberFireDepartment();

  if (!operationReport.value.operationReportDetail.numberFireDepartment) {
    operationReport.value.operationReportDetail.numberFireDepartment = await lastNumberFireDepartment.value.next;
  }
}

onMounted(() => {
  if (operationReport.value &&
      operationReport.value.incomingAlert &&
      !operationReport.value.incomingAlert.id) {
    router.push({name: operationAreaNames.operationReportNewStepOne})
  }

  // Animation
  const elm = document.querySelector('.pi-refresh')

  if (elm) {
    elm.classList.add('rotate')
    elm.classList.add('text-red-900')

    setTimeout(() => {
      elm.classList.remove('rotate')
      elm.classList.remove('text-red-900')
    }, 1500)
  }
});

onBeforeMount(async () => {
  await fetchLastNumberFireDepartment();
});

</script>