<template>
  <!-- Knöpfe vor und zurück -->
  <step-changer :disabled-button-next-step="disabledButtonNextStep" :disabled-button-prev-step="disabledButtonPrevStep"
                :max-steps="maxSteps" :page-index="pageIndex" @prev-page="emit('prevPage',{pageIndex: pageIndex})" @next-page="emit('nextPage',{pageIndex: pageIndex})"/>

  <div class="grid grid-nogutter justify-content-between mb-4">
    <!-- Bereich mit dem Inhalt -->
    <div class="col-12 mt-3">
      <Card>
        <template #title>
          <!-- Laden Balken -->
          <div v-show="isLoading || membersIsLoading || memberFunctionIsLoading" class="col-12">
            <ProgressBar class="bg-yellow-900-900" mode="indeterminate" style="height: 6px"/>
          </div>
        </template>
        <template #content>
          <div class="grid text-center">
            <!-- Die Einzelnen Fahrzeuge die Im 1ten Schritt ausgewählt wurden -->
            <div class="col-12">
              <ui-tab-bar
                  v-if="operationReport && operationReport.ownForces && operationReport.ownForces.vehiclesWithMemberAndFunction.length > 0"
                  v-model="active"
                  type="textWithIcon">
                <ui-tab
                    v-for="(tabVehicle, index) in operationReport.ownForces.vehiclesWithMemberAndFunction"
                    :key="index"
                    v-tooltip="tabVehicle.description"
                    :aria-describedby="index"
                    :icon="tabVehicle.icon"
                    stacked
                    type="text">
                  <!-- Anzahl der Sitzplätze, und wie viele schon belegt sind.-->
                  <ui-badge state="info">
                    <ui-badge v-if="checkVehicleHasMemberError(tabVehicle)" state="error">
                      <template #badge>
                        <span v-tooltip="`${sites.operationReport.stepThree.errorVehicleToolTip}`"
                              :aria-describedby="`${tabVehicle}`"
                        >{{ sites.operationReport.stepThree.errorVehicleToolTip }}</span>
                      </template>
                    </ui-badge>
                    <span class="ml-2 mr-2">{{ tabVehicle.abbreviation }}</span>
                    <template #badge>
                      {{
                        operationReport && operationReport.ownForces &&
                        operationReport.ownForces.members &&
                        operationReport.ownForces.members.length > 0 ?
                            operationReport.ownForces.members[index].members.length : 0
                      }}/{{
                        tabVehicle.maxSeats
                      }}
                    </template>
                  </ui-badge>
                </ui-tab>
              </ui-tab-bar>
            </div>
            <!-- Die Anzeige mit den Mitgliedern -->
            <div class="col-12">
              <ui-panels v-model="active">
                <ui-panel v-for="(tabVehicle, index) in operationReport.ownForces.vehiclesWithMemberAndFunction"
                          v-if="operationReport && operationReport.ownForces &&
                          operationReport.ownForces.vehiclesWithMemberAndFunction &&
                          operationReport.ownForces.vehiclesWithMemberAndFunction.length > 0"
                          :key="index">
                  <div class="grid mt-2">
                    <!-- Auflisten der Mitglieder -->
                    <template v-for="(member, memberIndex) in members" v-if="!membersIsLoading">
                      <!-- einzelnes Mitglied -->
                      <div class="col-2 text-left" style="min-height: 70px">
                        <Checkbox v-model="operationReport.ownForces.members[index].members"
                                  :disabled="checkMemberIsUsed(member, tabVehicle) || checkVehicleIsFuelMembers(member, tabVehicle)"
                                  :inputId="`${member.id}-${tabVehicle.id}`"
                                  :readonly="checkMemberIsUsed(member, tabVehicle) || checkVehicleIsFuelMembers(member, tabVehicle)"
                                  :value="member.id" name="members"
                                  @click="actionMemberClick(member, tabVehicle, index)"/>
                        <label :class="checkMemberIsUsed(member, tabVehicle) ? 'text-black-alpha-50' :''"
                               :for="`${member.id}-${tabVehicle.id}`"
                               class="ml-2 cursor-pointer">{{ member.surname }},
                          {{
                            member.firstname
                          }}</label>
                        <div class="flex justify-content-between flex-wrap m-2">
                          <small>{{ checkMemberIsUsedBy(member) }}</small>
                        </div>
                      </div>
                    </template>
                    <!-- Ladeanzeige -->
                    <template v-for="skeleton in ['','','','','', '']" v-else>
                      <div class="col-2">
                        <div class="flex">
                          <div class="flex-initial flex">
                            <Skeleton class="mr-2" size="2rem"/>
                          </div>
                          <div class="flex-initial flex" style="min-width: 80%">
                            <Skeleton class="mb-2" height="2rem"/>
                          </div>
                        </div>
                      </div>
                    </template>
                    <!-- Auflisten der Mitglieder, um die Funktion zuzuweisen -->
                    <div v-if="operationReport.ownForces.vehiclesWithMemberAndFunction[index].members.length > 0"
                         class="col-12">
                      <h2>{{ sites.operationReport.stepThree.headlineMemberFunction }}</h2>
                    </div>
                    <template
                        v-for="(memberWithFunction, index) in operationReport.ownForces.vehiclesWithMemberAndFunction[index].members"
                        v-if="operationReport.ownForces.vehiclesWithMemberAndFunction[index].members.length > 0">
                      <div class="col-2 text-left">
                        <h3>{{ memberWithFunction.surname }},
                          {{ memberWithFunction.firstname }}</h3>
                      </div>
                      <div class="col-2 text-left">
                        <Dropdown :id="`${index}-${tabVehicle}-function`"
                                  v-model="memberWithFunction.operationFunction"
                                  :aria-describedby="`${index}-${tabVehicle}-function`"
                                  :loading="memberFunctionIsLoading"
                                  :options="memberFunctions"
                                  :required="true"
                                  @change="setMemberFunction(memberWithFunction, $event)"
                                  class="min-w-full max-w-full" filter option-label="label" option-value="value"/>
                      </div>

                    </template>
                  </div>
                </ui-panel>
              </ui-panels>
            </div>

            <!-- Allgemeiner Kommentar -->
            <div class="col-12 font-bold">
              <span class="p-float-label">
                <Textarea id="comment" v-model="operationReport.comment"
                          :autofocus="fieldComment.comment.autofocus" :disabled="isLoading"
                          :maxlength="fieldComment.comment.maxlength"
                          :minlength="fieldComment.comment.minlength"
                          :readonly="isLoading"
                          :required="fieldComment.comment.required"
                          aria-describedby="comment-help"
                          class="min-w-full" rows="5"/>
                <label for="comment"><required-star v-if="fieldComment.comment.required"/>{{
                    fieldComment.comment.label
                  }}</label>
              </span>
              <div class="flex justify-content-between flex-wrap m-2">
                <small v-if="operationReport.comment" class="fadeinleft animation-duration-200 font-light font-italic">
                  {{ generals.numberOfCharacters }} {{
                    operationReport.comment.length
                  }}/{{ fieldComment.comment.maxlength }}</small>
                <small id="comment-help">{{ fieldComment.comment.help }}</small>
              </div>
            </div>

            <!-- Meldung Pflichtfelder -->
            <div class="col-12 text-left">
              <required-text/>
            </div>
          </div>
        </template>
      </Card>
    </div>
  </div>
</template>
<script setup>
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import {onBeforeMount, onMounted, ref, watch} from "vue";
import {useOperationReportStore} from "@/stores/OperationArea/operationReport";
import RequiredStar from "@/components/RequiredStar.vue";
import RequiredText from "@/components/RequiredText.vue";
import {useMemberStore} from "@/stores/Managements/member";
import {operationAreaNames} from "@/router/default";
import {useRouter} from "vue-router";
import {useMemberFunctionStore} from "@/stores/ReferenceArea/memberFunction";
import {useGeneralStore} from "@/stores/Managements/general";
import StepChanger from "@/components/StepChanger.vue";

const emit = defineEmits(['addToast', 'prevPage', 'nextPage'])

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  // Felder
  maxSteps: {
    type: Number,
    required: true
  }
});

// Vue Router
const router = useRouter();

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {menus, sites, dialogs, generals} = storeToRefs(storeTranslation)

// Step Index
const pageIndex = ref(2);

// Step Knöpfe
const disabledButtonNextStep = ref(true);
const disabledButtonPrevStep = ref(false);

// Step Knöpfe aktivieren
const enabledStepButtons = (state) => {
  disabledButtonNextStep.value = state;
};

// Store - Einsatzbericht
const store = useOperationReportStore();
const {dataById, isLoading, operationReport} = storeToRefs(store);

// Store - Mitglieder
const storeMember = useMemberStore();
const {dataForTable: members, isLoading: membersIsLoading} = storeToRefs(storeMember);
storeMember.loadDataOnlyDepartmentForTable();

// Store - Mitglieder Funktionen
const storeMemberFunction = useMemberFunctionStore();
const {dataForTable: memberFunctionsForFind, dataForDropdownOperationReport: memberFunctions, isLoading: memberFunctionIsLoading} = storeToRefs(storeMemberFunction);
storeMemberFunction.loadDataForDropdownOperationReport();

// Store - Allgemeines
const storeGeneral = useGeneralStore();
const {siteDefaultMemberFunction} = storeToRefs(storeGeneral);
storeGeneral.loadDataForTable();

// Standard Funktion der Mitglieder
const memberDefaultFunction = ref({});

// Titel
const title = ref(menus.value.mainMenu.operationArea.children.operationReports.children.headlines.three);

const active = ref(0);

// Felder
const fieldComment = ref({
  // Kommentar
  comment: {
    autofocus: false,
    label: dialogs.value.operationReport.fields.comment.label,
    help: dialogs.value.operationReport.fields.comment.help,
    maxlength: dialogs.value.operationReport.fields.comment.maxlength,
    minlength: dialogs.value.operationReport.fields.comment.minlength,
    required: dialogs.value.operationReport.fields.comment.required
  },
})

/**
 * Prüfen, ob die erforderlichen Felder ausgefüllt sind
 * @returns {Promise<void>}
 */
const checkRequiredFields = () => {
  if (operationReport.value &&
      operationReport.value.ownForces &&
      operationReport.value.ownForces.members &&
      operationReport.value.ownForces.members.length > 0
  ) {
    // durchlaufen, ob überall mitglieder sind und eine funktion haben
    let isAllGood = [];

    for (let vehicle of operationReport.value.ownForces.vehiclesWithMemberAndFunction) {
      // Sind Mitglieder zugewiesen?
      if (vehicle.members && vehicle.members.length > 0) {
        // Haben sie alle eine Funktion
        let findMemberFunctions = vehicle.members.filter((member) => !member.operationFunction);
        // Wenn ein Mitglied keine Funktion hat
        if (findMemberFunctions && findMemberFunctions.length > 0) {
          isAllGood.push(true)
        } else {
          isAllGood.push(false)
        }
      } else {
        isAllGood.push(true)
      }
    }

    // hier sollte alles 'false' sein
    let isFalse = isAllGood.find((item) => item === true);

    if (isFalse === undefined) {
      // Weiter deaktiviert
      enabledStepButtons(false)
    } else {
      // Weiter aktivieren
      enabledStepButtons(true)
    }

  } else {
    enabledStepButtons(true)
  }
};

/**
 *
 * @param member
 * @param memberVehicle
 * @returns boolean
 */
const checkMemberIsUsed = (member, memberVehicle) => {
  if (operationReport.value &&
      operationReport.value.ownForces &&
      operationReport.value.ownForces.members &&
      operationReport.value.ownForces.members.length > 0) {

    for (const vehicle of operationReport.value.ownForces.members) {
      if (vehicle.members.includes(member.id) && memberVehicle.id !== vehicle.id) {
        return true
      }
    }
  }
  return false;
}

/**
 *
 * @param member
 * @returns string
 */
const checkMemberIsUsedBy = (member) => {
  if (operationReport.value &&
      operationReport.value.ownForces &&
      operationReport.value.ownForces.members &&
      operationReport.value.ownForces.members.length > 0) {
    for (const vehicle of operationReport.value.ownForces.members) {
      if (vehicle.members.includes(member.id)) {
        return `(${vehicle.description})`;
      }
    }
  }
  return '';
}

/**
 * @param member
 * @param memberVehicle
 * @returns boolean
 */
const checkVehicleIsFuelMembers = (member, memberVehicle) => {
  // Finden des Fahrzeuges
  let findVehicle = operationReport.value.ownForces.members.find(vehicle => vehicle.id === memberVehicle.id)

  // Vergleichen der Sitzmenge
  if (findVehicle.members.length >= findVehicle.maxSeats) {
    return !(findVehicle.members.includes(member.id) && memberVehicle.id === findVehicle.id);
  }
  return false;
}

/**
 *
 * @param member
 * @param memberVehicle
 * @param index
 * @returns {Promise<void>}
 */
const actionMemberClick = async (member, memberVehicle, index) => {

  let memberFunctionDetails = {};

  if (memberFunctions.value && memberFunctions.value.length > 0 &&
      siteDefaultMemberFunction.value && siteDefaultMemberFunction.value.value) {

    memberDefaultFunction.value = memberFunctions.value.find((memberFunction) => memberFunction.value === siteDefaultMemberFunction.value.value);
    memberFunctionDetails = memberFunctionsForFind.value.find((memberFunction) => memberFunction.id=== siteDefaultMemberFunction.value.value);
  }

  const operationFunction = memberDefaultFunction.value ? memberDefaultFunction.value.value : '';

  // Prüfen, ob das Mitglied schon zugewiesen wurde
  if (operationReport &&
      operationReport.value &&
      operationReport.value.ownForces &&
      operationReport.value.ownForces.members &&
      operationReport.value.ownForces.members[index] &&
      operationReport.value.ownForces.vehiclesWithMemberAndFunction &&
      operationReport.value.ownForces.vehiclesWithMemberAndFunction[index]
  ) {

    let storeMemberComplete = operationReport.value.ownForces.vehiclesWithMemberAndFunction[index].members;

    // Noch kein Mitglied vorhanden hinzufügen
    if (storeMemberComplete && storeMemberComplete.length === 0) {
      storeMemberComplete.push({
        id: member.id,
        surname: member.surname,
        firstname: member.firstname,
        operationFunction: operationFunction,
        operationFunctionDetails: memberFunctionDetails
      });
    } else if (storeMemberComplete && storeMemberComplete.length > 0) {
      let findMember = storeMemberComplete.find(complete => complete.id === member.id);
      // Wenn nicht vorhanden, dann neues Mitglied hinzufügen
      if (findMember === undefined) {
        storeMemberComplete.push({
          id: member.id,
          surname: member.surname,
          firstname: member.firstname,
          operationFunction: operationFunction,
          operationFunctionDetails: memberFunctionDetails
        });
      } else {
        // Index finden zum Entfernen
        let findMemberIndex = storeMemberComplete.findIndex(complete => complete.id === member.id);

        if (findMemberIndex >= 0) {
          storeMemberComplete.splice(findMemberIndex, 1);
        }
      }
    }
  }
}

/**
 *
 * @param memberVehicle
 * @returns {boolean}
 */
const checkVehicleHasMemberError = (memberVehicle) => {
  // durchlaufen, ob überall mitglieder sind und eine funktion haben
  let isAllGood = [];

  // Sind Mitglieder zugewiesen?
  if (memberVehicle.members && memberVehicle.members.length > 0) {
    // Haben sie alle eine Funktion
    let findMemberFunctions = memberVehicle.members.filter((member) => !member.operationFunction);
    // Wenn ein Mitglied keine Funktion hat
    if (findMemberFunctions && findMemberFunctions.length > 0) {
      isAllGood.push(true)
    } else {
      isAllGood.push(false)
    }
  } else {
    isAllGood.push(true)
  }

  // hier sollte alles 'false' sein
  let isFalse = isAllGood.find((item) => item === true);

  return isFalse !== undefined;
}

/**
 *
 * @param member
 * @param event
 */
const setMemberFunction = (member, event) => {

  let memberFunctionDetails = memberFunctionsForFind.value.find((memberFunction) => memberFunction.id === event.value);

  if (memberFunctionDetails) {
    member.operationFunctionDetails = memberFunctionDetails;
  }
}

onBeforeMount(() => {
  checkRequiredFields();
});

// Überwachung von den erforderlichen Feldern
watch(() => operationReport.value.ownForces, () => {
  checkRequiredFields();
}, {deep: true});

onMounted(() => {
  if (operationReport.value &&
      (operationReport.value.incomingAlert && !operationReport.value.incomingAlert.id) ||
      (operationReport.value.ownForces && !operationReport.value.ownForces.length < 0)
  ) {
    router.push({name: operationAreaNames.operationReportNewStepOne})
  }

});
</script>