<template>
  <!-- Knöpfe vor und zurück -->
  <step-changer :disabled-button-next-step="disabledButtonNextStep" :disabled-button-prev-step="disabledButtonPrevStep"
                :max-steps="maxSteps" :page-index="pageIndex" @prev-page="emit('prevPage',{pageIndex: pageIndex})"
                @next-page="emit('nextPage',{pageIndex: pageIndex})"/>

  <div class="grid grid-nogutter justify-content-between mb-4">
    <!-- Bereich mit dem Inhalt -->
    <div class="col-12 mt-3">
      <Card>
        <template #title>
          <!-- Laden Balken -->
          <div v-show="isLoading || toolCategoriesIsLoading" class="col-12">
            <ProgressBar class="bg-yellow-900-900" mode="indeterminate" style="height: 6px"/>
          </div>
        </template>
        <template #content>
          <div class="grid text-center">

            <!-- Kategorien der Hilfsmittel, als tabs -->
            <div class="col-12">
              <ui-tab-bar
                  v-if="operationReport && operationReport.tools && operationReport.tools.toolsWithNumbers"
                  v-model="active"
                  type="textWithIcon">
                <ui-tab
                    v-for="(tabToolCategory, index) in toolCategories"
                    :key="index"
                    v-tooltip="tabToolCategory.description"
                    :aria-describedby="index"
                    :icon="tabToolCategory.icon"
                    stacked
                    type="text">
                  <!-- Anzahl der Hilfsmittel -->
                  <ui-badge state="info">
                    <span class="ml-2 mr-2">{{ tabToolCategory.abbreviation }}</span>
                    <template #badge>
                      {{
                        tabToolCategory && tabToolCategory.tools &&
                        tabToolCategory.tools.length > 0 ?
                            parseInt(tabToolCategory.tools.length) : 0
                      }}
                    </template>
                  </ui-badge>
                </ui-tab>
              </ui-tab-bar>
            </div>
            <!-- Die Auflisten der einzelnen Hilfsmittel -->
            <div v-if="!toolCategoriesIsLoading" class="col-12">
              <ui-panels v-model="active">
                <ui-panel v-for="(tabToolCategory, index) in toolCategories"
                          v-if="operationReport"
                          :key="index">
                  <div v-if="tabToolCategory && tabToolCategory.tools && tabToolCategory.tools.length >0"
                       class="grid mt-2">
                    <!-- Auflisten der Hilfsmittel -->
                    <template v-for="(tool, toolIndex) in tabToolCategory.tools">
                      <!-- einzelnes Hilfsmittel -->
                      <div class="col-3 text-left">
                        <Checkbox v-model="operationReport.tools.allTools"
                                  :inputId="`${tool.id}`"
                                  :value="tool.id" name="tools"
                                  @click="actionToolClick(tool, tabToolCategory, toolIndex)"/>
                        <label :for="`${tool.id}`" class="ml-2 cursor-pointer">
                          {{ tool.description }}
                        </label>
                      </div>
                    </template>

                  </div>
                </ui-panel>
              </ui-panels>
            </div>
            <!-- Auflisten der Hilfsmittel, um die Anzahl zuzuweisen -->
            <div v-if="operationReport && operationReport.tools &&
                      operationReport.tools.allTools && operationReport.tools.allTools.length > 0"
                 class="col-12">
              <h2>{{ sites.operationReport.stepFive.headlineNumberOfTool }}</h2>
            </div>
            <template v-for="(tool) in operationReport.tools.toolsWithNumbers">
              <!-- Zahlen Eingabe -->
              <div class="font-bold sm:col-12 md:col-6 lg:col-4 xl:col-3">
                <span class="p-float-label">
                  <InputNumber v-model="tool.numbers" :model-value="tool.numbers" :aria-describedby="`${tool.id}-help`"
                               :inputId="`${tool.id}-number`"
                               :required="true" :step="1"
                               :min="0"
                               :max="100"
                               class="min-w-full" showButtons/>
                  <label :for="`${tool.id}-number`"><required-star/>{{ tool.description }}</label>
                </span>
                <div class="flex justify-content-between flex-wrap m-2">
                  <small :id="`${tool.id}-help`">{{ tool.toolCategory.description }}</small>
                </div>
              </div>
            </template>

            <!-- Allgemeiner Kommentar -->
            <div class="col-12 font-bold">
              <span class="p-float-label">
                <Textarea id="comment" v-model="operationReport.comment"
                          :autofocus="fieldComment.comment.autofocus" :disabled="isLoading"
                          :maxlength="fieldComment.comment.maxlength"
                          :minlength="fieldComment.comment.minlength"
                          :readonly="isLoading"
                          :required="fieldComment.comment.required"
                          aria-describedby="comment-help"
                          class="min-w-full" rows="5"/>
                <label for="comment"><required-star v-if="fieldComment.comment.required"/>{{
                    fieldComment.comment.label
                  }}</label>
              </span>
              <div class="flex justify-content-between flex-wrap m-2">
                <small v-if="dataById.comment" class="fadeinleft animation-duration-200 font-light font-italic">
                  {{ generals.numberOfCharacters }} {{
                    operationReport.comment.length
                  }}/{{ fieldComment.comment.maxlength }}</small>
                <small id="comment-help">{{ fieldComment.comment.help }}</small>
              </div>
            </div>

            <div class="col-12 text-left">
              <required-text/>
            </div>
          </div>
        </template>
      </Card>
    </div>
  </div>
</template>
<script setup>
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import {onBeforeMount, onMounted, ref, watch} from "vue";
import {useOperationReportStore} from "@/stores/OperationArea/operationReport";
import RequiredStar from "@/components/RequiredStar.vue";
import RequiredText from "@/components/RequiredText.vue";
import {useToolCategoryStore} from "@/stores/Managements/toolCategory";
import {operationAreaNames} from "@/router/default";
import {useRouter} from "vue-router";
import StepChanger from "@/components/StepChanger.vue";

const emit = defineEmits(['addToast', 'prevPage', 'nextPage'])

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  // Felder
  maxSteps: {
    type: Number,
    required: true
  }
});

// Vue Router
const router = useRouter();

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {menus, sites, dialogs, generals} = storeToRefs(storeTranslation)

// Step Index
const pageIndex = ref(4);

// Step Knöpfe
const disabledButtonNextStep = ref(true);
const disabledButtonPrevStep = ref(false);

// Step Knöpfe aktivieren
const enabledStepButtons = (state) => {
  disabledButtonNextStep.value = state;
  // disabledButtonPrevStep.value = state;
};

// Store - Einsatzbericht
const store = useOperationReportStore();
const {dataById, isLoading, operationReport} = storeToRefs(store);

// Store - Hilfsmittel Kategorien
const storeToolCategory = useToolCategoryStore();
const {dataForTable: toolCategories, isLoading: toolCategoriesIsLoading} = storeToRefs(storeToolCategory);
storeToolCategory.loadDataForOperationReport();

// Titel
const title = ref(menus.value.mainMenu.operationArea.children.operationReports.children.headlines.four);

// Aktiver Tab
const active = ref(0);

// Felder
const fieldComment = ref({
  // Kommentar
  comment: {
    autofocus: false,
    label: dialogs.value.operationReport.fields.comment.label,
    help: dialogs.value.operationReport.fields.comment.help,
    maxlength: dialogs.value.operationReport.fields.comment.maxlength,
    minlength: dialogs.value.operationReport.fields.comment.minlength,
    required: dialogs.value.operationReport.fields.comment.required
  },
})

/**
 *
 * @param tool
 * @param toolCategory
 * @returns {Promise<void>}
 */
const actionToolClick = async (tool, toolCategory) => {

  // Prüfen, ob das Mitglied schon zugewiesen wurde
  if (operationReport &&
      operationReport.value &&
      operationReport.value.tools &&
      operationReport.value.tools.allTools
  ) {

    let storeTools = operationReport.value.tools.allTools;
    let storeToolsComplete = operationReport.value.tools.toolsWithNumbers;

    // Noch kein Mitglied vorhanden hinzufügen
    if (storeToolsComplete && storeToolsComplete.length === 0) {
      storeToolsComplete.push({
        id: tool.id,
        toolCategory: {
          id: toolCategory.id,
          abbreviation: toolCategory.abbreviation,
          description: toolCategory.description,
        },
        abbreviation: tool.abbreviation,
        description: tool.description,
        numbers: 1
      });
    } else if (storeToolsComplete && storeToolsComplete.length > 0) {
      let findTool = storeToolsComplete.find(complete => complete.id === tool.id);
      // Wenn nicht vorhanden, dann neues Mitglied hinzufügen
      if (findTool === undefined) {
        storeToolsComplete.push({
          id: tool.id,
          toolCategory: {
            id: toolCategory.id,
            abbreviation: toolCategory.abbreviation,
            description: toolCategory.description,
          },
          abbreviation: tool.abbreviation,
          description: tool.description,
          numbers: 1
        });
      } else {
        // Index finden zum Entfernen
        let findToolIndex = storeToolsComplete.findIndex(complete => complete.id === tool.id);

        if (findToolIndex >= 0) {
          storeToolsComplete.splice(findToolIndex, 1);
        }
      }
    }
  }
}

/**
 * Prüfen, ob die erforderlichen Felder ausgefüllt sind
 * @returns {Promise<void>}
 */
const checkRequiredFields = () => {
  if (operationReport.value &&
      operationReport.value.tools &&
      operationReport.value.tools.toolsWithNumbers &&
      operationReport.value.tools.toolsWithNumbers.length > 0
  ) {
    // durchlaufen, ob überall mitglieder sind und eine funktion haben
    let isAllGood = [];

    for (let toolWithNumber of operationReport.value.tools.toolsWithNumbers) {
      // Wenn ein Hilfsmittel keine Anzahl hat
      if (toolWithNumber && toolWithNumber.numbers > 0) {
        isAllGood.push(false)
      } else {
        isAllGood.push(true)
      }
    }

    // hier sollte alles 'false' sein
    let isFalse = isAllGood.find((item) => item === true);

    if (isFalse === undefined) {
      // Weiter deaktiviert
      enabledStepButtons(false)
    } else {
      // Weiter aktivieren
      enabledStepButtons(true)
    }

  } else {
    enabledStepButtons(true)
  }
};

/**
 * Hinzufügen eines Standardhilfsmittel (Keine Hilfsmittel)
 * @returns {Promise<void>}
 */
const addDefaultTool = async () => {
  if (await toolCategories.value && await toolCategories.value.length > 0) {
    // Finden des eintrages
    const findCategory = await toolCategories.value.find(category => category.tools.length > 0 && category.tools.find(tool => tool.description === 'Keine Hilfsmittel'));

    // Finden der Kategorie
    if (findCategory) {
      const findNoTool = await findCategory.tools.find(tool => tool.description === 'Keine Hilfsmittel');

      // Finden das Hilfsmittel
      if (findNoTool) {
        let storeTools = operationReport.value.tools.allTools;
        let storeToolsComplete = operationReport.value.tools.toolsWithNumbers;

        // Nur hinzufügen, wenn noch keine Hilfsmittel vorhanden sind
        if (storeTools.length === 0) {
          storeToolsComplete.push({
            id: findNoTool.id,
            toolCategory: {
              id: findCategory.id,
              abbreviation: findCategory.abbreviation,
              description: findCategory.description,
            },
            abbreviation: findNoTool.abbreviation,
            description: findNoTool.description,
            numbers: 1
          });

          storeTools.push(findNoTool.id);

          // Standard Tab setzten (wo das Hilfsmittel einsortiert ist)
          active.value = await toolCategories.value.indexOf(findCategory)
        }
      }
    }
  }
}

onBeforeMount(async () => {
  await checkRequiredFields();
  // Hinzufügen das Standardhilfsmittel
  await addDefaultTool();
});

// Überwachung von den erforderlichen Feldern
watch(operationReport.value, () => {
  checkRequiredFields();
});

onMounted(() => {
  if (operationReport.value &&
      (operationReport.value.incomingAlert && !operationReport.value.incomingAlert.id) ||
      (operationReport.value.ownForces && !operationReport.value.ownForces.length < 0)
  ) {
    router.push({name: operationAreaNames.operationReportNewStepOne})
  }
});
</script>