<template>
  <!-- Knöpfe vor und zurück -->
  <step-changer :disabled-button-next-step="disabledButtonNextStep" :disabled-button-prev-step="disabledButtonPrevStep"
                :max-steps="maxSteps" :page-index="pageIndex" @prev-page="emit('prevPage',{pageIndex: pageIndex})"
                @next-page="emit('nextPage',{pageIndex: pageIndex})" @create-entry="itemAction('new')" @edit-entry="itemAction('edit')"/>

  <div class="grid grid-nogutter justify-content-between mb-4">
    <!-- Bereich mit dem Inhalt -->
    <div class="col-12 mt-3">
      <Card>
        <template #title>
          <!-- Laden Balken -->
          <div v-show="isLoading" class="col-12">
            <ProgressBar class="bg-yellow-900-900" mode="indeterminate" style="height: 6px"/>
          </div>
        </template>
        <template #content>
          <div class="grid text-center">
            <!-- Abschnitte mit dem FME Meldungen-->
            <div class="col-12 font-bold">
              <h2 class="underline">
                {{ sites.operationReport.stepTwo.headlineOriginalMessage }}
              </h2>
              <generate-formular :disabled-all-fieldComment="isLoading" :fields="fieldsOne"
                                 :item="operationReport.incomingAlert.item"
                                 :read-only-all-fieldComment="isLoading" :show-required-text="false"/>

            </div>
            <!-- Abschnitte mit dem Details zum Einsatzbericht-->
            <div class="col-12 font-bold">
              <h2 class="underline">
                {{ sites.operationReport.stepTwo.headlineOperationDetails }}
              </h2>
              <generate-formular :disabled-all-fieldComment="isLoading" :fields="fieldsTwo"
                                 :item="operationReport.operationReportDetail"
                                 :read-only-all-fieldComment="isLoading"
                                 @enabled-action-button="enabledStepButtons($event)"
                                 @fetch-last-fire-department="fetchLastNumberFireDepartment"
              />

            </div>

            <!-- Einsatzkräfte -->
            <!-- Tabelle mit Inhalt -->
            <div class="col-12">
              <DataTable ref="dt"
                         :rowHover="true" :value="operationReport.otherTaskForces"
                         class="p-datatable-sm" columnResizeMode="fit" dataKey="id"
                         lazy
                         sortMode="multiple"
                         stripedRows>

                <!-- Kopf über der Tabelle -->
                <template #header>
                  <div class="grid ">
                    <!-- Text ganz links -->
                    <div class="col-12 m-auto text-center">
                      <h2 class="ml-2">{{ headerText }}</h2>
                      <h4 class="ml-2">{{ headerSubText }}</h4>
                    </div>
                  </div>
                </template>

                <!-- Standard Meldungen -->
                <template #empty class="flex">
                  <div class="flex-none flex align-items-center justify-content-center font-bold">{{
                      components.dataTable.emptyItems
                    }}
                  </div>
                </template>
                <!-- Daten werden geladen -->
                <template #loading>
                  <ProgressSpinner/>
                </template>
                <!--    <template #loading>{{ components.dataTable.loadingItems }} </template>-->

                <!-- Erstellen der Einzelnen Spalten -->
                <template v-for="col of tableColumns">
                  <Column v-if="col.showing" :key="col.field"
                          :field="col.field" :header="col.header"
                          :sortable="true"
                          class="text-center">
                    <template #body="{ data, field }">
                      {{ data[field] }}
                    </template>
                    <template #editor="{ data, field }">
                      <InputText v-model="data[field]" autofocus/>
                    </template>
                  </Column>
                </template>

                <!-- Aktions Spalte -->
                <column :header="components.dataTable.columnActionsHeadline" style="width: 10rem">
                  <template #body="slotProps">
                    <!-- löschen -->
                    <Button v-tooltip="components.dataTable.buttons.deleteItem.tooltip"
                            :aria-describedby="`Delete-${slotProps.data.id}`"
                            :icon="components.dataTable.buttons.deleteItem.icon"
                            aria-label="Delete Item"
                            class="m-1"
                            rounded
                            severity="danger" text @click="deleteEntry(slotProps)"/>
                  </template>
                </column>
              </DataTable>
            </div>

            <!-- Einsatzkräfte - Details -->
            <div class="col-12 grid">
              <template v-for="(vehicle, index) in operationReport.ownForces.vehiclesWithMemberAndFunction">
                <div class="col-4 lg:col-3 p-3">
                  <div class="col-12 text-center">
                    <h3 class="font-weight-bold underline">{{ vehicle.description }}</h3>
                  </div>
                  <template v-for="(member, index) in sortMembers(vehicle.members)">
                    <div class="col-5 m-0 p-0 text-left font-medium">
                      <span> {{ member.surname }}, {{ member.firstname }}</span>
                    </div>
                    <div class="col-7 m-0 p-0 text-left">
                      <span class="ml-3">{{
                          member.operationFunctionDetails.description
                        }} ({{ member.operationFunctionDetails.abbreviation }})</span>
                    </div>
                  </template>
                </div>
              </template>
            </div>

            <!-- Hilfsmittel -->
            <div class="col-12 grid">
              <template v-for="(tool, index) in operationReport.tools.toolsWithNumbers">
                <div class="col-3 p-3 grid">
                  <div class="col-12 m-0 p-0 text-left">
                    <h3 class="font-weight-bold underline">{{ tool.toolCategory.description }}</h3>
                  </div>
                  <div class="col-6 m-0 p-0 text-left">
                    <span> {{ tool.description }}</span>
                  </div>
                  <div class="col-2 m-0 p-0 text-left">
                    <span>{{ tool.numbers }}</span>
                  </div>
                </div>
              </template>
            </div>


            <!-- Allgemeiner Kommentar -->
            <div class="col-12 font-bold">
              <span class="p-float-label">
                <Textarea id="comment" v-model="operationReport.comment"
                          :autofocus="fieldComment.comment.autofocus" :disabled="isLoading"
                          :maxlength="fieldComment.comment.maxlength"
                          :minlength="fieldComment.comment.minlength"
                          :readonly="isLoading"
                          :required="fieldComment.comment.required"
                          aria-describedby="comment-help"
                          class="min-w-full" rows="5"/>
                <label for="comment"><required-star v-if="fieldComment.comment.required"/>{{
                    fieldComment.comment.label
                  }}</label>
              </span>
              <div class="flex justify-content-between flex-wrap m-2">
                <small v-if="operationReport.comment" class="fadeinleft animation-duration-200 font-light font-italic">
                  {{ generals.numberOfCharacters }} {{
                    operationReport.comment.length
                  }}/{{ fieldComment.comment.maxlength }}</small>
                <small id="comment-help">{{ fieldComment.comment.help }}</small>
              </div>
            </div>

            <!-- Meldung Pflichtfelder -->
            <div class="col-12 text-left">
              <required-text/>
            </div>
          </div>
        </template>
      </Card>
    </div>
  </div>
</template>
<script setup>
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import {onMounted, ref} from "vue";
import {useOperationReportStore} from "@/stores/OperationArea/operationReport";
import RequiredStar from "@/components/RequiredStar.vue";
import RequiredText from "@/components/RequiredText.vue";
import {operationAreaNames} from "@/router/default";
import {useRoute, useRouter} from "vue-router";
import StepChanger from "@/components/StepChanger.vue";
import GenerateFormular from "@/components/GenerateFormular.vue";
import {useOperationTypeCategoryStore} from "@/stores/ReferenceArea/operationTypeCategory";
import {useEntityStore} from "@/stores/entity";

const emit = defineEmits(['addToast', 'prevPage', 'nextPage', 'createEntry'])

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  // Felder
  maxSteps: {
    type: Number,
    required: true
  }
});

// Vue Router
const router = useRouter();
const route = useRoute();

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components, menus, sites, dialogs, generals} = storeToRefs(storeTranslation)

// Step Index
const pageIndex = ref(5);

// Step Knöpfe
const disabledButtonNextStep = ref(true);
const disabledButtonPrevStep = ref(false);

// Step Knöpfe aktivieren
const enabledStepButtons = (state) => {
  disabledButtonNextStep.value = state;
};

// Store - Entity
const storeEntity = useEntityStore();
const {result} = storeToRefs(storeEntity)

// Store - Einsatzbericht
const store = useOperationReportStore();
const {dataById, isLoading, operationReport} = storeToRefs(store);

// Store - Einsatzart Kategories
const storeOperationReportCategory = useOperationTypeCategoryStore();
const {
  dataForDropdownGroup: operationReportCategories,
  isLoading: operationReportCategoriesIsLoading
} = storeToRefs(storeOperationReportCategory);
storeOperationReportCategory.loadDataForDropdown();


// Titel
const title = ref(menus.value.mainMenu.operationArea.children.operationReports.children.headlines.six);

// Felder

// Felder
const fieldsOne = ref({
  // Originaler Einsatztext
  messageComplete: {
    fieldType: 'textarea',
    cssClass: 'col-12',
    row: 2,
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.messageComplete.label,
    help: dialogs.value.operationReport.fields.messageComplete.help,
    maxlength: dialogs.value.operationReport.fields.messageComplete.maxlength,
    minlength: dialogs.value.operationReport.fields.messageComplete.minlength,
    required: dialogs.value.operationReport.fields.messageComplete.required
  },
  // Alarmzeit
  incomingDateTime: {
    fieldType: 'calendar',
    cssClass: 'col-3',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.incomingDateTime.label,
    help: dialogs.value.operationReport.fields.incomingDateTime.help,
    maxlength: dialogs.value.operationReport.fields.incomingDateTime.maxlength,
    minlength: dialogs.value.operationReport.fields.incomingDateTime.minlength,
    required: dialogs.value.operationReport.fields.incomingDateTime.required
  },
  // Alarm Text
  text: {
    fieldType: 'inputText',
    cssClass: 'col-9',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.text.label,
    help: dialogs.value.operationReport.fields.text.help,
    maxlength: dialogs.value.operationReport.fields.text.maxlength,
    minlength: dialogs.value.operationReport.fields.text.minlength,
    required: dialogs.value.operationReport.fields.text.required
  }
})

// Felder
const fieldsTwo = ref({
  // Einsatzart
  operationType: {
    fieldType: 'dropDown',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    optionGroupChildren: 'items',
    optionLabel: 'description',
    group: true,
    autofocus: true,
    disabled: true,
    label: dialogs.value.operationReport.fields.operationType.label,
    help: dialogs.value.operationReport.fields.operationType.help,
    required: dialogs.value.operationReport.fields.operationType.required,
    options: operationReportCategories,
    loading: operationReportCategoriesIsLoading
  },
  // Einsatz - Beginn
  startetAt: {
    fieldType: 'calendar',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.startetAt.label,
    help: dialogs.value.operationReport.fields.startetAt.help,
    maxlength: dialogs.value.operationReport.fields.startetAt.maxlength,
    minlength: dialogs.value.operationReport.fields.startetAt.minlength,
    required: dialogs.value.operationReport.fields.startetAt.required
  },
  // Einsatz - Ende
  endetAt: {
    fieldType: 'calendar',
    cssClass: 'sm:col-12 lg:col-3 md:col-4 border-dashed border-primary-500',
    autofocus: false,
    label: dialogs.value.operationReport.fields.endetAt.label,
    help: dialogs.value.operationReport.fields.endetAt.help,
    maxlength: dialogs.value.operationReport.fields.endetAt.maxlength,
    minlength: dialogs.value.operationReport.fields.endetAt.minlength,
    required: dialogs.value.operationReport.fields.endetAt.required
  },
  // Nummer IRLS
  numberControlCenter: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.numberControlCenter.label,
    help: dialogs.value.operationReport.fields.numberControlCenter.help,
    maxlength: dialogs.value.operationReport.fields.numberControlCenter.maxlength,
    minlength: dialogs.value.operationReport.fields.numberControlCenter.minlength,
    required: dialogs.value.operationReport.fields.numberControlCenter.required
  },
  // Stichwort kurz
  keywordShort: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.keywordShort.label,
    help: dialogs.value.operationReport.fields.keywordShort.help,
    maxlength: dialogs.value.operationReport.fields.keywordShort.maxlength,
    minlength: dialogs.value.operationReport.fields.keywordShort.minlength,
    required: dialogs.value.operationReport.fields.keywordShort.required
  },
  // Stichwort lang
  keywordLong: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-6',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.keywordLong.label,
    help: dialogs.value.operationReport.fields.keywordLong.help,
    maxlength: dialogs.value.operationReport.fields.keywordLong.maxlength,
    minlength: dialogs.value.operationReport.fields.keywordLong.minlength,
    required: dialogs.value.operationReport.fields.keywordLong.required
  },
  // Postleitzahl
  postalCode: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.postalCode.label,
    help: dialogs.value.operationReport.fields.postalCode.help,
    maxlength: dialogs.value.operationReport.fields.postalCode.maxlength,
    minlength: dialogs.value.operationReport.fields.postalCode.minlength,
    required: dialogs.value.operationReport.fields.postalCode.required
  },
  // Ort bzw. Gemeinde
  place: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.place.label,
    help: dialogs.value.operationReport.fields.place.help,
    maxlength: dialogs.value.operationReport.fields.place.maxlength,
    minlength: dialogs.value.operationReport.fields.place.minlength,
    required: dialogs.value.operationReport.fields.place.required
  },
  // Straße mit H.-Nr
  streetWithNumber: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.streetWithNumber.label,
    help: dialogs.value.operationReport.fields.streetWithNumber.help,
    maxlength: dialogs.value.operationReport.fields.streetWithNumber.maxlength,
    minlength: dialogs.value.operationReport.fields.streetWithNumber.minlength,
    required: dialogs.value.operationReport.fields.streetWithNumber.required
  },
  // Ort-Gemeinde
  location: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-6',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.location.label,
    help: dialogs.value.operationReport.fields.location.help,
    maxlength: dialogs.value.operationReport.fields.location.maxlength,
    minlength: dialogs.value.operationReport.fields.location.minlength,
    required: dialogs.value.operationReport.fields.location.required
  },
  // Objekt / Gebäude
  otherAddressInformation: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.otherAddressInformation.label,
    help: dialogs.value.operationReport.fields.otherAddressInformation.help,
    maxlength: dialogs.value.operationReport.fields.otherAddressInformation.maxlength,
    minlength: dialogs.value.operationReport.fields.otherAddressInformation.minlength,
    required: dialogs.value.operationReport.fields.otherAddressInformation.required
  },
  // Person bzw. Patient
  personPatient: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.personPatient.label,
    help: dialogs.value.operationReport.fields.personPatient.help,
    maxlength: dialogs.value.operationReport.fields.personPatient.maxlength,
    minlength: dialogs.value.operationReport.fields.personPatient.minlength,
    required: dialogs.value.operationReport.fields.personPatient.required
  },
  // Nummer Fw
  numberFireDepartment: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    withIcon: true,
    disabled: true,
    icon: 'pi pi-refresh cursor-pointer',
    actionMethode: 'fetchLastFireDepartment',
    label: dialogs.value.operationReport.fields.numberFireDepartment.label,
    help: dialogs.value.operationReport.fields.numberFireDepartment.help,
    maxlength: dialogs.value.operationReport.fields.numberFireDepartment.maxlength,
    minlength: dialogs.value.operationReport.fields.numberFireDepartment.minlength,
    required: dialogs.value.operationReport.fields.numberFireDepartment.required
  },
  // Nummer Pol
  numberPolice: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 lg:col-3 md:col-4',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.numberPolice.label,
    help: dialogs.value.operationReport.fields.numberPolice.help,
    maxlength: dialogs.value.operationReport.fields.numberPolice.maxlength,
    minlength: dialogs.value.operationReport.fields.numberPolice.minlength,
    required: dialogs.value.operationReport.fields.numberPolice.required
  },
  // Alarm Text
  text: {
    fieldType: 'inputText',
    cssClass: 'sm:col-12 col-12',
    autofocus: false,
    disabled: true,
    label: dialogs.value.operationReport.fields.text.label,
    help: dialogs.value.operationReport.fields.text.help,
    maxlength: dialogs.value.operationReport.fields.text.maxlength,
    minlength: dialogs.value.operationReport.fields.text.minlength,
    required: dialogs.value.operationReport.fields.text.required
  },

})

const fieldComment = ref({
  // Kommentar
  comment: {
    autofocus: false,
    label: dialogs.value.operationReport.fields.comment.label,
    help: dialogs.value.operationReport.fields.comment.help,
    maxlength: dialogs.value.operationReport.fields.comment.maxlength,
    minlength: dialogs.value.operationReport.fields.comment.minlength,
    required: dialogs.value.operationReport.fields.comment.required
  },
})

const headerText = ref(sites.value.operationReport.stepFour.table.headline);
const headerSubText = ref(sites.value.operationReport.stepFour.table.subHeadline);

// Tabellen Spalten
const tableColumns = ref([
  {
    field: 'id',
    header: sites.value.operationReport.stepFour.table.columns.id,
    showing: false,
  },
  {
    field: 'rescueOrganizations',
    header: sites.value.operationReport.stepFour.table.columns.rescueOrganizations,
    showing: true,
  },
  {
    field: 'numberOfForces',
    header: sites.value.operationReport.stepFour.table.columns.numberOfForces,
    showing: true,
  },
  {
    field: 'vehicles',
    header: sites.value.operationReport.stepFour.table.columns.vehicles,
    showing: true,
  },
  {
    field: 'comment',
    header: sites.value.operationReport.stepFour.table.columns.comment,
    showing: true,
  },
]);

/**
 * Abrufen der letzten Einsatznummer
 * @returns {Promise<void>}
 */
const fetchLastNumberFireDepartment = async () => {
  // Abrufen der letzten Einsatznummer
  await store.loadLastNumberFireDepartment();

  // Nummer festlegen
  while (await lastNumberFireDepartment.value && lastNumberFireDepartment.value.next && !operationReport.value.operationReportDetail.numberFireDepartment) {
    operationReport.value.operationReportDetail.numberFireDepartment = await lastNumberFireDepartment.value.next;
  }
}

const sortMembers = (data) => {
  if (data) {
    return data.sort(function (a, b) {
      if (a.operationFunctionDetails.sorting < b.operationFunctionDetails.sorting) {
        return 1;
      }
      if (a.operationFunctionDetails.sorting > b.operationFunctionDetails.sorting) {
        return -1;
      }
      return 0;
    })
  }
}

onMounted(() => {
  if (operationReport.value &&
      (operationReport.value.incomingAlert && !operationReport.value.incomingAlert.id) ||
      (operationReport.value.ownForces && !operationReport.value.ownForces.length < 0)
  ) {
    router.push({name: operationAreaNames.operationReportNewStepOne})
  }
});

// Name des Entity
const nameOfEntity = 'OperationReport';

// Aktionen beim Drücken des jeweiligen Knopfes
const itemAction = async (type, params) => {
  console.log("=>(StepSix.vue:565) type", type);
  // await removeErrors();
  let toastType = "";

  await store.transferDataEntry();

  if (type && type === 'new') {
    toastType = "created";
    await storeEntity.itemAction(nameOfEntity, dataById.value, type);
  } else if (type && type === 'edit' && route && route.params && route.params.id) {
    console.log('edit')
    toastType = "updated";
    dataById.value.id = route.params.id;
    await storeEntity.itemAction(nameOfEntity, dataById.value, type);
    // await store.loadDataById(item.value.id);
  } else if (type && type === 'delete') {
    toastType = "deleted";
    await storeEntity.itemAction(nameOfEntity, item.value, type);
  }

  // Prüfen, ob der Vorgang erfolgreich war
  if (await result.value.status === "success") {
    // Entfernen des Cache Eintrages
    await deleteCacheEntry(operationReport.value);

    await emit('addToast', {
      severity: 'success',
      summary: `${components.value.toastMessage[toastType].title}`,
      detail: `${components.value.toastMessage[toastType].message}`
    });

    await store.resetDefaultDataById();
    await router.push({name: `${operationAreaNames.operationReports}`})

  } else {
    // Keine Rechte Vorhanden
    if (result.value.status === 403) {
      await emit('addToast', {
        severity: 'error',
        summary: `${components.value.toastMessage['noRight'].title}`,
        detail: `${components.value.toastMessage['noRight'].message}`
      })
    } else {
      await emit('addToast', {
        severity: 'warn',
        summary: `${components.value.toastMessage['failed'].title}`,
        detail: `${components.value.toastMessage['failed'].message}`
      })
      // Fehler Felder einfärben
      if (result.value.errors) {
        await result.value.errors.forEach(error => {
          let element = document.getElementById(error.field);
          element.classList.add('p-invalid')
        });
      }
    }
  }
};

// Entfernen der 'Fehler' classes bei Fehler
const removeErrors = async () => {
  await document.querySelectorAll(".p-invalid").forEach(el => el.classList.remove('p-invalid'));
};

// Name des Entity
const nameOfEntityCache = 'OperationReportCache';

// Aktionen beim Drücken des jeweiligen Knopfes
const itemActionCache = async (type, item) => {
  let toastType = "";

  if (type === 'delete') {
    toastType = "deleted";
    await storeEntity.itemAction(nameOfEntityCache, item, type);
  } else if (type === 'autoSave') {
    if (item && item.id) {
      toastType = "updated";
      await storeEntity.itemAction(nameOfEntityCache, item, 'edit');
    } else {
      toastType = "created";
      await storeEntity.itemAction(nameOfEntityCache, item, 'new');
    }
  }

  // Prüfen, ob der Vorgang erfolgreich war
  if (await result.value.status === "success") {
    operationReport.value.id = result.value.item.id;
    await emit('addToast', {
      severity: 'success',
      summary: `${components.value.toastMessage[toastType].title}`,
      detail: `${components.value.toastMessage[toastType].message}`
    })
  } else {
    // Keine Rechte Vorhanden
    if (result.value.status === 403) {
      await emit('addToast', {
        severity: 'error',
        summary: `${components.value.toastMessage['noRight'].title}`,
        detail: `${components.value.toastMessage['noRight'].message}`
      })
    } else {
      await emit('addToast', {
        severity: 'warn',
        summary: `${components.value.toastMessage['failed'].title}`,
        detail: `${components.value.toastMessage['failed'].message}`
      })
      // Fehler Felder einfärben
      if (result.value.errors) {
        await result.value.errors.forEach(error => {
          let element = document.getElementById(error.field);
          element.classList.add('p-invalid')
        });
      }
    }
  }
};

// Eintrag löschen
const deleteCacheEntry = async (data) => {
  if (data && data.id) {
    await itemActionCache('delete', data)
    await store.resetDefaultDataById();
  } else if (operationReport.value && operationReport.value.incomingAlert &&
      !operationReport.value.incomingAlert.id) {
    await emit('addToast', {
      severity: 'warn',
      summary: `${components.value.toastMessage['noEntryFound'].title}`,
      detail: `${components.value.toastMessage['noEntryFound'].message}`
    })
  } else {
    await emit('addToast', {
      severity: 'warn',
      summary: `${components.value.toastMessage['failed'].title}`,
      detail: `${components.value.toastMessage['failed'].message}`
    })
  }
}

</script>