<template>
  <div class="grid">
    <div class="col-12 text-center">
      <Button :disabled="buttonDisabled || item.password !== item.passwordRepeat" :label="components.dialog.buttonSave" severity="secondary" raised
              @click="itemAction('edit')"/>
    </div>
    <div class="col-12">
      <!-- Inhalt -->
      <generate-formular :disabled-all-fields="isLoading" :fields="fields" :item="dataById"
                         @enabled-action-button="buttonDisabled = $event" :read-only-all-fields="isLoading"/>
    </div>
  </div>
</template>
<script setup>
import {onMounted, ref, watch} from "vue";
import {useTranslationStore} from "@/stores/translation";
import {useEntityStore} from "@/stores/entity";
import {storeToRefs} from "pinia";
import {useUserStore} from "@/stores/Managements/user";
import GenerateFormular from "@/components/GenerateFormular.vue";
import {useLoggedUserStore} from "@/stores/loggedUser";

// Events die abgefeuert werden
const emit = defineEmits(['addToast'])

// Store - angemeldeter Nutzer
const storeLoggedUser = useLoggedUserStore();
const {loggedUser} = storeToRefs(storeLoggedUser);

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components, dialogs} = storeToRefs(storeTranslation);

// Store - Entity
const storeEntity = useEntityStore();
const {result} = storeToRefs(storeEntity)

// Store - Nutzer
const store = useUserStore();
const {dataById, isLoading} = storeToRefs(store);

// Name des Entity
const nameOfEntity = 'UserPassword';
// Element
const item = ref(dataById);

const buttonDisabled = ref(true);

const fields = ref({
  // Password Alt
  passwordOld: {
    fieldType: 'password',
    cssClass: 'col-4',
    autofocus: false,
    label: dialogs.value.user.fields.passwordOld.label,
    help: dialogs.value.user.fields.passwordOld.help,
    maxlength: dialogs.value.user.fields.passwordOld.maxlength,
    minlength: dialogs.value.user.fields.passwordOld.minlength,
    required: dialogs.value.user.fields.passwordOld.required
  },
  // Password
  password: {
    fieldType: 'password',
    cssClass: 'col-4',
    autofocus: false,
    label: dialogs.value.user.fields.password.label,
    help: dialogs.value.user.fields.password.help,
    maxlength: dialogs.value.user.fields.password.maxlength,
    minlength: dialogs.value.user.fields.password.minlength,
    required: dialogs.value.user.fields.password.required
  },
  // Password Wiederholung
  passwordRepeat: {
    fieldType: 'password',
    cssClass: 'col-4',
    autofocus: false,
    label: dialogs.value.user.fields.passwordRepeat.label,
    help: dialogs.value.user.fields.passwordRepeat.help,
    maxlength: dialogs.value.user.fields.passwordRepeat.maxlength,
    minlength: dialogs.value.user.fields.passwordRepeat.minlength,
    required: dialogs.value.user.fields.passwordRepeat.required
  }
});

// Aktionen beim Drücken des jeweiligen Knopfes
const itemAction = async (type) => {
  // await removeErrors();
  let toastType = "";

  toastType = "updated";
  await storeEntity.itemAction(nameOfEntity, item.value, type);

  // Prüfen, ob der Vorgang erfolgreich war
  if (await result.value.status === "success") {
    await emit('addToast', {
      severity: 'success',
      summary: `${components.value.toastMessage[toastType].title}`,
      detail: `${components.value.toastMessage[toastType].message}`
    })
  } else {
    // Keine Rechte Vorhanden
    if (result.value.status === 403) {
      await emit('addToast', {
        severity: 'error',
        summary: `${components.value.toastMessage['noRight'].title}`,
        detail: `${components.value.toastMessage['noRight'].message}`
      })
    } else {
      await emit('addToast', {
        severity: 'warn',
        summary: `${components.value.toastMessage['failed'].title}`,
        detail: `${components.value.toastMessage['failed'].message} ${result.value.errors[0].message}`
      })
      // Fehler Felder einfärben
      if (result.value.errors) {
        await result.value.errors.forEach(error => {
          let element = document.getElementById(error.field);
          element.classList.add('p-invalid')
        });
      }
    }
  }
};

// Entfernen der 'Fehler' classes bei Fehler
const removeErrors = async () => {
  await document.querySelectorAll(".p-invalid").forEach(el => el.classList.remove('p-invalid'));
};

onMounted(async () => {
  await store.loadDataById(loggedUser.value.id);
});

// Überwachung von den erforderlichen Feldern
watch(item, (newValue) => {
  if (fields.value.password) {
    if (item.value.password !== item.value.passwordRepeat) {
      fields.value.password.help = `${components.value.passwordInput.passwordRepeatError}`;
    } else {
      fields.value.password.help = `${dialogs.value.user.fields.password.help}`;
    }
  }
}, {
  deep: true
});
</script>