<template>
  <div class="grid">
    <div class="col-12 text-center">
      <Button :disabled="buttonDisabled" :label="components.dialog.buttonSave" severity="secondary" raised @click="itemAction('edit')"/>
    </div>
    <div class="col-12 grid nested-grid">
      <!-- Inhalt -->
      <generate-formular :disabled-all-fields="isLoading" :fields="fields" :item="dataById"
                         :read-only-all-fields="isLoading" @enabled-action-button="buttonDisabled = $event"/>
    </div>

    <div class="col-12 text-center">
      <h4>{{ dialogs.user.fields.myAlertAddresses.label }}</h4>
    </div>
    <ul class="list-disc grid nested-grid col-12 m-2">
      <li class="md:col-5 lg:col-4 " v-for="address in dataById.myAlertAddresses">
        {{ address }}
      </li>
    </ul>

    <div class="col-12 text-center">
      <h4>{{ dialogs.user.fields.roles.label }}</h4>
    </div>
    <ul class="list-disc grid nested-grid col-12 m-2">
      <li class="md:col-5 lg:col-3" v-for="role in dataById.roles">
        {{ role }}
      </li>
      <li class="md:col-5 lg:col-3" v-for="roleInherited in loggedUser.rolesInherited">
        {{ roleInherited }}
      </li>
    </ul>
  </div>
</template>
<script setup>
import {onMounted, ref} from "vue";
import {useTranslationStore} from "@/stores/translation";
import {useEntityStore} from "@/stores/entity";
import {storeToRefs} from "pinia";
import {useUserStore} from "@/stores/Managements/user";
import {useFederalStateStore} from "@/stores/ProvisioningArea/federalState";
import {useDepartmentStore} from "@/stores/ReferenceArea/department";
import {useUserRoleStore} from "@/stores/ProvisioningArea/userRole";
import {useAlertAddressStore} from "@/stores/Managements/alertAddress";
import GenerateFormular from "@/components/GenerateFormular.vue";
import {useLoggedUserStore} from "@/stores/loggedUser";
import {checkUserRight} from "@/utils";

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  loggedUser: {
    type: Object,
    required: true
  }
});

// Events die abgefeuert werden
const emit = defineEmits(['addToast'])

// Store - angemeldeter Nutzer
const storeLoggedUser = useLoggedUserStore();
const {loggedUser} = storeToRefs(storeLoggedUser);

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {components, dialogs} = storeToRefs(storeTranslation);

// Store - Entity
const storeEntity = useEntityStore();
const {result} = storeToRefs(storeEntity)

// Store - Nutzer
const store = useUserStore();
const {dataById, isLoading} = storeToRefs(store);

// Store - Bundesländer
const storeFederalState = useFederalStateStore();
const {dataForDropdown: federalStates, isLoading: federalsStatesIsLoading} = storeToRefs(storeFederalState);
storeFederalState.loadDataForDropdown();

// Store - Dienststelle
const storeDepartment = useDepartmentStore();
const {dataForDropdown: departments, isLoading: departmentsIsLoading} = storeToRefs(storeDepartment);
storeDepartment.loadDataForDropdown();

// Store - Nutzerrollen
const storeUserRole = useUserRoleStore();
const {dataForDropdown: userRoles, isLoading: userRoleIsLoading} = storeToRefs(storeUserRole);
storeUserRole.loadDataForDropdown();

// Store - Alarm Adressen
const storeAlertAddress = useAlertAddressStore();
const {dataForDropdown: alertAddresses, isLoading: alertAddressIsLoading} = storeToRefs(storeAlertAddress);
storeAlertAddress.loadDataForDropdown();

const buttonDisabled = ref(true);

const fields = ref({
  // Bundesland
  federalState: {
    fieldType: 'dropDown',
    cssClass: 'col-6',
    autofocus: false,
    disabled: true,
    readonly: true,
    label: dialogs.value.user.fields.federalState.label,
    help: dialogs.value.user.fields.federalState.help,
    required: dialogs.value.user.fields.federalState.required,
    options: federalStates,
    loading: federalsStatesIsLoading
  },
  // Dienstelle
  department: {
    fieldType: 'dropDown',
    cssClass: 'col-6',
    autofocus: false,
    disabled: true,
    readonly: true,
    label: dialogs.value.user.fields.department.label,
    help: dialogs.value.user.fields.department.help,
    required: dialogs.value.user.fields.department.required,
    options: departments,
    loading: departmentsIsLoading
  },
  // Nachname
  surname: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: true,
    label: dialogs.value.user.fields.surname.label,
    help: dialogs.value.user.fields.surname.help,
    maxlength: dialogs.value.user.fields.surname.maxlength,
    minlength: dialogs.value.user.fields.surname.minlength,
    required: dialogs.value.user.fields.surname.required
  },
  // Vorname
  firstname: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.user.fields.firstname.label,
    help: dialogs.value.user.fields.firstname.help,
    maxlength: dialogs.value.user.fields.firstname.maxlength,
    minlength: dialogs.value.user.fields.firstname.minlength,
    required: dialogs.value.user.fields.firstname.required
  },
  // E-Mail Adresse
  email: {
    fieldType: 'inputText',
    cssClass: 'col-6',
    autofocus: false,
    label: dialogs.value.user.fields.email.label,
    help: dialogs.value.user.fields.email.help,
    maxlength: dialogs.value.user.fields.email.maxlength,
    minlength: dialogs.value.user.fields.email.minlength,
    required: dialogs.value.user.fields.email.required
  },
  // Nutzerrollen
  roles: {
    fieldType: 'multiSelect',
    cssClass: 'col-6',
    maxSelectedLabels: 2,
    optionsLabel: 'label',
    optionsValue: 'value',
    autofocus: false,
    disabled: !checkUserRight(props.loggedUser.roles, ["ROLE_FULL_ADMINISTRATOR", "ROLE_DEPARTEMENT_ADMINISTRATOR"]),
    readonly: true,
    label: dialogs.value.user.fields.roles.label,
    help: dialogs.value.user.fields.roles.help,
    required: dialogs.value.user.fields.roles.required,
    options: userRoles,
    loading: userRoleIsLoading
  },
  // Alarm Adressen
  myAlertAddresses: {
    fieldType: 'multiSelect',
    cssClass: 'col-6',
    maxSelectedLabels: 2,
    optionsLabel: 'label',
    optionsValue: 'label',
    autofocus: false,
    disabled: !checkUserRight(props.loggedUser.roles, ["ROLE_FULL_ADMINISTRATOR", "ROLE_DEPARTEMENT_ADMINISTRATOR"]),
    readonly: true,
    label: dialogs.value.user.fields.myAlertAddresses.label,
    help: dialogs.value.user.fields.myAlertAddresses.help,
    required: dialogs.value.user.fields.myAlertAddresses.required,
    options: alertAddresses,
    loading: alertAddressIsLoading
  },
  // Kommentar
  comment: {
    fieldType: 'inputText',
    cssClass: 'col-12',
    autofocus: false,
    label: dialogs.value.user.fields.comment.label,
    help: dialogs.value.user.fields.comment.help,
    maxlength: dialogs.value.user.fields.comment.maxlength,
    minlength: dialogs.value.user.fields.comment.minlength,
    required: dialogs.value.user.fields.comment.required
  }
});

// Element
const item = ref(dataById);

// Name des Entity
const nameOfEntity = 'User';

// Aktionen beim Drücken des jeweiligen Knopfes
const itemAction = async (type) => {
  // await removeErrors();
  let toastType = "";

  toastType = "updated";
  await storeEntity.itemAction(nameOfEntity, item.value, type);

  // Prüfen, ob der Vorgang erfolgreich war
  if (await result.value.status === "success") {
    await emit('addToast', {
      severity: 'success',
      summary: `${components.value.toastMessage[toastType].title}`,
      detail: `${components.value.toastMessage[toastType].message}`
    })
  } else {
    // Keine Rechte Vorhanden
    if (result.value.status === 403) {
      await emit('addToast', {
        severity: 'error',
        summary: `${components.value.toastMessage['noRight'].title}`,
        detail: `${components.value.toastMessage['noRight'].message}`
      })
    } else {
      await emit('addToast', {
        severity: 'warn',
        summary: `${components.value.toastMessage['failed'].title}`,
        detail: `${components.value.toastMessage['failed'].message}`
      })
      // Fehler Felder einfärben
      if (result.value.errors) {
        await result.value.errors.forEach(error => {
          let element = document.getElementById(error.field);
          element.classList.add('p-invalid')
        });
      }
    }
  }
};

// Entfernen der 'Fehler' classes bei Fehler
const removeErrors = async () => {
  await document.querySelectorAll(".p-invalid").forEach(el => el.classList.remove('p-invalid'));
};

onMounted(async () => {
  await store.loadDataById(loggedUser.value.id);
})
</script>