<template>
  <div class="grid m-2">
    <div class="col-12">
      <default-table :columns="tableColumns" :data-for-table="dataForTable" :data-total-count="dataTotalCount"
                     :enabled-buttons="enabledButtons" :filters="tableFilters"
                     :global-filter-fields="globalFilterFields" :header-text="headerText"
                     :loading="isLoading"
                     :state-key="stateKey"
                     :multi-sort-meta="multiSortMeta"
                     :view-selected-columns="true"
                     :label-from-button-add="menus.mainMenu.referenceArea.children.departments.children.label"
                     @item-add="actionOnButton('new')"
                     @item-edit="actionOnButton('edit', $event.id)"
                     @item-delete="actionOnButton('delete', $event.id)"
                     @fetch-data="fetch($event)"
      />
    </div>
  </div>
</template>
<script setup>

import {storeToRefs} from "pinia";
import DefaultTable from "@/components/DefaultTable.vue";
import {FilterMatchMode} from "primevue/api";
import {getCurrentInstance, onBeforeMount, ref} from "vue";
import {referenceAreaNames} from "@/router/default";
import router from "@/router";
import {useTranslationStore} from "@/stores/translation";
import {useDepartmentStore} from "@/stores/ReferenceArea/department";
import {useDefaultRightRoleStore} from "@/stores/defaultRightRole";
import {addedFullAdminColumns, checkUserRight} from "@/utils";

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  loggedUser: {
    type: Object,
    required: true
  }
});

// Name im Browser Store
const stateKey = `${getCurrentInstance().type.__name}`

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {dataTables, menus} = storeToRefs(storeTranslation);

// Store - Berechtigung
const storeDefaultRightRole = useDefaultRightRoleStore();
const {right } = storeDefaultRightRole;

// Store - Dienststellen
const store = useDepartmentStore();
const {dataForTable, dataTotalCount, dataFilterCount, isLoading} = storeToRefs(store);

// Filter für die Tabelle
const globalFilterFields = ['abbreviation', 'description', 'fS.description', 'zipCode', 'placeName', 'street', 'comment'];
const tableFilters = {
  'global': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'id': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'isVisibility': {value: null, matchMode: FilterMatchMode.EQUALS},
  'fS.description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'abbreviation': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'description': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'zipCode': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'placeName': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'street': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'comment': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'users': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'vehicles': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'toolCategories': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'alertAddresses': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'members': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'incomingAlerts': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'operationReports': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'createdAt': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'createdFrom': {value: null, matchMode: FilterMatchMode.CONTAINS},
  'updatedAt': {value: null, matchMode: FilterMatchMode.STARTS_WITH},
  'updatedFrom': {value: null, matchMode: FilterMatchMode.CONTAINS}
};

// Abschalten der Knöpfe Aktionen, je nach Berechtigung
const enabledButtons = ref({
  add: checkUserRight(props.loggedUser.roles, right.department.new),
  edit: checkUserRight(props.loggedUser.roles, right.department.edit),
  delete: checkUserRight(props.loggedUser.roles, right.department.delete)
});

// Überschrift
const headerText = ref(dataTables.value.departments.headline);

// Spalten für die Tabelle
const tableColumns = ref([]);
const tableColumnsDefault = ref([
  {
    field: 'id',
    sorting: 0,
    header: dataTables.value.departments.columns.id,
    showing: true,
    filter: false,
    sortable: false,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'fS.description',
    sorting: 4,
    mainField: 'federalState',
    hasSubfield: true,
    header: dataTables.value.departments.columns.federalState,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'zipCode',
    sorting: 5,
    header: dataTables.value.departments.columns.zipCode,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'string'
  },
  {
    field: 'placeName',
    sorting: 6,
    header: dataTables.value.departments.columns.placeName,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'street',
    sorting: 7,
    header: dataTables.value.departments.columns.street,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'abbreviation',
    sorting: 8,
    header: dataTables.value.departments.columns.abbreviation,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'description',
    sorting: 9,
    header: dataTables.value.departments.columns.description,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'comment',
    sorting: 10,
    header: dataTables.value.departments.columns.comment,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'users',
    sorting: 11,
    header: dataTables.value.departments.columns.users,
    usedFunction: 'showCount',
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'vehicles',
    sorting: 12,
    header: dataTables.value.departments.columns.vehicles,
    usedFunction: 'showCount',
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'toolCategories',
    sorting: 13,
    header: dataTables.value.departments.columns.toolCategories,
    usedFunction: 'showCount',
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'alertAddresses',
    sorting: 14,
    header: dataTables.value.departments.columns.alertAddresses,
    usedFunction: 'showCount',
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'members',
    sorting: 15,
    header: dataTables.value.departments.columns.members,
    usedFunction: 'showCount',
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'incomingAlerts',
    sorting: 16,
    header: dataTables.value.departments.columns.incomingAlerts,
    usedFunction: 'showCount',
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'operationReports',
    sorting: 17,
    header: dataTables.value.departments.columns.operationReports,
    usedFunction: 'showCount',
    showing: true,
    filter: true,
    sortable: true,
    defaultView: true,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'createdAt',
    sorting: 18,
    header: dataTables.value.departments.columns.createdAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'createdFrom',
    sorting: 19,
    header: dataTables.value.departments.columns.createdFrom,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  },
  {
    field: 'updatedAt',
    sorting: 20,
    header: dataTables.value.departments.columns.updatedAt,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'dateTime',
    dataType: 'date'
  },
  {
    field: 'updatedFrom',
    sorting: 21,
    header: dataTables.value.departments.columns.updatedFrom,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'text',
    dataType: 'text'
  }
]);

const tableColumnsFullAdmin = ref([
  {
    field: 'isVisibility',
    sorting: 3,
    header: dataTables.value.departments.columns.isVisibility,
    showing: true,
    filter: true,
    sortable: true,
    defaultView: false,
    filterTyp: 'boolean',
    dataType: 'boolean'
  }
]);

// Spalten für die Sortierung
const multiSortMeta = ref([{field: 'fS.description', order: 1},{field: 'abbreviation', order: 1}]);

// Abrufen der Daten
const fetch = async (param) => {
  await store.loadDataForTable(param);
}

// Aktionen beim Klick auf Add, Edit und Delete
const actionOnButton = (type, id = null) => {
  if (type && type === 'new') {
    router.push({name: `${referenceAreaNames.departmentNew}`})
  } else if (type && id && type === 'edit') {
    router.push({name: `${referenceAreaNames.departmentEdit}`, params: {'id': id}})
  } else if (type && id && type === 'delete') {
    router.push({name: `${referenceAreaNames.departmentDelete}`, params: {'id': id}})
  }
};

onBeforeMount(() => {
  // Prüfen der Rechte und zusammenfügen der Felder
  tableColumns.value = addedFullAdminColumns(tableColumnsDefault.value, tableColumnsFullAdmin.value);
});
</script>