<template>
  <!-- Knöpfe vor und zurück -->
  <div class="grid grid-nogutter justify-content-between mb-4">
    <div class="col-6 text-left">
      <Button v-if="pageIndex > 0" :disabled="disabledButtonPrevStep" :label="sites.register.stepPrev"
              icon="pi pi-angle-left"
              iconPos="left" @click="emit('prevPage', {pageIndex: pageIndex})"/>
    </div>
    <div class="col-6 text-right">
      <Button v-if="pageIndex < maxSteps" :disabled="disabledButtonNextStep" :label="sites.register.stepNext"
              icon="pi pi-angle-right"
              iconPos="right"
              @click="emit('nextPage',{pageIndex: pageIndex})"/>
    </div>
  </div>

  <!-- Inhalt -->
  <Card>
    <!-- Titel -->
    <template v-slot:title>
      {{ sites.register.officeInformation.title }}
    </template>
    <!-- Formular -->
    <template v-slot:content>
      <!-- Bundesland, Dienstelle, Nutzergruppe -->
      <generate-formular :fields="fields" :item="item"
                         :showRequiredText="false"
                         @enabled-action-button="enabledStepButtons($event, 'formularOne')"
                         @change-drop-down-federal-state="changeDropDownFederalState($event)"
                         @change-drop-down-department="changeDropDownDepartment($event)"/>

      <Button :disabled="!item.federalState.id" :label="sites.register.officeInformation.buttons.newDepartment.label"
              class="mr-2" raised @click="showNewDepartment = true"/>
      <Button :disabled="!item.federalState.id" :label="sites.register.officeInformation.buttons.newUserGroup.label"
              raised @click="showNewUserGroup = true"/>
      <!-- Dienststelle -->
      <div v-show="(departments && departments.length === 0 && item.federalState.id) || showNewDepartment"
           class="col-offset-1 col-10 mt-2 text-center">
        <!-- Es wurden keine Dienststellen gefunden -->
        <Message :closable="false" severity="warn">
          {{ sites.register.officeInformation.messages.noDepartmentsFound }}
        </Message>
        <h2 class="underline"> {{ sites.register.officeInformation.subHeadline.newDepartment }}</h2>
        <!-- Neue Dienststelle  -->
        <generate-formular :fields="fieldsNewDepartment" :item="item.department"
                           :showRequiredText="false" @enabled-action-button="enabledStepButtons($event,'formularTwo')"/>
      </div>

      <!-- Nutzergruppe -->
      <div v-show="(userGroups && userGroups.length === 0 && item.federalState.id) || showNewUserGroup"
           class="col-offset-1 col-10 mt-2 text-center">
        <!-- Es wurden keine Dienststellen gefunden -->
        <Message :closable="false" severity="warn">
          {{ sites.register.officeInformation.messages.noUserGroupsFound }}
        </Message>
        <h2 class="underline"> {{ sites.register.officeInformation.subHeadline.newUserGroup }}</h2>
        <!-- Neue Nutzergruppe  -->
        <generate-formular :fields="fieldsNewUserGroup" :item="item.userGroup" :showRequiredText="false"
                           @enabled-action-button="enabledStepButtons($event, 'formularThree')"/>
      </div>


    </template>
  </Card>
</template>

<script setup>
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import GenerateFormular from "@/components/GenerateFormular.vue";
import {ref, watch} from "vue";
import {useRegisterStore} from "@/stores/register";
import {useFederalStateStore} from "@/stores/ProvisioningArea/federalState";
import {useDepartmentStore} from "@/stores/ReferenceArea/department";
import {useUserGroupStore} from "@/stores/Managements/userGroup";

// Events die abgefeuert werden
const emit = defineEmits(['prevPage', 'nextPage'])

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  // Felder
  maxSteps: {
    type: Number,
    required: true
  }
});

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {sites, dialogs} = storeToRefs(storeTranslation)

// Store - Registration
const store = useRegisterStore();
const {dataById} = storeToRefs(store);

// Store - Bundesländer
const storeFederalsState = useFederalStateStore();
const {isLoading: loadingFederalStates, dataForDropdown: federalStates} = storeToRefs(storeFederalsState);
storeFederalsState.loadDataForRegistration();

// Store - Dienststellen
const storeDepartments = useDepartmentStore();
const {isLoading: loadingDepartments, dataForDropdown: departments} = storeToRefs(storeDepartments);

// Store - Nutzergruppen
const storeUserGroup = useUserGroupStore();
const {isLoading: loadingUserGroups, dataForDropdown: userGroups} = storeToRefs(storeUserGroup);

// Element
const item = ref(dataById.value);

// Eigenschaften der Felder für die Entity
const fields = ref({
  // Bundesland
  federalState: {
    fieldType: 'dropDown',
    change: 'changeDropDownFederalState',
    cssClass: 'col-4',
    autofocus: false,
    label: sites.value.register.officeInformation.fields.federalState.label,
    help: sites.value.register.officeInformation.fields.federalState.help,
    required: sites.value.register.officeInformation.fields.federalState.required,
    items: federalStates,
    isLoading: loadingFederalStates
  },
  // Dienststelle
  department: {
    fieldType: 'dropDown',
    change: 'changeDropDownDepartment',
    cssClass: 'col-4',
    autofocus: false,
    label: sites.value.register.officeInformation.fields.department.label,
    help: sites.value.register.officeInformation.fields.department.help,
    required: sites.value.register.officeInformation.fields.department.required,
    items: departments,
    isLoading: loadingDepartments
  },
  // Nutzergruppe
  userGroup: {
    fieldType: 'dropDown',
    change: null,
    cssClass: 'col-4',
    autofocus: false,
    label: sites.value.register.officeInformation.fields.userGroup.label,
    help: sites.value.register.officeInformation.fields.userGroup.help,
    required: sites.value.register.officeInformation.fields.userGroup.required,
    items: userGroups,
    isLoading: loadingUserGroups
  }
});

// Eigenschaften der Felder für die Entity
const fieldsNewDepartment = ref({
  // Bundesland
  federalState: {
    fieldType: 'dropDown',
    change: null,
    cssClass: 'col-4',
    autofocus: false,
    label: dialogs.value.department.fields.federalState.label,
    help: dialogs.value.department.fields.federalState.help,
    required: dialogs.value.department.fields.federalState.required,
    items: federalStates,
    isLoading: loadingFederalStates
  },
  // Abkürzung
  abbreviation: {
    fieldType: 'inputText',
    cssClass: 'col-4',
    autofocus: false,
    label: dialogs.value.department.fields.abbreviation.label,
    help: dialogs.value.department.fields.abbreviation.help,
    maxlength: dialogs.value.department.fields.abbreviation.maxlength,
    minlength: dialogs.value.department.fields.abbreviation.minlength,
    required: dialogs.value.department.fields.abbreviation.required
  },
  // Beschreibung
  description: {
    fieldType: 'inputText',
    cssClass: 'col-4',
    autofocus: false,
    label: dialogs.value.department.fields.description.label,
    help: dialogs.value.department.fields.description.help,
    maxlength: dialogs.value.department.fields.description.maxlength,
    minlength: dialogs.value.department.fields.description.minlength,
    required: dialogs.value.department.fields.description.required
  },
  // Postleitzahl
  zipCode: {
    fieldType: 'inputText',
    cssClass: 'col-4',
    autofocus: false,
    label: dialogs.value.department.fields.zipCode.label,
    help: dialogs.value.department.fields.zipCode.help,
    maxlength: dialogs.value.department.fields.zipCode.maxlength,
    minlength: dialogs.value.department.fields.zipCode.minlength,
    required: dialogs.value.department.fields.zipCode.required
  },
  // Stadt bzw. Ort
  placeName: {
    fieldType: 'inputText',
    cssClass: 'col-4',
    autofocus: false,
    label: dialogs.value.department.fields.placeName.label,
    help: dialogs.value.department.fields.placeName.help,
    maxlength: dialogs.value.department.fields.placeName.maxlength,
    minlength: dialogs.value.department.fields.placeName.minlength,
    required: dialogs.value.department.fields.placeName.required
  },
  // Straße mit H.-Nr.
  street: {
    fieldType: 'inputText',
    cssClass: 'col-4',
    autofocus: false,
    label: dialogs.value.department.fields.street.label,
    help: dialogs.value.department.fields.street.help,
    maxlength: dialogs.value.department.fields.street.maxlength,
    minlength: dialogs.value.department.fields.street.minlength,
    required: dialogs.value.department.fields.street.required
  },
  // Kommentar
  comment: {
    fieldType: 'inputText',
    cssClass: 'col-12',
    autofocus: false,
    label: dialogs.value.department.fields.comment.label,
    help: dialogs.value.department.fields.comment.help,
    maxlength: dialogs.value.department.fields.comment.maxlength,
    minlength: dialogs.value.department.fields.comment.minlength,
    required: dialogs.value.department.fields.comment.required
  }
});

// Eigenschaften der Felder für die Entity
const fieldsNewUserGroup = ref({
  // Bundesland
  federalState: {
    fieldType: 'dropDown',
    change: null,
    cssClass: 'col-4',
    autofocus: false,
    label: dialogs.value.userGroup.fields.federalState.label,
    help: dialogs.value.userGroup.fields.federalState.help,
    required: dialogs.value.userGroup.fields.federalState.required,
    items: federalStates,
    isLoading: loadingFederalStates
  },
  // Bundesland
  department: {
    fieldType: 'dropDown',
    change: null,
    cssClass: 'col-4',
    autofocus: false,
    label: dialogs.value.userGroup.fields.department.label,
    help: dialogs.value.userGroup.fields.department.help,
    required: dialogs.value.userGroup.fields.department.required,
    items: departments,
    isLoading: loadingDepartments
  },
  // Abkürzung
  abbreviation: {
    fieldType: 'inputText',
    cssClass: 'col-4',
    autofocus: false,
    label: dialogs.value.userGroup.fields.abbreviation.label,
    help: dialogs.value.userGroup.fields.abbreviation.help,
    maxlength: dialogs.value.userGroup.fields.abbreviation.maxlength,
    minlength: dialogs.value.userGroup.fields.abbreviation.minlength,
    required: dialogs.value.userGroup.fields.abbreviation.required
  },
  // Beschreibung
  description: {
    fieldType: 'inputText',
    cssClass: 'col-4',
    autofocus: false,
    label: dialogs.value.userGroup.fields.description.label,
    help: dialogs.value.userGroup.fields.description.help,
    maxlength: dialogs.value.userGroup.fields.description.maxlength,
    minlength: dialogs.value.userGroup.fields.description.minlength,
    required: dialogs.value.userGroup.fields.description.required
  },
  // Kommentar
  comment: {
    fieldType: 'inputText',
    cssClass: 'col-12',
    autofocus: false,
    label: dialogs.value.userGroup.fields.comment.label,
    help: dialogs.value.userGroup.fields.comment.help,
    maxlength: dialogs.value.userGroup.fields.comment.maxlength,
    minlength: dialogs.value.userGroup.fields.comment.minlength,
    required: dialogs.value.userGroup.fields.comment.required
  }
});

// Step Index
const pageIndex = ref(1);

// Step Knöpfe
const disabledButtonNextStep = ref(true);
const disabledButtonPrevStep = ref(false);

// Formular Fertig ausgefüllt
const finishFormular = ref({
  'formularOne': false,
  'formularTwo': false,
  'formularThree': false,
});

// Step Knöpfe aktivieren
const enabledStepButtons = (state, formular) => {
  finishFormular.value[formular] = state;

  if (finishFormular.value.formularOne && finishFormular.value.formularTwo && finishFormular.value.formularThree) {
    disabledButtonNextStep.value = state;
  }
};

// Anzeige neu Dienststelle bzw. Nutzergruppe
const showNewDepartment = ref(false);
const showNewUserGroup = ref(false);

/**
 * Bei Änderungen der Auswahl, die Dienstellen laden
 *
 * @param id
 */
const changeDropDownFederalState = async (id) => {
  // Werte auf zurücksetzen
  item.value.department.id = '';
  item.value.userGroup.id = '';
  departments.value = [];
  userGroups.value = [];
  // Daten laden
  await storeFederalsState.loadDataByIdForRegistration(id.value);
  // Festlegungen für neue Dienststelle bzw. neue Nutzergruppe
  item.value.department.federalState.id = await id.value;
  item.value.userGroup.federalState.id = await id.value;
};

/**
 * Bei Änderungen der Auswahl, die Nutzergruppen laden
 *
 * @param id
 */
const changeDropDownDepartment = (id) => {
  // Daten laden
  storeDepartments.loadDataByIdForRegistration(id.value);
  // Festlegungen für neue Dienststelle bzw. neue Nutzergruppe
  item.value.userGroup.department.id = id.value;
  // Werte auf zurücksetzen
  item.value.userGroup.id = '';
};

// Überwachung von den erforderlichen Feldern
watch(item.value, (newValue) => {
  fields.value.department.required = !newValue.department.abbreviation;
  fields.value.userGroup.required = !newValue.userGroup.abbreviation;


  // Dienststelle
  // if ()
});


</script>