<template>
  <!-- Knöpfe vor und zurück -->
  <div class="grid grid-nogutter justify-content-between mb-4">
    <div class="col-6 text-left">
      <Button v-if="pageIndex > 0" :disabled="disabledButtonPrevStep" :label="sites.register.stepPrev" icon="pi pi-angle-left"
              iconPos="left" @click="emit('prevPage', {pageIndex: pageIndex})"/>
    </div>
    <div class="col-6 text-right">
      <Button v-if="pageIndex < maxSteps" :disabled="disabledButtonNextStep" :label="sites.register.stepNext" icon="pi pi-angle-right"
              iconPos="right"
              @click="emit('nextPage',{pageIndex: pageIndex})"/>
    </div>
  </div>

  <!-- Inhalt -->
  <Card>
    <!-- Titel -->
    <template v-slot:title>
      {{ sites.register.personalInformation.title }}
    </template>
    <!-- Formular -->
    <template v-slot:content>
      <generate-formular :fields="fields" :item="item" @enabled-action-button="enabledStepButtons($event)"/>
    </template>
  </Card>
</template>

<script setup>
import {useTranslationStore} from "@/stores/translation";
import {storeToRefs} from "pinia";
import GenerateFormular from "@/components/GenerateFormular.vue";
import {ref} from "vue";
import {useRegisterStore} from "@/stores/register";

// Events die abgefeuert werden
const emit = defineEmits(['prevPage', 'nextPage'])

// Variable die auf mit von der Component erwartet werden
const props = defineProps({
  // Felder
  maxSteps: {
    type: Number,
    required: true
  }
});

// Store - Übersetzungen
const storeTranslation = useTranslationStore();
const {sites} = storeToRefs(storeTranslation)

// Store - Registration
const store = useRegisterStore();
const {dataById} = storeToRefs(store);

// Element
const item = ref(dataById.value);

// Eigenschaften der Felder für die Entity
const fields = ref({
  // Nachname
  surname: {
    fieldType: 'inputText',
    cssClass: 'col-4',
    autofocus: false,
    label: sites.value.register.personalInformation.fields.surname.label,
    help: sites.value.register.personalInformation.fields.surname.help,
    maxlength: sites.value.register.personalInformation.fields.surname.maxlength,
    minlength: sites.value.register.personalInformation.fields.surname.minlength,
    required: sites.value.register.personalInformation.fields.surname.required
  },
  // Vorname
  firstname: {
    fieldType: 'inputText',
    cssClass: 'col-4',
    autofocus: false,
    label: sites.value.register.personalInformation.fields.firstname.label,
    help: sites.value.register.personalInformation.fields.firstname.help,
    maxlength: sites.value.register.personalInformation.fields.firstname.maxlength,
    minlength: sites.value.register.personalInformation.fields.firstname.minlength,
    required: sites.value.register.personalInformation.fields.firstname.required
  },
  // E-Mail Adresse
  mailAddress: {
    fieldType: 'inputText',
    cssClass: 'col-4',
    autofocus: false,
    label: sites.value.register.personalInformation.fields.mailAddress.label,
    help: sites.value.register.personalInformation.fields.mailAddress.help,
    maxlength: sites.value.register.personalInformation.fields.mailAddress.maxlength,
    minlength: sites.value.register.personalInformation.fields.mailAddress.minlength,
    required: sites.value.register.personalInformation.fields.mailAddress.required
  }
});

// Step Index
const pageIndex = ref(0);

// Step Knöpfe
const disabledButtonNextStep = ref(true);
const disabledButtonPrevStep = ref(true);

// Step Knöpfe aktivieren
const enabledStepButtons = (state) => {
  disabledButtonNextStep.value = state;
  disabledButtonPrevStep.value = state;
};

</script>